<template>
  <div v-if="value" class="d-flex pa-0" style="height: 60px">
    <v-avatar size="56" title="Liên hệ">
      <img :src="value.picture" />
    </v-avatar>
    <span
      class="ml-3 my-0 d-flex align-center justify-start"
      style="height: 100%"
    >
      {{ value.name }}
    </span>
  </div>
</template>
<script>
export default {
  name: 'BusinessCard',
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      parsedValue: null
    }
  },
  watch: {
    value() {
      this.parseValue()
    }
  },
  mounted() {
    this.parseValue()
  },
  methods: {
    parseValue() {
      try {
        this.parsedValue = JSON.parse(this.value)
      } catch (error) {
        console.log('error', error)
      }
    }
  }
}
</script>
