<template>
  <div style="width: 50%; float: right;">
    <div v-if="buttons.length" class="message-btn-group mb-1">
      <div
        v-for="(item, indexButtons) in buttons"
        :key="'buttons' + indexButtons"
        class="d-flex justify-center align-center message-btn"
        small
        depressed
      >
        {{ item.title }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    buttons: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {}
  }
}
</script>
<style lang="scss" scoped>
.message-btn-group {
  border: 1px solid $grey-5;
  border-radius: 20px;

  .message-btn {
    height: 38px;
    color: $blue-6;
    font-weight: 500;
    cursor: pointer;

    &:not(:only-child):not(:last-child) {
      border-bottom: 1px solid $grey-5;
    }
  }
}
</style>
