<template>
  <div
    :class="{
      'd-flex flex-row': true,
      'only-one-item': data && data.length === 1
    }"
    style="width: auto; overflow: auto;"
  >
    <v-card
      v-for="(item, index) in data"
      :key="index"
      class="carousel-item d-flex flex-column"
      max-width="320"
      min-width="320"
      :href="item.linkedUrl"
      target="_blank"
      outlined
    >
      <v-img :src="item.imageUrl" height="180px"></v-img>

      <v-card-title>
        {{ item.title }}
      </v-card-title>

      <v-card-subtitle>
        {{ item.subtitle }}
      </v-card-subtitle>
      <div v-if="item.buttons && item.buttons.length" class="message-btn-group">
        <div
          v-for="(btn, indexButtons) in item.buttons"
          :key="'buttons' + indexButtons"
          class="d-flex justify-center align-center message-btn"
          small
          depressed
        >
          {{ btn.title }}
        </div>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {}
  }
}
</script>
<style lang="scss" scoped>
.only-one-item {
  float: right;
  justify-content: flex-end;
}
.carousel-item {
  &:not(:only-child):not(:last-child) {
    margin-right: 8px;
  }
}
.message-btn-group {
  border-top: 1px solid $grey-5;

  .message-btn {
    height: 38px;
    color: $blue-6;
    font-weight: 500;
    cursor: pointer;

    &:not(:only-child):not(:last-child) {
      border-bottom: 1px solid $grey-5;
    }
  }
}
</style>
