<template>
  <div style="position: relative;">
    <div
      ref="customeEditor"
      class="chat-input"
      :style="{ minHeight: minHeight, background: background }"
      contenteditable
      ondrop="return false"
      @input="handleInput"
      @keydown="onKeyDown"
    ></div>
    <div class="append-elements pa-1" contenteditable="false">
      <twemoji-picker
        :emoji-data="EmojiAllData"
        :emoji-groups="EmojiGroups"
        @emojiUnicodeAdded="addTextToContent"
      >
        <template v-slot:twemoji-picker-button>
          <span class="textarea-append-btn" title="Biểu tượng cảm xúc">
            <img src="~/assets/icons/smile.svg" width="22px" height="22px" />
          </span>
        </template>
      </twemoji-picker>
      <slot name="append"></slot>
    </div>
  </div>
</template>
<script>
import { TwemojiPicker } from '@kevinfaguiar/vue-twemoji-picker'
import EmojiAllData from '@kevinfaguiar/vue-twemoji-picker/emoji-data/en/emoji-all-groups.json'
import EmojiGroups from '@kevinfaguiar/vue-twemoji-picker/emoji-data/emoji-groups.json'
export default {
  components: {
    TwemojiPicker
  },
  props: {
    value: {
      type: String,
      default: () => {
        return ''
      }
    },
    limit: {
      type: Number,
      default: 650
    },
    minHeight: { type: String, default: '32px' },
    placeholder: {
      type: String,
      default: 'Nhập tin nhắn'
    },
    resetAfterSubmit: {
      type: Boolean,
      default: false
    },
    background: {
      type: String,
      default: '#f5f5f5'
    }
  },
  data() {
    return {
      text: '',
      plainText: this.value,
      EmojiAllData,
      EmojiGroups,
      showEmoji: true,
      inputHeight: 32
    }
  },
  watch: {
    value(value) {
      if (!value) {
        setTimeout(() => {
          this.$refs.customeEditor.innerHTML = ''
        }, 300)
      }
    },
    placeholder(value) {
      if (value && !this.plainText) {
        this.$refs.customeEditor.setAttribute('data-before', this.placeholder)
      }
    }
  },
  mounted() {
    this.$refs.customeEditor.setAttribute('data-before', this.placeholder)
    this.showEmoji = true

    this.$refs.customeEditor.addEventListener('paste', this.handlePasteEvent)
  },
  beforeDestroy() {
    this.$refs.customeEditor.removeEventListener('paste', this.handlePasteEvent)
  },
  created() {
    this.$on('focusInput', (text) => {
      if (this.$refs.customeEditor) {
        this.$refs.customeEditor.focus()
        if (text && !this.plainText) {
          this.addTextToContent(text)
        }
      }
    })
  },
  methods: {
    handlePasteEvent(e) {
      e.preventDefault()
      const text = e.clipboardData.getData('text/plain')
      this.addTextToContent(text)
    },
    onKeyDown(e) {
      setTimeout(() => {
        if (this.$refs.customeEditor.offsetHeight !== this.inputHeight) {
          this.inputHeight = this.$refs.customeEditor.offsetHeight
          this.$emit('changeHeight', this.$refs.customeEditor.offsetHeight)
        }
      }, 300)
      if (this.limit && this.text.length >= this.limit) {
        if (e.keyCode >= 48 && e.keyCode <= 90) {
          e.preventDefault()
          return false
        }
      }
      if (e.which === 13 && !e.shiftKey) {
        this.$emit('submit', this.plainText)
        e.preventDefault()
        if (this.resetAfterSubmit) {
          this.clearContent()
        }
        return false
      }
    },
    addTextToContent(text) {
      text = text.replace(/↵/g, '<br>').replace(/\n/g, '<br>')
      this.$refs.customeEditor.focus()
      let sel, range
      if (window.getSelection) {
        // IE9 and non-IE
        sel = window.getSelection()
        if (sel.getRangeAt && sel.rangeCount) {
          range = sel.getRangeAt(0)
          range.deleteContents()

          // Range.createContextualFragment() would be useful here but is
          // non-standard and not supported in all browsers (IE9, for one)
          const el = document.createElement('div')
          el.innerHTML = text
          const frag = document.createDocumentFragment()
          let node
          let lastNode
          while ((node = el.firstChild)) {
            lastNode = frag.appendChild(node)
          }
          range.insertNode(frag)

          // Preserve the selection
          if (lastNode) {
            range = range.cloneRange()
            range.setStartAfter(lastNode)
            range.collapse(true)
            sel.removeAllRanges()
            sel.addRange(range)
          }
        }
      } else if (document.selection && document.selection.type !== 'Control') {
        // IE < 9
        document.selection.createRange().pasteHTML(text)
      }
      this.transformToPlaintext(this.$refs.customeEditor.innerHTML)
    },
    clearContent() {
      this.plainText = ''
      this.$refs.customeEditor.innerHTML = ''
    },
    handleInput(e) {
      this.transformToPlaintext(e.target.innerHTML)
    },
    transformToPlaintext(html) {
      const plain = html
        .replace(/<br([^>]+)>|<div([^>]+)>|<br>|<div>/g, '\n')
        .replace(/&nbsp;/g, ' ')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/(<([^>]+)>)/gi, '')
        .trim()
      this.plainText = plain
      this.$emit('input', plain)
    }
  }
}
</script>
<style lang="scss" scoped>
.textarea-append-btn {
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.append-elements {
  width: auto;
  height: 33px;
  min-height: 28px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > *:not(:last-child) {
    margin-right: 4px;
  }
}
</style>
<style lang="scss">
.chat-input {
  padding: 4px 28px 4px 12px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 20px;
  word-break: break-all;
  max-height: 96px;
  overflow: auto;

  &:focus {
    outline: none;
  }

  &:empty::before {
    content: attr(data-before);
    color: $grey-6;
  }

  /* Custom scrollbar */
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 80%;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 2px !important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $grey-7 !important;
  }
  &:hover {
    &::-webkit-scrollbar-track {
      background: $grey-4 !important;
    }
  }
}

.append-elements {
  #popper-container {
    z-index: 100 !important;
    #arrow {
      display: none;
      &:before {
        display: none;
        // background: #fff !important;
        // border: 1px solid $grey-3;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 2px;
      border-top: solid 10px $grey-3;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    &:after {
      content: '';
      position: absolute;
      border-top: solid 9px #ffffff;
      border-left: solid 9px transparent;
      border-right: solid 9px transparent;
      bottom: -8px;
      z-index: 1px;
      left: 3px;
    }
  }
  #popper-inner {
    background: #fff;
    border: 1px solid $grey-3;
    border-radius: 6px;
  }
  #emoji-container {
    #emoji-popup {
      display: flex;
      flex-direction: column-reverse;

      #emoji-popover-header {
        padding: 8px !important;

        .emoji-tab {
          padding: 0px !important;
          margin: 0px 8px 0px 0px !important;
          width: 24px !important;

          img.emoji {
            width: 16px !important;
            height: 16px !important;
          }
        }
      }
    }
  }
}
</style>
