<template>
  <v-expansion-panels v-model="openedPanels" accordion flat>
    <v-expansion-panel v-if="customer" class="customer-info bdb">
      <v-expansion-panel-header class="text-uppercase text-grey-7 normal-text">
        Thông tin khách hàng</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <div class="d-flex justify-space-between mt-3 mb-3 text-grey-8">
          <span class="font-weight-bold">Thông tin cơ bản</span>
          <span class="text-blue-6 cursor-pointer" @click="showBasicForm = true"
            >Chỉnh sửa</span
          >
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/user-circle.svg" class="mr-2" width="12px" />
          <p
            :class="{ 'mb-0 text-grey-6': true, 'text-grey-8': customer.name }"
          >
            <span v-if="customer.name">{{ customer.name }}</span>
            <span v-else>+ Họ tên</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/gender.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.gender
            }"
          >
            <span v-if="customer.gender"
              >Giới tính {{ getGenderName(customer.gender) }}</span
            >
            <span v-else>+ Giới tính</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/birthday.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.date_of_birth
            }"
          >
            <span v-if="customer.date_of_birth">{{
              customer.date_of_birth | birthday
            }}</span>
            <span v-else>+ Ngày sinh</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/phone.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.phone_number
            }"
          >
            <span v-if="customer.phone_number">{{
              customer.phone_number
            }}</span>
            <span v-else>+ Số điện thoại</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/mail.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.email
            }"
          >
            <span v-if="customer.email">{{ customer.email }}</span>
            <span v-else>+ Email</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/home.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.address
            }"
          >
            <span v-if="customer.address">{{ customer.address }}</span>
            <span v-else>+ Địa chỉ</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/environment.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.city
            }"
          >
            <span v-if="customer.city">{{ customer.city }}</span>
            <span v-else>+ Tỉnh thành</span>
          </p>
        </div>
        <div class="d-flex justify-space-between mt-5 mb-2 text-grey-8">
          <span class="font-weight-bold">Thông tin thêm</span>
          <span
            class="text-blue-6 cursor-pointer"
            @click="showAdditionalForm = true"
            >Chỉnh sửa</span
          >
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/shopping.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.job_title
            }"
          >
            <span v-if="customer.job_title">{{ customer.job_title }}</span>
            <span v-else>+ Công việc/Ngành nghề</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/heart.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.relationship
            }"
          >
            <span v-if="customer.relationship">{{
              customer.relationship
            }}</span>
            <span v-else>+ Tình trạng mối quan hệ</span>
          </p>
        </div>
        <div class="d-flex mb-3">
          <img src="~/assets/icons/note.svg" class="mr-2" width="12px" />
          <p
            :class="{
              'mb-0 text-grey-6': true,
              'text-grey-8': customer.characteristics
            }"
          >
            <span v-if="customer.characteristics">{{
              customer.characteristics
            }}</span>
            <span v-else>+ Ghi chú nhận dạng</span>
          </p>
        </div>
        <div class="d-flex justify-space-between mt-5 mb-3 text-grey-8">
          <span class="font-weight-bold">Tags</span>
          <span class="text-blue-6 cursor-pointer" @click="openTagManager()"
            >Quản lý tag</span
          >
        </div>
        <InputCustomerTag
          v-if="customerData"
          ref="inputCustomerTag"
          v-model="customerData.tags"
          attach=".customer-info"
          :tags="customerTags"
          @change="handleTagsChanged"
        />
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel class="bdb">
      <v-expansion-panel-header class="text-uppercase text-grey-7 normal-text">
        Lịch sử mua hàng</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <p class="text-grey-6">Tính năng đang phát triển.</p>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-header class="text-uppercase text-grey-7 normal-text">
        Gán vào lộ trình chăm sóc</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <div class="d-flex">
          <div style="width: calc(100% - 58px)">
            <v-select
              v-model="selectedJourney"
              :items="journeyItems"
              item-text="name"
              item-value="id"
              dense
              placeholder="Chọn lộ trình"
              no-data-text="Không có lộ trình nào để chọn"
              outlined
              class="mr-2 input-32"
              height="32"
            />
          </div>
          <v-btn
            v-tooltip="'Gán khách hàng vào lộ trình'"
            outlined
            :disabled="!selectedJourney"
            :loading="journeyAdding"
            @click="addCustomerToJourney"
            >Gán</v-btn
          >
        </div>
        <div class="d-flex mb-3 align-center">
          <img
            src="~/assets/icons/message-journey.svg"
            width="20px"
            height="20px"
          />
          <p class="text-grey-8 font-weight-medium mb-0 text-truncate mx-1">
            Lộ trình hiện tại
          </p>
          <v-divider />
        </div>
        <p
          v-if="!customer.spam_journeys || !customer.spam_journeys.length"
          class="text-grey-6"
        >
          Chưa có lộ trình nào được gán cho khách hàng này.
        </p>
        <div
          v-for="journey in customer.spam_journeys"
          :key="journey.id"
          class="d-flex align-center mb-2"
        >
          <p class="flex-grow-1 mb-0">{{ journey.name }}</p>
          <template v-if="journey.user_status === 'done'">
            <p class="ma-0 text-green-6 mx-1" style="white-space: nowrap">
              Đã xong
            </p>
          </template>
          <template v-else>
            <v-btn
              v-tooltip="
                journey.user_status === 'pause'
                  ? 'Tiếp tục lộ trình'
                  : 'Dừng lộ trình'
              "
              dense
              depressed
              class="pa-0 mr-1"
              style="min-width: 32px"
              :loading="journey.processing"
              :disabled="journey.deleting"
              @click="toggleCustomerJourney(journey)"
            >
              <v-icon v-if="journey.user_status === 'pause'" medium
                >mdi-play</v-icon
              >
              <v-icon v-else medium>mdi-pause</v-icon>
            </v-btn>
            <v-btn
              v-tooltip="'Xoá khách hàng khỏi lộ trình'"
              dense
              depressed
              class="pa-0"
              style="min-width: 32px"
              :loading="journey.deleting"
              :disabled="journey.processing"
              @click="removeCustomerFromJourney(journey)"
            >
              <v-icon color="#F5222D" medium>mdi-close</v-icon>
            </v-btn>
          </template>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <Dialog v-model="showBasicForm" padding-x="40px" padding-y="32px">
      <p style="font-size: 20px; line-height: 28px;">Thông tin cơ bản</p>
      <div
        v-if="customerAvatar"
        class="customer-avatar-wrap d-flex justify-center mb-4"
      >
        <img :src="customerAvatar" />
      </div>
      <v-form
        v-if="customerData"
        id="customerBasicForm"
        ref="customerBasicForm"
        lazy-validation
        @submit.prevent="submitBasicForm"
      >
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Họ tên</label>
          <v-text-field
            v-model="customerData.name"
            placeholder="Họ tên"
            :rules="[required, maxString]"
            dense
            outlined
          ></v-text-field>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Điện thoại</label>
          <v-text-field
            v-model="customerData.phone_number"
            :rules="[phoneNumber]"
            placeholder="Điện thoại"
            dense
            outlined
            autocomplete="off"
          ></v-text-field>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Email</label>
          <v-text-field
            v-model="customerData.email"
            :rules="[email, maxString]"
            placeholder="Email"
            dense
            outlined
            autocomplete="off"
          ></v-text-field>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Giới tính</label>
          <v-select
            v-model="customerData.gender"
            :items="genderList"
            placeholder="Giới tính"
            item-text="label"
            item-value="value"
            dense
            :height="32"
            outlined
            clearable
          ></v-select>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Tỉnh thành</label>
          <v-select
            v-model="customerData.city"
            :items="cityList"
            :filter="(queryText, itemText) => itemText.includes(queryText)"
            clearable
            placeholder="Tỉnh/Thành phố"
            dense
            :height="32"
            outlined
          ></v-select>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Địa chỉ</label>
          <v-text-field
            v-model="customerData.address"
            placeholder="Địa chỉ"
            dense
            outlined
            :rules="[maxString]"
          ></v-text-field>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Ngày sinh</label>
          <DatePicker
            v-model="customerData.date_of_birth"
            :max-date="new Date()"
            :manual-edit="true"
            display-format="DD/MM/YYYY"
            arrow-icon="mdi-menu-down"
            placeholder="Ngày sinh"
            active-picker="YEAR"
            class="mb-6"
            clearable
            style="width: 342px"
          />
        </div>
        <div class="d-flex justify-end">
          <v-btn
            depressed
            color="primary"
            :loading="customerFormSubmitting"
            type="submit"
            >Xong</v-btn
          >
        </div>
      </v-form>
    </Dialog>
    <Dialog v-model="showAdditionalForm" padding-x="40px" padding-y="32px">
      <p style="font-size: 20px; line-height: 28px;">Thông tin thêm</p>
      <div
        v-if="customerAvatar"
        class="customer-avatar-wrap d-flex justify-center mb-4"
      >
        <img :src="customerAvatar" />
      </div>
      <v-form
        v-if="customerData"
        id="customerAdditionalForm"
        ref="customerAdditionalForm"
        lazy-validation
        @submit.prevent="submitAdditionalForm"
      >
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Công việc</label>
          <v-text-field
            v-model="customerData.job_title"
            placeholder="Công việc"
            dense
            outlined
            :rules="[maxString]"
            style="width: 348px"
          ></v-text-field>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Tình trạng hôn nhân</label>
          <div
            id="customerRelationshipInput"
            style="position: relative; width: 342px;"
          >
            <v-select
              v-model="customerData.relationship"
              :items="relationshipList"
              placeholder="Tình trạng hôn nhân"
              attach="#customerRelationshipInput"
              dense
              :height="32"
              outlined
              clearable
              style="width: 100%"
            ></v-select>
          </div>
        </div>
        <div class="d-flex">
          <label class="d-flex justify-end mr-4">Ghi chú nhận dạng</label>
          <div id="customerRelationshipInput" style="position: relative">
            <v-textarea
              v-model="customerData.characteristics"
              placeholder="Ghi chú nhận dạng"
              :rows="3"
              :auto-grow="true"
              outlined
              :rules="[maxString]"
              style="width: 342px"
            ></v-textarea>
          </div>
        </div>
        <div class="d-flex justify-end">
          <v-btn
            depressed
            color="primary"
            :loading="customerFormSubmitting"
            type="submit"
            >Xong</v-btn
          >
        </div>
      </v-form>
    </Dialog>
  </v-expansion-panels>
</template>
<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
import DatePicker from '@/components/elements/DatePicker'
import InputCustomerTag from '@/components/livechat/InputCustomerTag'
import crmFieldData from '@/mixins/crmFieldData'
import formRules from '@/mixins/formRules'
import Dialog from '@/components/Dialog'
export default {
  name: 'CustomerInfo',
  components: {
    Dialog,
    DatePicker,
    InputCustomerTag
  },
  filters: {
    birthday(value) {
      if (!value) return ''
      const dateObject = new Date(value)
      const mm = dateObject.getMonth() + 1 // getMonth() is zero-based
      const dd = dateObject.getDate()
      return [
        (dd > 9 ? '' : '0') + dd,
        (mm > 9 ? '' : '0') + mm,
        dateObject.getFullYear()
      ].join('/')
    }
  },
  mixins: [crmFieldData, formRules],
  props: {
    customer: {
      type: Object,
      default: null
    },
    latestConversationTime: {
      type: Number,
      default: null
    },
    customerAvatar: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      openedPanels: null,
      showBasicForm: false,
      showAdditionalForm: false,
      customerFormSubmitting: false,
      customerData: null,
      selectedJourney: null,
      journeyAdding: false
    }
  },
  computed: {
    ...mapGetters('onliveChat', ['customerTags']),
    ...mapGetters('bots', ['spamJourneys']),
    journeyItems() {
      if (!this.customer.spam_journeys) return this.spamJourneys
      return this.spamJourneys.filter(
        (journey) =>
          !this.customer.spam_journeys.map((i) => i.id).includes(journey.id)
      )
    }
  },
  watch: {
    customer() {
      this.customerData = cloneDeep(this.customer)
      this.openedPanels = 0
    }
  },
  mounted() {
    if (
      this.$route.params.bot !== this.botID &&
      this.customerDataTags &&
      !this.customerDataTags.length
    ) {
      this.$store.dispatch('onliveChat/fetchCustomerTags', {
        botID: this.$route.params.bot
      })
    }
    console.log('sadsadsads', this.spamJourneys)

    if (!this.spamJourneys.length) {
      this.$store.dispatch('bots/getAllSpamJourneyMessage', {
        botID: this.$route.params.bot
      })
    }
  },
  methods: {
    getGenderName(value) {
      const gender = this.genderList.find((item) => item.value === value)
      if (gender) {
        return gender.label
      } else {
        return 'Không xác định'
      }
    },
    submitBasicForm() {
      if (this.$refs.customerBasicForm.validate()) {
        if (!this.customerFormSubmitting && this.customerData.id) {
          this.updateCustomerInfo()
        }
      } else {
        this.$toast.error('Thông tin khách hàng chưa đúng')
      }
    },
    submitAdditionalForm() {
      if (this.$refs.customerAdditionalForm.validate()) {
        if (!this.customerFormSubmitting && this.customerData.id) {
          this.updateCustomerInfo()
        }
      } else {
        this.$toast.error('Thông tin khách hàng chưa đúng')
      }
    },
    handleTagsChanged(tagArr) {
      setTimeout(() => {
        if (
          JSON.stringify(this.customerData.tags) !==
          JSON.stringify(this.customer.tags)
        ) {
          this.updateCustomerInfo()
        }
      }, 100)
    },
    updateCustomerInfo() {
      if (this.customerFormSubmitting) return
      this.customerFormSubmitting = true
      Object.keys(this.customerData).map((k) => {
        if (this.customerData[k] === undefined) {
          this.customerData[k] = null
        }
        if (typeof this.customerData[k] === 'string') {
          this.customerData[k] = this.customerData[k].trim()
        }
      })
      const updateData = cloneDeep(this.customerData)
      // Remove spam_journeys key because it shouldn't be update data
      delete updateData.spam_journeys
      this.$axios
        .put(
          `/api_crm/bots/${this.$route.params.bot}/customers/${this.customerData.id}`,
          Object.assign({}, updateData, {
            latest_conversation_time: this.latestConversationTime
          })
        )
        .then((res) => {
          this.customerFormSubmitting = false
          this.showBasicForm = false
          this.showAdditionalForm = false
          if (res.code === 0) {
            this.$toast.success('Đã lưu')
            this.$emit('submitted', this.customerData)
          } else {
            this.$toast.error(res.message)
          }
        })
        .catch((error) => {
          this.$toast.error(error)
        })
    },
    openTagManager() {
      this.$refs.inputCustomerTag.$emit('showTagManager')
    },
    addCustomerToJourney() {
      if (this.selectedJourney) {
        this.journeyAdding = true
        this.$axios
          .post(
            `/api_spam/bots/${this.$route.params.bot}/users/${this.customer.id}/spam-journey/${this.selectedJourney}`
          )
          .then((response) => {
            this.journeyAdding = false
            if (response.code === 0) {
              this.selectedJourney = null
              this.customer.spam_journeys.push(response.data.journey_detail)
            } else {
              this.$toast.error(response.message)
            }
          })
      }
    },
    removeCustomerFromJourney(journey) {
      if (journey && journey.id && this.customer && this.customer.id) {
        this.$set(journey, 'deleting', true)
        this.$axios
          .delete(
            `/api_spam/bots/${this.$route.params.bot}/users/${this.customer.id}/spam-journey/${journey.id}`
          )
          .then((response) => {
            this.$set(journey, 'deleting', false)
            if (response.code === 0) {
              const index = this.customer.spam_journeys.findIndex(
                (item) => item.id === journey.id
              )
              this.customer.spam_journeys.splice(index, 1)
            } else {
              this.$toast.error(response.message)
            }
          })
          .catch((error) => {
            console.log(error)
            this.$toast.error('Có lỗi xảy ra! Vui lòng thử lại sau.')
          })
      }
    },
    toggleCustomerJourney(journey) {
      if (journey && journey.id && this.customer && this.customer.id) {
        this.$set(journey, 'processing', true)
        const status = journey.user_status === 'pause' ? 'active' : 'pause'
        this.$axios
          .put(
            `/api_spam/bots/${this.$route.params.bot}/users/${this.customer.id}/spam-journey/${journey.id}`,
            {
              status
            }
          )
          .then((response) => {
            this.$set(journey, 'processing', false)
            console.log('update journey', response)
            if (response.code === 0) {
              this.$set(journey, 'user_status', status)
            } else {
              this.$toast.error(response.message)
            }
          })
          .catch((error) => {
            console.log(error)
            this.$toast.error('Có lỗi xảy ra! Vui lòng thử lại sau.')
          })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
span,
p {
  font-size: 14px;
  line-height: 22px;
}
.bdt {
  border-top: 1px solid $grey-4;
}
.bdb {
  border-bottom: 1px solid $grey-4;
}
.bdl {
  border-left: 1px solid $grey-4;
}
.bdr {
  border-right: 1px solid $grey-4;
}
.normal-text {
  font-size: 14px;
  line-height: 22px;
}
#customerBasicForm,
#customerAdditionalForm {
  label {
    width: 100px;
    float: right;
    text-align: right;
  }
}
.customer-avatar-wrap {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}
</style>
<style lang="scss">
.customer-info {
  position: relative;
}
#customerAdditionalForm,
#customerBasicForm {
  .v-input,
  .v-text-area {
    .v-text-field__slot,
    .v-input__slot,
    .v-select__slot {
      .v-label {
        font-size: 14px !important;
        line-height: 22px !important;
        top: auto !important;
      }
      input,
      textarea {
        color: $grey-8 !important;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .v-input__slot {
      fieldset {
        background-color: #fff !important;
        border: 1px solid $grey-5 !important;
      }
    }

    .v-select__slot {
      .v-input__append-inner {
        margin-top: 4px !important;
        button {
          font-size: 16px !important;
        }
      }
      .v-select__selection {
        color: $grey-8 !important;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .v-textarea {
    .v-label {
      top: 16px !important;
    }
  }
}
</style>
