<template>
  <date-range-picker
    ref="customDateRangePicker"
    v-model="dateRange"
    :opens="open"
    :locale-data="localeData"
    :ranges="true"
    :append-to-body="true"
    :date-range="periodRanges"
    class="custom-date-range-picker"
    @update="handleUpdate"
  >
    <template #ranges="ranges">
      <div class="ranges">
        <v-list dense>
          <v-list-item-group v-model="item" color="primary">
            <v-list-item
              v-for="(range, name) in periodRanges"
              :key="name"
              active-class="activeTime"
              @click="ranges.clickRange(range)"
            >
              <v-list-item-content>
                <v-list-item-title v-text="name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </div>
    </template>
    <template v-slot:input>
      <v-btn dense rounded outlined color="primary" class="date-ranger-btn">
        <span class="selected-value" :title="displayDate">{{
          displayDate
        }}</span>
        <v-icon right>mdi-chevron-down</v-icon></v-btn
      >
    </template>
    <div slot="footer" slot-scope="data" class="slot">
      <div v-if="!data.in_selection" class="date-ranger-footer">
        <v-btn color="primary" depressed small @click="data.clickApply"
          >OK</v-btn
        >
        <v-btn text small class="mr-2" @click="data.clickCancel">Hủy</v-btn>
        <v-btn text small class="mr-2" @click="handleClear(data)">Xóa</v-btn>
      </div>
    </div>
  </date-range-picker>
</template>
<script>
export default {
  props: {
    open: { type: String, default: 'right' },
    value: {
      type: Object,
      default: null
    }
  },
  data() {
    const startDate = new Date()
    const endDate = new Date()
    const yesterday = new Date()
    const startMonth = new Date()
    const endMonth = new Date()
    startMonth.setMonth(endMonth.getMonth() - 1)
    startDate.setDate(startDate.getDate() - 6)
    yesterday.setDate(endDate.getDate() - 1)
    yesterday.setHours(0, 0, 0, 0)

    return {
      item: 0,
      dateRange: {
        startDate: null,
        endDate: null
      },
      periodRanges: {
        'Hôm nay': [endDate, endDate],
        'Hôm qua': [yesterday, yesterday],
        'Tuần trước': [startDate, endDate],
        'Tháng trước': [startMonth, endMonth]
      },
      localeData: {
        separator: ' - ',
        applyLabel: 'Ok',
        cancelLabel: 'Hủy',
        weekLabel: 'T',
        customRangeLabel: 'Chọn khoảng',
        daysOfWeek: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
        monthNames: [
          'Tháng 1',
          'Tháng 2',
          'Tháng 3',
          'Tháng 4',
          'Tháng 5',
          'Tháng 6',
          'Tháng 7',
          'Tháng 8',
          'Tháng 9',
          'Tháng 10',
          'Tháng 11',
          'Tháng 12'
        ],
        firstDay: 0
      }
    }
  },
  computed: {
    displayDate() {
      if (this.dateRange.startDate && this.dateRange.endDate) {
        return (
          this.formatDate(this.dateRange.startDate) +
          ' - ' +
          this.formatDate(this.dateRange.endDate)
        )
      } else {
        return 'Thời gian'
      }
    }
  },
  watch: {
    value() {
      if (this.value && this.value.startDate && this.value.endDate) {
        this.dateRange.startDate = new Date(this.value.startDate)
        this.dateRange.endDate = new Date(this.value.endDate)
      }
    }
  },
  methods: {
    formatDate(date) {
      return this.$moment(date).format('DD/MM/YYYY')
    },
    handleUpdate() {
      this.$emit('change', {
        startDate: this.$moment(this.dateRange.startDate).format('YYYY-MM-DD'),
        endDate: this.$moment(this.dateRange.endDate).format('YYYY-MM-DD')
      })
    },
    handleClear(data) {
      data.clickCancel()
      this.dateRange.startDate = null
      this.dateRange.endDate = null
      this.$emit('change', this.dateRange)
    }
  }
}
</script>
<style lang="scss" scoped>
.custom-date-range-picker {
  .selected-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
<style lang="scss">
.daterangepicker {
  font-family: Roboto, sans-serif !important;
  .in-range {
    background-color: #ffbe !important;
  }
  .active {
    background-color: #ffbe07 !important;
  }
  .active {
    &:hover {
      background-color: #ffbe07 !important;
    }
  }
}
.custom-date-range-picker {
  .reportrange-text {
    border: none !important;
    padding: 0px !important;
    background: transparent !important;
  }
}
.date-ranger-btn {
  max-width: 140px !important;

  .v-btn__content {
    width: 100% !important;
    max-width: 100% !important;
  }
}
.date-ranger-footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
}
</style>
