<template>
  <a v-if="parsedValue" target="_blank" :href="parsedValue.file_url">
    <v-icon size="16">mdi-download-outline</v-icon>
    <span>{{ decodeURI(parsedValue.name) }}</span>
  </a>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      parsedValue: null
    }
  },
  watch: {
    value() {
      this.parseValue()
    }
  },
  mounted() {
    this.parseValue()
  },
  methods: {
    parseValue() {
      try {
        this.parsedValue = JSON.parse(this.value)
      } catch (error) {
        console.log('error', error)
      }
    }
  }
}
</script>
