<template>
  <div class="tag-combobox">
    <v-combobox
      v-model="model"
      :filter="filter"
      :hide-no-data="!search"
      :items="items"
      :search-input.sync="search"
      item-text="name"
      hide-selected
      placeholder="Thẻ Tag"
      multiple
      small-chips
      outlined
      dense
      attach=".tag-combobox"
    >
      <template v-slot:no-data>
        <v-list-item>
          <span class="caption mr-1">Tạo mới</span>
          <v-chip :color="`${colors[nonce - 1]} lighten-3`" label small>
            {{ search }}
          </v-chip>
        </v-list-item>
      </template>
      <template v-slot:selection="{ attrs, item, parent, selected }">
        <v-chip
          v-if="item === Object(item)"
          v-bind="attrs"
          :color="item.color ? item.color : 'blue'"
          :input-value="selected"
          :title="item.name"
          outlined
          label
          small
          class="custom-v-chip px-1 mb-1"
        >
          <span
            class="pr-2"
            style="display: block; white-space: initial; height: auto; max-height: initial;"
          >
            {{ item.name }}
          </span>
          <v-icon small @click="parent.selectItem(item)">mdi-close</v-icon>
        </v-chip>
      </template>
      <template v-slot:item="{ index, item }">
        <v-chip
          :color="item.color ? item.color : 'grey'"
          :title="item.name"
          outlined
          label
          small
        >
          {{ item.name }}
        </v-chip>
        <!-- <v-spacer></v-spacer>
        <v-list-item-action @click.stop>
          <v-btn icon @click.stop.prevent="edit(index, item)">
            <v-icon size="16">mdi-pencil</v-icon>
          </v-btn>
        </v-list-item-action> -->
      </template>
    </v-combobox>
    <Dialog v-model="showTagManager" padding-x="24px" padding-y="24px">
      <v-list style="height: 100%; overflow: auto;">
        <p>Quản lý tags</p>
        <p v-if="!items.length" class="d-flex justify-center">
          Chưa có tag nào.
        </p>
        <v-list-item v-for="tag in items" :key="tag.id">
          <v-form
            :ref="`tagForm${tag.id}`"
            class="d-flex tag-form"
            style="width: 100%;"
            @submit.prevent="updateTag(tag)"
          >
            <v-select
              v-model="tag.color"
              :items="colors"
              dense
              flat
              outlined
              hide-details
              placeholder="Màu"
              style="width: 80px; max-width: 80px;"
              class="border-none"
              @change="updateTag(tag)"
            >
              <template v-slot:item="{ item }">
                <span
                  class="select-color-item mr-1"
                  :style="{ backgroundColor: item }"
                ></span>
                <span class="caption">{{ item }}</span>
              </template>
              <template v-slot:selection="{ item }">
                <span
                  class="select-color-item mr-1"
                  :style="{ backgroundColor: item }"
                ></span>
              </template>
            </v-select>
            <v-text-field
              v-model="tag.name"
              autofocus
              flat
              dense
              outlined
              hide-details
              height="40"
              class="border-none"
              @change="updateTag(tag)"
            >
              <template v-slot:append>
                <v-icon @click="confirmDeleteTag(tag)"
                  >mdi-trash-can-outline</v-icon
                >
              </template>
            </v-text-field>
          </v-form>
        </v-list-item>
      </v-list>
    </Dialog>
    <Dialog v-model="showConfirmDeleteTag">
      <template v-if="selectedTag">
        <p>
          Bạn có chắc muốn xóa tag <b>{{ selectedTag.name }}</b> ?
        </p>
        <p>Tag bị xóa sẽ bị gỡ bỏ ở tất cả các khách hàng và cuộc hội thoại.</p>
        <v-row>
          <v-col cols="6">
            <v-btn
              :loading="tagDeleting"
              color="primary"
              block
              depressed
              @click="deleteTag()"
              >Xóa</v-btn
            >
          </v-col>
          <v-col cols="6">
            <v-btn block depressed @click="showConfirmDeleteTag = false"
              >Hủy bỏ</v-btn
            >
          </v-col>
        </v-row>
      </template>
    </Dialog>
  </div>
</template>
<script>
import { cloneDeep, xor } from 'lodash'
import Dialog from '@/components/Dialog'
export default {
  name: 'InputCustomerTag',
  components: {
    Dialog
  },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    tags: {
      type: Array,
      default: () => {
        return [
          { header: 'Select an option or create one' },
          {
            name: 'Foo',
            color: 'blue'
          }
        ]
      }
    }
  },
  data() {
    return {
      haventChanged: true,
      items: [],
      activator: null,
      colors: ['#48B911', '#1890FF', '#F5222D', 'cyan', 'teal', 'orange'],
      editing: null,
      editingDialog: false,
      index: -1,
      nonce: 1,
      menu: false,
      model: [],
      x: 0,
      search: null,
      y: 0,
      showTagManager: false,
      showConfirmDeleteTag: false,
      selectedTag: null,
      tagDeleting: false
    }
  },
  watch: {
    async model(val, prev) {
      if (!val.length && !prev.length) return
      if (JSON.stringify(val) === JSON.stringify(prev)) return
      this.model = await Promise.all(
        val.map(async (v) => {
          if (typeof v === 'string') {
            const existItem = this.items.find((i) => i.name === v)
            if (existItem) {
              return existItem
            } else {
              v = {
                name: v,
                color: this.colors[this.nonce - 1],
                slug: this.slugFromString(v)
              }
              const savedItem = await this.$store.dispatch(
                'onliveChat/createCustomerTag',
                {
                  botID: this.$route.params.bot,
                  data: v
                }
              )
              this.nonce++
              return savedItem
            }
          } else {
            return v
          }
        })
      )
      if (this.haventChanged) {
        // do not emit changed for first time
        this.haventChanged = false
      } else {
        this.handleChange()
      }
    },
    tags() {
      this.items = cloneDeep(this.tags)
    },
    value() {
      if (
        xor(
          this.value,
          this.model.map((item) => item.name)
        ).length
      ) {
        this.model = this.value
      }
    }
  },
  created() {
    this.$on('showTagManager', () => {
      this.showTagManager = true
    })
  },
  mounted() {
    this.items = cloneDeep(this.tags)
    this.model = this.value
  },
  methods: {
    edit(index, item) {
      if (!this.editing) {
        this.editing = item
        this.index = index
        this.editingDialog = true
      } else {
        this.editing = null
        this.index = -1
        this.editingDialog = false
      }
    },
    filter(item, queryText, itemText) {
      if (item.header) return false

      const hasValue = (val) => (val != null ? val : '')

      const text = hasValue(itemText)
      const query = hasValue(queryText)

      return text
        .toString()
        .toLowerCase()
        .includes(query.toString().toLowerCase())
    },
    handleChange() {
      const tagArr = this.model.map((item) => item.name)
      if (tagArr !== this.value) {
        this.$emit('change', tagArr)
        this.$emit('input', tagArr)
      }
    },
    updateTag(tag, index) {
      if (tag && tag.id && tag.name) {
        this.$store
          .dispatch('onliveChat/updateCustomerTag', {
            botID: this.$route.params.bot,
            tagID: tag.id,
            data: tag
          })
          .then(() => {
            this.$toast.success('Đã lưu')
          })
      }
    },
    confirmDeleteTag(tag) {
      this.selectedTag = tag
      this.showConfirmDeleteTag = true
    },
    deleteTag() {
      if (this.selectedTag && this.selectedTag.id) {
        this.tagDeleting = true
        this.$store
          .dispatch('onliveChat/deleteCustomerTag', {
            botID: this.$route.params.bot,
            tagID: this.selectedTag.id
          })
          .then(() => {
            this.tagDeleting = false
            const tagSelectedIndex = this.model.findIndex(
              (item) => item.name === this.selectedTag.name
            )
            if (tagSelectedIndex !== -1) {
              this.model.splice(tagSelectedIndex, 1)
            }
            this.$toast.success('Đã xóa')
            this.showConfirmDeleteTag = false
          })
      }
    },
    slugFromString(str) {
      return str
        .normalize('NFD')
        .replace(/[\u0300-\u036F]/g, '')
        .replace(/đ/g, 'd')
        .replace(/Đ/g, 'D')
        .replace(/ /g, '-')
        .toLowerCase()
    }
  }
}
</script>
<style lang="scss" scoped>
.tag-combobox {
  position: relative;
}
.select-color-item {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.tag-form {
  border: 1px solid $grey-4;
  border-radius: 3px;
}
</style>
<style lang="scss">
.tag-combobox {
  .v-list-item {
    min-height: 32px !important;
  }
  .v-list-item__action {
    margin: 0px !important;
  }
}
.border-none {
  fieldset {
    border: none !important;
  }
}
.custom-v-chip {
  height: auto !important;
}
</style>
