<template>
  <div class="media-wrap">
    <img
      v-if="parsedValue && parsedValue.media_type === 'image'"
      :src="parsedValue.img_url"
      width="100%"
    />
    <video
      v-if="parsedValue && parsedValue.media_type === 'video'"
      width="100%"
      controls
    >
      <source :src="parsedValue.video_url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <audio
      v-if="parsedValue && parsedValue.media_type === 'audio'"
      controls
      :src="parsedValue.audio_url"
    >
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      parsedValue: null
    }
  },
  watch: {
    value() {
      this.parsedValue = JSON.parse(this.value)
    }
  },
  mounted() {
    this.parsedValue = JSON.parse(this.value)
  }
}
</script>
<style lang="scss" scoped>
.media-wrap {
  max-width: 300px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  img,
  video {
    vertical-align: middle;
    object-fit: contain;
  }
}
</style>
