<template>
  <div>
    <span
      v-if="!content || content.length < 85 || showFull"
      style="white-space: pre-wrap"
      >{{ content }}</span
    >
    <span v-else>
      <span style="white-space: pre-wrap">{{ trimText(content, 85) }}</span>
      <span class="read-more" @click="showFull = true">Xem thêm</span>
    </span>
  </div>
</template>
<script>
export default {
  props: {
    content: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      showFull: false
    }
  },
  mounted() {
    this.showFull = false
  },
  methods: {
    trimText(text, number) {
      if (text) {
        if (text.length < number) {
          return text
        } else {
          return text.substr(0, number) + '...'
        }
      } else {
        return ''
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.read-more {
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
</style>
