<template>
  <div style="width: 80%; float: right;">
    <iframe
      v-if="url.includes('facebook.com')"
      :src="
        `https://www.facebook.com/plugins/video.php?href=${url}&show_text=false&width=734&height=411`
      "
      width="100%"
      height="240"
      style="border:none;overflow:hidden"
      scrolling="no"
      frameborder="0"
      allowTransparency="true"
      allow="encrypted-media"
      allowFullScreen="true"
    ></iframe>
    <video v-else width="320" height="240" controls>
      <source :src="url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</template>
<script>
export default {
  props: {
    url: {
      type: String,
      default: null
    }
  }
}
</script>
