<template>
  <div style="border-radius: 20px; overflow: hidden; width: 320px;">
    <video
      width="320"
      :height="parseInt((320 / width) * height)"
      :controls="controls"
      :loop="loop"
      :autoplay="autoplay"
    >
      <source :src="url" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</template>
<script>
export default {
  name: 'VideoPlayInfinity',
  props: {
    url: {
      type: String,
      default: null
    },
    controls: {
      type: Boolean,
      default: false
    },
    loop: {
      type: Boolean,
      default: false
    },
    autoplay: {
      type: Boolean,
      default: false
    },
    width: {
      type: Number,
      default: () => {
        return 320
      }
    },
    height: {
      type: Number,
      default: () => {
        return 240
      }
    }
  }
}
</script>
