<template>
  <div style="width:100%">
    <div v-if="action.type === 'message'">
      <Message
        :id="tmpAction.id"
        :action="action"
        :command="tmpAction"
        :action-id="action.id"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
      <!--  -->
    </div>
    <div v-if="action.type === 'redirect_skill'">
      <RedirectSkill
        :id="tmpAction.id"
        :action="action"
        :command="tmpAction"
        :action-id="action.id"
        :skillid="currentSkill"
        :item-skills="itemSkills"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'memory_edit'">
      <MemoryEdit
        :id="tmpAction.id"
        :tmp-action="tmpAction"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'video'">
      <Video
        :id="tmpAction.id"
        :value="tmpAction.command"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'remove_cart_item'">
      <RemoveCartItem
        :id="tmpAction.id"
        :command="tmpAction.command"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'save_to_cart'">
      <SaveOrder
        :id="tmpAction.id"
        :command="tmpAction.command"
        :action-id="action.id"
        type="save_to_cart"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'connect_to_live_agent'">
      <HumanHandOver
        :id="tmpAction.id"
        :value="tmpAction.command"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'carousel'">
      <Carousel
        :id="tmpAction.id"
        :command="tmpAction.command.content"
        :data-from="tmpAction.command.data_from"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'save_order'">
      <SaveOrder
        :id="tmpAction.id"
        :command="tmpAction.command"
        :action-id="action.id"
        type="save_order"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'save_customer_info'">
      <SaveCusInfo
        :id="tmpAction.id"
        :command="tmpAction.command"
        :action-id="action.id"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'load_customer_info'">
      <LoadCusInfo
        :id="tmpAction.id"
        :command="tmpAction.command"
        :action-id="action.id"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'quick_replies'">
      <QuickAnswer
        :id="tmpAction.id"
        :value="
          tmpAction.command.buttons
            ? tmpAction.command.title
            : tmpAction.command
        "
        :data-from="tmpAction.command"
        :data-button="
          tmpAction.command.buttons ? tmpAction.command.buttons : []
        "
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'buttons'">
      <Document
        :id="tmpAction.id"
        :value="
          tmpAction.command.buttons
            ? tmpAction.command.title
            : tmpAction.command
        "
        :data-button="
          tmpAction.command.buttons ? tmpAction.command.buttons : []
        "
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'api_call'">
      <ApiCall
        :id="tmpAction.id"
        :command="tmpAction.command"
        :action-id="action.id"
        :skillid="currentSkill"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
    <div v-if="action.type === 'picture'">
      <Picture
        :id="tmpAction.id"
        :command="tmpAction.command"
        @submitCommand="saveCommand"
        @delete="deleteAction"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Video from '~/components/actions/Video'
import HumanHandOver from '~/components/actions/HumanHandOver'
import Carousel from '~/components/actions/Carousel'
import QuickAnswer from '~/components/actions/QuickAnswer'
import Document from '~/components/actions/Document'
import SaveOrder from '~/components/actions/SaveOrder'
import SaveCusInfo from '~/components/actions/SaveCusInfo'
import LoadCusInfo from '~/components/actions/LoadCusInfo'
import ApiCall from '~/components/actions/ApiCall'
import RemoveCartItem from '~/components/actions/RemoveCartItem'
import Picture from '~/components/actions/Picture'
import message from '~/assets/actions/message.svg'
import Message from '~/components/actions/Message'
import RedirectSkill from '~/components/actions/RedirectSkill'
import MemoryEdit from '~/components/actions/MemoryEdit'

export default {
  name: 'ActionDbSearch',
  components: {
    MemoryEdit,
    RedirectSkill,
    Video,
    Picture,
    HumanHandOver,
    Carousel,
    QuickAnswer,
    Document,
    SaveOrder,
    SaveCusInfo,
    LoadCusInfo,
    RemoveCartItem,
    ApiCall,
    Message
  },
  props: {
    action: {
      type: Object,
      default: () => ({ type: 'message', command: [] })
    },
    currentSkill: { type: String, default: '' },
    groupId: { type: String, default: '' }
  },

  data() {
    return {
      message,
      showNew: false,
      checkValidation: false,
      editingIndex: -1,
      tmpAction: undefined,
      tmpCommand: '',
      select: [],
      apartments: []
    }
  },
  computed: {
    ...mapGetters(['skills']),
    itemSkills() {
      return this.skills
    },
    skillName() {
      if (!this.tmpAction.redirect_skill) return ''
      return this.skills.filter(
        (item) => item.id === this.tmpAction.redirect_skill
      )[0].name
    },
    editMemory() {
      return this.tmpAction.command
    },
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    }
  },
  watch: {
    action(val) {
      if (val) {
        this.tmpAction = JSON.parse(JSON.stringify(val))
      }
    }
  },
  created() {
    this.tmpAction = JSON.parse(JSON.stringify(this.action))
  },
  methods: {
    cancel() {
      if (this.action.id) {
        this.tmpAction = JSON.parse(JSON.stringify(this.action))
        this.showNew = false
        this.editingIndex = -1
      } else {
        this.$emit('cancel')
      }
    },
    addCommand() {
      this.tmpAction.command.push(this.tmpCommand)
      this.showNew = false
      this.$emit('update', this.tmpAction)
      this.tmpCommand = ''
    },
    saveCommand(value) {
      if (this.action.type === 'memory_edit') {
      }
      if (this.tmpAction.type === 'carousel') {
        this.tmpAction.command = value
        if (this.tmpAction.command[0] && this.tmpAction.command[0].buttons) {
          this.tmpAction.command[0].buttons = this.tmpAction.command[0].buttons.map(
            (r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            }
          )
        }
        if (
          this.tmpAction.command.buttons &&
          this.tmpAction.command.buttons.length
        ) {
          this.tmpAction.command.buttons = this.tmpAction.command.buttons.map(
            (r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            }
          )
        }
      }
      if (
        value &&
        this.tmpAction.type !== 'message' &&
        this.action.type !== 'memory_edit' &&
        this.action.type !== 'redirect_skill' &&
        this.action.type !== 'buttons' &&
        this.action.type !== 'quick_replies' &&
        this.action.type !== 'carousel'
      ) {
        this.tmpAction.command = value
        if (this.tmpAction.command[0] && this.tmpAction.command[0].buttons) {
          this.tmpAction.command[0].buttons = this.tmpAction.command[0].buttons.map(
            (r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            }
          )
        }
        if (
          this.tmpAction.command.buttons &&
          this.tmpAction.command.buttons.length
        ) {
          this.tmpAction.command.buttons = this.tmpAction.command.buttons.map(
            (r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            }
          )
        }
      }
      if (
        this.tmpAction.type === 'buttons' &&
        !this.tmpAction.command.buttons
      ) {
        if (typeof value === 'string') {
          this.tmpAction.type = 'message'
        } else {
          this.tmpAction.type = 'buttons'
        }
        this.tmpAction.command = []
        this.tmpAction.command.push(value)
      }
      if (
        (value &&
          value.buttons &&
          value.buttons.length &&
          this.tmpAction.type === 'buttons') ||
        this.tmpAction.type === 'quick_replies'
      ) {
        this.tmpAction.command = value
      }
      if (
        typeof value.title === 'string' &&
        value.buttons.length === 0 &&
        this.tmpAction.type !== 'quick_replies'
      ) {
        this.tmpAction.command = []
        this.tmpAction.command.push(value.title)
        this.tmpAction.type = 'message'
      }
      this.editingIndex = -1
      this.$emit('update', this.tmpAction)
    },
    deleteCommand(index) {
      this.tmpAction.command = this.tmpAction.command.filter(
        (item, itemIndex) => itemIndex !== index
      )
      if (this.tmpAction.command.length > 0) {
        this.$emit('update', this.tmpAction)
      } else {
        this.deleteAction()
      }
    },
    toggleShowNew() {
      this.showNew = !this.showNew
      if (this.showNew) {
        this.tmpCommand = ''
      }
    },
    deleteAction() {
      if (!this.action.id) {
        this.cancel()
      } else {
        this.$emit('delete', this.action.id)
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.message {
  border-radius: 4px;
}
.redirect-skill-mode {
  border-radius: 2px !important;
  border: 1px solid #0040bf !important;
  background: white !important;
}

.redirect-skill-mode-btn {
  border: none !important;
  border-radius: 0px !important;
  color: #0040bf !important;
}
.redirect-skill-mode-active {
  border: none !important;
  border-radius: 0px !important;
  background: #0040bf !important;
  color: white !important;
  opacity: 1 !important;
}

.redirect-skill-mode-active:before {
  opacity: 0 !important;
}
</style>
