<template>
  <div
    :id="`action__group__${groupid}__${skillid}`"
    :class="[
      'action-group',
      groupType === 'skill' && 'py-3 px-3 border-all mb-2',
      'open'
    ]"
    style="width:100%"
  >
    <div v-if="groupType === 'skill'" class="d-flex flex-column">
      <div class="d-flex align-center">
        <v-row>
          <v-col cols="8">
            <p class="subtitle-1 font-weight-bold">Predicate conditions</p>
          </v-col>
          <v-col cols="4" class="d-flex" style="justify-content:flex-end">
            <div class="delete__predicate mr-1" @click="deleteActionGroup()">
              Delete action group
            </div>
            <div>
              <v-icon
                v-if="!isCollage"
                @click="
                  toggleActionGroup(`action__group__${groupid}__${skillid}`)
                "
                >mdi-chevron-down</v-icon
              >
              <v-icon
                v-else
                @click="
                  toggleActionGroup(`action__group__${groupid}__${skillid}`)
                "
              >
                mdi-chevron-up
              </v-icon>
            </div>
          </v-col>
        </v-row>
      </div>
      <Trigger
        :condition="predicateObject"
        :level="1"
        @update="updatePredicate"
      />
      <v-divider v-if="!isCollage" class="mt-4 mb-3" />
      <p v-if="!isCollage" class="subtitle-1 font-weight-bold">Tasks</p>
    </div>
    <div v-if="!isCollage">
      <div class="mb-2">
        <Skeleton :loading="loadingData" />
      </div>
      <div v-if="!loadingData">
        <draggable
          tag="div"
          :list="tasks"
          handle=".drag-btn"
          @end="handleChangePosition"
        >
          <div
            v-for="(task, taskIndex) in tasks"
            :key="`group_${groupid}_${taskIndex}`"
          >
            <div class="d-flex">
              <div class="action_btns pl-2 pr-2">
                <div class="drag-btn">
                  <img
                    src="~/assets/svg/Drag.svg"
                    title="Drag"
                    class="pb-2 drag"
                  />
                </div>
                <span class="hack-width">&nbsp;</span>
              </div>
              <ActionOrder
                :action="task"
                :current-skill="skillid"
                :group-id="groupid"
                this.groupid
                @delete="deleteAction"
                @update="updateAction"
              />
            </div>
          </div>
        </draggable>
        <div v-if="showNew" class="d-flex">
          <div class="action_btns pl-2 pr-2">
            <div class="drag-btn">
              <img src="~/assets/svg/Drag.svg" title="Drag" class="pb-2 drag" />
            </div>
            <span class="hack-width">&nbsp;</span>
          </div>
          <ActionOrder
            :action="tmpAction"
            :current-skill="skillid"
            @cancel="cancel"
            @update="updateAction"
          />
        </div>
        <v-menu
          v-else
          v-model="openActionType"
          class="menu_list__item__action"
          :close-on-content-click="false"
          offset-y
        >
          <template v-slot:activator="{ on }">
            <v-btn
              outlined=""
              class="text-capitalize text__action__button"
              color="#595959"
              v-on="on"
            >
              <v-icon left>mdi-plus-circle-outline</v-icon>
              Add Actions
            </v-btn>
          </template>
          <v-list class="list__item__action" max-height="300" dense="">
            <div class="px-4 pt-2">
              <v-text-field
                v-model="search"
                placeholder="Search"
                dense=""
                outlined=""
                filled=""
                hide-details=""
                append-icon="mdi-magnify"
                height="32"
                @keyup="filterValueSet"
              ></v-text-field>
            </div>
            <v-list-item v-for="(item, index) in actionFilter" :key="index">
              <v-list-item-title>
                <div
                  class="d-flex align-center"
                  :class="{
                    'is-header': item.type === 'header',
                    'is-items': item.type !== 'header'
                  }"
                  @click="newTmpAction(item.value)"
                >
                  <img
                    v-if="item.img"
                    :src="require(`~/assets/actions/${item.img}`)"
                    alt=""
                    srcset=""
                    class="mr-2"
                  />
                  {{ item.text }}
                </div></v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete Action Group"
      subtitle="Are you sure you want to delete this action group ?"
      action="Delete Action Group"
      :loading-delete="loading"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import * as _ from 'lodash'
import draggable from 'vuedraggable'
import { mapGetters } from 'vuex'
import { actions, slugify } from '~/utils/constanst.js'
import ActionOrder from '~/components/actioncustom/ActionOrder'

import Trigger from '~/components/Trigger.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
import Skeleton from '~/components/Skeleton'

export default {
  name: 'ActionGroupDbSearch',
  components: {
    ActionOrder,
    Trigger,
    draggable,
    DeleteGeneral,
    Skeleton
  },
  props: {
    skillid: { type: String, default: '' },
    groupid: { type: String, default: '' },
    groupType: { type: String, default: 'skill' },
    predicate: { type: String, default: '' },
    type: { type: String, default: '' },
    loading: { type: Boolean, default: false }
  },
  data() {
    return {
      actions,
      openDeleteIntent: false,
      loadingData: false,
      search: '',
      predicateObject: undefined,
      tasks: [],
      showNew: false,
      tmpAction: undefined,
      openActionType: false,
      isCollage: false,
      actionFilter: []
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'entities'])
  },
  watch: {
    groupid(val) {
      if (val) {
        this.$store
          .dispatch('bots/getActions', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            groupID: this.groupid
          })
          .then((data) => (this.tasks = data))
          .then(() => {
            this.loadingData = false
          })
          .catch(() => {
            this.loadingData = false
          })
      }
    },
    predicate(val) {
      if (val !== '' && this.groupType === 'skill') {
        this.predicateObject = JSON.parse(val)
      }
    }
  },
  created() {
    if (this.predicate !== '' && this.groupType === 'skill') {
      this.predicateObject = JSON.parse(this.predicate)
    }
    if (this.actions && this.actions.length) {
      this.actions = this.actions
        .map((r) => {
          return {
            ...r,
            slugifyText: slugify(r.text.toLowerCase())
          }
        })
        .filter((r) => r.value !== 'db_search')
      this.actionFilter = this.actions
    }
    this.search = ''
  },
  beforeMount() {
    if (!this.groupid) {
      this.$emit('close')
    } else {
      this.loadingData = true
      this.$store
        .dispatch('bots/getActions', {
          botID: this.currentBot.id,
          skillID: this.skillid,
          groupID: this.groupid
        })
        .then((data) => (this.tasks = _.sortBy(data, 'index_number')))
        .then(() => {
          this.loadingData = false
        })
        .catch(() => {
          this.loadingData = false
        })
    }
  },
  methods: {
    cancelDelete() {
      this.openDeleteIntent = false
    },
    toggleActionGroup(id) {
      this.isCollage = !this.isCollage
    },
    filterValueSet() {
      this.actionFilter = JSON.parse(
        JSON.stringify(
          this.actions.filter((r) =>
            r.slugifyText.includes(slugify(this.search.toLowerCase()))
          )
        )
      )
    },
    handleChangePosition(event) {
      this.$store
        .dispatch('bots/sortAction', {
          botID: this.currentBot.id,
          skillID: this.skillid,
          groupID: this.tasks[event.newIndex].action_group,
          newAction: {
            action_ids: this.tasks.map((r) => r.id)
          }
        })
        .catch(() => {
          this.$toast.global.my_error()
        })
    },
    updatePredicate(data) {
      this.predicateObject = data.condition
      this.predicateObject.child = data.condition.child.filter(
        (r) => r.child.length
      )
      if (this.predicateObject.child.length === 0) {
        this.predicateObject = undefined
      }
      this.$emit('update', {
        id: this.groupid,
        predicate: this.predicateObject
          ? JSON.stringify(this.predicateObject)
          : JSON.stringify('')
      })
    },
    acceptDelete() {
      this.$emit('delete', {
        botID: this.currentBot.id,
        skillID: this.skillid,
        groupID: this.groupid
      })
    },
    deleteActionGroup() {
      this.openDeleteIntent = true
    },
    newTmpAction(type) {
      if (type === 'message') {
        this.showNew = true
        this.tmpAction = {
          type: 'message',
          command: [],
          redirect_skill: null
        }
      }
      if (type === 'message_template') {
        this.showNew = true
        this.tmpAction = {
          type: 'message_template',
          command: {
            value: [],
            data_from: 'context.memory.dbsearch.items',
            max_repeat: 3
          },
          redirect_skill: null
        }
      }
      if (type === 'redirect_skill') {
        this.showNew = true
        this.tmpAction = {
          type: 'redirect_skill',
          command: { wait_for_user_input: false },
          redirect_skill: null
        }
      }
      if (type === 'memory_edit') {
        this.showNew = true
        this.tmpAction = {
          type: 'memory_edit',
          command: {
            clear_all: false,
            reset: [],
            set: {},
            append: {}
          },
          redirect_skill: null
        }
      }
      if (type === 'video') {
        this.showNew = true
        this.tmpAction = {
          type: 'video',
          command: [],
          redirect_skill: null
        }
      }
      if (type === 'quick_replies') {
        this.showNew = true
        this.tmpAction = {
          type: 'quick_replies',
          command: [],
          redirect_skill: null
        }
      }
      if (type === 'carousel') {
        this.showNew = true
        this.tmpAction = {
          type: 'carousel',
          command: {
            content: [],
            memory: null
          },
          redirect_skill: null
        }
      }
      if (type === 'connect_to_live_agent') {
        this.showNew = true
        this.tmpAction = {
          type: 'connect_to_live_agent',
          command: [],
          redirect_skill: null
        }
      }
      if (type === 'buttons') {
        this.showNew = true
        this.tmpAction = {
          type: 'buttons',
          command: [],
          redirect_skill: null
        }
      }
      if (type === 'save_order') {
        this.showNew = true
        this.tmpAction = {
          type: 'save_order',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'load_customer_info') {
        this.showNew = true
        this.tmpAction = {
          type: 'load_customer_info',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'save_customer_info') {
        this.showNew = true
        this.tmpAction = {
          type: 'save_customer_info',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'api_call') {
        this.showNew = true
        this.tmpAction = {
          type: 'api_call',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'remove_cart_item') {
        this.showNew = true
        this.tmpAction = {
          type: 'remove_cart_item',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'save_to_cart') {
        this.showNew = true
        this.tmpAction = {
          type: 'save_to_cart',
          command: {},
          redirect_skill: null
        }
      }
      if (type === 'picture') {
        this.showNew = true
        this.tmpAction = {
          type: 'picture',
          command: '',
          redirect_skill: null
        }
      }
      this.openActionType = false
    },
    cancel() {
      this.showNew = false
      this.tmpAction = undefined
    },
    deleteAction(actionId) {
      this.showNew = false
      this.$store
        .dispatch('bots/deleteAction', {
          botID: this.currentBot.id,
          skillID: this.skillid,
          groupID: this.groupid,
          actionID: actionId
        })
        .then((req) => {
          if (req.code === 200) {
            this.$store
              .dispatch('bots/getActions', {
                botID: this.currentBot.id,
                skillID: this.skillid,
                groupID: this.groupid
              })
              .then((data) => (this.tasks = data))
              .then(() => {
                this.unsetLoading()
              })
          } else {
            this.unsetLoading()
          }
        })
        .catch(() => {
          this.unsetLoading()
        })
    },
    unsetLoading() {
      this.$store.commit('delete/SET_LOADING_MESSAGE', false)
      this.$store.commit('delete/SET_LOADING_PICTURE', false)
      this.$store.commit('delete/SET_LOADING_REDIRECT', false)
      this.$store.commit('delete/SET_LOADING_HUMAN', false)
      this.$store.commit('delete/SET_LOADING_QUICK_REPLIES', false)
      this.$store.commit('delete/SET_LOADING_MEMORY', false)
      this.$store.commit('delete/SET_LOADING_CAROUSEL', false)
      this.$store.commit('delete/SET_LOADING_APICALL', false)
      this.$store.commit('delete/SET_LOADING_SAVEORDER', false)
      this.$store.commit('delete/SET_LOADING_REMOVECARTITEM', false)
      this.$store.commit('delete/SET_LOADING_LOADCUSINFO', false)
      this.$store.commit('delete/SET_LOADING_SAVECUSINFO', false)
    },
    updateAction(action) {
      this.showNew = false
      this.tmpAction = undefined
      if (action.id) {
        // update action
        this.$store
          .dispatch('bots/updateAction', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            groupID: this.groupid,
            actionID: action.id,
            newAction: {
              type: action.type,
              redirect_skill: action.redirect_skill,
              command: action.command
            }
          })
          .then((newAction) => {
            this.$toast.global.my_success({
              message: this.$t('Cập nhật thành công')
            })
            this.tasks = this.tasks.map((item) => {
              if (item.id === action.id) {
                return action
              }
              return item
            })
          })
          .catch(() => {
            this.$toast.global.my_error()
          })
      } else {
        const getMaxIndex = _.maxBy(this.tasks, 'index_number')
        action.index_number =
          getMaxIndex && getMaxIndex.index_number
            ? getMaxIndex.index_number + 1
            : 1
        this.$store
          .dispatch('bots/createAction', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            groupID: this.groupid,
            newAction: action
          })
          .then((newAction) => {
            this.tasks.push(newAction)
            this.$toast.global.my_success({
              message: 'Create action success'
            })
          })
          .catch(() => {
            this.$toast.global.my_error()
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.text__action__button {
  margin-left: 28px;
}
.is-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  pointer-events: none;
}
.is-items {
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;

  /* Grey / grey-8 */

  color: #595959;
}
.action_btns {
  width: 30px;
  position: relative;
  // height: 0px;
  .delete,
  .drag {
    cursor: pointer;
  }
  .add-other-below {
    position: absolute;
    left: 6px;
    bottom: -28px;
    cursor: pointer;
  }
}
.delete__predicate {
  color: red;
  font-size: 14px;
  cursor: pointer;
}
.open {
  overflow: hidden;
  transition: height 200ms;
}
</style>

<style lang="scss"></style>
