<template>
  <div class="d-flex justify-space-between mb-2">
    <div style="width:60%">
      <v-text-field
        v-model="name"
        height="32"
        dense=""
        outlined=""
        class="input__small"
        hide-details=""
        placeholder="Tên trường"
        disabled
      ></v-text-field>
    </div>
    <div style="width:35%">
      <v-select
        v-model="type"
        height="32"
        dense=""
        outlined=""
        class="input__small"
        hide-details=""
        placeholder="Loại sắp xếp"
        :items="typeArrange"
        @change="updateElement"
      ></v-select>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    dataArrange: { type: Object, default: () => {} },
    indexArrange: { type: Number, default: -1 }
  },
  data() {
    return {
      typeArrange: [
        {
          text: 'Danh sách',
          value: false
        },
        {
          text: 'Duy nhất',
          value: true
        }
      ],
      name: '',
      type: false
    }
  },
  watch: {
    dataArrange(val) {
      this.name = Object.keys(val)[0]
    }
  },
  created() {
    this.name = Object.keys(this.dataArrange)[0]
    this.type = this.dataArrange[this.name].value
  },
  methods: {
    updateElement() {
      this.$emit(
        'updateArrangeEle',
        {
          [this.name]: {
            op: 'unique',
            value: this.type.value ? this.type.value : this.type
          }
        },
        this.indexArrange
      )
    }
  }
}
</script>
