<template>
  <div class="d-flex" style="width:100%;">
    <v-card
      v-for="(itemMessage, indexMessage) in arrayMessage"
      :key="indexMessage"
      outlined
      :class="{
        'card-autocomment': typeButton === 'autoComment',
        'card-document': typeButton !== 'autoComment'
      }"
    >
      <div class="pa-1">
        <MessageTextarea
          :ref="
            typeMissing === 'db_missing'
              ? `messageTextarea_db_missing${actionIndex}`
              : `messageTextarea${actionIndex}`
          "
          :command-message="arrayMessage[indexMessage]"
          type="autocomment"
          :type-menu="typeMenu"
          :type-missing="typeMissing"
          :type-data="typeData"
          emoji
          :entity="entity"
          :height-tab="heightTab"
          :action-index="actionIndex"
          :required="required"
          :index="id"
          :data-collection-info="dataCollectionInfo"
          @change="submit"
          @onFocus="onFocus"
        />
        <img
          v-if="arrayMessage.length > 1"
          :src="DeleteCircle"
          class="delete__item"
          title="Xóa tin nhắn này"
          @click="deleteMessage(indexMessage)"
        />
      </div>
      <div>
        <ButtonDbSearch
          :key-db-search="keyDbSearch"
          :buttons="buttonForm"
          type-menu="dbsearch"
          name="Thêm nút bấm"
          @change="handleChangeButtons"
        />
      </div>
    </v-card>
  </div>
</template>

<script>
import ButtonDbSearch from '~/components/actions/ButtonDbSearch'
import DeleteCircle from '~/assets/svg/DeleteCircle.svg'
import MessageTextarea from '~/components/actions/MessageTextarea'

export default {
  components: {
    MessageTextarea,
    ButtonDbSearch
  },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    // eslint-disable-next-line vue/require-prop-types
    command: {
      default: () => {
        return null
      }
    },
    typeButton: {
      type: String,
      default: ''
    },
    typeMenu: {
      type: String,
      default: ''
    },
    typeChild: {
      type: String,
      default: ''
    },
    typeHidden: {
      type: String,
      default: ''
    },
    entity: { type: Boolean, default: false },
    id: { type: String, default: '' },
    typeMissing: { type: String, default: '' },
    keyDbSearch: { type: Number, default: 0 },
    heightTab: { type: Number, default: 0 },
    actionIndex: { type: Number, default: 0 },
    dataCollectionInfo: {
      type: Array,
      default: () => []
    },
    typeData: { type: String, default: '' }
  },
  data() {
    return {
      myText: '',
      buttonForm: [],
      isButtonAction: false,
      DeleteCircle,
      reactive: false,
      showDelete: false,
      arrayMessage: [''],
      required: false
    }
  },
  watch: {
    command(val) {
      if (val) {
        this.parseData()
      }
    }
  },
  created() {
    if (this.command) {
      this.parseData()
    }
  },
  mounted() {
    if (!this.command) {
      setTimeout(() => {
        if (this.typeMissing === 'db_missing') {
          if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`] &&
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`].length
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ][0].focusInput()
          } else if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`]
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ].focusInput()
          } else if (
            this.$refs[`messageTextarea${this.actionIndex}`] &&
            this.$refs[`messageTextarea${this.actionIndex}`].length
          ) {
            this.$refs[`messageTextarea${this.actionIndex}`][0].focusInput()
          } else {
            this.$refs[`messageTextarea${this.actionIndex}`].focusInput()
          }
        } else {
          // eslint-disable-next-line no-lonely-if
          if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`] &&
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`].length
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ][0].focusInput()
          } else if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`]
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ].focusInput()
          } else if (
            this.$refs[`messageTextarea${this.actionIndex}`] &&
            this.$refs[`messageTextarea${this.actionIndex}`].length
          ) {
            this.$refs[`messageTextarea${this.actionIndex}`][0].focusInput()
          } else {
            this.$refs[`messageTextarea${this.actionIndex}`].focusInput()
          }
        }
      }, 300)
    }
  },
  methods: {
    onFocus() {
      this.$emit('onFocus')
    },
    parseData() {
      if (Array.isArray(this.command)) {
        this.arrayMessage = this.command
        if (this.command[0] === '') {
          this.required = true
        } else {
          this.required = false
        }
        this.buttonForm = []
      } else if (this.command && typeof this.command === 'object') {
        if (this.command.title) {
          this.arrayMessage = [this.command.title]
        }
        if (
          this.command.title === '' ||
          (this.command.title && !this.command.title.length)
        ) {
          this.required = true
        } else {
          this.required = false
        }
        if (this.command.buttons && Array.isArray(this.command.buttons)) {
          this.buttonForm = this.command.buttons
        }
      } else if (this.command && typeof this.command === 'string') {
        if (this.command.length === 0) {
          this.required = true
        } else {
          this.required = false
        }
        this.arrayMessage = [this.command]
      }
    },
    resetRequired() {
      this.required = false
    },
    submit(data) {
      this.arrayMessage[0] = data
      if (this.arrayMessage[0] === '') {
        this.required = true
      } else {
        this.required = false
      }
      this.arrayMessage = this.arrayMessage.map((r) => r && r.trim())
      if (!this.buttonForm.length) {
        this.$emit('submitCommand', this.arrayMessage, this.id)
      } else {
        this.$emit(
          'submitCommand',
          {
            title: this.arrayMessage[0],
            buttons: this.buttonForm
          },
          this.id
        )
      }
    },
    deleteAction() {
      confirm('Are you sure delete this action') && this.$emit('delete')
    },
    addMoreMessage() {
      this.arrayMessage.push('')
    },
    deleteMessage(index) {
      this.arrayMessage.splice(index, 1)
      this.submit()
    },
    cancel(index) {
      this.buttonForm.splice(index, 1)
    },
    updateButtonInfo(data) {
      this.buttonForm[data.index] = data.button
      const command = {
        title: this.arrayMessage[0],
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      this.$emit('submitCommand', command, this.id)
    },
    deleteButton(index) {
      this.buttonForm.splice(index, 1)
      const command = {
        title: this.arrayMessage[0],
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      this.$emit('submitCommand', command, this.id)
    },
    handleChangeButtons() {
      const command = {
        title: this.arrayMessage[0],
        buttons: this.buttonForm
      }
      this.$emit('submitCommand', command, this.id)
    }
  }
}
</script>
<style lang="scss" scoped>
.card-autocomment {
  margin-right: 0px !important;
}
.card-document,
.card-autocomment {
  width: 100%;
  position: relative;
  .delete__item {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: scale(0);
    cursor: pointer;
  }
  &:hover {
    .delete__item {
      transform: scale(1);
      transition-duration: 0.3s;
    }
  }
}
.menu__button__action {
  left: 820px;
}
.button__quick__reply {
  border: 1px dashed #d9d9d9 !important;
  color: #595959;
  margin-left: 0px;
  font-size: 14px;
}
.button__action {
  .button__ {
    top: 40px;
  }
}
.action__btn {
  width: 30px;
  .delete,
  .drag {
    display: none;
    cursor: pointer;
  }
}
.add__quick_reply {
  margin-bottom: 30px;
}
.action-wrap {
  align-items: center;
  &:hover {
    .delete,
    .drag {
      display: block;
    }
  }
}
.add__button {
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 6px;
  margin-bottom: 6px;
}
.add-btn {
  border-top: 1px solid $grey-4;
  font-size: 12px !important;
  line-height: 32px !important;
  color: $grey-6 !important;

  p {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}
</style>
