<template>
  <div :id="`carousel${keyDbSearch}`" class="d-flex pa-0 allImage">
    <div
      v-for="item in imageDatas"
      :key="item.key"
      :class="{
        'card-autocomment': typeButton === 'autoComment',
        'hover-delete': hover
      }"
      class="image-wrapper mr-4"
    >
      <ImageInputAction
        :type-button="typeButton"
        :command="item"
        :is-new="false"
        :key-db-search="keyDbSearch"
        :action-index="actionIndex"
        @submitCommand="handleSubmitCommand"
        @moveOver="moveOver"
        @moveLeave="moveLeave"
        @updateIsNew="updateIsNew"
        @isFocus="isFocus"
      />
      <img
        v-if="typeButton !== 'autoComment'"
        src="~/assets/svg/DeleteCircle.svg"
        class="delete__item"
        title="Xóa ảnh này"
        @click="removeImage(item.key)"
      />
    </div>
    <div
      v-if="addItem"
      class="mr-4"
      :class="{
        'card-autocomment': typeButton === 'autoComment',
        'image-wrapper': true
      }"
    >
      <ImageInputAction
        ref="addMoreCarouselItem"
        :type-button="typeButton"
        :is-new="true"
        :key-db-search="keyDbSearch"
        :action-index="actionIndex"
        @submitCommand="handleSubmitCommand"
        @moveOver="moveOver"
        @moveLeave="moveLeave"
        @updateIsNew="updateIsNew"
      />
    </div>
  </div>
</template>

<script>
import ImageInputAction from '~/components/dbsearch/ImageInputAction'
import Plus from '~/assets/svg/Plus.svg'

export default {
  components: {
    ImageInputAction
  },
  props: {
    command: { type: Array, default: () => [] },
    typeButton: { type: String, default: '' },
    index: { type: Number, default: -1 },
    typeMenu: { type: String, default: '' },
    keyDbSearch: { type: Number, default: 0 },
    actionIndex: { type: Number, default: 0 }
  },
  data() {
    return {
      imageDatas: [],
      notAllow: true,
      addItem: true,
      Plus,
      hover: false,
      isNew: false
    }
  },
  watch: {
    command(val) {
      if (val && val.length) {
        this.imageDatas = val
      }
    }
  },
  created() {
    if (this.command && this.command.length) {
      this.imageDatas = this.command
      this.addItem = false
    }
  },
  methods: {
    updateIsNew() {
      this.isNew = false
    },
    moveOver() {
      this.hover = true
    },
    moveLeave() {
      this.hover = false
    },
    isFocus() {
      this.notAllow = false
    },
    addItemImage() {
      this.addItem = true
      this.$nextTick(() => {
        this.$refs.addMoreCarouselItem.$emit('resetData')
      })
    },
    removeImage(key) {
      this.imageDatas = this.imageDatas.filter((r) => r.key !== key)
      if (this.imageDatas.length === 0) {
        this.$emit('removeSlide', this.index)
      } else if (key === 'is_new') {
        this.addItem = false
        // eslint-disable-next-line no-useless-return
        return
      } else {
        this.$emit('submitCommand', this.imageDatas)
      }
    },
    handleSubmitCommand(command) {
      this.$emit('canUpdate', false)
      if (document.getElementsByClassName('image-input-add')) {
        for (
          let index = 0;
          index < document.getElementsByClassName('image-input-add').length;
          index++
        ) {
          document
            .getElementsByClassName('image-input-add')
            [index].classList.add('unactive-input')
        }
        for (
          let index = 0;
          index < document.getElementsByClassName('allImage').length;
          index++
        ) {
          document
            .getElementsByClassName('allImage')
            [index].classList.add('unactive-input')
        }
      }
      setTimeout(() => {
        if (this.addItem || !this.notAllow || !this.isNew) {
          const index = this.imageDatas.findIndex((r) => r.key === command.key)
          if (index !== -1) {
            this.imageDatas[index] = command
          } else {
            this.imageDatas.push(command)
          }
          this.addItem = false
          this.$emit('submitCommand', this.imageDatas)
        }
        this.$emit('canUpdate', true)
        if (document.getElementsByClassName('image-input-add')) {
          for (
            let index = 0;
            index < document.getElementsByClassName('image-input-add').length;
            index++
          ) {
            document
              .getElementsByClassName('image-input-add')
              [index].classList.remove('unactive-input')
          }
          for (
            let index = 0;
            index < document.getElementsByClassName('allImage').length;
            index++
          ) {
            document
              .getElementsByClassName('allImage')
              [index].classList.remove('unactive-input')
          }
        }
      }, 200)
    }
  }
}
</script>

<style lang="scss" scoped>
.hover-delete {
  .delete__item {
    transform: scale(1);
    transition-duration: 0.3s;
  }
}
.card-autocomment {
  margin-right: 0px !important;
  width: 100% !important;
}
.unactive-input {
  pointer-events: none;
}
.image-wrapper {
  position: relative;
  .delete__item {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: scale(0);
    cursor: pointer;
    z-index: 5;
  }
  &:hover {
    .delete__item {
      transform: scale(1);
      transition-duration: 0.3s;
    }
  }
}
.image-input-add {
  .card__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.file-input {
  display: none;
}
</style>
