<template>
  <div class="d-flex align-center justify-space-between my-2">
    <div style="width:30%">
      <v-select
        v-model="condition.name"
        item-value="code"
        item-text="name"
        height="32"
        dense=""
        outlined=""
        class="input__small"
        :class="{
          'error-valid': validFieldName
        }"
        hide-details=""
        :items="dataChoices"
        placeholder="Tên trường"
        @change="updateFilter"
      ></v-select>
    </div>
    <div style="width:30%">
      <v-select
        v-model="condition.op"
        height="32"
        dense=""
        :items="operators"
        outlined=""
        :class="{
          'error-valid': validFieldOp
        }"
        class="input__small"
        hide-details=""
        placeholder="Phép toán"
        @change="updateFilter"
      ></v-select>
    </div>
    <div style="width:30%">
      <v-select
        v-model="condition.val"
        :disabled="
          !condition ||
            (condition &&
              (condition.op === 'is_empty' || condition.op === 'is_not_empty'))
        "
        height="32"
        dense=""
        :class="{
          'error-valid':
            condition.op !== 'is_empty' &&
            condition.op !== 'is_not_empty' &&
            validFieldVal
        }"
        required=""
        outlined=""
        class="input__small collect__slot"
        hide-details=""
        :items="getAllSlotName"
        chips=""
        placeholder="Thu thập"
        @change="updateFilter"
      >
        <template v-slot:selection="{ item, index }">
          <v-chip
            v-if="index === 0"
            color="#48B911"
            small=""
            dark=""
            style="heigth:40px"
          >
            <span>{{ item }}</span>
          </v-chip>
          <span v-if="index === 1" class="grey--text caption">
            (+{{ val.length - 1 }} others)
          </span>
        </template></v-select
      >
    </div>
    <div class="delete__collect" @click="deleteElement">
      <img :src="Delete" alt="" srcset="" />
    </div>
  </div>
</template>

<script>
import Delete from '@/assets/svg/Delete.svg'
export default {
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} },
    dataChoices: { type: Array, default: () => [] },
    getAllSlotName: { type: Array, default: () => [] }
  },
  data() {
    return {
      validFieldVal: false,
      validFieldName: false,
      validFieldOp: false,
      condition: {
        name: '',
        op: '',
        val: '',
        type: ''
      },
      Delete,
      operatorsMock: [
        {
          text: 'Bằng',
          value: 'eq'
        },
        {
          text: 'Chứa',
          value: 'in'
        },
        {
          text: 'Tìm kiếm',
          value: 'search'
        },
        {
          text: 'Không chứa',
          value: 'not_in'
        },
        {
          text: 'Bắt đầu bằng',
          value: 'start_with'
        },
        {
          text: 'Kết thúc bằng',
          value: 'end_with'
        },
        {
          text: 'Dữ liệu trống',
          value: 'is_empty'
        },
        {
          text: 'Dữ liệu không trống',
          value: 'is_not_empty'
        },
        {
          text: 'Lớn hơn',
          value: 'gt'
        },
        {
          text: 'Nhỏ hơn',
          value: 'lt'
        },
        {
          text: 'Lớn hơn hoặc bằng',
          value: 'geq'
        },
        {
          text: 'Nhỏ hơn hoặc bằng',
          value: 'leq'
        }
      ],
      operators: [
        {
          text: 'Bằng',
          value: 'eq'
        },
        {
          text: 'Chứa',
          value: 'in'
        },
        {
          text: 'Tìm kiếm',
          value: 'search'
        },
        {
          text: 'Không chứa',
          value: 'not_in'
        },
        {
          text: 'Bắt đầu bằng',
          value: 'start_with'
        },
        {
          text: 'Kết thúc bằng',
          value: 'end_with'
        },
        {
          text: 'Dữ liệu trống',
          value: 'is_empty'
        },
        {
          text: 'Dữ liệu không trống',
          value: 'is_not_empty'
        },
        {
          text: 'Lớn hơn',
          value: 'gt'
        },
        {
          text: 'Nhỏ hơn',
          value: 'lt'
        },
        {
          text: 'Lớn hơn hoặc bằng',
          value: 'geq'
        },
        {
          text: 'Nhỏ hơn hoặc bằng',
          value: 'leq'
        }
      ]
    }
  },
  watch: {
    item(val) {
      this.condition = val.name
        ? val
        : {
            name: '',
            op: '',
            val: '',
            type: ''
          }
    }
  },
  created() {
    this.condition = this.item
      ? this.item
      : {
          name: '',
          op: '',
          val: '',
          type: ''
        }
    this.checkNameFilter()
  },
  methods: {
    checkNameFilter() {
      if (
        this.condition.name &&
        (this.condition.name === 'ten' || this.condition.name === 'mo_ta')
      ) {
        this.operators = this.operatorsMock
      } else {
        this.operators = this.operatorsMock.filter((r) => r.value !== 'search')
      }
    },
    deleteElement() {
      this.$emit('deleteCondition', this.index)
    },
    updateFilter() {
      this.checkNameFilter()
      if (this.condition.val) {
        this.condition.type = this.dataChoices.filter(
          (r) => r.code === this.condition.name
        )[0].type
      }
      if (this.condition.val) {
        this.validFieldVal = false
      } else {
        this.validFieldVal = true
      }
      if (this.condition.op) {
        this.validFieldOp = false
      } else {
        this.validFieldOp = true
      }
      if (this.condition.name) {
        this.validFieldName = false
      } else {
        this.validFieldName = true
      }
      if (
        this.condition.op === 'is_empty' ||
        this.condition.op === 'is_not_empty'
      ) {
        this.condition.val = null
      }
      if (
        (this.condition.val && this.condition.op && this.condition.name) ||
        ((this.condition.op === 'is_empty' ||
          this.condition.op === 'is_not_empty') &&
          this.condition.name)
      ) {
        this.$emit('updateFilter', this.condition, this.index)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.delete__collect {
  cursor: pointer;
}
</style>

<style lang="scss">
.error-valid {
  fieldset {
    border: 1px solid red !important;
  }
}
.collect__slot {
  .v-select__selections {
    height: 40px !important;
  }
}
</style>
