<template>
  <div class="d-flex align-center mb-3">
    <span class="element">{{ item.slot_name }}</span>
    <div style="width:70%">
      <v-text-field
        v-model="item.slot_value"
        height="32"
        dense=""
        outlined=""
        class="input__small"
        hide-details=""
        @keyup="debounceUpdateExperiment"
      ></v-text-field>
    </div>
  </div>
</template>
<script>
import { debounce } from 'lodash'

export default {
  props: {
    item: { type: Object, default: () => {} },
    index: { type: Number, default: -1 }
  },
  methods: {
    debounceUpdateExperiment: debounce(function() {
      this.updateExperiment()
    }, 500),
    updateExperiment() {
      this.$emit(
        'updateExperiment',
        {
          slot_value: this.item.slot_value,
          slot_name: this.item.slot_name
        },
        this.index
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.element {
  font-size: 14px;
  width: 30%;
  line-height: 22px;
  color: #262626;
}
</style>
