<template>
  <div>
    <v-card
      class="card__image__input"
      :class="{
        'card-autocomment-image': typeButton === 'autoComment'
      }"
      outlined
    >
      <div
        id="pick-avatar"
        class="image__input"
        @mouseover="moveOver"
        @mouseleave="moveLeave"
      >
        <div class="overlay">
          <Camera class="image__camera" />
        </div>
        <!-- <div v-if="displayImage" class="content__image">
          <Camera />
          <div class="action">
            <span class="drag"> Kéo hoặc tải ảnh lên</span>
            <span class="size"> Dung lượng tối đa 10 MB</span>
          </div>
        </div> -->
      </div>
      <!-- <client-only>
      <avatar-cropper
        trigger="#pick-avatar"
        :output-options="{ width: 250, height: 198 }"
        :labels="{ submit: 'Lưu', cancel: 'Hủy' }"
        upload-url="/files/upload"
        @uploading="handleUploading"
        @change="changeImage"
        @uploaded="handleUploaded"
        @completed="handleCompleted"
        @error="handlerError"
    /></client-only> -->
      <div class="decription">
        <v-select
          v-model="formImage.title"
          height="32"
          dense=""
          :class="{
            'error-valid': validFieldAction
          }"
          outlined=""
          class="input__small mb-1"
          hide-details=""
          :items="dataFieldNames"
          placeholder="Chọn trường dữ liệu tiêu đề hình ảnh"
          @change="submit"
        ></v-select>
        <MessageTextarea
          :command-message="formImage.subtitle"
          entity
          :required="requiredMessage"
          :action-index="actionIndex"
          type-menu="dbsearch"
          placeholder="Mô tả"
          class="mb-1"
          @change="updateTitleSlide"
          @onFocus="onFocusMessage"
        />
        <v-select
          v-model="formImage.imageUrl"
          height="32"
          dense=""
          outlined=""
          class="input__small"
          hide-details=""
          :items="dataFieldNames"
          placeholder="Chọn trường dữ liệu chứa link ảnh"
          @change="submit"
        ></v-select>
      </div>
      <ButtonDbSearch
        v-if="buttonForm.length <= 3"
        :buttons="buttonForm"
        name="Thêm nút bấm"
        :key-db-search="keyDbSearch"
        type-menu="dbsearch"
        type-button="missing_button"
        @change="handleChangeButtons"
      />
    </v-card>
    <div v-if="isLoadImage" class="overlay_image"></div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import ClickOutside from 'vue-click-outside'
import MessageTextarea from '~/components/actions/MessageTextarea'
import ButtonDbSearch from '~/components/actions/ButtonDbSearch'
import Camera from '~/components/Camera'

export default {
  components: {
    ButtonDbSearch,
    MessageTextarea,
    Camera
  },
  directives: {
    ClickOutside
  },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    command: {
      default: () => {
        return null
      }
    },
    indexImage: { type: Number, default: -1 },
    id: { type: String, default: '' },
    isNew: { type: Boolean, default: false },
    typeButton: { type: String, default: '' },
    keyDbSearch: { type: Number, default: 0 },
    actionIndex: { type: Number, default: -1 }
  },
  data() {
    return {
      buttonForm: [],
      focusTitle: false,
      validFieldAction: false,
      focusDescription: false,
      isFirstFocus: false,
      requiredMessage: false,
      required: false,
      displayImage: false,
      message: '',
      userAvatar: undefined,
      reactive: false,
      formImage: {
        key: null,
        imageUrl: null,
        title: '',
        subtitle: '',
        linkedUrl: ''
      }
    }
  },
  computed: {
    ...mapGetters(['isLoadImage', 'fieldStores']),
    dataFieldNames() {
      return this.fieldStores.map((r) => {
        return {
          text: r.name,
          value: `{{${r.code}}}`
        }
      })
    }
  },
  watch: {
    command() {
      this.parseData()
    }
  },
  created() {
    this.parseData()
    this.$on('resetData', () => {
      this.formImage = {
        imageUrl: null,
        title: '',
        subtitle: '',
        linkedUrl: ''
      }
      this.required = false
    })
    if (
      (!this.formImage ||
        !this.formImage.subtitle ||
        this.formImage.subtitle === '' ||
        (this.formImage &&
          this.formImage.subtitle &&
          this.formImage.subtitle.trim() === '')) &&
      !this.isNew
    ) {
      this.requiredMessage = true
    } else {
      this.requiredMessage = false
    }
  },
  methods: {
    updateTitleSlide(data) {
      this.formImage.subtitle = data
      this.submit()
    },
    updateAutoCommentName() {
      this.formImage.subtitle = this.$refs.describe__auto__comment.$refs.input.value
    },
    updateAutoCommentNameUrl() {
      this.formImage.linkedUrl = this.$refs.describe__auto__comment__url.$refs.input.value
    },
    onFocusMessage() {
      this.isFirstFocus = true
      this.requiredMessage = true
    },
    moveOver() {
      this.$emit('moveOver')
    },
    moveLeave() {
      this.$emit('moveLeave')
    },
    onKeyUp() {
      this.formImage.imageUrl = this.$refs.imageUrl.$refs.input.value
      this.$emit('updateIsNew', false)
    },
    onFocus() {
      this.$emit('isFocus', true)
    },
    parseData() {
      if (this.command) {
        this.formImage.key = this.command.key
        this.formImage.title = this.command.title
        this.formImage.subtitle = this.command.subtitle
        this.formImage.linkedUrl = this.command.linkedUrl
        this.formImage.imageUrl =
          this.command.imageUrl !== null ? this.command.imageUrl : null
        if (this.command.buttons && Array.isArray(this.command.buttons)) {
          this.buttonForm = this.command.buttons
        }
      }
    },
    onKeyDown(e) {
      if (this.formImage.title.length >= 80) {
        if (e.keyCode >= 48 && e.keyCode <= 90) {
          e.preventDefault()
          // eslint-disable-next-line no-useless-return
          return
        }
      }
    },
    onKeyDownMessage(e) {
      if (this.formImage.subtitle.length >= 80) {
        if (e.keyCode >= 48 && e.keyCode <= 90) {
          e.preventDefault()
          // eslint-disable-next-line no-useless-return
          return
        }
      }
    },
    changeImage(file, render) {},
    handleUploading(form, xhr) {
      this.message = 'uploading...'
    },
    handleUploaded(response) {
      this.userAvatar = response.relative_url
      // Maybe you need call vuex action to
      // update user avatar, for example:
      // this.$dispatch('updateUser', {avatar: response.url})
      this.message = 'user avatar updated.'
    },
    handleCompleted(response, form, xhr) {
      this.message = 'upload completed.'
    },
    handlerError(message, type, xhr) {
      this.message = 'Oops! Something went wrong...'
    },
    contentChanged(text) {
      this.formImage.title = this.this.formImage.title.concat(text)
    },
    contentChangedDescription(text) {
      this.formImage.subtitle = this.formImage.subtitle.concat(text)
    },
    submit() {
      if (!this.formImage.title) {
        this.validFieldAction = true
      } else {
        this.validFieldAction = false
      }
      if (
        !this.formImage ||
        !this.formImage.subtitle ||
        this.formImage.subtitle === '' ||
        (this.formImage &&
          this.formImage.subtitle &&
          this.formImage.subtitle.trim() === '')
      ) {
        this.requiredMessage = true
      } else {
        this.requiredMessage = false
      }
      this.$nextTick(() => {
        this.focusDescription = false
        this.focusTitle = false

        if (this.formImage.key) {
          this.$emit('submitCommand', {
            ...this.formImage,
            buttons: this.buttonForm
          })
        } else {
          this.$emit('submitCommand', {
            key: Date.now(),
            ...this.formImage,
            buttons: this.buttonForm
          })
        }
      })
    },
    chooseImage() {
      this.$refs.fileInput.click()
    },
    onSelectFile() {
      const input = this.$refs.fileInput
      const files = input.files
      if (files && files[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.imageUrl = e.target.result
        }
        reader.readAsDataURL(files[0])
        this.$emit('input', files[0])
      }
    },
    removeImage() {
      this.reactive = !this.reactive
      this.$emit('removeImage', this.indexImage)
    },
    handleChangeButtons(listButton) {
      this.$emit('submitCommand', {
        key: Date.now(),
        ...this.formImage,
        buttons: listButton
      })
      this.buttonForm = listButton
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay_image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.card__image__input {
  width: 322px;
}
.card-autocomment-image {
  width: 100% !important;
}
.file-input {
  display: none;
}
.action__title {
  width: 30px;
  .delete,
  .drag {
    cursor: pointer;
  }
}
.content__image__display {
  padding: 0 46px;
  position: relative;
}
.decription {
  padding: 4px 4px 12px 4px;
  border-top: 1px solid $grey-4;
  .icon__textarea {
    position: relative;
    .icon__emotion {
      position: absolute;
      right: 4px;
      top: 30px;
      .v-icon {
        font-size: 16px !important;
        color: #bfbfbf;
        cursor: pointer;
      }
    }
  }
}
.show__typing {
  padding-top: 20px;
  font-size: 12px;
  color: #ffbe07;
}
.image__input {
  height: 190px;
  position: relative;
  text-align: center;
  font-size: 12px;
  .overlay {
    width: 100%;
    height: 190px;
    background: #f5f5f5;
    position: absolute;
    z-index: 2;
    .image__camera {
      left: 44%;
      top: 40%;
      position: absolute;
    }
  }
  .content__image {
    padding-top: 64px;
    .action {
      display: grid;
      .drag {
        color: $grey-8;
      }
      .size {
        color: $grey-6;
      }
    }
  }
  .overlay {
    display: block;
  }
  .image__camera {
    display: block;
    z-index: 4;
  }
}
.add__button {
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 6px;
}

.placeholder:hover {
  background: #e0e0e0;
}
</style>
<style lang="scss">
.carousel__input {
  .v-input__control {
    font-size: 14px;
  }
  .v-text-field__details {
    display: none;
  }
}
</style>
