<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="message" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Message Template</span>
      <v-spacer />
      <div v-if="action.id" class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="mt-2">
      <div class="mx-4 my-2 d-flex align-center">
        <div>Max repeat</div>
        <div class="ml-4 d-flex align-center">
          <v-text-field
            v-model="tmpAction.command.max_repeat"
            type="number"
            min="0"
            @keyup="changeMaxRepeat"
            @change="changeMaxRepeat"
            @click:append="changeMaxRepeat"
            @click:prepend="changeMaxRepeat"
          ></v-text-field>
        </div>
      </div>
      <div
        v-for="(item, index) in tmpAction.command.value"
        :key="`action_${action.id ? action.id : -1}_command_${index}`"
        class="mx-4 my-2 d-flex align-center"
      >
        <v-textarea
          v-model="tmpAction.command.value[index]"
          outlined=""
          dense
          hide-details
          class="input__message"
          @blur="saveCommand"
          @keypress="onKeypress"
        />
        <div class="ml-4 d-flex align-center">
          <IconButton
            icon="mdi-delete"
            tooltips="Delete message"
            color-hover="red"
            :use-svg="true"
            name-svg="Close"
            @click="deleteCommand(index)"
          />
        </div>
      </div>
    </div>
    <!-- show new or tmpAction -->
    <div
      v-if="!isCollage && (!action.id || showNew)"
      class="mx-4 my-2 d-flex align-center"
    >
      <v-textarea
        v-model="tmpCommand"
        class="input__message"
        dense
        outlined=""
        hide-details
        @blur="addCommand"
        @keypress="onKeypressAdd"
      />
      <div class="ml-4 d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete message"
          color-hover="red"
          :use-svg="true"
          name-svg="Close"
          @click="cancel"
        />
      </div>
    </div>
    <div v-if="!isCollage" class="d-flex message__random">
      <IconButton
        :icon="showNew ? 'mdi-minus-circle-outline' : 'mdi-plus-circle-outline'"
        tooltips="Add value"
        color="#047bf8"
        color-hover="#047bf8"
        @click="toggleShowNew"
      />
      <span class="ml-2" @click="toggleShowNew">Add random field</span>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingMessage"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
    <!--  -->
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import message from '~/assets/actions/message.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    action: { type: Object, default: () => {} },
    command: { type: Object, default: () => {} }
  },
  computed: {
    ...mapGetters(['loadingMessage'])
  },
  data() {
    return {
      message,
      showNew: false,
      editingIndex: -1,
      isCollage: false,
      openDeleteIntent: false,
      tmpAction: undefined,
      tmpCommand: ''
    }
  },
  created() {
    this.tmpAction = this.command
  },
  methods: {
    changeMaxRepeat() {
      if (this.tmpAction.max_repeat < 0) {
        this.tmpAction.max_repeat = 0
      }
      this.saveCommand()
    },
    toggleShowNew() {
      this.showNew = !this.showNew
      if (this.showNew) {
        this.tmpCommand = ''
      }
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    onKeypress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        this.saveCommand()
      }
    },
    saveCommand() {
      this.$emit('submitCommand', this.tmpAction)
    },
    cancel() {
      this.showNew = false
    },
    onKeypressAdd(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        this.addCommand()
      }
    },
    deleteCommand(index) {
      this.tmpAction.command.value.splice(index, 1)
      this.$emit('submitCommand', this.tmpAction)
    },
    addCommand() {
      this.tmpAction.command.value.push(this.tmpCommand)
      this.showNew = false
      this.$emit('submitCommand', this.tmpAction)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_MESSAGE', true)
      this.$emit('delete', this.id)
    }
  }
}
</script>

.<style lang="scss" scoped>
.message {
  background: #f5f5f5;
}
</style>
<style lang="scss">
.input__message {
  background: #fff;
}
.message__random {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #1890ff;
  margin: 12px 12px;
}
</style>
