<template>
  <div class="d-flex" style="width:auto;position:relative;">
    <v-card
      outlined
      class="card__document mr-4"
      :class="{
        'library-popup': typeChild === 'library'
      }"
    >
      <div class="pa-1">
        <MessageTextarea
          :ref="
            typeMissing === 'db_missing'
              ? `messageTextarea_db_missing${actionIndex}`
              : `messageTextarea${actionIndex}`
          "
          :command-message="dataQuickReplies.title"
          type="autocomment"
          type-child="button_info"
          :type-menu="typeMenu"
          :entity="entity"
          :required="required"
          :action-index="actionIndex"
          :height-tab="heightTab"
          :type-missing="typeMissing"
          emoji
          class="mb-1"
          placeholder=""
          @change="handSubmitMessage"
        />
      </div>
      <v-divider v-if="typeQuick !== 'have_button'" class="mb-2"></v-divider>
      <div v-if="typeQuick !== 'have_button'">
        <div class="px-2 pb-2">
          <label for="" class="label__element">Nút trả lời nhanh</label>
          <v-select
            v-model="dataQuickReplies.buttons[0].title"
            :items="fieldStoreObject"
            dense
            :class="{
              'error-valid': validFieldAction
            }"
            height="32"
            class="input__small"
            outlined
            hide-details
            placeholder="Chọn trường dữ liệu"
            @change="handSubmit"
          ></v-select>
        </div>
        <div class="px-2">
          <label for="" class="label__element"
            >Hành động sau khi khách trả lời (không bắt buộc)</label
          >
          <v-select
            v-model="dataQuickReplies.redirect_skill"
            :items="skillsCustom"
            item-text="nameSkill"
            item-value="id"
            height="32"
            class="input__small mb-2"
            dense
            outlined
            hide-details
            placeholder="Chọn Block"
            @change="handSubmit"
          ></v-select>
        </div>
        <div v-if="typeQuick !== 'have_button'">
          <div class="px-2">
            <label for="" class="label__element"
              >Gán giá trị trả lời nhanh vào biến (không bắt buộc)</label
            >
            <v-select
              v-model="dataQuickReplies.buttons[0].payload"
              :items="getAllSlotName"
              dense
              class="type__replies"
              placeholder="Dữ liệu từ kho"
              outlined
              hide-details
              @change="handSubmit"
            ></v-select>
          </div>
        </div>
      </div>
      <ButtonDbSearch
        v-if="!hideButton"
        :ref="`button__db__search__quick${actionIndex}`"
        :key-db-search="keyDbSearch"
        :buttons="buttonForm"
        :hide-button="hideButton"
        :type-quick="typeQuick"
        type-menu="dbsearch"
        type-button="quick_replies"
        name="Thêm nút bấm"
        @change="handleChangeButtons"
      />
    </v-card>
  </div>
</template>

<script>
// import ButtonInfo from '~/components/actions/ButtonInfo'
// import ShowStatusTyping from '~/components/actions/ShowStatusTyping'
import { mapGetters } from 'vuex'
import ClickOutside from 'vue-click-outside'
import Drag from '~/assets/svg/Drag.svg'
import Delete from '~/assets/svg/Delete.svg'
import DeleteCircle from '~/assets/svg/DeleteCircle.svg'
import ButtonDbSearch from '~/components/actions/ButtonDbSearch'
import MessageTextarea from '~/components/actions/MessageTextarea'

export default {
  // do not forget this section
  directives: {
    ClickOutside
  },
  components: {
    MessageTextarea,
    ButtonDbSearch
  },

  props: {
    // eslint-disable-next-line vue/require-default-prop
    // eslint-disable-next-line vue/require-prop-types
    command: {
      default: () => {
        return null
      }
    },
    dataButton: { type: Array, default: () => [] },
    typeButton: { type: String, default: '' },
    typeChild: { type: String, default: '' },
    typeCustomer: { type: String, default: '' },
    typeQuick: { type: String, default: '' },
    typeMissing: { type: String, default: '' },
    entity: { type: Boolean, default: false },
    id: { type: String, default: '' },
    keyDbSearch: { type: Number, default: 0 },
    actionIndex: { type: Number, default: 0 },
    heightTab: { type: Number, default: 0 },
    typeMenu: { type: String, default: '' },
    hideButton: { type: Boolean, default: false }
  },
  data() {
    return {
      validFieldAction: false,
      buttonForm: [],
      Drag,
      show: false,
      DeleteCircle,
      tab: null,
      text: '',
      valueMenu: false,
      active: false,
      Delete,
      valueAnwser: '',
      required: false,
      reactive: false,
      editting: false,
      dataNewAction: {
        title: this.valueAnwser,
        buttons: [],
        data_from: null
      },
      dataQuickReplies: {
        title: '',
        buttons: [
          {
            title: null,
            type: 'postback',
            payload: null
          }
        ],
        redirect_skill: null
      }
    }
  },
  computed: {
    ...mapGetters(['fieldStores', 'skills', 'currentSlots', 'scenariosId']),
    fieldStoreObject() {
      return this.fieldStores.map((r) => {
        return {
          text: r.name,
          value: `{{${r.code}}}`
        }
      })
    },
    skillsCustom() {
      return this.skills.map((r) => {
        return {
          ...r,
          nameSkill: r.name + ' ở kịch bản ' + r.scenario
        }
      })
    },
    getAllSlotName() {
      return ['context.memory.dbsearch.item']
    }
  },
  watch: {
    command(val) {
      if (val) {
        this.parseData()
      }
    }
  },
  mounted() {
    // prevent click outside event with popupItem.
    this.popupItem = this.$el
    if (!this.command) {
      setTimeout(() => {
        if (this.typeMissing === 'db_missing') {
          if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`] &&
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`].length
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ][0].focusInput()
          } else if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`]
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ].focusInput()
          } else if (
            this.$refs[`messageTextarea${this.actionIndex}`] &&
            this.$refs[`messageTextarea${this.actionIndex}`].length
          ) {
            this.$refs[`messageTextarea${this.actionIndex}`][0].focusInput()
          } else {
            this.$refs[`messageTextarea${this.actionIndex}`].focusInput()
          }
        } else {
          // eslint-disable-next-line no-lonely-if
          if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`] &&
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`].length
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ][0].focusInput()
          } else if (
            this.$refs[`messageTextarea_db_missing${this.actionIndex}`]
          ) {
            this.$refs[
              `messageTextarea_db_missing${this.actionIndex}`
            ].focusInput()
          } else if (
            this.$refs[`messageTextarea${this.actionIndex}`] &&
            this.$refs[`messageTextarea${this.actionIndex}`].length
          ) {
            this.$refs[`messageTextarea${this.actionIndex}`][0].focusInput()
          } else {
            this.$refs[`messageTextarea${this.actionIndex}`].focusInput()
          }
        }
      }, 300)
    }
  },
  created() {
    if (this.command) {
      this.parseData()
    }
  },
  methods: {
    handleChangeButtons(data) {
      this.dataNewAction.buttons = this.buttonForm
      this.handSubmit()
    },
    updateActive() {
      this.active = true
    },
    onFocus() {
      this.$emit('onFocus')
    },
    parseData() {
      this.dataQuickReplies = this.command
      if (
        this.dataQuickReplies.buttons[0] &&
        this.dataQuickReplies.buttons[0].title
      ) {
        this.validFieldAction = false
      } else {
        this.validFieldAction = true
        if (!this.hideButton) {
          this.$nextTick(() => {
            this.$refs[
              `button__db__search__quick${this.actionIndex}`
            ].activeFirst()
          })
        }
      }
      if (!this.dataQuickReplies.title) {
        this.required = true
      } else {
        this.required = false
      }
      this.buttonForm =
        this.dataQuickReplies.buttons && this.dataQuickReplies.buttons.length
          ? this.dataQuickReplies.buttons
          : []
    },
    handSubmitMessage(data) {
      this.dataQuickReplies.title = data && data.trim() ? data.trim() : data
      if (!this.dataQuickReplies.title) {
        this.required = true
      } else {
        this.required = false
      }
      this.handSubmit()
    },
    handSubmit() {
      if (
        this.dataQuickReplies.buttons[0] &&
        this.dataQuickReplies.buttons[0].title
      ) {
        this.validFieldAction = false
      } else {
        this.validFieldAction = true
        if (!this.hideButton) {
          this.$nextTick(() => {
            this.$refs[
              `button__db__search__quick${this.actionIndex}`
            ].activeFirst()
          })
        }
      }
      if (!this.dataQuickReplies.title) {
        this.required = true
      } else {
        this.required = false
      }
      if (this.typeQuick === 'have_button') {
        this.$emit(
          'submitCommand',
          {
            title: this.dataQuickReplies.title,
            buttons:
              this.buttonForm && this.buttonForm.length ? this.buttonForm : [],
            data_from: null
          },
          this.id
        )
      } else {
        this.$emit('submitCommand', this.dataQuickReplies, this.id)
        if (this.dataQuickReplies.buttons[0].payload) {
          this.$store.commit('UPDATE_SLOT_NAME_SKILL', {
            id: this.actionIndex,
            slotname: {
              type: 'quick_replies',
              data: this.dataQuickReplies.buttons[0].payload
            }
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.library-popup {
  margin-right: 0px !important;
  width: 100% !important;
}
.customer_replies {
  color: #595959;
  font-size: 14px;
  white-space: nowrap;
}
.card-autocomment {
  width: 100% !important;
  margin-right: 0px !important;
}
.card__document {
  width: 322px;
  position: relative;
  .delete__item {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: scale(0);
    cursor: pointer;
  }
  &:hover {
    .delete__item {
      transform: scale(1);
      transition-duration: 0.3s;
    }
  }
}
.menu__button__action {
  left: 820px;
}
.button__quick__reply {
  border: 1px dashed #d9d9d9 !important;
  color: #595959;
  margin-left: 0px;
  font-size: 14px;
}
.button__action {
  .button__ {
    top: 40px;
  }
}
.action__btn {
  width: 30px;
  .delete,
  .drag {
    display: none;
    cursor: pointer;
  }
}
.add__quick_reply {
  margin-bottom: 30px;
}
.action-wrap {
  align-items: center;
  &:hover {
    .delete,
    .drag {
      display: block;
    }
  }
}
.label__element {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.add__button {
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 6px;
  margin-bottom: 6px;
}
.add-btn {
  border-top: 1px solid $grey-4;
  font-size: 12px !important;
  line-height: 32px !important;
  color: $grey-6 !important;

  p {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}
</style>
<style lang="scss">
.type__replies {
  fieldset {
    height: 32px !important;
  }
  .v-input__append-inner {
    margin-top: 0px !important;
  }
  .v-select__slot {
    height: 24px;
  }
  .v-input__slot {
    font-size: 14px !important;
  }
  .v-select__selections {
    padding: 0px !important;
  }
}
.video__input {
  .v-input__control {
    input {
      font-size: 14px;
    }
  }
}
.tab__quick__reply {
  a {
    margin-left: -16px !important;
    margin-right: 20px !important;
  }
  .v-tab--active {
    color: #ffbe07 !important;
    svg {
      path {
        fill: #ffbe07;
      }
    }
  }
}
.sub__1__video__2 {
  white-space: nowrap;
  input {
    font-size: 14px;
  }
  .v-input__slot {
    min-height: 32px !important;
    .v-input__append-inner {
      margin-top: 4px !important;
    }
  }
}
</style>
