<template>
  <div class="d-flex align-center justify-space-between my-2">
    <!-- <div class="delete__collect" @click="deleteElement">
      <img :src="Delete" alt="" srcset="" />
    </div> -->
    <ResultTrigger
      :condition="predicate"
      :action-group-id="actionGroupId"
      :skillid="skillid"
      @updateCondition="updateCondition"
      @delete="deleteElement"
      @clearCondition="clearCondition"
      @createActionGroup="createActionGroup"
    />
  </div>
</template>

<script>
import ResultTrigger from '~/components/dbsearch/ResultTrigger.vue'
// import Delete from '@/assets/svg/Delete.svg'
export default {
  components: {
    ResultTrigger
  },
  props: {
    skillid: { type: String, default: undefined },
    actionGroupId: { type: String, default: undefined },
    predicate: { type: Object, default: undefined }
  },
  data() {
    return {
      validFieldVal: false,
      validFieldName: false,
      validFieldOp: false,
      condition: {
        name: '',
        op: '',
        val: '',
        type: ''
      }
      // Delete,
    }
  },
  watch: {},
  created() {
    console.log(this.actionGroupId)
  },
  methods: {
    deleteElement(value) {
      this.$emit('deleteElement', value)
    },
    updateCondition(value) {
      console.log('update condition' + value)
      this.$emit('updateCondition', value)
    },
    clearCondition(value) {
      this.$emit('clearCondition', value)
    },
    createActionGroup(value) {
      this.$emit('createActionGroup', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.delete__collect {
  cursor: pointer;
}
</style>

<style lang="scss">
.error-valid {
  fieldset {
    border: 1px solid red !important;
  }
}
.collect__slot {
  .v-select__selections {
    height: 40px !important;
  }
}
</style>
