<template>
  <div class="d-flex align-center mb-2">
    <div class="condition pa-2 mr-4 d-flex align-end">
      <v-select
        v-model="tmpCondition.content.operation"
        :items="operationDataAppend"
        placeholder="operation"
        dense
        hide-details
        style="max-width: 150px;"
        class="mx-2"
        :disabled="!editing"
      />
      <v-combobox
        ref="conditionValue"
        v-model="tmpCondition.content.value"
        item-text="text"
        item-value="value"
        clearable
        hide-selected
        placeholder="value"
        chips
        dense
        hide-details
        autocomplete="off"
        width="250"
        v-bind="operationValueBinding"
        :disabled="!editing"
      ></v-combobox>
    </div>
    <!-- <v-spacer /> -->
    <div v-if="editing" class="d-flex align-end">
      <v-btn
        small
        depressed
        color="#FFBE07"
        class="mx-2"
        :disabled="
          tmpCondition.content.operation === '' ||
            tmpCondition.content.value == null ||
            tmpCondition.content.value === '' ||
            tmpCondition.content.value.length === 0
        "
        @click="saveCondition"
      >
        Save
      </v-btn>
      <v-btn depressed small color="error" @click="cancel">
        Cancel
      </v-btn>
      <v-btn v-if="condition" depressed small color="clear" @click="clear">
        Clear
      </v-btn>
    </div>
    <div v-else class="d-flex align-end">
      <div class="mr-3">
        <IconButton
          icon="mdi-lead-pencil"
          tooltips="Edit this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="EditCustomer"
          @click="editing = true"
        />
      </div>
      <IconButton
        icon="mdi-delete"
        tooltips="Delete this condition"
        color-hover="red"
        :use-svg="true"
        name-svg="Delete"
        @click="deleteCondition"
      />
      <IconButton
        icon="mdi-manage"
        tooltips="Manage Action"
        color-hover="red"
        :use-svg="true"
        name-svg="FilterHelper"
        @click="manageAction"
      />
    </div>
    <ActionDialogDbSearch
      :show="showActionDialog"
      :skillid="skillid"
      :group-type="'requirement'"
      :groupid="actionGroupId"
      @close="closeActionDialog"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as _ from 'lodash'
import IconButton from '~/components/IconButton.vue'
import ActionDialogDbSearch from '~/components/dbsearch/ActionDialogDbSearch.vue'
// import { convertTexttoVietNamese } from '@/utils/constanst.js'

const DEFAULT_CONDITION = {
  type: 'memory',
  child: null,
  content: {
    id: '',
    operation: '',
    value: ''
  }
}

export default {
  name: 'ResultTrigger',
  components: {
    IconButton,
    ActionDialogDbSearch
  },
  props: {
    skillid: { type: String, default: undefined },
    actionGroupId: { type: String, default: undefined },
    condition: { type: Object, default: undefined }
  },
  data() {
    return {
      operationDataAppend: [],
      contentIDOptsPrivate: [],
      search: '',
      contentIDOptsDefault: [],
      operationData: ['gt', 'lt', 'eq', 'in_range'],
      showNew: false,
      editing: false,
      tmpCondition: _.cloneDeep(DEFAULT_CONDITION),
      operationValueBinding: { multiple: false },
      showActionDialog: false
    }
  },
  computed: {
    ...mapGetters(['currentBot']),
    currentOperation() {
      return this.tmpCondition.content.operation
    }
  },
  watch: {
    currentOperation(operator) {
      if (operator === 'in') {
        this.operationValueBinding = { multiple: true }
        if (this.tmpCondition.content.value) {
          this.tmpCondition.content.value = [...this.tmpCondition.content.value]
        }
      } else {
        this.operationValueBinding = { multiple: false }
        if (this.tmpCondition.content.value.length) {
          this.tmpCondition.content.value = this.tmpCondition.content.value[0]
        }
      }
    }
  },
  created() {
    this.operationDataAppend = this.operationData
    if (this.condition) {
      // condition should contains
      this.tmpCondition = _.cloneDeep(this.condition)
    } else {
      this.tmpCondition = _.cloneDeep(DEFAULT_CONDITION)
    }
  },
  mounted() {},
  methods: {
    filterValueSet() {
      this.contentIDOptsPrivate = JSON.parse(
        JSON.stringify(
          this.contentIDOptsDefault.filter((r) => r.text.includes(this.search))
        )
      )
    },
    cancel() {
      if (this.condition) {
        this.tmpCondition = _.cloneDeep(this.condition)
      } else {
        this.tmpCondition = _.cloneDeep(DEFAULT_CONDITION)
      }
      this.editing = false
    },
    clear() {
      this.$emit('clearCondition', {
        actionGroupId: this.actionGroupId
      })
    },
    saveCondition(opts) {
      // check condition is valid or not
      // opts is {index, condition}
      const data = _.cloneDeep(this.tmpCondition)
      if (this.actionGroupId) {
        this.$emit('updateCondition', {
          actionGroupId: this.actionGroupId,
          condition: data
        })
      } else {
        this.$emit('createActionGroup', {
          condition: data
        })
      }
      this.editing = false
    },
    deleteCondition(itemIndex) {
      this.$emit('delete', this.actionGroupId)
    },
    manageAction() {
      if (!this.actionGroupId) {
        this.$emit('createActionGroup', {
          condition: null
        })
        return
      }
      this.showActionDialog = true
    },
    closeActionDialog() {
      this.showActionDialog = false
    }
  }
}
</script>

<style lang="postcss" scoped>
.is-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  pointer-events: none;
}
.button__add__trigger {
  border: 1px dashed #8c8c8c;
}
.is-items {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;

  /* Grey / grey-8 */

  color: #595959;
}
.condition {
  background: #eef0f7;
}

.condition-group {
  border: 1px solid #cccfd6;
}

.condition-type {
  cursor: pointer;
}
</style>
