<template>
  <v-card tile>
    <v-card-title class="pa-0">
      <v-toolbar flat color="white">
        <v-toolbar-title>
          <div class="d-flex">
            Config Skill $
            <div class="font-weight-medium">
              {{ `${editedItem.name}` }}
            </div>
          </div>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="closeConfig">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
    </v-card-title>
    <v-divider />
    <v-tabs v-model="tab" color="#FFBE07">
      <v-tab href="#tab-0">
        <div class="px-8">Trigger</div>
      </v-tab>
      <v-tab href="#tab-1">
        <div class="px-8">
          Requirements
        </div>
      </v-tab>
      <v-tab href="#tab-2">
        <div class="px-8">Actions</div>
      </v-tab>
    </v-tabs>
    <v-divider></v-divider>
    <v-tabs-items v-model="tab">
      <v-tab-item value="tab-0" class="pa-8">
        <div class="d-flex flex-column flex-grow-1">
          <div class="title font-weight-bold">Trigger</div>
          <p>This node will be triggered only if:</p>
          <Trigger
            :condition="
              editedItem &&
              editedItem.trigger &&
              Object.keys(editedItem.trigger).length > 0
                ? editedItem.trigger
                : undefined
            "
            :level="1"
            @update="updateTrigger"
            @delete="deleteTrigger"
          />
        </div>
      </v-tab-item>
      <v-tab-item value="tab-1" class="pa-8">
        <div class="d-flex flex-column flex-grow-1">
          <div class="title font-weight-bold">Requirements</div>
          <p>This skill will ask for this additional information</p>
          <Requirement
            :requirements="
              editedItem.requirements ? editedItem.requirements : undefined
            "
            :level="1"
            :skillid="editedItem.id"
            :skillname="editedItem.name"
            @update="updateRequirements"
          />
        </div>
      </v-tab-item>
      <v-tab-item value="tab-2" class="pa-8">
        <div class="d-flex flex-column flex-grow-1">
          <div class="title font-weight-bold">Actions</div>
          <p>When all requirements are met, the agent responses</p>
          <Skeleton :loading="loadingSkillAction" />

          <div v-if="!loadingSkillAction">
            <draggable
              tag="div"
              :list="actionGroups"
              class="mb-6"
              handle=".drag-btn"
              @change="handleChangePosition"
            >
              <div
                v-for="item in actionGroups"
                :key="`action-group-${item.id}`"
              >
                <div class="d-flex">
                  <div class="action_btns pl-2 pr-2">
                    <div class="drag-btn">
                      <img
                        src="~/assets/svg/Drag.svg"
                        title="Drag"
                        class="pb-2 drag"
                      />
                    </div>
                    <span class="hack-width">&nbsp;</span>
                  </div>
                  <ActionGroup
                    :skillid="editedItem.id"
                    :groupid="item.id"
                    :predicate="item.predicate"
                    :loading="loading"
                    group-type="skill"
                    @update="updateActionGroup"
                    @delete="deleteActionGroup"
                  />
                </div>
              </div>
            </draggable>
          </div>
          <v-btn outlined color="#FFBE07" class="mt-2" @click="newActionGroup">
            <v-icon left>mdi-plus-circle-outline</v-icon>
            Add Action Group
          </v-btn>
        </div>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>
