<template>
  <div :class="['test-chat d-flex', show && 'open', expand && 'expand']">
    <div class="chat d-flex flex-column flex-grow-1">
      <div class="pa-1 d-flex align-center justify-space-between">
        <v-btn icon fab small @click.stop="toggleTestChat">
          <v-icon>mdi-arrow-collapse-horizontal</v-icon>
        </v-btn>
        <span class="subtitle-1">Test your bot</span>
        <v-spacer />
        <v-btn outlined small color="primary" @click.stop="clearHistory">
          <v-icon>mdi-cached</v-icon>
          Clear
        </v-btn>
        <v-btn icon @click="toggle">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div
        v-if="dataTest && dataTest.length"
        class="results pa-1 d-flex flex-column flex-grow-1"
      >
        <div
          v-for="(result, index) in dataTest"
          :key="`result_${index}`"
          class="d-flex flex-column mb-4"
        >
          <div class="d-flex justify-end mb-4">
            <p
              class="mb-0"
              style="max-width: 260px;background: #4080FF; color: white; border-radius: 8px 0 8px 8px; padding: 12px 16px"
            >
              {{ result.request }}
            </p>
          </div>
          <div
            v-for="(botmsg, index2) in result.data"
            :key="`result_${index}_${index2}`"
            class="bot d-flex justify-start mb-1"
          >
            <p
              class="mb-0"
              style="word-break: break-all;max-width: 260px; background: white; color: #1a2948; border-radius: 0 8px 8px; padding: 12px 16px"
            >
              <template v-if="botmsg.type === 'text'">
                {{ botmsg.value }}
              </template>
              <template v-if="botmsg.type === 'quick_replies'">
                {{ botmsg.value.title }}
                <div
                  v-if="botmsg.value.buttons && botmsg.value.buttons.length"
                  class="d-flex flex-column"
                >
                  <v-btn
                    v-for="(item, indexMess) in botmsg.value.buttons"
                    :key="'mess' + indexMess"
                    color="primary"
                    class="mb-2"
                    small
                    @click="sendText(item)"
                    >{{ item.title }}</v-btn
                  >
                </div>
              </template>
              <template v-if="botmsg.type === 'buttons'">
                {{ botmsg.value.title }}
                <div
                  v-if="botmsg.value.buttons && botmsg.value.buttons.length"
                  class="d-flex flex-column"
                >
                  <v-btn
                    v-for="(item, indexButtons) in botmsg.value.buttons"
                    :key="'buttons' + indexButtons"
                    color="primary"
                    class="mb-2"
                    small
                    @click="sendText(item.payload)"
                    >{{ item.title }}</v-btn
                  >
                </div>
              </template>
              <template v-if="botmsg.type === 'picture'">
                <a
                  v-for="(item, indexPicture) in botmsg.value"
                  :key="indexPicture"
                  :href="botmsg.value"
                  target="_blank"
                  >{{ item }}</a
                >
              </template>
              <template v-if="botmsg.type === 'video'">
                <a
                  v-for="(item, indexVideo) in botmsg.value"
                  :key="indexVideo"
                  :href="botmsg.value"
                  target="_blank"
                  >{{ item }}</a
                >
              </template>
              <template
                v-if="botmsg.type === 'carousel'"
                class="d-flex flex-column"
              >
                <v-card
                  v-for="(item, i) in botmsg.value"
                  :key="'item' + i"
                  class="mx-auto"
                  width="400"
                >
                  <v-img
                    class="white--text align-end"
                    height="200px"
                    :src="item.imageUrl"
                  >
                  </v-img>
                  <v-card-title>{{ item.title }}</v-card-title>
                  <v-card-subtitle class="pb-0">{{
                    item.subtitle
                  }}</v-card-subtitle>

                  <v-card-text class="text--primary">
                    <div
                      v-if="item.buttons && item.buttons.length"
                      class="d-flex flex-column"
                    >
                      <v-btn
                        v-for="(button, indexButton) in item.buttons"
                        :key="'carousel' + indexButton"
                        color="primary"
                        class="mb-2"
                        small
                        @click="sendText(button.payload)"
                        >{{ button.title }}</v-btn
                      >
                    </div>
                  </v-card-text>
                </v-card>
              </template>
            </p>
            <v-btn
              class="mx-2"
              fab
              dark
              x-small
              color="info"
              @click="seeLog(index)"
            >
              <v-icon>mdi-information-outline</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <div class="input pa-6">
        <v-text-field
          ref="msg"
          v-model="msg"
          placeholder="Enter something to test your agent ..."
          append-outer-icon="mdi-send"
          autofocus
          filled
          dense
          outlined
          hide-details
          autocomplete="off"
          @keyup.native.enter="doInfer"
          @click:append-outer="doInfer"
        />
      </div>
    </div>
    <div class="debug border-left pa-1">
      <no-ssr>
        <vue-json-pretty
          v-if="dataTest.length"
          :data="dataTest[idLog].context"
          :deep="3"
          show-double-quotes
          show-line
          collapsed-on-click-brackets
        />
      </no-ssr>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TestChat',
  components: {
    VueJsonPretty: () => (process.client ? import('vue-json-pretty') : null)
  },
  props: {
    show: { type: Boolean, default: false }
  },
  data() {
    return {
      msg: '',
      results: [],
      showDialog: false,
      valueSample: {},
      utterance: '',
      idLog: 0,
      dataTest: [],
      expand: false
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'dataTestFail', 'customerId'])
  },
  watch: {
    show(newValue) {
      if (newValue) {
        setTimeout(() => {
          this.focusInput()
        }, 300)
      }
    },
    dataTestFail(val) {
      this.dataTest = JSON.parse(JSON.stringify(val))
    }
  },
  created() {
    this.dataTest = JSON.parse(JSON.stringify(this.dataTestFail))
  },
  methods: {
    toggleTestChat() {
      this.expand = !this.expand
    },
    sendText(item) {
      let name = ''

      name = item.payload ? item.payload : item.title
      if (!name) {
        name = item
      }
      this.msg = name
      this.doInfer()
    },
    seeLog(index) {
      this.idLog = index
    },
    addSample(value) {
      this.result.push({
        request: value
      })
    },
    toggle() {
      this.$store.dispatch('turnoffTestCase')
    },
    clearHistory() {
      this.dataTest = []
      this.msg = ''
      this.focusInput()
    },
    doInfer() {
      this.$store
        .dispatch('bots/testChatCase', {
          botID: this.currentBot.id,
          utterance: this.msg,
          customerId: this.customerId
        })
        .then((result) => {
          this.dataTest.push({
            request: result.utterance,
            data: result.data,
            context: result.context
          })

          setTimeout(() => {
            this.focusInput()
            this.idLog = this.dataTest.length - 1
          }, 300)
        })
        .catch(() => {
          setTimeout(() => this.focusInput(), 300)
        })
      this.msg = ''
    },
    focusInput() {
      this.$refs.msg.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.test-chat {
  position: fixed;
  bottom: 0px;
  top: 92px;
  bottom: 50px;
  right: -850px;
  width: 850px;
  border: 1px solid #b3b8c2;
  transition: transform 200ms ease-out;
  background-color: #eef0f7;
  z-index: 4;
  &.open {
    transform: translateX(-850px);
  }
  &.expand {
    transform: translateX(-50px);
  }

  & > .chat {
    position: 'relative';
    flex: 1;
    height: 100%;
  }

  & > .debug {
    position: 'relative';
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
  }
}
.results {
  background-color: rgb(242, 245, 252);
  position: relative;
  overflow-y: auto;
  flex: 1;
}
.input {
  background-color: white;
}
</style>
