<template>
  <svg
    width="12"
    height="12"
    viewBox="0 0 12 12"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="6" cy="6" r="6" />
  </svg>
</template>
<script>
export default {
  props: {
    fill: { type: String, default: '' }
  }
}
</script>
