<template>
  <div class="d-flex justify-space-between align-center ma-4 mb-0">
    <div style="width:45%">
      <div class="title_redirect mb-1">Choose field</div>
      <v-select
        v-model="data.dataSetKey"
        :items="operation"
        outlined=""
        height="40"
        hide-details=""
        dense=""
        class="input__message"
        @change="saveCondition"
      ></v-select>
    </div>
    <div style="width:45%">
      <div class="title_redirect mb-1">Choose memory</div>
      <v-select
        v-model="data.dataValue"
        outlined=""
        dense=""
        hide-details=""
        class="input__message"
        height="40"
        :items="contentIDOpts"
        @change="saveCondition"
      ></v-select>
    </div>
    <div class="d-flex justify-center align-center" style="width:8%">
      <IconButton
        icon="mdi-delete"
        tooltips="Delete item"
        color-hover="red"
        :use-svg="true"
        name-svg="Close"
        @click="removeConditionChild(index)"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IconButton from '~/components/IconButton.vue'

export default {
  name: 'AddField',
  components: {
    IconButton
  },
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} },
    type: { type: String, default: '' }
  },
  computed: {
    ...mapGetters(['skills']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(item)
      })
      return opts
    }
  },
  data() {
    return {
      dialog: false,
      editingIndex: 0,
      data: {
        dataSetKey: [],
        dataValue: []
      },
      operation: [
        {
          text: 'Tên khách hàng',
          value: 'name'
        },
        {
          text: 'UID',
          value: 'uid'
        },
        {
          text: 'Giới tính',
          value: 'gender'
        },
        {
          text: 'Ngày sinh',
          value: 'date_of_birth'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Số điện thoại',
          value: 'phone_number'
        },
        {
          text: 'Địa chỉ',
          value: 'address'
        },
        {
          text: 'Tình/Thành phố',
          value: 'location'
        },
        {
          text: 'Công việc',
          value: 'job_title'
        },
        {
          text: 'Tình trạng mối quan hệ',
          value: 'relationship'
        },
        {
          text: 'Đặc điểm nhận dạng',
          value: 'characteristics'
        },
        {
          text: 'Lần cuối nhắn tin',
          value: 'latest_conversation_time'
        },
        {
          text: 'Nguồn',
          value: 'source_ids'
        },
        {
          text: 'Fanpage',
          value: 'fanpage'
        },
        {
          text: 'Thẻ tag',
          value: 'tags'
        },
        {
          text: 'Nhóm',
          value: 'user_type'
        },
        {
          text: '',
          value: 'edit'
        }
      ],
      formHasErrors: false,
      fieldSelectRule: [(v) => !!v || 'The input is required']
    }
  },
  created() {
    if (this.type === 'load') {
      this.data.dataValue = this.item.assign_to
      this.data.dataSetKey = this.item.field
    } else {
      this.data.dataValue = this.item.from_mem
      this.data.dataSetKey = this.item.to_field
    }
  },
  methods: {
    edit() {
      this.editingIndex = 0
    },
    saveCondition() {
      this.$emit('saveFilter', this.data, this.index)
    },
    removeConditionChild(index) {
      this.$emit('removeConditionChild', index)
    },
    showJsonEditor() {
      this.dialog = true
      this.json = this.model.value === '' ? '' : JSON.parse(this.model.value)
    }
  }
}
</script>
<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
</style>
