<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="apicall" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Api Call</span>
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="d-flex">
      <v-col cols="12" md="3">
        <v-select
          v-model="method"
          outlined=""
          dense=""
          height="40"
          class="input__message"
          hide-details=""
          :items="itemMethod"
          @change="saveApiCall"
        ></v-select>
      </v-col>
      <v-col cols="12" md="9">
        <v-text-field
          v-model="url"
          outlined=""
          dense=""
          height="40"
          class="input__message"
          hide-details=""
          placeholder="https://..."
          @change="saveApiCall"
        ></v-text-field>
      </v-col>
    </div>
    <div v-if="!isCollage" class="ml-3 mt-0 pa-0" style="height:50px">
      <v-checkbox
        v-model="wait_response"
        dense=""
        color="#FFBE07"
        class="mt-0"
        label="Wait response"
        @change="saveApiCall"
      ></v-checkbox>
    </div>
    <div v-if="!isCollage" class="pa-3">
      <v-tabs
        v-model="tab"
        fixed-tabs
        background-color="#F5F5F5"
        color="#FFBE07"
      >
        <v-tab href="#tab-1" class="text-capitalize">
          Authentication
        </v-tab>
        <v-tab href="#tab-2" class="text-capitalize">
          Headers
        </v-tab>
        <v-tab href="#tab-3" class="text-capitalize">
          Params
        </v-tab>
        <v-tab href="#tab-4" class="text-capitalize">
          Body
        </v-tab>
        <v-tab href="#tab-5" class="text-capitalize">
          Output
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item value="tab-1">
          <div class="mt-6 api__call__action">
            <div class="title__api__call">Select authentication type</div>
            <v-select
              v-model="type"
              :items="typeAuthentications"
              item-text="name"
              item-value="value"
              class="input__message"
              outlined=""
              dense=""
              height="40"
              hide-details=""
              @change="saveApiCall"
            ></v-select>
          </div>
          <div v-if="type === 'oauth2'" class="mt-1 api__call__action">
            <div class="title__api__call">Client ID</div>
            <v-text-field
              v-model="client_id"
              outlined=""
              class="input__message"
              dense=""
              height="40"
              hide-details=""
            ></v-text-field>
          </div>
          <div v-if="type === 'oauth2'" class="mt-1 api__call__action">
            <div class="title__api__call">
              <span>Client Secret</span>
            </div>
            <v-text-field
              v-model="client_secret"
              outlined=""
              dense=""
              class="input__message"
              height="40"
              hide-details=""
              @change="saveApiCall"
            ></v-text-field>
          </div>
          <div v-if="type === 'oauth2'" class="mt-1 api__call__action">
            <div class="title__api__call">
              <span>Authorization URL</span>
            </div>
            <v-text-field
              v-model="authorization_url"
              outlined=""
              dense=""
              class="input__message"
              height="40"
              hide-details=""
              @change="saveApiCall"
            ></v-text-field>
          </div>
          <div v-if="type === 'basic'" class="mt-1 api__call__action">
            <div class="title__api__call">
              <span>Username</span>
            </div>
            <v-text-field
              v-model="username"
              outlined=""
              class="input__message"
              dense=""
              height="40"
              hide-details=""
              @change="saveApiCall"
            ></v-text-field>
          </div>
          <div v-if="type === 'basic'" class="mt-1 api__call__action">
            <div class="title__api__call">
              <span>Password</span>
            </div>
            <v-text-field
              v-model="password"
              hide-details=""
              class="input__message"
              outlined=""
              dense=""
              height="40"
              :append-icon="value ? 'mdi-eye-off' : 'mdi-eye'"
              :type="value ? 'password' : 'text'"
              @click:append="() => (value = !value)"
              @change="saveApiCall"
            ></v-text-field>
          </div>
        </v-tab-item>
        <v-tab-item value="tab-2" class="api__call__action">
          <div v-for="(item, index) in headers" :key="index">
            <ContentHeaders
              :item="item"
              :index="index"
              type="header"
              @save="save"
              @deleteAction="deleteActionContent"
            />
          </div>
          <div v-if="!isCollage" class="d-flex message__random">
            <IconButton
              :icon="'mdi-plus-circle-outline'"
              tooltips="Add value"
              color="#047bf8"
              color-hover="#047bf8"
              @click="addHeader"
            />
            <span class="ml-2" @click="addHeader">Add new field</span>
          </div>
        </v-tab-item>
        <v-tab-item value="tab-3" class="api__call__action">
          <div v-for="(item, index) in params" :key="index">
            <ContentHeaders
              :item="item"
              :index="index"
              type="params"
              @save="save"
              @deleteAction="deleteActionContent"
            />
          </div>
          <div v-if="!isCollage" class="d-flex message__random">
            <IconButton
              :icon="'mdi-plus-circle-outline'"
              tooltips="Add value"
              color="#047bf8"
              color-hover="#047bf8"
              @click="addHeader"
            />
            <span class="ml-2" @click="addParams">Add new field</span>
          </div>
        </v-tab-item>
        <v-tab-item value="tab-4" class="api__call__action">
          <div>
            <v-radio-group
              v-model="body_type"
              dense=""
              hide-details=""
              class="mb-3"
              row
            >
              <v-radio
                color="#FFBE07"
                label="x-www-form-urlencoded"
                value="x-www-form-urlencoded"
              ></v-radio>
              <v-radio color="#FFBE07" label="json" value="json"></v-radio>
              <v-radio color="#FFBE07" label="raw" value="raw"></v-radio>
            </v-radio-group>
          </div>
          <div v-if="body_type === 'json'">
            <vue-json-editor
              v-model="json"
              mode="code"
              :expanded-on-start="true"
            ></vue-json-editor>
          </div>
          <div v-if="body_type === 'raw'">
            <v-textarea
              shaped
              filled
              placeholder="{}"
              hide-details=""
              @saveApiCall="saveApiCall"
            ></v-textarea>
          </div>
        </v-tab-item>
        <v-tab-item value="tab-5" class="api__call__action">
          <div v-for="(item, index) in outputsApiCall" :key="index">
            <OutPutApiCall
              :index="index"
              :item="item"
              @submitField="submitField"
              @removeField="removeSetField"
            />
          </div>
          <div v-if="!isCollage" class="d-flex message__random">
            <IconButton
              :icon="'mdi-plus-circle-outline'"
              tooltips="Add value"
              color="#047bf8"
              color-hover="#047bf8"
              @click="addOuput"
            />
            <span class="ml-2" @click="addOuput">Add new field</span>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingApiCall"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ContentHeaders from '~/components/actions/ContentHeaders'
import OutPutApiCall from '~/components/actions/OutPutApiCall'
import apicall from '~/assets/actions/apicall.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    ContentHeaders,
    OutPutApiCall,
    IconButton,
    DeleteGeneral
  },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    id: { type: String, default: '' },
    command: { type: Object, default: () => {} }
  },
  data() {
    return {
      itemMethod: ['GET', 'PUT', 'POST', 'DELETE', 'PATCH'],
      value: String,
      apicall,
      body_type: 'json',
      openDeleteIntent: false,
      url: '',
      json: {},
      objectSet: {},
      json_response: {},
      params: [],
      method: 'GET',
      tab: 'tab-1',
      authorization_url: '',
      headers: [],
      wait_response: false,
      client_secret: '',
      client_id: '',
      username: '',
      password: '',
      outputsApiCall: [],
      isCollage: false,
      type: 'no',
      typeAuthentications: [
        {
          value: 'no',
          name: 'No authentication'
        },
        {
          value: 'basic',
          name: 'Basic authentication'
        },
        {
          value: 'oauth2',
          name: 'OAuth2 authentication'
        }
      ]
    }
  },
  created() {
    if (this.command) {
      if (this.command.authentication && this.command.authentication.type) {
        this.type = this.command.authentication.type
        if (this.type === 'basic') {
          this.username = this.command.authentication.username
          this.password = this.command.authentication.password
        }
        if (this.type === 'oauth2') {
          this.client_id = this.command.authentication.client_id
          this.client_secret = this.command.authentication.client_secret
          this.authorization_url = this.command.authentication.authorization_url
        }
      }
      if (this.command.method) {
        this.method = this.command.method
        this.url = this.command.url
      }
      if (this.command.headers && this.command.headers.length) {
        this.headers = this.command.headers
      }
      if (this.command.params && this.command.params.length) {
        this.params = this.command.params
      }
      if (this.command.body) {
        this.json = this.command.body
      }
      if (this.command.output) {
        this.objectSet = this.command.output
        this.outputsApiCall = Object.keys(this.objectSet).map((key) => ({
          key,
          value: this.objectSet[key]
        }))
      }
      if (this.command.wait_response) {
        this.wait_response = this.command.wait_response
      }
    }
  },
  computed: {
    ...mapGetters(['loadingApiCall'])
  },
  methods: {
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_APICALL', true)
      this.$emit('delete', this.id)
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    addOuput() {
      this.outputsApiCall.push({})
    },
    submitField(data, index) {
      this.outputsApiCall[index] = data
      const key = this.outputsApiCall[index].key
      if (key) {
        delete this.objectSet[key]
      }
      this.objectSet = Object.assign(this.objectSet, data)
      this.saveApiCall()
    },
    removeSetField(index) {
      const key = this.outputsApiCall[index].key
      delete this.objectSet[key]
      this.outputsApiCall.splice(index, 1)
    },
    cancel(index) {
      this.buttonForm.splice(index, 1)
    },
    deleteAction() {
      confirm('Are you sure delete this action') &&
        this.$emit('delete', this.id)
    },
    addHeader() {
      this.headers.push({})
    },
    addParams() {
      this.params.push({})
    },
    deleteActionContent(index, type) {
      if (type === 'header') {
        this.headers.splice(index, 1)
      } else {
        this.params.splice(index, 1)
      }
    },
    save(data, index, type) {
      if (type === 'header') {
        this.headers[index] = data
      } else {
        this.params[index] = data
      }
      this.saveApiCall()
    },
    saveApiCall() {
      let authentication = {}
      if (this.type === 'no') {
        authentication = {}
        this.client_secret = ''
        this.authorization_url = ''
        this.client_id = ''
        this.username = ''
        this.password = ''
      }
      if (this.type === 'basic') {
        authentication = {
          type: this.type,
          username: this.username,
          password: this.password
        }
        this.client_secret = ''
        this.authorization_url = ''
        this.client_id = ''
      }
      if (this.type === 'oauth2') {
        authentication = {
          type: this.type,
          client_id: this.client_id,
          client_secret: this.client_secret,
          authorization_url: this.authorization_url
        }
        this.username = ''
        this.password = ''
      }
      const data = {
        method: this.method,
        url: this.url,
        authentication,
        headers: this.headers,
        wait_response: this.wait_response,
        params: this.params,
        body: this.json,
        response: this.response,
        output: this.objectSet
      }
      this.$emit('submitCommand', data)
    }
  }
}
</script>
<style lang="scss" scoped>
.message,
.api__call__action {
  background: #f5f5f5;
}
</style>
<style lang="scss">
.title__api__call {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 4px;
  line-height: 22px;
  /* identical to box height, or 157% */

  /* Neutral/Midnight */

  color: #595959;
}
</style>
