<template>
  <v-dialog v-model="openButton" width="358" persistent="">
    <v-card>
      <v-form ref="form" v-model="valid" class="pa-4">
        <!-- <div class="d-flex justify-end">
          <v-icon class="mr-2" @click="editButtonInfo">mdi-pencil</v-icon>
          <v-icon @click="deleteButton">mdi-delete</v-icon>
        </div> -->
        <div class="button__label">Button name</div>
        <div :id="`dbsearch__scenario${actionIndex}`">
          <MessageTextarea
            :command-message="formButton.title"
            :limit="20"
            entity
            :action-index="actionIndex"
            type="autocomment_customer_click"
            :min-height="'32px'"
            type-menu="dbsearch"
            class="mb-1"
            @change="keydown"
          />
        </div>

        <div class="button__label">Button type</div>
        <v-select
          v-model="formButton.type"
          outlined=""
          dense=""
          hide-details=""
          :items="type === 'quick_replies' ? itemsReply : items"
          :rules="[(v) => !!v || 'The input is required']"
        />
        <div class="button__label">
          Go to action &nbsp;
          <span>{{ type === 'buttons' ? ' (Required)' : ' (Optional)' }} </span>
        </div>
        <v-select
          v-if="
            formButton.type !== 'phone_number' && formButton.type !== 'web_url'
          "
          v-model="chips"
          :items="skillsCustom"
          item-text="nameSkill"
          hide-details=""
          item-value="id"
          dense
          outlined
          height="40"
          @change="updateRedirectSkill"
        />
        <v-text-field
          v-else
          v-model="formButton.payload"
          dense
          outlined
          height="40"
        />
        <div v-if="type === 'quick_replies'" class="button__label">
          Switch block when encountering similar questions
        </div>
        <v-select
          v-if="type === 'quick_replies'"
          v-model="intent"
          outlined=""
          item-value="id"
          hide-details=""
          item-text="name"
          dense=""
          :items="dataIntents"
        />
        <div
          v-if="
            (type === 'quick_replies' || type === 'carousel') &&
              formButton.type === 'postback'
          "
          class="button__label"
        >
          Assign to
        </div>
        <v-select
          v-if="
            (type === 'quick_replies' || type === 'carousel') &&
              formButton.type === 'postback'
          "
          v-model="formButton.assign_to"
          outlined=""
          item-value="compare"
          hide-details=""
          item-text="display"
          dense=""
          :items="contentIDOpts"
        />
        <div
          v-if="formButton.type === 'postback'"
          class="button__label"
          style="margin-bottom:0px !important;"
        >
          Payload
        </div>
        <v-checkbox
          v-model="isText"
          label="Type Text"
          hide-details
          dense
          class="mt-0"
        ></v-checkbox>
        <v-select
          v-if="formButton.type === 'postback' && !isText"
          v-model="formButton.payload"
          outlined=""
          item-value="code"
          item-text="name"
          dense=""
          :items="fieldStoresCustom"
        />
        <v-text-field
          v-if="isText"
          v-model="formButton.payload"
          dense
          outlined
          height="40"
        />
        <div class="d-flex justify-end">
          <v-btn
            :disabled="!valid"
            color="success"
            small=""
            class="mr-2"
            @click="save"
          >
            Xong
          </v-btn>
          <v-btn color="error" small="" @click="cancel">
            Cancel
          </v-btn>
        </div>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import MessageTextarea from '~/components/actions/MessageTextarea'

export default {
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} },
    type: { type: String, default: '' },
    parent: { type: String, default: '' },
    reactive: { type: Boolean, default: () => {} },
    openButton: { type: Boolean, default: false },
    actionIndex: { type: String, default: '' }
  },
  components: {
    MessageTextarea
  },
  data() {
    return {
      data: ['Đi đến bước', 'Đến đường link', 'Gọi điện thoại'],
      items: ['postback', 'web_url', 'phone_number'],
      itemsReply: ['postback', 'phone_number', 'web_url'],
      valid: false,
      isText: false,
      formButton: {
        title: '',
        payload: '',
        type: '',
        assign_to: null,
        redirect_skill_intent_condition: null,
        redirect_skill: null
      },
      chips: {},
      intent: -1,
      edtting: 0,
      rulesPhoneNumber: [
        (v) => !!v || 'This field is required',
        (v) =>
          /(09|01[2|6|8|9])+([0-9]{8})\b/g.test(v) || 'Phone number invalid'
      ]
    }
  },
  computed: {
    ...mapGetters(['skills', 'intents', 'scenariosId', 'fieldStores']),
    getListButton() {
      return this.item
    },
    fieldStoresCustom() {
      const data = this.fieldStores.map((r) => {
        return {
          ...r,
          name: `{{${r.name}}}`,
          code: `{{${r.code}}}`
        }
      })
      data.unshift({
        name: 'Not Choose',
        code: null
      })
      return data
    },
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements && r.scenario_id === this.scenariosId)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(item)
      })
      const data = opts.map((r) => {
        return {
          value: `<span style="color: #5bc329;">{{${r}}}</span><span>&nbsp;</span>`,
          display: `${r}`,
          color: '#48B911',
          atValue: `${r}`,
          key: r,
          compare: `${r}`,
          nameNotParse: r
        }
      })
      data.unshift({
        display: 'Not Choose',
        compare: null
      })
      return data
    },
    skillsCustom() {
      return this.skills.map((r) => {
        return {
          ...r,
          nameSkill: 'The block ' + r.name + ' in scenario ' + r.scenario
        }
      })
    },
    dataIntents() {
      let dataNew = [
        {
          id: -1,
          name: 'No Intent'
        }
      ]
      dataNew.push(this.intents)
      dataNew = dataNew.flat()
      return dataNew
    }
  },
  watch: {
    item(val) {
      if (val) {
        this.formButton = val
        this.init()
      }
    }
  },
  mounted() {
    if (this.getListButton) {
      this.init()
    }
  },
  methods: {
    updateRedirectSkill() {
      this.formButton.redirect_skill = this.chips
    },
    keydown(evt) {
      this.formButton.title = evt.replace(/↵/g, '').replace(/&nbsp;/g, '')
    },
    init() {
      this.formButton = this.getListButton
      this.chips = this.formButton.redirect_skill
        ? this.skillsCustom.filter(
            (r) => r.id === this.formButton.redirect_skill
          )[0]
        : null
      const typeText = this.fieldStoresCustom.filter(
        (r) => r.code === this.formButton.payload
      )
      this.isText = this.formButton.payload && !typeText.length
      if (this.formButton.redirect_skill_intent_condition) {
        this.intent = this.intents.filter(
          (r) => r.id === this.formButton.redirect_skill_intent_condition
        )[0].id
      }
    },
    cancel() {
      this.$emit('cancel')
    },
    save() {
      if (this.formButton.type === 'postback') {
        this.formButton.redirect_skill = !this.chips
          ? null
          : `${this.chips.id ? this.chips.id : this.chips}`
      }
      if (this.formButton.type === 'postback' && this.intent !== -1) {
        this.formButton.redirect_skill_intent_condition = this.intent
      }
      this.$emit('updateButtonInfo', {
        button: {
          type: this.formButton.type,
          title: this.formButton.title,
          payload: this.formButton.payload,
          assign_to: this.formButton.assign_to,
          redirect_skill: this.formButton.redirect_skill,
          redirect_skill_intent_condition: this.formButton
            .redirect_skill_intent_condition
        },
        index: this.index
      })
    },

    deleteButton() {
      confirm('Are you sure delete this button') &&
        this.$emit('deleteButton', this.index)
    }
  }
}
</script>

<style lang="scss" scoped>
.button__label {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #262626;
}
</style>
