<template>
  <div style="width: 100%">
    <div
      :class="{
        'd-flex': typeButton === 'quick_replies',
        'quick-replies-wrap': typeButton === 'quick_replies'
      }"
    >
      <div
        v-for="(btn, index) in buttonList"
        :id="`btn_${btn.key}`"
        :key="btn.key"
        :class="{
          'data-btn': true,
          'data-btn__quick_replies': typeButton === 'quick_replies',
          'missing-data-btn':
            typeQuick !== 'have_button' &&
            (!btn.title ||
              !btn.payload ||
              (btn.valid !== undefined && !btn.valid))
        }"
      >
        <div
          v-if="typeButton !== 'quick_replies'"
          class="btn-content d-flex justify-center aligns-center flex-column pa-1"
          @click.prevent.stop="openEditFormButton(btn, index)"
        >
          <div v-if="btn.title" class="btn-name">{{ btn.title }}</div>
          <p v-if="btn.payload" class="btn-payload mb-0" :title="btn.payload">
            {{ getBlockName(btn.payload) }}
          </p>
          <img
            src="~/assets/svg/DeleteCircle.svg"
            class="delete__item"
            title="Xóa nút này"
            @click.stop.prevent="deleteButton(index)"
          />
        </div>
        <div
          v-else
          class="btn-content__quick_replies ma-2 ml-1"
          :class="{
            'not-have-button': !btn.payload
          }"
          @click.prevent.stop="openEditFormButton(btn, index)"
        >
          <div
            style="
                white-space: nowrap;
                overflow: auto;
                overflow-x: hidden;
            "
          >
            <div v-if="btn.title" class="btn-name">{{ btn.title }}</div>
            <p
              v-if="btn.payload"
              class="btn-payload payload-quickreplies mb-0"
              :title="btn.payload"
            >
              {{ getBlockName(btn.payload) }}
            </p>
            <img
              src="~/assets/svg/DeleteCircle.svg"
              class="delete__item__replies"
              title="Xóa nút này"
              @click.stop.prevent="deleteButton(index)"
            />
          </div>
        </div>
      </div>
      <div
        v-if="
          !hideButton && typeButton === 'quick_replies' && buttons.length < 13
        "
        :id="`buttonCreate_${componentId}`"
        class="button__action__quick__replies"
      >
        <div class="d-flex align-center">
          <div
            v-if="buttonList.length < 13"
            class="add__button__quick__replies mr-2"
            dark
            :title="title"
            @click="openCreateForm = true"
          >
            <span>+</span>
          </div>
          <div
            v-if="isFirstButton && (!buttons || buttons.length === 0)"
            v-tooltip="{
              content: 'Bạn cần thêm nút trả lời nhanh',
              placement: 'left',
              classes: ['info'],
              targetClasses: ['it-has-a-tooltip'],
              offset: 1
            }"
          >
            <img :src="Danger" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
    <v-dialog
      v-model="openEditForm"
      offset-y
      width="360"
      :close-on-content-click="false"
      :close-on-click="false"
      :disabled="disabled"
      transition="scale-transition"
    >
      <ButtonInfoDbSearch
        :type-button="typeButton"
        :btn-data="dataBtn"
        :action-index="actionIndex"
        :type-quick="typeQuick"
        :change-button="changeButton"
        :type-menu="typeMenu"
        :type-customer="typeCustomer"
        @submit="handleEditBtn"
      />
    </v-dialog>
    <div
      v-if="
        !hideButton &&
          ((typeButton !== 'quick_replies' &&
            typeButton !== 'action_quick_action' &&
            buttons.length < 3) ||
            (typeButton !== 'quick_replies' &&
              typeQuick === 'have_button' &&
              buttons.length < 13))
      "
      :id="typeMenu === 'dbsearch' ? '' : `buttonCreate_${componentId}`"
      class="button__action"
    >
      <div
        class="d-flex justify-center add__button"
        dark
        :title="title"
        @click="openCreateForm = true"
      >
        <span>+ {{ name }}</span>
      </div>
      <v-dialog
        v-model="openCreateForm"
        offset-y
        width="358"
        :close-on-content-click="false"
        :disabled="disabled"
        transition="scale-transition"
      >
        <ButtonInfoDbSearch
          ref="createButton"
          :type-button="typeButton"
          :type-customer="typeCustomer"
          :type-quick="typeQuick"
          :action-index="actionIndex"
          :type-menu="typeMenu"
          :btn-data="null"
          @submit="handleCreateBtn"
        />
      </v-dialog>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import ButtonInfoDbSearch from '~/components/actions/ButtonInfoDbSearch'
import Danger from '~/assets/svg/Danger.svg'
export default {
  components: {
    ButtonInfoDbSearch
  },
  props: {
    parent: {
      type: String,
      default: ''
    },
    buttons: {
      type: Array,
      default: () => {
        return []
      }
    },
    typeButton: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: 'Thêm nút bấm (không bắt buộc)'
    },
    title: {
      type: String,
      default: ''
    },
    typeCustomer: { type: String, default: '' },
    typeMenu: { type: String, default: '' },
    keyDbSearch: { type: Number, default: 0 },
    actionIndex: { type: Number, default: 0 },
    typeQuick: { type: String, default: '' },
    hideButton: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      componentId: Date.now(),
      buttonList: [],
      openCreateForm: '',
      openEditForm: '',
      tempButton: null,
      dataBtn: {},
      changeButton: false,
      isFirstButton: false,
      Danger
    }
  },
  computed: {
    ...mapGetters(['skills'])
  },
  watch: {
    buttons(val) {
      this.buttonList = val
    },
    openCreateForm(value) {
      this.$emit('updateActive')
      this.isFirstButton = true
      if (value) {
        this.$nextTick(() => {
          this.$refs.createButton.$emit('refreshData')
        })
      }
    }
  },
  mounted() {
    this.buttonList = this.buttons
  },
  methods: {
    activeFirst() {
      this.isFirstButton = true
    },
    openEditFormButton(data, index) {
      this.openEditForm = true
      this.changeButton = !this.changeButton
      this.dataBtn = data
      this.indexBtn = index
    },
    getBlockName(value) {
      let valueNew = ''
      if (value.redirect_skill) {
        valueNew = value.redirect_skill
      } else {
        valueNew = value.slice(31, value.length).replace(')', '')
      }
      let block = []
      if (valueNew) {
        block = this.skills.filter((item) => {
          return item.id === valueNew.trim()
        })
      }

      if (block.length)
        return block[0].name + ' ở kịch bản ' + block[0].scenario
      else return value
    },
    deleteButton(index) {
      this.buttonList.splice(index, 1)
      this.$emit(
        'change',
        this.buttonList.filter((item) => item && item.title)
      )
      this.dataBtn = {}
    },
    handleCreateBtn(object) {
      this.tempButton = object
      if (
        (object.title && object.payload && object.valid) ||
        (object.title && this.typeQuick === 'have_button')
      ) {
        this.buttonList.push(this.tempButton)
        this.emitData()
      }
    },
    handleEditBtn(object) {
      this.tempButton = object
      if (
        (object.title && object.payload && object.valid) ||
        (object.title && this.typeQuick === 'have_button')
      ) {
        this.buttonList.splice(this.indexBtn, 1, this.tempButton)
        this.emitData()
      }
    },
    emitData() {
      if (this.tempButton && this.tempButton.title) {
        if (
          this.parent &&
          this.typeButton === 'quick_replies' &&
          (this.parent === 'autoComment' || this.parent === 'automationMessage')
        ) {
          this.$emit('change', this.buttonList)
        } else {
          this.$emit(
            'change',
            this.buttonList.filter((item) => item && item.title && item.payload)
          )
        }
      }
      setTimeout(() => {
        this.indexBtn = -1
        this.openCreateForm = false
        this.openEditForm = false
      }, 200)
    }
  }
}
</script>
<style lang="scss" scoped>
.payload-quickreplies {
  background: #efe4e4;
}
.add__button__quick__replies {
  height: 60px;
  background: #ffffff;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.quick-replies-error {
  border: 1px solid red !important;
}
.add-button-quick-replies-error {
  border: 1px dashed red !important;
}
.btn-content__quick_replies {
  position: relative;
  width: 120px;
  min-height: 58px;
  margin-top: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  .btn-name {
    font-size: 14px;
    color: #1890ff;
  }
  .btn-payload {
    font-size: 12px;
    color: $grey-7;
  }
  .delete__item__replies {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: scale(0);
    cursor: pointer;
  }
  &:hover {
    .delete__item__replies {
      transform: scale(1);
      transition-duration: 0.3s;
    }
  }
}
.data-btn__quick_replies {
  position: unset !important;
  border: none !important;
}
.data-btn {
  min-height: fit-content;
  position: relative;
}
.missing-data-btn {
  border-radius: 4px;
  border: 1px solid red;
}
.button__action {
  font-size: 12px;
  line-height: 32px;
  color: $grey-6;
  position: relative;
}
.button__action__quick__replies {
  padding-top: 4px;
  min-height: 66px;
}
.btn-content {
  height: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  border-top: 1px solid $grey-4;
  position: relative;
  .btn-name {
    color: $blue-6;
  }
  .btn-payload {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .delete__item {
    position: absolute;
    top: 8px;
    right: -10px;
    transform: scale(0);
    cursor: pointer;
    z-index: 2;
  }
  &:hover {
    .delete__item {
      transform: scale(1);
      transition-duration: 0.3s;
    }
  }
}
.button__action {
  border-top: 1px solid $grey-4;
}
</style>
<style lang="scss">
#button_db_search {
  .menuable__content__active {
    min-width: 350px !important;
  }
}

.quick-replies-wrap {
  overflow-x: auto;
  align-items: center;
  padding: 6px;
  justify-content: flex-start;
  overflow-y: hidden;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
  }
  &::-webkit-scrollbar-track {
    background: $grey-4 !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-6 !important;
    border-radius: 8px !important;
  }
}
// .button__action__quick__replies {
//   .v-menu__content {
//     min-width: 360px !important;
//   }
// }
// .data-btn {
//   .v-menu__content {
//     max-width: 360px !important;
//     width: 360px !important;
//   }
// }
// .button__action {
//   .v-menu__content {
//     max-width: 360px !important;
//     width: 360px !important;
//   }
// }
</style>
