<template>
  <v-card class="video" :width="typeMenu === 'dbsearch' && '358'" height="auto">
    <div v-if="typeButton !== 'quick_replies'" class="sub__1__video__2">
      <span class="title__video d-flex">Nếu khách hàng click </span>
      <MessageTextarea
        :command-message="formButton.title"
        :limit="20"
        type="autocomment_customer_click"
        :min-height="'32px'"
        :required="required"
        type-menu="dbsearch"
        emoji
        class="mb-1"
        @change="keydown"
        @disableSave="disableSaveButton"
      />
    </div>
    <div v-else class="sub__1__video__2">
      <span class="title__video d-flex">Nhập tên nút trả lời nhanh </span>
      <MessageTextarea
        :command-message="formButton.title"
        :placeholder="typeButton === 'quick_replies' && ''"
        type-child="button_info"
        type-menu="dbsearch"
        border
        :limit="20"
        type="autocomment"
        :min-height="'32px'"
        :required="required"
        emoji
        class="mb-1"
        @disableSave="disableSaveButton"
        @change="keydown"
      />
    </div>
    <div v-if="typeButton !== 'quick_replies' && typeQuick !== 'have_button'">
      <v-tabs v-model="tab" color="#FFBE07" class="tab__quick__reply mb-3">
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1" @click="actionTab('postback')">
          <Block class="mr-2" /> Block
        </v-tab>

        <v-tab href="#tab-2" @click="actionTab('web_url')">
          <Url class="mr-2" /> URL
        </v-tab>

        <v-tab href="#tab-3" @click="actionTab('phone_number')">
          <Phone class="mr-2" /> Phone
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item value="tab-1">
          <div class="sub__1__video__2">
            <span class="title__video">Thì khách hàng sẽ nhận được</span>
            <v-select
              v-model="chips"
              :items="skillsCustom"
              item-text="nameSkill"
              item-value="id"
              dense
              outlined
              hide-details
              placeholder="Chọn Block"
              :append-icon="null"
              :clearable="true"
              height="32"
              @change="checkActive"
            ></v-select>
            <div class="d-flex justify-space-between">
              <div v-if="typeButton === 'missing_button'" style="width:48%">
                <span class="title__video">Gán</span>
                <v-combobox
                  v-model="field_name"
                  :items="fieldStoreObject"
                  dense
                  outlined
                  hide-details
                  placeholder="Chọn biến"
                  height="32"
                  :append-icon="null"
                  :clearable="true"
                  @change="checkActive"
                ></v-combobox>
              </div>
              <div v-if="typeButton === 'missing_button'" style="width:48%">
                <span class="title__video">Vào biến</span>
                <v-select
                  v-model="assign_to"
                  :items="getAllSlotName"
                  dense
                  outlined
                  hide-details
                  placeholder="Chọn trường"
                  height="32"
                  :append-icon="null"
                  :clearable="true"
                  @change="checkActive"
                ></v-select>
              </div>
            </div>
          </div>
          <div class="d-flex"></div>
        </v-tab-item>
        <v-tab-item value="tab-2">
          <div class="sub__1__video__2 url">
            <span class="title__video">Thì khách hàng sẽ nhận được</span>
            <v-form ref="urlForm" @submit.prevent="save">
              <v-text-field
                ref="updateUrlVideo"
                :value="url"
                dense
                outlined
                hide-details
                class="video__input"
                autocomplete="off"
                placeholder="Dán URL"
                :rules="[buttonRules.url]"
                @keyup="debounceUpdateUrl"
              ></v-text-field>
            </v-form>
          </div>
          <div class="d-flex sub__1__video__2 align-baseline mt-2">
            <span class="title__video" style="margin-right: 40px"
              >Mở web trong trình duyệt</span
            >
            <v-select
              v-model="webviewHeightRatio"
              dense
              height="32"
              outlined
              class="select_block_percent"
              :items="webviewHeights"
            ></v-select>
          </div>
        </v-tab-item>
        <v-tab-item value="tab-3">
          <div class="sub__1__video__2">
            <span class="title__video">Thì khách hàng gọi ngay đến</span>
            <v-form ref="phoneForm" @submit.prevent="save">
              <v-text-field
                ref="updatePhone"
                :value="phone_number"
                dense
                outlined
                class="video__input"
                hide-details
                autocomplete="off"
                placeholder="Số điện thoại"
                :rules="[buttonRules.number]"
                @keyup="debounceUpdatePhone"
              ></v-text-field>
            </v-form>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </div>
    <div v-else>
      <div v-if="typeCustomer !== 'customer'" class="sub__1__video__2">
        <span class="title__video">Chuyển tới Block (không bắt buộc)</span>
        <v-select
          v-model="chips"
          :items="skillsCustom"
          item-text="nameSkill"
          item-value="id"
          dense
          outlined
          hide-details
          placeholder="Chọn Block"
          height="32"
          @change="checkActive"
        ></v-select>
      </div>
    </div>
    <div class="d-flex justify-end mt-4">
      <v-btn color="#FFBE07" :disabled="disabledSave" depressed @click="save"
        >Xong</v-btn
      >
    </div>
  </v-card>
</template>

<script>
import { debounce } from 'lodash'
import { mapGetters } from 'vuex'
import Phone from '~/components/icon/Phone'
import Url from '~/components/icon/Url'
import Block from '~/components/icon/Block'
import MessageTextarea from '~/components/actions/MessageTextarea'
export default {
  components: {
    Phone,
    Url,
    Block,
    MessageTextarea
  },
  props: {
    index: { type: Number, default: -1 },
    typeButton: { type: String, default: '' },
    type: { type: String, default: '' },
    btnData: { type: Object, default: null },
    item: { type: Object, default: () => {} },
    reactive: { type: Boolean, default: () => {} },
    changeButton: { type: Boolean, default: false },
    typeCustomer: { type: String, default: '' },
    typeMenu: { type: String, default: '' },
    actionIndex: { type: Number, default: -1 },
    typeQuick: { type: String, default: '' }
  },
  data() {
    return {
      chips: null,
      disableButton: false,
      webviewHeightRatio: 'compact',
      max: 20,
      webviewHeights: [
        { value: 'compact', text: '40%' },
        { value: 'tall', text: '70%' },
        { value: 'full', text: '100%' }
      ],
      phone_number: '',
      url: '',
      items: [
        'Streaming',
        'Eating',
        'Đi đến bước',
        'Đến đường link',
        'Gọi điện thoại'
      ],
      data: ['Đi đến bước', 'Đến đường link', 'Gọi điện thoại'],
      valid: false,
      required: false,
      disabledSave: true,
      buttonRules: {
        required: (value) => !!value || 'Bắt buộc nhập',
        counter: (value) => value.length <= 20 || 'Tối đa là 20 ký tự',
        number: (v) =>
          (v && /^[0-9]|[-+][0-9]+$/.test(v)) ||
          'Số điện thoại không đúng định dạng',
        url: (value) =>
          /^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(value.trim()) ||
          'URL không hợp lệ'
      },
      formButton: {
        title: '',
        payload: '',
        type: 'postback',
        webview_height_ratio: null
      },
      tab: 'tab-1',
      assign_to: null,
      field_name: null
    }
  },
  computed: {
    ...mapGetters(['skills', 'scenariosId', 'fieldStores']),
    getListButton() {
      return this.item
    },
    fieldStoreObject() {
      return this.fieldStores.map((r) => {
        return {
          text: `{{${r.name}}}`,
          value: `{{${r.code}}}`
        }
      })
    },
    skillsCustom() {
      return this.skills.map((r) => {
        return {
          ...r,
          nameSkill: r.name + ' ở kịch bản ' + r.scenario
        }
      })
    },
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements && r.scenario_id === this.scenariosId)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => `{{${r.name}}}`))
        : []
      return [...removeDuplicateSlotName]
    }
  },
  watch: {
    reactive(val) {
      this.formButton = this.getListButton
    },
    changeButton(val) {
      this.formButton = this.btnData
      if (this.formButton.title) {
        this.disabledSave = false
      } else {
        this.disabledSave = true
      }
    },
    show(val) {
      if (!val) {
        this.showButton = false
      } else {
        this.showButton = true
      }
    },
    max: 'validateField',
    btnData(val) {
      this.init(val)
    }
  },
  mounted() {
    this.init(this.btnData)
  },
  created() {
    this.$on('refreshData', () => {
      this.formButton = {
        title: '',
        payload: '',
        type: this.formButton.type ? this.formButton.type : 'postback',
        webview_height_ratio: null,
        valid: true
      }
      this.phone_number = ''
      this.url = ''
      this.chips = null
    })
  },
  methods: {
    init(dataButtonProps) {
      if (dataButtonProps) {
        this.formButton = dataButtonProps
        if (this.formButton.title) {
          this.disabledSave = false
        }
        switch (dataButtonProps.type) {
          case 'postback':
            this.tab = 'tab-1'
            if (dataButtonProps.payload.redirect_skill) {
              this.chips = dataButtonProps.payload
                ? this.skillsCustom.filter(
                    (r) => r.id === dataButtonProps.payload.redirect_skill
                  )[0]
                : null
              this.assign_to = dataButtonProps.payload.assign_to
              this.field_name = dataButtonProps.payload.value
            } else {
              this.chips = dataButtonProps.payload
                ? this.skillsCustom.filter(
                    (r) =>
                      r.id ===
                      dataButtonProps.payload
                        .slice(31, dataButtonProps.payload.length)
                        .replace(')', '')
                        .trim()
                  )[0]
                : null
            }
            break
          case 'web_url':
            this.tab = 'tab-2'
            this.url = dataButtonProps.payload
            this.webviewHeightRatio = dataButtonProps.webview_height_ratio
            break
          case 'phone_number':
            this.tab = 'tab-3'
            this.phone_number = dataButtonProps.payload
            break
          default:
            break
        }
      }
    },
    updateUrlVideo() {
      this.url = this.$refs.updateUrlVideo.$refs.input.value
      this.checkActive()
    },
    debounceUpdateUrl: debounce(function() {
      this.updateUrlVideo()
    }, 400),
    debounceUpdatePhone: debounce(function() {
      this.phone_number = this.$refs.updatePhone.$refs.input.value
      this.checkActive()
    }, 400),
    keydown(evt) {
      this.formButton.title = evt.replace(/↵/g, '').replace(/&nbsp;/g, '')
      if (this.formButton.title) {
        this.required = false
      }
      this.checkActive()
    },
    validateField() {
      this.$refs.form.validate()
    },
    disableSaveButton(data) {
      this.disableSave = data === '' || (data && data.trim() === '')
    },
    actionTab(type) {
      this.formButton.type = type
      if (this.formButton.title) {
        if (type === 'postback' && !this.chips) {
          this.disabledSave = true
        } else if (
          type === 'web_url' &&
          (this.url.length === 0 || (this.url && !this.formButton.valid))
        ) {
          this.disabledSave = true
        } else if (
          type === 'phone_number' &&
          (this.phone_number.length === 0 ||
            (this.phone_number && !this.formButton.valid))
        ) {
          this.disabledSave = true
        } else {
          this.disabledSave = false
        }
      } else {
        this.disabledSave = true
        this.required = false
      }
    },
    checkActive() {
      if (
        this.formButton.title === '' ||
        !this.formButton.title ||
        (this.formButton.title && this.formButton.title.trim() === '')
      ) {
        this.$toast.global.my_error({
          message: 'Bạn phải nhập tên nút'
        })
        this.loading = false
        this.formButton.valid = false
        this.required = true
        this.disabledSave = true
        return
      }
      if (
        this.formButton.type === 'postback' &&
        this.typeButton !== 'quick_replies'
      ) {
        if (!this.chips) {
          this.$toast.global.my_error({
            message: 'Bạn phải chọn block và nhập nội dung tên tin nhắn'
          })
          this.formButton.valid = false
          this.disabledSave = true
          return
        } else {
          // v-select return assign_to as text
          const assignEmpty =
            this.assign_to == null || this.assign_to.trim() === ''
          // v-combobox return field_name as observer
          const fieldEmpty =
            this.field_name == null || this.field_name.value.trim() === ''
          if ((!assignEmpty && fieldEmpty) || (assignEmpty && !fieldEmpty)) {
            this.$toast.global.my_error({
              message: 'Cần điền đủ trường gán và biến'
            })
            this.formButton.valid = false
            this.disabledSave = true
            return
          }
        }
      } else if (
        this.formButton.type === 'web_url' &&
        this.typeButton !== 'quick_replies' &&
        !this.$refs.urlForm.validate()
      ) {
        this.$toast.global.my_error({
          message: 'Bạn phải điền đúng định dạng link'
        })
        this.formButton.valid = false
        this.disabledSave = true
        return
      } else if (
        this.formButton.type === 'phone_number' &&
        this.typeButton !== 'quick_replies' &&
        (!this.$refs.phoneForm.validate() || this.phone_number === '')
      ) {
        this.$toast.global.my_error({
          message: 'Bạn phải nhập nội dung tin nhắn và số điện thoại là số'
        })
        this.formButton.valid = false
        this.disabledSave = true
        return
      }

      this.disabledSave = false
    },
    save() {
      // eslint-disable-next-line no-lonely-if
      if (this.formButton.type === 'phone_number') {
        this.formButton.payload = this.phone_number.trim()
        this.formButton.valid = this.$refs.phoneForm.validate()
      }
      if (this.formButton.type === 'web_url') {
        this.formButton.payload = this.url.trim()
        this.formButton.valid = this.$refs.urlForm.validate()
        this.formButton.webview_height_ratio = this.webviewHeightRatio
      }
      if (this.formButton.type === 'postback') {
        this.formButton.payload = !this.chips
          ? null
          : `__COMMAND(__SKILL_REDIRECT_NOW=${
              this.chips.id ? this.chips.id : this.chips
            }) `
      }
      if (
        this.formButton.type === 'postback' &&
        this.assign_to &&
        this.chips &&
        this.field_name
      ) {
        this.formButton.payload = {
          value: this.field_name,
          redirect_skill: this.chips.id ? this.chips.id : this.chips,
          assign_to: this.assign_to
        }
      }
      if (
        this.typeButton === 'missing_button' &&
        this.formButton.type === 'postback' &&
        !this.assign_to &&
        !this.field_name
      ) {
        this.formButton.payload = {
          value: null,
          redirect_skill: this.chips.id ? this.chips.id : this.chips,
          assign_to: null
        }
      }
      this.required = false
      this.formButton.title = this.formButton.title.trim().slice(0, 20)
      this.formButton.valid = true
      if (this.formButton.key) {
        this.$emit('submit', this.formButton)
      } else {
        this.$emit('submit', { key: Date.now(), ...this.formButton })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.video {
  padding: 12px;
}
.title__video {
  font-size: 14px;
  color: #262626;
  margin-bottom: 2px;
}
.add__button {
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 6px;
}
</style>

<style lang="scss">
.video__input {
  .v-input__control {
    input {
      font-size: 14px;
    }
  }
}
.tab__quick__reply {
  a {
    text-transform: initial !important;
    color: #8c8c8c;
    margin-left: -16px !important;
    margin-right: 20px !important;
  }
  .v-tab--active {
    color: #ffbe07 !important;
    svg {
      path {
        fill: #ffbe07;
      }
    }
  }
}
.sub__1__video__2 {
  white-space: nowrap;
  input {
    font-size: 14px;
  }
  .v-input__slot {
    min-height: 32px !important;
    .v-input__append-inner {
      margin-top: 4px !important;
    }
  }
  .v-select__selection {
    font-size: 14px;
  }
}
</style>
