<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="carousel" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Carousel</span>
      <v-spacer />
      <div
        v-if="typeButton !== 'automation_message'"
        class="d-flex align-center"
      >
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteAction"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_redirect">Chosen Memory</div>
      <v-select
        v-model="memory"
        :items="getAllSlotName"
        dense=""
        outlined=""
        height="40"
        hide-details=""
        class="input__message"
        @change="changeChosenMemory"
      ></v-select>
      <div class="wrap__carousel">
        <div class="contain-image mt-5">
          <div
            v-for="(item, index) in imageDatas"
            :key="index"
            class="image__contain__child"
          >
            <div class="close__image">
              <v-btn
                fab
                small
                color="#eae5e5"
                depressed=""
                @click="removeImage(index)"
              >
                <v-icon color="#8C8C8C">mdi-window-close</v-icon>
              </v-btn>
            </div>
            <ImageInput
              :id="id"
              :item="item"
              :index-image="index"
              :parent="parent"
              :action-index="actionIndex"
              :data-button="item && item.buttons ? item.buttons : []"
              @submitCommand="submitCommand"
            />
          </div>
          <div class="image-input-add" @click="addItemImage">
            <div class="message__input">
              <v-icon color="#FFBE07">mdi-plus-circle-outline</v-icon>
              <span class="add__item__image">Add item</span>
            </div>
            <input class="file-input" />
          </div>
        </div>
      </div>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingCarousel"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ImageInput from '~/components/actions/ImageInput'
import IconButton from '~/components/IconButton.vue'
import carousel from '~/assets/actions/carousel.svg'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    ImageInput,
    IconButton,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    typeButton: { type: String, default: '' },
    command: { type: Array, default: () => [] },
    dataFrom: { type: String, default: null },
    parent: { type: String, default: null },
    actionIndex: { type: Number, default: -1 }
  },
  computed: {
    ...mapGetters([
      'currentBot',
      'intents',
      'entities',
      'skills',
      'loadingCarousel'
    ]),
    getAllSlotName() {
      return ['context.memory.dbsearch.items']
    }
  },
  data() {
    return {
      imageDatas: [],
      memory: 'Not Selected',
      carousel,
      isCollage: false,
      openDeleteIntent: false
    }
  },
  watch: {
    command(val) {
      this.imageDatas = val
    },
    dataFrom(val) {
      if (val) {
        this.memory = val
      } else {
        this.memory = 'Not Selected'
      }
    }
  },
  created() {
    this.imageDatas = this.command
    if (this.dataFrom) {
      this.memory = this.dataFrom
    }
  },
  methods: {
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_CAROUSEL', true)
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    changeChosenMemory() {
      let dataFrom = this.memory
      if (this.memory === 'Not Selected') {
        dataFrom = null
      }
      const data = {
        content: this.imageDatas,
        data_from: dataFrom
      }
      this.$emit('submitCommand', data, this.id)
    },
    addItemImage() {
      this.imageDatas.push({})
    },
    removeImage(index) {
      this.imageDatas.splice(index, 1)
      this.$emit('submitCommand', this.imageDatas, this.memory, this.id)
    },
    removeDuplicate(data) {
      const keys = ['title', 'subtitle', 'imageUrl']
      return data.filter(
        ((s) => (o) =>
          ((k) => !s.has(k) && s.add(k))(keys.map((k) => o[k]).join('|')))(
          new Set()
        )
      )
    },
    submitCommand(command, id, type) {
      this.imageDatas.push(command)
      this.imageDatas = this.removeDuplicate(this.imageDatas)
      if (type === 'carousel') {
        const index = this.imageDatas.findIndex(
          (r) =>
            r.title === command.title &&
            r.subtitle === command.subtitle &&
            r.imageUrl === command.imageUrl
        )
        this.imageDatas[index] = command
      }
      let dataFrom = this.memory
      if (this.memory === 'Not Selected') {
        dataFrom = null
      }
      const data = {
        content: this.imageDatas,
        data_from: dataFrom
      }
      this.$emit('submitCommand', data, this.id)
    },
    deleteAction() {
      confirm('Are you sure delete this action') &&
        this.$emit('delete', this.id)
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap__carousel {
  display: flex;
  overflow: auto;
  width: 710px;
  .contain-image {
    // position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
  }
}

.image-input-add {
  height: 520px !important;
  width: 300px !important;
  border: 1px dashed #ffbe07;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add__item__image {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffbe07;
  }
}

.placeholder:hover {
  background: #e0e0e0;
}

.file-input {
  display: none;
}
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.image__contain__child {
  width: 300px;
  height: 520px;
  border: 1px solid #cccfd6;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 24px;
  margin-right: 24px;
  overflow: auto;
  position: relative;
  .close__image {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
</style>
