<template>
  <v-card class="pa-4 mx-auto ma-5" tile>
    <div class="d-flex pa-2 align-baseline">
      <p>Lộ trình</p>
      <ShowStatusTyping />
    </div>
    <div class="d-flex pa-2 align-baseline">
      <p>Đi đến lộ trình</p>
      <v-select class="pl-6" filled></v-select>
    </div>
  </v-card>
</template>

<script>
import ShowStatusTyping from '~/components/actions/ShowStatusTyping'
export default {
  components: {
    ShowStatusTyping
  }
}
</script>
