<template>
  <div class="pl-3">
    <div class="title__api__call">Set fields:</div>
    <div class="d-flex align-center justify-space-between">
      <div style="width:46%">
        <v-text-field
          v-model="data.key"
          outlined=""
          height="40"
          dense=""
          hide-details=""
          class="input__message"
          placeholder="Field name"
          @change="save"
        ></v-text-field>
      </div>
      <div style="width:46%">
        <v-text-field
          v-model="data.value"
          outlined=""
          height="40"
          dense=""
          class="input__message"
          hide-details=""
          placeholder="Field name"
          @change="save"
        ></v-text-field>
      </div>

      <IconButton
        icon="mdi-delete"
        tooltips="Delete item"
        color-hover="red"
        :use-svg="true"
        name-svg="Close"
        @click="deleteAction"
      />
    </div>
  </div>
</template>
<script>
import IconButton from '~/components/IconButton.vue'

export default {
  components: {
    IconButton
  },
  props: {
    item: { type: Object, default: () => {} },
    index: { type: Number, default: -1 },
    type: { type: String, default: '' }
  },
  data() {
    return {
      data: {
        value: '',
        key: ''
      },
      editingIndex: 0
    }
  },
  created() {
    this.data = this.item
  },
  methods: {
    save() {
      this.editingIndex = -1
      this.$emit('save', this.data, this.index, this.type)
    },
    edit() {
      this.editingIndex = 0
    },
    deleteAction() {
      this.$emit('deleteAction', this.index, this.type)
    }
  }
}
</script>
