<template>
  <div class="mb-2 pa-4 message border-all d-flex flex-column">
    <v-card outlined class="video">
      <div class="d-flex align-center mb-2">
        <img
          :src="dbsearch"
          alt=""
          srcset=""
          height="24"
          width="24"
          class="mr-2"
        />
        <span class="title__video">Search Data</span>
        <div class="d-flex align-center">
          <IconButton
            icon="mdi-delete"
            tooltips="Delete this condition"
            color-hover="red"
            :use-svg="true"
            name-svg="Delete"
            @click="deleteAction"
          />
        </div>
      </div>
      <div :id="`dbsearch__text${actionIndex}`" class="mt-2">
        <v-tabs v-model="tab" active-class="active__tab" color="#FFBE07">
          <v-tab href="#tab-1" class="child__tab">Lọc dữ liệu</v-tab>
          <v-tab
            :disabled="!dbsearchData.params.collection"
            href="#tab-2"
            class="child__tab"
            >Sort Data</v-tab
          >
          <v-tab
            :disabled="!dbsearchData.params.collection"
            href="#tab-3"
            class="child__tab"
            >Results show</v-tab
          >
        </v-tabs>
        <v-divider />
        <v-tabs-items v-model="tab" class="mt-4">
          <v-tab-item value="tab-1">
            <div class="d-flex align-center">
              <span style="width:30%" class="label__element"
                >Select data warehouse</span
              >
              <div style="width:70%" class="pt-1">
                <v-select
                  v-model="dbsearchData.params.collection"
                  height="32"
                  dense=""
                  item-value="id"
                  item-text="store_name"
                  outlined=""
                  class="input__small"
                  hide-details=""
                  :items="listStoreStore"
                  @change="checkSwitchStore"
                ></v-select>
              </div>
            </div>
            <div class="mb-2 mt-3">
              <span class="label__element">Filter</span>
              <ConditionFilterDbSearch
                v-for="(item, index) in conditions"
                :key="index"
                :item="item"
                :index="index"
                :data-choices="dataChoices"
                :get-all-slot-name="contentIDOpts"
                @updateFilter="updateFilter"
                @deleteCondition="deleteElementCondtions"
              />
              <div class="d-flex mt-2">
                <v-btn
                  height="32"
                  depressed=""
                  color="#FFCF49"
                  light=""
                  :disabled="!dbsearchData.params.collection"
                  @click="addCondition"
                >
                  <v-icon class="mr-2" small="">mdi-plus</v-icon>
                  Add condition
                </v-btn>
                <div class="d-flex align-center ml-4">
                  <img :src="NoteCircle" alt="" srcset="" />
                  <span class="label__element__condition ml-1"
                    >The condition is set as
                  </span>
                  <span class="current__condition">{{
                    `[${type === 'and' ? 'AND' : 'OR'}]`
                  }}</span
                  >.
                  <span
                    class="label__element__condition condition__other"
                    @click="changeConditionType"
                    >{{ `SET [${type === 'and' ? 'OR' : 'AND'}].` }}
                  </span>
                </div>
              </div>
            </div>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <div class="d-flex align-center">
              <div style="width:30%">
                <span class="label__element">Merge data by</span>
              </div>
              <div style="width:70%" class="pt-2">
                <v-select
                  v-model="dbsearchData.group_by"
                  height="32"
                  item-value="code"
                  item-text="name"
                  dense=""
                  outlined=""
                  class="input__small"
                  hide-details=""
                  :items="dataChoices"
                  @change="chosenGroupBy"
                ></v-select>
              </div>
            </div>
            <div class="mb-2 mt-3">
              <span class="label__element">Return data in the form</span>
              <div v-for="(item, index) in arrangedatas" :key="index">
                <ArrangeDatas
                  :data-arrange="item"
                  :index-arrange="index"
                  @updateArrangeEle="updateArrangeEle"
                />
              </div>
            </div>
          </v-tab-item>
          <v-tab-item value="tab-3">
            <div class="d-flex align-center">
              <div class="sub_title">
                Showing results with
              </div>
            </div>
            <ResultTemplate
              v-for="item in actions"
              :key="item.id"
              :skillid="skillid"
              :action-group-id="item.id"
              :predicate="item.predicate"
              @deleteElement="deleteActGrp"
              @updateCondition="updateActGrpCondition"
              @clearCondition="clearActGrpCondition"
            />
            <ResultTemplate
              v-if="showNewActionGroup"
              :skillid="skillid"
              :action-group-id="null"
              @deleteElement="showNewActionGroup = false"
              @updateCondition="createNewActGrp"
              @createActionGroup="createNewActGrp"
            />
            <v-btn
              v-if="!showNewActionGroup"
              outlined
              color="#FFBE07"
              class="mr-4"
              @click="showNewActionGroup = true"
            >
              <v-icon left>mdi-plus-circle-outline</v-icon>
              Thêm Action
            </v-btn>
            <!-- <div :id="`dbsearch__scenario${actionIndex}`">
              <div
                v-if="defaultRequement.type === 'message' || !defaultRequement"
              >
                <ButtonAction
                  :key-db-search="keyDbSearch"
                  :command="
                    dbsearchData.output_template
                      ? dbsearchData.output_template.value
                      : null
                  "
                  :action-index="actionIndex"
                  type-button="autoComment"
                  type-hidden="scenario"
                  type-menu="dbsearch"
                  :entity="true"
                  type-missing="no_missing"
                  style="max-width: 322px"
                  @submitCommand="submitCommand"
                />
              </div>
              <div v-if="defaultRequement.type === 'carousel'">
                <CarouselAction
                  :key-db-search="keyDbSearch"
                  type-button="missing_button"
                  :command="
                    dbsearchData.output_template
                      ? dbsearchData.output_template.value
                      : null
                  "
                  :action-index="actionIndex"
                  type-menu="dbsearch"
                  type="carousel"
                  @submitCommand="submitCommand"
                />
              </div>
              <div v-if="defaultRequement.type === 'quick_replies'">
                <QuickReplyAction
                  :key-db-search="keyDbSearch"
                  :command="
                    dbsearchData.output_template
                      ? dbsearchData.output_template.value
                      : null
                  "
                  type-menu="dbsearch"
                  type-button="action_quick_action"
                  :hide-button="true"
                  :entity="false"
                  :action-index="actionIndex"
                  @submitCommand="submitCommand"
                />
              </div>
            </div> -->
            <div class="mt-5 mb-3">
              <v-divider></v-divider>
            </div>
            <!-- <div
              class="not_have_info_cus d-flex align-center"
              :class="{
                'show-not-info': isShow
              }"
              @click="show"
            >
              <div class="title_not_have_info">
                If no results are found, bot will respond
              </div>
              <img :src="ArrowRightScenarios" alt="" srcset="" class="ml-2" />
            </div> -->
            <div v-if="isShow">
              <v-radio-group
                v-model="row"
                class="mb-1 mt-0 ml-2"
                dense=""
                hide-details=""
                row
              >
                <v-radio label="Văn bản" value="message"></v-radio>
                <v-radio label="Quick replies" value="quick_replies"></v-radio>
              </v-radio-group>
              <div v-if="row === 'message'">
                <ButtonAction
                  :id="commandMissingMessage && commandMissingMessage.id"
                  :key-db-search="keyDbSearch"
                  :entity="true"
                  :height-tab="heightTab"
                  type-button="autoComment"
                  type-menu="missing"
                  :action-index="actionIndex"
                  type-missing="db_missing"
                  :command="
                    commandMissingMessage && commandMissingMessage.command
                  "
                  style="max-width: 322px"
                  @submitCommand="submitMissingCollection"
                />
              </div>
              <div v-else>
                <QuickReplyAction
                  :id="commandMissingQuick && commandMissingQuick.id"
                  :key-db-search="keyDbSearch"
                  type-quick="have_button"
                  :entity="true"
                  type-menu="missing"
                  :height-tab="heightTab"
                  type-missing="db_missing"
                  :action-index="actionIndex"
                  :command="commandMissingQuick && commandMissingQuick.command"
                  @submitCommand="submitMissingCollection"
                />
              </div>
            </div>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </v-card>
    <Dialog
      v-model="confirmSwitchStore"
      :disable-out-side="true"
      :close-button="false"
      padding-x="30px"
      padding-y="30px"
    >
      <p class="body-1 font-weight-medium mb-6">
        <span
          >Are you sure you want to switch to this repository (if transferring
          all settings? set will be deleted)?</span
        >
      </p>
      <div class="d-flex justify-end">
        <v-btn class="mr-2" height="32" text depressed @click="cancelSwitch"
          >Cancel</v-btn
        >
        <v-btn color="warning" height="32" depressed @click="accpetSwitch"
          >Continue</v-btn
        >
      </div>
    </Dialog>
    <Dialog
      v-model="openExperiment"
      padding-y="32px"
      padding-x="48px"
      width="750px"
    >
      <div class="experiment__title">Thử nghiệm kết quả hiển thị</div>
      <div class="experiment__span">
        Bạn chưa hình dung được kết quả sau khi tìm kiếm sẽ hiển thị như thế nào
        với khách hàng? Thử nhập đối tượng cần tìm kiếm dưới đây
      </div>
      <div v-for="(item, index) in dataExperiment" :key="index">
        <ExperimentSlotName
          :item="item"
          :index="index"
          @updateExperiment="updateExperiment"
        />
      </div>
      <hr class="my-4" />
      <v-tabs
        v-model="tabExperiment"
        active-class="active__tab"
        color="#FFBE07"
      >
        <v-tab href="#tab-4" class="child__tab">Kết quả trả ra</v-tab>
        <v-tab
          :disabled="!dbsearchData.params.collection"
          href="#tab-5"
          class="child__tab"
          >Hiển thị khi Chat</v-tab
        >
      </v-tabs>
      <v-divider />
      <v-tabs-items v-model="tabExperiment" class="mt-4">
        <v-tab-item value="tab-4">
          <v-data-table
            :headers="headerExperiment"
            :items="dataExperimentResults"
            :loading="submitting"
            loading-text="Tải dữ liệu ..."
          ></v-data-table>
        </v-tab-item>
        <!-- <v-tab-item value="tab-5">
          <TestChatDbSearch :data-chat-experiment="dataChatExperiment" />
        </v-tab-item> -->
      </v-tabs-items>
    </Dialog>
  </div>
</template>

<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'
import dbsearch from '@/assets/svg/actions/dbsearch.svg'
import NoteCircle from '@/assets/svg/NoteCircle.svg'
import ArrangeDatas from '@/components/dbsearch/ArrangeDatas'
import ButtonAction from '~/components/dbsearch/ButtonAction'
import ConditionFilterDbSearch from '@/components/dbsearch/ConditionFilterDbSearch'
import ArrowRightScenarios from '~/assets/svg/ArrowRightScenarios.svg'
// import CarouselAction from '~/components/dbsearch/CarouselAction'
import QuickReplyAction from '~/components/dbsearch/QuickReplyAction'
import ExperimentSlotName from '~/components/dbsearch/ExperimentSlotName'
// import TestChatDbSearch from '~/components/TestChat/TestChatDbSearch'
import Dialog from '~/components/Dialog'
import ResultTemplate from '~/components/dbsearch/ResultTemplate'
import IconButton from '~/components/IconButton.vue'

export default {
  components: {
    ConditionFilterDbSearch,
    ArrangeDatas,
    ButtonAction,
    // CarouselAction,
    QuickReplyAction,
    Dialog,
    ExperimentSlotName,
    ResultTemplate,
    IconButton
    // TestChatDbSearch
  },
  props: {
    keyDbSearch: { type: Number, default: 0 },
    actionIndex: { type: Number, default: -1 },
    scenarioId: { type: String, default: '' },
    skillid: { type: String, default: '' },
    command: { type: Object, default: () => {} },
    dataScenarios: { type: Array, default: () => [] }
  },
  computed: {
    ...mapGetters([
      'stores',
      'skills',
      'collectionId',
      'slotNameDbSearch',
      'fieldStores',
      'currentBot'
    ]),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements && r.scenario_id === this.scenarioId)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(`{{${item}}}`)
      })
      return opts
    },
    listStoreStore() {
      const stores = _.sortBy(this.stores, 'store_name')
      return stores
    },
    actions() {
      const actionIds = this.dbsearchData.actions.map((x) => {
        return x.id
      })

      let tmp = this.actionGroups.filter((r) => {
        return actionIds.includes(r.id)
      })

      if (!tmp) {
        tmp = []
      }
      for (const act of tmp) {
        if (act.predicate !== '') {
          act.predicate = JSON.parse(act.predicate)
        } else {
          act.predicate = null
        }
      }
      return tmp
    }
  },
  data() {
    return {
      tabExperiment: null,
      dataChatExperiment: [],
      openExperiment: false,
      dataExperiment: [],
      row: 'message',
      commandMissingMessage: undefined,
      commandMissingQuick: undefined,
      ArrowRightScenarios,
      loadingCreateMissing: false,
      confirmSwitchStore: false,
      submitting: false,
      dbsearch,
      tab: null,
      NoteCircle,
      type: 'and',
      isShow: false,
      dbsearchData: {
        params: { collection: null, store_type: 'UserDefinedStore‌' },
        save_results: null,
        filters: null,
        output_template: null,
        empty_message: null,
        order_by: null,
        group_by: null,
        select_fields: {},
        actions: []
      },
      conditions: [],
      commandMessage: [''],
      heightTab: 300,
      dataExperimentResults: [],
      dataChoices: [],
      arrangedatas: [],
      headerExperiment: [],
      defaultRequement: {
        type: 'message',
        image: 'svg/actions/text.svg',
        text: 'Thẻ văn bản'
      },
      itemRequirement: [
        {
          type: 'message',
          image: 'svg/actions/text.svg',
          text: 'Thẻ văn bản'
        },
        {
          type: 'quick_replies',
          image: 'svg/actions/quick_reply.svg',
          text: 'Thẻ trả lời nhanh'
        },
        {
          type: 'carousel',
          text: 'Thẻ Slider',
          image: 'svg/actions/slider.svg'
        }
      ],
      itemRequirementMock: [
        {
          type: 'message',
          image: 'svg/actions/text.svg',
          text: 'Thẻ văn bản'
        },
        {
          type: 'quick_replies',
          image: 'svg/actions/quick_reply.svg',
          text: 'Thẻ trả lời nhanh'
        },
        {
          type: 'carousel',
          text: 'Thẻ Slider',
          image: 'svg/actions/slider.svg'
        }
      ],
      botID: -1,
      showNewActionGroup: false,
      actionGroups: []
    }
  },
  watch: {
    dbsearchData(val) {
      if (!val.actions) {
        val.actions = []
      }
    }
  },
  mounted() {
    const { bot } = this.$route.params
    this.botID = bot
    this.dbsearchData = this.command
      ? this.command
      : {
          params: { collection: null, store_type: 'UserDefinedStore‌' },
          save_results: null,
          filters: null,
          output_template: null,
          empty_message: null,
          order_by: null,
          group_by: null,
          select_fields: {},
          actions: []
        }
    this.chosenStore()
    this.refreshActionGroups()
  },
  methods: {
    refreshActionGroups() {
      this.$store
        .dispatch('bots/getActionGroups', {
          botID: this.currentBot.id,
          skillID: this.skillid
        })
        .then(
          (data) =>
            (this.actionGroups = data.filter(
              (action) => action.type === 'requirement'
            ))
        )
        .catch(() => {
          this.$toast.global.my_error({
            message: 'Failed to get action group'
          })
        })
    },
    getActGroup(actGrpId) {
      for (const actionGroup of this.actions) {
        if (actionGroup.id === actGrpId) {
          return actionGroup
        }
      }
      return null
    },
    createNewActGrp(value) {
      const { condition } = value
      const tmpActionGroup = {
        name: `skill_${this.skillid}_dbsearch`,
        predicate: '',
        type: 'requirement'
      }
      if (condition) {
        tmpActionGroup.predicate = JSON.stringify(condition)
      }

      this.$store
        .dispatch('bots/createActionGroup', {
          botID: this.currentBot.id,
          skillID: this.skillid,
          actionGroup: tmpActionGroup
        })
        .then((data) => {
          console.log('create new action group')
          console.log(data)
          const newActionGroupID = data.id
          this.refreshActionGroups()
          this.dbsearchData.actions = this.dbsearchData.actions.concat([
            { id: newActionGroupID }
          ])
          // update dbsearch to server
          this.submitDbSearch()
        })
        .catch(() => {
          this.$toast.global.my_error('Error creating action group')
        })

      this.showNewActionGroup = false
    },
    deleteActGrp(value) {
      const actionGroupId = value
      if (actionGroupId) {
        this.$store
          .dispatch('bots/deleteActionGroup', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            groupID: actionGroupId
          })
          .then((req) => {
            this.refreshActionGroups()
            this.dbsearchData.actions = this.dbsearchData.actions.filter(
              (r) => {
                return r.id !== actionGroupId
              }
            )
            this.submitDbSearch()
          })
          .catch(() => {
            this.$toast.global.my_error()
          })
      }
    },
    updateActGrpCondition(value) {
      const { actionGroupId, condition } = value
      const actionGroup = this.getActGroup(actionGroupId)
      if (actionGroup) {
        const updateActionGroup = _.cloneDeep(actionGroup)
        updateActionGroup.predicate = JSON.stringify(condition)

        this.$store
          .dispatch('bots/updateActionGroup', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            groupID: actionGroup.id,
            actionGroup: updateActionGroup
          })
          .then(() => {
            this.refreshActionGroups()
            this.$toast.global.my_success({
              message: 'Update action group success'
            })
          })
          .catch(() => {
            this.$toast.global.my_error({
              message: 'Update action group fail'
            })
          })
      }
      // update action group to cloud
    },
    clearActGrpCondition(value) {
      const actionGroupId = value

      this.updateActGrpCondition({
        actionGroupId,
        condition: null
      })
    },
    cancelSwitch() {
      this.confirmSwitchStore = false
      this.dbsearchData.params.collection =
        this.collectionId.filter((r) => r.index === this.actionIndex) &&
        this.collectionId.filter((r) => r.index === this.actionIndex).length
          ? this.collectionId.filter((r) => r.index === this.actionIndex)[0].id
          : ''
    },
    changeDefaultRequirement(i) {
      this.defaultRequement = this.itemRequirement[i]
      this.itemRequirement = this.itemRequirementMock.filter(
        (r) => r.type !== this.defaultRequement.type
      )
      this.$store.commit('SET_TYPE_DATA_DB_SEARCH', this.defaultRequement.type)
      this.dbsearchData.output_template = null
    },
    submitCommand(value) {
      const outputTemp = {
        type: this.defaultRequement.type,
        value
      }
      if (outputTemp.type === 'message') {
        if (outputTemp.value.buttons && outputTemp.value.buttons.length) {
          outputTemp.type = 'buttons'
        } else {
          outputTemp.type = 'message'
          outputTemp.buttons = []
        }
      }
      this.dbsearchData.output_template = outputTemp
      this.submitDbSearch()
    },
    checkSwitchStore() {
      if (
        this.collectionId.filter((r) => r.index === this.actionIndex).length &&
        this.collectionId.filter((r) => r.index === this.actionIndex)[0].id
      ) {
        this.confirmSwitchStore = true
      } else {
        this.chosenStore()
        this.submitDbSearch()
      }
    },
    submitMissingCollection(value, id) {
      const action = {
        command: value,
        redirect_skill: null,
        type: this.row
      }
      if (this.row === 'message') {
        if (action.command.buttons && action.command.buttons.length) {
          action.type = 'buttons'
        } else {
          action.type = 'message'
          action.command.buttons = []
        }
      }
      let actionID = null
      if (this.commandMissingMessage && this.commandMissingMessage.id) {
        actionID = this.commandMissingMessage.id
      }
      if (this.commandMissingQuick && this.commandMissingQuick.id) {
        actionID = this.commandMissingQuick.id
      }
      if (id && actionID) {
        this.$store
          .dispatch('bots/updateAction', {
            botID: this.botID,
            skillID: this.skillid,
            groupID: this.dbsearchData.empty_message,
            actionID,
            newAction: action
          })
          .then((action) => {
            if (this.row === 'message') {
              this.commandMissingMessage = {
                ...this.commandMissingMessage,
                action
              }
              this.commandMissingQuick = undefined
            } else {
              this.commandMissingQuick = {
                ...this.commandMissingQuick,
                action
              }
              this.commandMissingMessage = undefined
            }

            this.submitDbSearch()
          })
          .catch(() => {
            this.$toast.global.my_error()
          })
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.botID,
            skillID: this.skillid,
            actionGroup: {
              name: '',
              predicate: '',
              type: 'requirement'
            }
          })
          .then((data) => {
            this.$store
              .dispatch('bots/createAction', {
                botID: this.botID,
                skillID: this.skillid,
                groupID: data.id,
                newAction: action
              })
              .then((action) => {
                this.dbsearchData.empty_message = data.id
                this.submitDbSearch()
              })
              .catch(() => {
                this.$toast.global.my_error()
              })
          })
          .catch(() => {
            this.$toast.global.my_error()
          })
      }
    },
    updateExperiment(data, index) {
      this.dataExperiment[index] = data
      if (!this.dataExperiment.filter((r) => !r.slot_value).length) {
        let utterance = this.dataExperiment.reduce((r, i) => {
          return r.concat(`__MEM_${i.slot_name}=${i.slot_value},`)
        }, '__COMMAND(')
        if (this.dataScenarios.filter((r) => r.type === 'requirement')) {
          utterance = utterance.concat(
            `__CALL_ACTION=${this.actionGroupId}|${this.actionIndex - 1})`
          )
        } else {
          utterance = utterance.concat(
            `__CALL_ACTION=${this.actionGroupId}|${this.actionIndex - 1})`
          )
        }
        this.submitting = true
        this.$store
          .dispatch('bots/testChat', {
            botID: this.botID,
            utterance
          })
          .then((result) => {
            if (
              result.context &&
              result.context.memory &&
              result.context.memory.dbsearch.items
            ) {
              this.dataExperimentResults = result.context.memory.dbsearch.items
            }
            this.dataChatExperiment = result.data
            this.submitting = false
          })
          .catch(() => {
            this.submitting = false
          })
      }
    },
    callExperiment() {
      this.openExperiment = true
      const dbSearchItem = this.slotNameDbSearch[
        this.slotNameDbSearch.findIndex((r) => r.id === this.actionIndex)
      ]
      let allSlotName = []
      if (dbSearchItem && dbSearchItem.action && dbSearchItem.action.data) {
        allSlotName.push(dbSearchItem.action.data)
      }
      if (
        dbSearchItem &&
        dbSearchItem.slotname &&
        dbSearchItem.slotname.length
      ) {
        allSlotName.push(dbSearchItem.slotname)
      }
      allSlotName = [...new Set(allSlotName.flat(2))]
      allSlotName = _.compact(allSlotName)
      allSlotName = allSlotName.filter((r) => typeof r !== 'boolean')
      allSlotName =
        allSlotName.length &&
        allSlotName.map((r) => {
          return {
            slot_name: r.replace('{{', '').replace('}}', ''),
            slot_value: ''
          }
        })
      if (this.fieldStores.length) {
        this.headerExperiment = this.fieldStores.map((r, index) => {
          return {
            text: r.name,
            value: r.code
          }
        })
      }
      this.dataExperiment = allSlotName
      this.dataExperimentResults = []
      this.dataChatExperiment = []
    },
    convertObject() {
      const objectSelectFields = {}
      for (let index = 0; index < this.arrangedatas.length; index++) {
        objectSelectFields[
          Object.keys(this.arrangedatas[index])[0]
        ] = Object.values(this.arrangedatas[index])[0]
      }
      this.dbsearchData.select_fields = objectSelectFields
    },
    updateArrangeEle(data, index) {
      this.arrangedatas[index] = data
      this.convertObject()
      this.submitDbSearch()
    },
    chosenGroupBy() {
      const omitFieldGroupBy = this.dataChoices.filter(
        (r) => r.code !== this.dbsearchData.group_by && r.code
      )
      this.arrangedatas = []
      omitFieldGroupBy.forEach((t) => {
        this.arrangedatas.push({
          [t.code]: { op: 'unique', value: false }
        })
      })
      this.convertObject()
      this.submitDbSearch()
    },
    show() {
      this.isShow = !this.isShow
    },
    renameKey(key, newKey) {
      if (_.includes(_.keys(this.dbsearchData.filters), key)) {
        this.dbsearchData.filters[newKey] = this.dbsearchData.filters[key]
        delete this.dbsearchData.filters[key]
      }
    },
    changeConditionType() {
      this.type = this.type === 'and' ? 'or' : 'and'
      this.renameKey(Object.keys(this.dbsearchData.filters)[0], this.type)
      this.submitDbSearch()
    },
    addCondition() {
      this.conditions.push({})
    },
    accpetSwitch() {
      this.confirmSwitchStore = false
      this.dbsearchData = {
        ...this.dbsearchData,
        save_results: null,
        filters: null,
        output_template: null,
        empty_message: null,
        order_by: null,
        group_by: null,
        select_fields: {}
      }
      this.defaultRequement = {
        type: 'message',
        image: 'svg/actions/text.svg',
        text: 'Thẻ văn bản'
      }
      this.chosenStore()
      this.submitDbSearch()
    },
    chosenStore() {
      if (this.dbsearchData.filters) {
        this.type = Object.keys(this.dbsearchData.filters)[0]
        this.conditions = []
        if (
          this.dbsearchData.filters[this.type] &&
          this.dbsearchData.filters[this.type].length
        ) {
          this.dbsearchData.filters[this.type].forEach((r) => {
            this.conditions.push(r.and[0])
          })
        } else {
          this.conditions = []
        }
        setTimeout(() => {
          this.updateDbSearch()
        }, 200)
      } else {
        this.$store.commit('SET_SLOT_NAME_DB_SEARCH', {
          id: this.actionIndex,
          slotname: []
        })
      }
      if (this.dbsearchData.params && this.dbsearchData.params.collection) {
        const filterStore = this.stores.filter(
          (r) => r.id === this.dbsearchData.params.collection
        )
        if (filterStore.length) {
          this.dataChoices = filterStore[0].fields.map((r) => {
            return {
              name: r.field_name,
              code: r.field_code,
              type: r.field_type
            }
          })
          this.dataChoices.push({
            name: 'Không chọn',
            code: null
          })
          this.$store.commit(
            'SET_FIELD_STORES',
            this.dataChoices.filter((r) => r.code)
          )
          let omitFieldGroupBy = this.dataChoices.filter((r) => r.code)
          if (this.dbsearchData.group_by) {
            omitFieldGroupBy = this.dataChoices.filter(
              (r) => r.code && r.code !== this.dbsearchData.group_by
            )
          }

          omitFieldGroupBy.forEach((t) => {
            this.arrangedatas.push({
              [t.code]: { op: 'unique', value: false }
            })
          })
          this.convertObject()
          if (
            this.dbsearchData.select_fields &&
            Object.keys(this.dbsearchData.select_fields).length
          ) {
            this.arrangedatas = []
            Object.keys(this.dbsearchData.select_fields).forEach((r) => {
              this.arrangedatas.push({
                [r]: this.dbsearchData.select_fields[r]
              })
            })
          }
          if (this.dbsearchData.empty_message) {
            this.$store
              .dispatch('bots/getActions', {
                botID: this.botID,
                skillID: this.skillid,
                groupID: this.dbsearchData.empty_message
              })
              .then((data) => {
                this.row = data[0].type
                if (this.row === 'buttons' || this.row === 'message') {
                  this.row = 'message'
                  this.commandMissingMessage = data[0]
                  this.commandMissingQuick = undefined
                } else {
                  this.commandMissingQuick = data[0]
                  this.commandMissingMessage = undefined
                }
                this.isShow = true
              })
              .catch(() => {
                this.$toast.global.my_error()
              })
          }
          if (this.dbsearchData.output_template) {
            this.defaultRequement = this.itemRequirement.filter(
              (r) => r.type === this.dbsearchData.output_template.type
            )[0]
            if (this.defaultRequement) {
              this.itemRequirement = this.itemRequirementMock.filter(
                (r) => r.type !== this.defaultRequement.type
              )
            } else {
              this.itemRequirement = this.itemRequirementMock.filter(
                (r) => r.type !== 'message'
              )
            }
            if (
              this.defaultRequement &&
              this.defaultRequement.type &&
              this.defaultRequement.type === 'quick_replies'
            ) {
              const dataButtons = this.dbsearchData.output_template.value
                .buttons[0].payload
              setTimeout(() => {
                this.$store.commit('UPDATE_SLOT_NAME_SKILL', {
                  id: this.actionIndex,
                  slotname: {
                    type: 'quick_replies',
                    data: [dataButtons]
                  }
                })
              }, 250)
            }
            if (
              this.defaultRequement &&
              this.defaultRequement.type &&
              this.defaultRequement.type === 'carousel' &&
              this.dbsearchData.output_template.value &&
              this.dbsearchData.output_template.value.length
            ) {
              if (this.dbsearchData.output_template.value[0].buttons) {
                const dataButtons = this.dbsearchData.output_template.value[0].buttons.map(
                  (r) => {
                    if (r.payload && r.payload.assign_to) {
                      return r.payload.assign_to
                    }
                  }
                )
                setTimeout(() => {
                  this.$store.commit('UPDATE_SLOT_NAME_SKILL', {
                    id: this.actionIndex,
                    slotname: {
                      type: 'carousel',
                      data: [...new Set(dataButtons)]
                    }
                  })
                }, 250)
              }
            }
            if (!this.defaultRequement) {
              this.defaultRequement = {
                type: 'message',
                image: 'svg/actions/text.svg',
                text: 'Thẻ văn bản'
              }
            }
            this.$store.commit(
              'SET_TYPE_DATA_DB_SEARCH',
              this.defaultRequement.type
            )
          }
        }
      }
      this.$store.commit('UPDATE_COLLECTION_ID', {
        index: this.actionIndex,
        id: this.dbsearchData.params.collection
          ? this.dbsearchData.params.collection
          : null
      })
    },
    updateFilter(condition, index) {
      this.conditions[index] = condition
      if (this.conditions.length) {
        this.dbsearchData.filters = {}
        this.dbsearchData.filters[this.type] = []
        this.conditions.forEach((r) => {
          this.dbsearchData.filters[this.type].push({
            and: [r]
          })
        })
      } else {
        this.dbsearchData.filters = null
      }
      this.updateDbSearch()
      this.submitDbSearch()
    },
    updateDbSearch() {
      if (
        this.dbsearchData.filters &&
        this.dbsearchData.filters[this.type] &&
        this.dbsearchData.filters[this.type].length
      ) {
        const dataSlot = this.dbsearchData.filters[this.type].map((r) => {
          if (
            r.and[0].val &&
            r.and[0].op !== 'is_empty' &&
            r.and[0].op !== 'is_not_empty'
          ) {
            return r.and[0].val
          }
        })
        if (
          this.slotNameDbSearch.filter((r) => r.id === this.actionIndex).length
        ) {
          this.$store.commit('UPDATE_SLOT_NAME', {
            id: this.actionIndex,
            slotname: [...new Set(dataSlot)]
          })
        } else {
          this.$store.commit('SET_SLOT_NAME_DB_SEARCH', {
            id: this.actionIndex,
            slotname: [...new Set(dataSlot)]
          })
        }
      }
    },
    deleteElementCondtions(index) {
      this.conditions.splice(index, 1)
      if (this.conditions.length) {
        this.dbsearchData.filters = {}
        this.dbsearchData.filters[this.type] = []
        this.conditions.forEach((r) => {
          this.dbsearchData.filters[this.type].push({
            and: [r]
          })
        })
      } else {
        this.dbsearchData.filters = null
      }
      this.updateDbSearch()
      this.submitDbSearch()
    },
    submitDbSearch() {
      this.updateDbSearch()
      if (this.dbsearchData.params && !this.dbsearchData.params.store_type) {
        // eslint-disable-next-line unicorn/escape-case
        this.dbsearchData.params.store_type = 'UserDefinedStore\u200c'
      }
      if (
        this.dbsearchData &&
        this.type &&
        this.dbsearchData.filters &&
        this.dbsearchData.filters[this.type] &&
        this.dbsearchData.filters[this.type].length
      ) {
        const haveSearch = this.dbsearchData.filters[this.type].filter(
          (r) => r.and[0].op === 'search'
        )
        if (haveSearch.length) {
          this.dbsearchData.order_by = { score: { $meta: 'textScore' } }
        } else {
          this.dbsearchData.order_by = null
        }
      }
      this.$emit('submitCommand', this.dbsearchData)
    },
    deleteAction() {
      confirm('Are you sure delete this action') &&
        this.$emit('delete', this.id)
    }
  }
}
</script>
<style lang="scss" scoped>
.sub_title {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.sub__memory {
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.show-not-info {
  img {
    transform: rotate(90deg);
  }
}
.not_have_info_cus {
  margin-top: 12px;
  margin-bottom: 4px;
  cursor: pointer;
  transform: 0.4s ease-in-out;
}
.video {
  padding: 16px;
}
.title_not_have_info {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.title_video {
  color: #595959;
  font-size: 16px;
  font-weight: 500;
}
.active__tab {
  font-weight: 600 !important;
  color: #595959 !important;
}
.child__tab {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  text-transform: capitalize;
}
.label__element {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.current__condition {
  font-size: 12px;
  line-height: 22px;
  margin-left: 2px;
}
.message {
  background: #f5f5f5;
}
.experiment__title {
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 12px;
}
.experiment__span {
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  margin-bottom: 24px;
}
</style>

<style lang="scss">
.text-start {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.action__list__dropdown {
  .v-list-item__content {
    padding: 8px 0 !important;
  }
}
::-webkit-input-placeholder {
  /* Edge */
  font-size: 14px !important;
  line-height: 22px;
  color: #595959 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 14px !important;
  line-height: 22px;
  color: #595959 !important;
}

::placeholder {
  font-size: 14px !important;
  line-height: 22px;
  color: #595959 !important;
}
.input__small {
  .v-input__append-inner {
    margin-top: 4px !important;
  }
}
.label__element__condition {
  font-size: 12px;
  line-height: 16px;
  color: #595959;
}
.condition__other {
  color: royalblue !important;
  cursor: pointer;
}
</style>
