<template>
  <div
    class="mb-2 message border-all d-flex flex-column"
    :class="{
      is_autocomment_message: typeButton === 'automation_message'
    }"
  >
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="button" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Buttons</span>
      <v-spacer />
      <div
        v-if="typeButton !== 'automation_message'"
        class="d-flex align-center"
      >
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_redirect">Text message</div>
      <v-textarea
        v-model="myText"
        dense=""
        hide-details=""
        outlined=""
        :rows="3"
        class="input__message"
        @blur="submit"
      ></v-textarea>
    </div>
    <div class="">
      <div class="wrap__list__button">
        <div
          v-for="(item, indexButton) in buttonForm"
          :key="indexButton"
          class="list__button mx-4 mb-2"
          @click="editButton(item, indexButton)"
        >
          <div class="remove__button">
            <v-btn
              icon=""
              color="#f5f5f5"
              small=""
              @click.stop.prevent="removeOnceButton(indexButton)"
            >
              <img :src="close" alt="" srcset="" />
            </v-btn>
          </div>
          <div class="title__button">
            {{ item.title }}
          </div>
          <div
            v-if="item.payload"
            class="subtitle__button"
            v-html="getBlockName(item.payload)"
          ></div>
        </div>
        <div class="ma-4 mt-0 d-flex">
          <div
            v-if="buttonForm.length !== 3"
            class="add__button"
            @click="addButton"
          >
            <v-icon color="#000000">mdi-plus</v-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="slot__rest">{{ 3 - buttonForm.length }} slots maximum</div>
    <ButtonInfo
      ref="document"
      :index="index"
      :item="itemData"
      type="buttons"
      :open-button="openButton"
      @cancel="cancel"
      @updateButtonInfo="updateButtonInfo"
      @deleteButton="deleteButton"
    />
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingDocument"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'
import ButtonInfo from '~/components/actions/ButtonInfo'
import button from '~/assets/actions/button.svg'
import IconButton from '~/components/IconButton.vue'
import close from '~/assets/svg/Close.svg'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    ButtonInfo,
    IconButton,
    DeleteGeneral
  },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    // eslint-disable-next-line vue/require-prop-types
    value: {
      default: () => {
        return null
      }
    },
    id: { type: String, default: '' },
    typeButton: { type: String, default: '' },
    dataButton: { type: Array, default: () => [] }
  },
  data() {
    return {
      button,
      myText: '',
      close,
      openButton: false,
      openDeleteIntent: false,
      index: -1,
      itemData: {},
      buttonForm: [],
      reactive: false,
      isCollage: false
    }
  },
  computed: {
    ...mapGetters(['skills', 'loadingDocument'])
  },
  created() {
    this.myText = this.value ? this.value : ''
    this.buttonForm = this.dataButton.map(function(el) {
      const o = Object.assign({}, el)
      o.isActive = true
      return o
    })
  },
  methods: {
    focusInput() {
      setTimeout(() => {
        if (this.$refs.messageTextarea.length) {
          this.$refs.messageTextarea[0].$emit('focusInput')
        }
      }, 300)
    },
    commit() {
      this.buttonForm = _.without(this.buttonForm, {})
      const command = {
        title: this.myText,
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      if (
        command.title &&
        command.title.trim() !== '' &&
        command.buttons.length
      ) {
        this.$emit('submitCommand', command, this.id)
      }
    },
    removeOnceButton(index) {
      this.buttonForm.splice(index, 1)
      this.commit()
    },
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_DOCUMENT', true)
    },
    cancelDelete() {
      this.openDeleteIntent = !this.openDeleteIntent
    },
    editButton(item, index) {
      this.itemData = item
      this.index = index
      this.openButton = true
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    getBlockName(value) {
      const valueNew = value.slice(31, value.length).replace(')', '')
      const block = this.skills.filter((item) => {
        return item.id === valueNew.trim()
      })
      if (block.length)
        return (
          'The block ' +
          `<span class="text__block">${block[0].name}</span>` +
          ' in scenario ' +
          `<span class="text__block">${block[0].scenario}</span>`
        )
      else return value
    },
    submit(e) {
      if (this.myText !== '' && this.buttonForm.length) {
        const command = {
          title: this.myText,
          buttons: []
        }
        command.buttons = this.buttonForm.map((r) => {
          return {
            payload: r.payload,
            title: r.title,
            type: r.type
          }
        })
        this.$emit('submitCommand', command, this.id)
      }
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    contentChanged(text) {
      this.myText = text
    },
    deleteAction() {
      confirm('Are you sure delete this action') &&
        this.$emit('delete', this.id)
    },
    addButton() {
      this.openButton = true
      this.buttonForm.push({})
    },
    cancel(index) {
      this.openButton = false
      this.buttonForm = this.buttonForm.filter((r) => r.title)
    },
    updateButtonInfo(data) {
      if (data.index === -1) {
        this.buttonForm[this.buttonForm.length - 1] = data.button
      } else {
        this.buttonForm[data.index] = data.button
      }
      this.buttonForm = _.without(this.buttonForm, {})
      const command = {
        title: this.myText,
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      this.openButton = false
      if (
        command.title &&
        command.title.trim() !== '' &&
        command.buttons.length
      ) {
        this.$emit('submitCommand', command, this.id)
      }
    },
    deleteButton(index) {
      this.buttonForm.splice(index, 1)
      const command = {
        title: this.myText,
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      this.$emit('submitCommand', command, this.id)
    }
  }
}
</script>
<style lang="scss" scoped>
.is_autocomment_message {
  width: 358px;
}
.text__block {
  font-weight: 700;
  color: #b98383;
}
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.slot__rest {
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  margin-left: 12px;
  margin-bottom: 4px;
}
.add__button {
  height: 54px;
  width: 48px;
  background: #ffffff;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrap__list__button {
  display: flex;
  flex-wrap: wrap;
}

.list__button {
  width: 122px;
  min-height: 56px;
  text-align: center;
  background: #ffffff;
  padding: 4px;
  cursor: pointer;
  position: relative;
  &:hover {
    .remove__button {
      display: block;
    }
  }
  .remove__button {
    position: absolute;
    z-index: 10;
    display: none;
    right: -10px;
    top: -12px;
  }
  .title__button {
    font-size: 14px;
    line-height: 22px;
    color: #1890ff;
    overflow: hidden;
    overflow-x: auto;
  }
  .subtitle__button {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;

    color: #8c8c8c;
  }
}
</style>
