<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="connecttolive" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Connect to live agent</span>
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_general">
        Redirect message before fallback to human agent
      </div>
      <v-textarea
        v-model="valueRequest"
        dense
        block
        outlined=""
        rows="3"
        hide-details=""
        class="pa-2 input__message"
        @blur="submit"
        @keypress="onkeypress"
      ></v-textarea>
    </div>

    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingHuman"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import connecttolive from '~/assets/actions/connecttolive.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    action: { type: Object, default: () => {} },
    command: { type: Object, default: () => {} },
    itemSkills: { type: Array, default: () => [] }
  },
  computed: {
    ...mapGetters(['loadingHuman'])
  },
  data() {
    return {
      valueRequest: 'We will forward your chat to a live support staff.',
      connecttolive,
      isCollage: false,
      openDeleteIntent: false
    }
  },
  watch: {
    value(val) {
      if (val !== this.valueRequest) {
        this.valueRequest = val
      }
    }
  },
  created() {
    if (this.value) {
      this.valueRequest = this.value
    }
  },
  methods: {
    onkeypress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        this.submit()
      }
    },
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_HUMAN', true)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    submit() {
      this.$emit('submitCommand', [this.valueRequest], this.id)
    },
    deleteCondition() {
      this.openDeleteIntent = true
    }
  }
}
</script>

<style lang="scss" scoped>
.title_general {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
</style>
