<template>
  <v-card class="card__image__input" outlined>
    <div id="pick-avatar" class="image__input">
      <div class="overlay">
        <Camera class="image__camera" />
      </div>
      <div v-if="displayImage" class="content__image">
        <Camera />
        <div class="action">
          <span class="drag"> Kéo hoặc tải ảnh lên</span>
          <span class="size"> Dung lượng tối đa 10 MB</span>
        </div>
      </div>
      <div v-else class="content__image__display">
        <img
          :src="imageUrl ? imageUrl : ''"
          style="max-width: 248px; max-height: 190px;"
        />
      </div>
    </div>
    <!-- <client-only>
      <avatar-cropper
        trigger="#pick-avatar"
        :output-options="{ width: 250, height: 198 }"
        :labels="{ submit: 'Lưu', cancel: 'Hủy' }"
        upload-url="/files/upload"
        @uploading="handleUploading"
        @change="changeImage"
        @uploaded="handleUploaded"
        @completed="handleCompleted"
        @error="handlerError"
    /></client-only> -->
    <div class="decription">
      <v-text-field
        ref="imageUrlNew"
        v-model="imageUrl"
        class="carousel__input"
        :class="{
          'error-required': required
        }"
        outlined
        height="32"
        dense
        placeholder="Dán đường dẫn hình ảnh"
        @blur="submit"
        @focus="onFocus"
      />
    </div>
  </v-card>
</template>
<script>
import Camera from '~/components/Camera'

export default {
  components: {
    Camera
  },
  props: {
    command: {
      type: String,
      default: ''
    },
    indexImage: { type: Number, default: -1 },
    id: { type: String, default: '' },
    typeButton: { type: String, default: '' }
  },
  data() {
    return {
      focusTitle: false,
      isFocus: false,
      focusDescription: false,
      displayImage: false,
      message: '',
      userAvatar: undefined,
      reactive: false,
      imageUrl: null,
      required: false
    }
  },
  watch: {
    command() {
      this.parseData()
    }
  },
  mounted() {
    if (this.command !== null && this.command === '') {
      this.$nextTick(() => {
        this.required = true
      })
    } else if (this.command) {
      this.isFocus = false
      this.required = false
    } else {
      this.$refs.imageUrlNew.focus()
      this.isFocus = true
      this.required = false
    }
  },
  created() {
    this.parseData()
    this.$on('resetData', () => {
      this.imageUrl = ''
    })
  },
  methods: {
    parseData() {
      if (this.command !== 'null') {
        this.imageUrl = this.command
      }
      if (
        this.imageUrl === '' ||
        !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(this.imageUrl)
      ) {
        this.required = true
      } else {
        this.required = false
      }
    },
    onKeyDown(e) {
      if (this.formImage.title.length >= 80) {
        if (e.keyCode >= 48 && e.keyCode <= 90) {
          e.preventDefault()
          // eslint-disable-next-line no-useless-return
          return
        }
      }
    },
    onKeyDownMessage(e) {
      if (this.formImage.subtitle.length >= 80) {
        if (e.keyCode >= 48 && e.keyCode <= 90) {
          e.preventDefault()
          // eslint-disable-next-line no-useless-return
          return
        }
      }
    },
    onFocus() {
      this.required = false
      this.isFocus = true
    },
    changeImage(file, render) {},
    handleUploading(form, xhr) {
      this.message = 'uploading...'
    },
    handleUploaded(response) {
      this.userAvatar = response.relative_url
      // Maybe you need call vuex action to
      // update user avatar, for example:
      // this.$dispatch('updateUser', {avatar: response.url})
      this.message = 'user avatar updated.'
    },
    handleCompleted(response, form, xhr) {
      this.message = 'upload completed.'
    },
    handlerError(message, type, xhr) {
      this.message = 'Oops! Something went wrong...'
    },

    submit() {
      this.focusDescription = false
      this.focusTitle = false
      this.isFocus = false
      if (
        !this.isFocus &&
        (this.imageUrl === '' ||
          !this.imageUrl ||
          !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(this.imageUrl))
      ) {
        this.required = true
        this.$toast.global.my_error({
          message: 'Đường dẫn ảnh sai định dạng'
        })
        this.imageUrl = ''
      } else {
        this.required = false
      }
      this.$emit('submitCommand', this.imageUrl)
    },
    chooseImage() {
      this.$refs.fileInput.click()
    },
    onSelectFile() {
      const input = this.$refs.fileInput
      const files = input.files
      if (files && files[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.imageUrl = e.target.result
        }
        reader.readAsDataURL(files[0])
        this.$emit('input', files[0])
      }
    },
    removeImage() {
      this.reactive = !this.reactive
      this.$emit('removeImage', this.indexImage)
    },
    handleChangeButtons(listButton) {
      this.$emit('submitCommand', {
        key: Date.now(),
        ...this.formImage,
        buttons: listButton
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.card__image__input {
  width: 322px;
}
.card-autocomment-image {
  width: 100% !important;
}
.file-input {
  display: none;
}
.action__title {
  width: 30px;
  .delete,
  .drag {
    cursor: pointer;
  }
}
.content__image__display {
  padding: 0 46px;
  position: relative;
}
.decription {
  padding: 4px 4px 12px 4px;
  border-top: 1px solid $grey-4;
  .icon__textarea {
    position: relative;
    .icon__emotion {
      position: absolute;
      right: 4px;
      top: 30px;
      .v-icon {
        font-size: 16px !important;
        color: #bfbfbf;
        cursor: pointer;
      }
    }
  }
}
.show__typing {
  padding-top: 20px;
  font-size: 12px;
  color: #ffbe07;
}
.image__input {
  height: 190px;
  position: relative;
  text-align: center;
  font-size: 12px;
  .overlay {
    display: none;
    width: 100%;
    height: 190px;
    background: #c18989d1;
    position: absolute;
    z-index: 2;
    .image__camera {
      left: 44%;
      top: 40%;
      position: absolute;
    }
  }
  .content__image {
    padding-top: 64px;
    .action {
      display: grid;
      .drag {
        color: $grey-8;
      }
      .size {
        color: $grey-6;
      }
    }
  }
  &:hover {
    .overlay {
      display: block;
    }
    .image__camera {
      display: block;
      z-index: 4;
    }
  }
}
.add__button {
  font-size: 12px;
  color: #bfbfbf;
  margin-top: 6px;
}

.placeholder:hover {
  background: #e0e0e0;
}
</style>
<style lang="scss">
.error-required {
  border: 1px solid red;
  height: 32px;
  fieldset {
    border: none;
  }
}
.carousel__input {
  .v-input__control {
    font-size: 14px;
  }
  .v-text-field__details {
    display: none;
  }
}
</style>
