<template>
  <div>
    <!-- <v-btn class="close-image" fab dark x-small color="primary">
      <v-icon dark @click="removeImage">mdi-window-close</v-icon>
    </v-btn>
    <div
      class="image-input"
      :style="{ 'background-image': `url(${formImage.imageUrl})` }"
      @click="chooseImage"
    >
      <span v-if="!formImage.imageUrl" class="placeholder">
        Choose an Image
      </span>
      <input
        ref="fileInput"
        class="file-input"
        type="file"
        @input="onSelectFile"
      />
    </div> -->
    <div class="mb-1 mr-4 title_redirect">Image URL (Required)</div>
    <v-text-field
      v-model="formImage.imageUrl"
      class="input__message"
      outlined=""
      height="40"
      dense=""
      placeholder="Enter a URL"
      hide-details=""
      @keypress="onKeyPress"
    />
    <div class="previewImage">
      <img
        :src="
          formImage.imageUrl && formImage.imageUrl.trim() !== ''
            ? formImage.imageUrl
            : PictureReview
        "
        alt=""
        srcset=""
        :class="{
          img__have__value:
            formImage.imageUrl && formImage.imageUrl.trim() !== ''
        }"
      />
    </div>
    <div class="mb-1 mr-4 title_redirect">Title (Required)</div>
    <v-text-field
      v-model="formImage.title"
      class="input__message mb-3"
      outlined=""
      height="40"
      dense=""
      placeholder="Enter a title"
      hide-details=""
      @keypress="onKeyPress"
    />
    <div class="mb-1 mr-4 title_redirect">Subtitle URL</div>
    <v-text-field
      v-model="formImage.subtitle"
      class="input__message mb-3"
      outlined=""
      height="40"
      dense=""
      placeholder="Enter a subtitle"
      hide-details=""
      @keypress="onKeyPress"
    />
    <div class="parent__wrap">
      <div class="wrap__list__button">
        <div
          v-for="(itemButton, indexButton) in buttonForm"
          :key="indexButton"
          class="list__button mr-4 mb-2"
          @click="editButton(itemButton, indexButton)"
        >
          <div class="remove__button">
            <v-btn
              icon=""
              color="#f5f5f5"
              small=""
              @click.stop.prevent="removeOnceButton(indexButton)"
            >
              <img :src="close" alt="" srcset="" />
            </v-btn>
          </div>
          <div class="title__button">
            {{ itemButton.title }}
          </div>
          <div
            v-if="itemButton.payload && parent !== 'db_search'"
            class="subtitle__button"
            v-html="getBlockName(itemButton.payload, parent)"
          ></div>
          <div
            v-if="itemButton.redirect_skill && parent === 'db_search'"
            class="subtitle__button"
            v-html="getBlockName(itemButton.redirect_skill, parent)"
          ></div>
        </div>
      </div>
    </div>

    <ButtonInfo
      ref="document"
      :index="index"
      :item="itemData"
      :parent="parent"
      :action-index="actionIndex"
      type="carousel"
      :open-button="openButton"
      @cancel="cancel"
      @updateButtonInfo="updateButtonInfo"
      @deleteButton="deleteButton"
    />
    <div class="mt-4 d-flex justify-center">
      <div
        v-if="buttonForm.length !== 10"
        class="add__image__action"
        @click="addButton"
      >
        <v-icon color="#595959">mdi-plus-circle-outline</v-icon>
        <span class="add__item__image__action">Add item</span>
      </div>
    </div>
    <div class="slot__rest">{{ 10 - buttonForm.length }} slots maximum</div>
  </div>
</template>
<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'
import ButtonInfo from '~/components/actions/ButtonInfo'
import PictureReview from '~/assets/svg/PictureReview.svg'
import close from '~/assets/svg/Close.svg'

export default {
  components: {
    ButtonInfo
  },
  props: {
    indexImage: { type: Number, default: -1 },
    item: { type: Object, default: () => {} },
    dataButton: { type: Array, default: () => [] },
    id: { type: String, default: '' },
    parent: { type: String, default: null },
    actionIndex: { type: Number, default: -1 }
  },
  data() {
    return {
      buttonForm: [],
      close,
      openButton: false,
      PictureReview,
      reactive: false,
      index: -1,
      itemData: {},
      formImage: {
        imageUrl: null,
        title: '',
        subtitle: ''
      }
    }
  },
  watch: {
    item(val) {
      this.formImage = val
    },
    dataButton(val) {
      this.buttonForm = val.map(function(el) {
        const o = Object.assign({}, el)
        o.isActive = true
        return o
      })
    }
  },
  computed: {
    ...mapGetters(['skills'])
  },
  created() {
    this.formImage = this.item
    if (this.dataButton.length) {
      this.buttonForm = this.dataButton.map(function(el) {
        const o = Object.assign({}, el)
        o.isActive = true
        return o
      })
    }
  },
  methods: {
    removeOnceButton(index) {
      this.buttonForm.splice(index, 1)
      this.buttonForm = _.without(this.buttonForm, {})
      const command = {
        ...this.formImage,
        buttons: this.buttonForm
      }
      this.$emit('submitCommand', command, this.id, 'carousel')
    },
    getBlockName(value, parent) {
      const valueNew =
        parent !== 'db_search'
          ? value.slice(31, value.length).replace(')', '')
          : value
      const block = this.skills.filter((item) => {
        return item.id === valueNew.trim()
      })
      if (block.length)
        return (
          'The block ' +
          `<span class="text__block">${block[0].name}</span>` +
          ' in scenario ' +
          `<span class="text__block">${block[0].scenario}</span>`
        )
      else return value
    },
    cancel(index) {
      this.openButton = false
      this.buttonForm = this.buttonForm.filter((r) => r.title)
    },
    onKeyPress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        if (
          this.formImage.title &&
          this.formImage.imageUrl &&
          (this.formImage.title.trim().length ||
            this.formImage.imageUrl.trim().length)
        ) {
          const command = {
            ...this.formImage,
            buttons: this.buttonForm
          }
          this.$emit('submitCommand', command, this.id, 'carousel')
        }
      }
    },
    chooseImage() {
      this.$refs.fileInput.click()
    },
    onSelectFile() {
      const input = this.$refs.fileInput
      const files = input.files
      if (files && files[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.imageUrl = e.target.result
        }
        reader.readAsDataURL(files[0])
        this.$emit('input', files[0])
      }
    },
    removeImage() {
      this.reactive = !this.reactive
      this.$emit('removeImage', this.indexImage)
    },
    editButton(item, index) {
      this.itemData = item
      this.index = index
      this.openButton = true
    },
    addButton() {
      this.openButton = true
      this.buttonForm.push({})
    },
    updateButtonInfo(data) {
      if (data.index === -1) {
        this.buttonForm[this.buttonForm.length - 1] = data.button
      } else {
        this.buttonForm[data.index] = data.button
      }
      this.buttonForm = _.without(this.buttonForm, {})
      const command = {
        ...this.formImage,
        buttons: this.buttonForm
      }
      this.$emit('submitCommand', command, this.id, 'carousel')
      this.openButton = false
    },
    deleteButton(index) {
      this.buttonForm.splice(index, 1)
      const command = {
        ...this.formImage,
        buttons: this.buttonForm
      }
      this.$emit('submitCommand', command, this.id, 'carousel')
    },
    editButtonInfo(index, value) {
      if (value === 'save') {
        this.buttonForm[index].isActive = true
      } else {
        this.buttonForm[index].isActive = false
      }
      this.reactive = !this.reactive
    }
  }
}
</script>

<style lang="scss" scoped>
.image-input {
  display: block;
  width: 100%;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
.placeholder {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 18px;
  font-family: Helvetica;
}

.placeholder:hover {
  background: #e0e0e0;
}

.file-input {
  display: none;
}
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.previewImage {
  width: 250px;
  height: 123px;
  border: 1px solid #cccfd6;
  margin-top: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  .img__have__value {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 123px;
  }
}
.add__image__action {
  width: 260px;
  height: 40px;
  border: 1px dashed #595959;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .add__item__image__action {
    margin-left: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
  }
}
.text__block {
  font-weight: 700;
  color: #b98383;
}
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.slot__rest {
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  margin-top: 4px;
}
.add__button {
  height: 54px;
  width: 48px;
  background: #ffffff;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.list__button {
  width: 122px;
  min-height: 56px;
  height: fit-content;
  text-align: center;
  background: #ffffff;
  padding: 4px;
  cursor: pointer;
  position: relative;
  &:hover {
    .remove__button {
      display: block;
    }
  }
  .remove__button {
    position: absolute;
    z-index: 10;
    display: none;
    right: -10px;
    top: -12px;
  }
  .title__button {
    font-size: 14px;
    line-height: 22px;
    color: #1890ff;
    overflow: hidden;
    overflow-x: auto;
  }
  .subtitle__button {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;

    color: #8c8c8c;
  }
  .close__image {
    position: absolute;
  }
}
</style>
<style lang="scss">
.parent__wrap {
  width: 200px;
  display: flex;
  overflow: auto;
  .wrap__list__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 12px;
  }
}
</style>
