<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="loadcustomer" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Load customer info</span>
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage">
      <div v-for="(item, index) in dataSet" :key="index">
        <AddCustomerSet
          :item="item"
          :index="index"
          type="load"
          @removeConditionChild="removeConditionChild"
          @saveFilter="saveFilter"
        />
      </div>
    </div>

    <div v-if="!isCollage" class="d-flex message__random">
      <IconButton
        :icon="'mdi-plus-circle-outline'"
        tooltips="Add value"
        color="#047bf8"
        color-hover="#047bf8"
        @click="addFilter"
      />
      <span class="ml-2" @click="addFilter">Add condition</span>
    </div>
    <div v-if="dataSet && dataSet.length" class="d-flex justify-end mb-4 mr-4">
      <v-btn
        height="40"
        class="text-capitalize"
        depressed=""
        color="#FFCF49"
        @click="submit"
        >Submit</v-btn
      >
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingLoadCusInfo"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AddCustomerSet from '~/components/actions/AddCustomerSet'
import DeleteGeneral from '~/components/DeleteGeneral'
import IconButton from '~/components/IconButton.vue'
import loadcustomer from '~/assets/actions/loadcustomer.svg'

export default {
  components: {
    DeleteGeneral,
    AddCustomerSet,
    IconButton
  },
  props: {
    id: { type: String, default: '' },
    command: { type: Object, default: () => {} },
    actionId: { type: String, default: '' },
    skillid: { type: String, default: '' }
  },
  data() {
    return {
      actionDialog: false,
      loadcustomer,
      actionGroupID: '',
      isCollage: false,
      botID: -1,
      dataSet: [],
      openDeleteIntent: false
    }
  },
  computed: {
    ...mapGetters(['loadingLoadCusInfo'])
  },
  created() {
    const { bot } = this.$route.params
    this.botID = bot
    if (this.command.set) {
      this.dataSet = this.command.set
    }
  },
  methods: {
    submit() {
      const dataCommand = {
        set: this.dataSet.map((r) => {
          return {
            to_mem_scope: 'informable',
            assign_to: r.dataValue,
            field: r.dataSetKey
          }
        })
      }
      this.$emit('submitCommand', dataCommand, this.id)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    addFilter() {
      this.dataSet.push({})
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    removeConditionChild(index) {
      this.dataSet.splice(index, 1)
    },
    saveFilter(data, index) {
      this.dataSet[index] = data
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_LOADCUSINFO', true)
      this.$emit('delete', this.id)
    }
  }
}
</script>

<style lang="scss">
.group_filter {
  border: 1px solid #9e8181;
  padding: 16px;
  margin: 0px;
  margin-bottom: 12px;
  border-radius: 4px;
}
</style>
<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
</style>
