<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="editmemory" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Edit Memory</span>
      <v-spacer />
      <div class="d-flex align-center">
        <div class="d-flex">
          <v-checkbox
            v-model="tmpAction.command.clear_all"
            hide-details
            class="pa-0 ma-0"
            dense=""
            @change="changeClearAllStatus"
          />
          <div class="reset__all" @click="resetAll">Reset all field</div>
        </div>
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div v-if="!tmpAction.command.clear_all" class="mb-1 mr-4 title_redirect">
        Unset fields
      </div>
      <v-combobox
        v-if="!tmpAction.command.clear_all"
        v-model="tmpAction.command.reset"
        :items="getAllSlotName"
        multiple
        dense
        hide-details=""
        class="input__message"
        outlined=""
        small-chips
        placeholder="Add unset field"
        @change="updateMemory"
      />
      <div
        v-if="tmpAction.command.reset.length && !tmpAction.command.clear_all"
        class="mt-3"
      >
        <v-chip
          v-for="(item, index) in tmpAction.command.reset"
          :key="index"
          close
          outlined
          class="item__reset__command"
          @click:close="removeReset(index)"
        >
          {{ item }}
        </v-chip>
      </div>
      <div class="mb-2 mt-6 mr-4 title_redirect">Set fields:</div>
      <div v-if="!isCollage">
        <AddField
          v-for="(item, index) in apartments"
          :key="index"
          :index="index"
          :items-test="getAllSlotName"
          :model="item"
          :editing-index="editingIndex"
          @removeField="removeField"
          @updateField="updateField"
        />
      </div>
      <div v-if="!isCollage" class="d-flex message__random">
        <IconButton
          :icon="'mdi-plus-circle-outline'"
          tooltips="Add value"
          color="#047bf8"
          color-hover="#047bf8"
          @click="addField"
        />
        <span class="ml-2" @click="addField">Add Field</span>
      </div>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingMemory"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'
import editmemory from '~/assets/actions/editmemory.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
import AddField from '~/components/AddField.vue'

export default {
  components: {
    AddField,
    IconButton,
    DeleteGeneral
  },
  props: {
    action: { type: Object, default: () => {} },
    tmpAction: { type: Object, default: () => {} }
  },
  data() {
    return {
      openDeleteIntent: false,
      editingIndex: -1,
      checkValidation: false,
      apartments: [],
      editmemory,
      isCollage: false
    }
  },
  computed: {
    ...mapGetters(['skills', 'loadingMemory']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    }
  },
  created() {
    this.reloadMemory()
  },
  methods: {
    reloadMemory() {
      const containerField = []
      for (const i in this.tmpAction.command.set) {
        containerField.push({
          key: i,
          value: this.tmpAction.command.set[i],
          data_chosen: 'replace'
        })
      }
      for (const i in this.tmpAction.command.append) {
        containerField.push({
          key: i,
          value: this.tmpAction.command.append[i],
          data_chosen: 'append'
        })
      }
      this.apartments = containerField.flat()
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_MEMORY', true)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    updateField(data, index) {
      this.apartments[index] = data
      this.apartments = this.apartments.filter((r) => r.key !== '')
      this.apartments = _.uniqWith(this.apartments, _.isEqual)
      const dataAppend = this.apartments.filter(
        (r) => r.data_chosen === 'append'
      )
      const dataReplace = this.apartments.filter(
        (r) => r.data_chosen === 'replace'
      )
      const formSetFieldAppend = dataAppend.reduce((r, t) => {
        return Object.assign(r, { [t.key]: t.value })
      }, {})
      const formSetFieldReplace = dataReplace.reduce((r, t) => {
        return Object.assign(r, { [t.key]: t.value })
      }, {})
      this.tmpAction.command.append = formSetFieldAppend
      this.tmpAction.command.set = formSetFieldReplace
      this.updateMemory()
    },
    removeField(index) {
      if (this.apartments.length === 1) {
        this.apartments = []
      } else {
        this.apartments.splice(index, 1)
      }
      this.updateMemory()
    },
    updateMemory() {
      this.$emit('submitCommand', this.tmpAction)
    },
    changeClearAllStatus() {
      this.tmpAction.command.reset = []
      this.updateMemory()
    },
    removeReset(index) {
      this.tmpAction.command.reset.splice(index, 1)
      this.updateMemory()
    },
    resetAll() {
      this.tmpAction.command.clear_all = !this.tmpAction.command.clear_all
      this.tmpAction.command.reset = []
      this.updateMemory()
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    saveCommand() {
      this.$emit('saveCommand')
    },
    cancel() {
      this.$emit('cancel')
    },
    addField(type) {
      this.editingIndex = 0
      this.apartments.push({
        key: '',
        value: '',
        data_chosen: 'replace'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.reset__all {
  font-size: 14px;
  line-height: 21px;
  color: #4080ff;
  margin-right: 12px;
  cursor: pointer;
}
.item__reset__command {
  background: white;
  background-color: white !important;
  border: 1px solid #b3b8c2;
  margin-right: 8px;
}
.message__random {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  color: #1890ff;
}
</style>
