<template>
  <TextAreaCustom
    :ref="`text_area_custom${actionIndex}`"
    v-model="command"
    :entity="entity"
    :random-message="randomMessageData"
    :required="required"
    :height-tab="heightTab"
    :placeholder="placeholder"
    :action-index="actionIndex"
    :variable-assgins="variableAssgins"
    :type-menu="typeMenu"
    @updateCommand="updateCommand"
    @disableSave="disableSave"
  />
  <!-- <div
    class="messageTextAreaScenarios"
    :class="{
      'auto-comment-click': type === 'autocomment_customer_click',
      'default-text': type === 'autocomment_customer_click' && required,
      'quick-replies-error': type === 'autocomment' && required,
      'quick-replies': type === 'autocomment',
      'connect-to-live-agent': type === 'connect-to-live-agent'
    }"
  >
  </div> -->
</template>
<script>
import { mapGetters } from 'vuex'
import * as _ from 'lodash'
import { getIndicesOf } from '@/utils/constanst'
import TextAreaCustom from '@/components/TextAreaCustom'
import { randomMessage } from '~/utils/helpers'
export default {
  components: {
    TextAreaCustom
  },
  props: {
    commandMessage: {
      type: String,
      default: () => {
        return ''
      }
    },
    emoji: { type: Boolean, default: false },
    entity: { type: Boolean, default: false },
    border: { type: Boolean, default: false },
    required: { type: Boolean, default: false },
    minHeight: { type: String, default: '32px' },
    placeholder: { type: String, default: 'Nhập nội dung tin nhắn' },
    type: { type: String, default: '' },
    typeChild: { type: String, default: '' },
    index: { type: String, default: '' },
    dataCollectionInfo: {
      type: Array,
      default: () => []
    },
    typeMenu: { type: String, default: '' },
    heightTab: { type: Number, default: 0 },
    typeMissing: { type: String, default: '' },
    actionIndex: { type: Number, default: -1 }
  },
  data() {
    return {
      command: undefined,
      randomMessage,
      isOpen: false,
      isFocus: false,
      getIndicesOf,
      position: 0,
      entities: [
        {
          key: 'name',
          value:
            '<span style="color: #9254DE;">{{name}}</span><span>&nbsp;</span>',
          atValue: 'Tên khách hàng}}',
          display: '{{Tên khách hàng}}',
          color: '#9254DE',
          compare: '{{name}}',
          nameNotParse: 'Tên khách hàng'
        },
        {
          key: 'uid',
          value:
            '<span style="color: #9254DE;">{{UID}}</span><span>&nbsp;</span>',
          atValue: 'UID}}',
          display: '{{uid}}',
          color: '#9254DE',
          compare: '{{UID}}',
          nameNotParse: 'uid'
        },
        {
          key: 'gender',
          value:
            '<span style="color: #9254DE;">{{gender}}</span><span>&nbsp;</span>',
          atValue: 'Giới tính}}',
          display: '{{Giới tính}}',
          color: '#9254DE',
          compare: '{{gender}}',
          nameNotParse: 'Giới tính'
        },
        {
          key: 'date_of_birthday',
          value:
            '<span style="color: #9254DE;">{{date_of_birth}}</span><span>&nbsp;</span>',
          atValue: 'Ngày sinh nhật}}',
          display: '{{Ngày sinh nhật}}',
          color: '#9254DE',
          compare: '{{date_of_birth}}',
          nameNotParse: 'Ngày sinh nhật'
        },
        {
          key: 'email',
          value:
            '<span style="color: #9254DE;">{{email}}</span><span>&nbsp;</span>',
          atValue: 'Email}}',
          display: '{{Email}}',
          color: '#9254DE',
          compare: '{{email}}',
          nameNotParse: 'Email'
        },
        {
          key: 'phone_number',
          value:
            '<span style="color: #9254DE;">{{phone_number}}</span><span>&nbsp;</span>',
          atValue: 'Số điện thoại}}',
          display: '{{Số điện thoại}}',
          color: '#9254DE',
          compare: '{{phone_number}}',
          nameNotParse: 'Số điện thoại'
        },
        {
          key: 'address',
          value:
            '<span style="color: #9254DE;">{{address}}</span><span>&nbsp;</span>',
          atValue: 'Địa chỉ}}',
          display: '{{Địa chỉ}}',
          color: '#9254DE',
          compare: '{{address}}',
          nameNotParse: 'Địa chỉ'
        },
        {
          key: 'city',
          value:
            '<span style="color: #9254DE;">{{city}}</span><span>&nbsp;</span>',
          atValue: 'Tỉnh/Thành phố}}',
          display: '{{Tỉnh/Thành phố}}',
          color: '#9254DE',
          compare: '{{city}}',
          nameNotParse: 'Tỉnh/Thành phố'
        },
        {
          key: 'job_title',
          value:
            '<span style="color: #9254DE;" class="info">{{job_title}}</span><span>&nbsp;</span>',
          atValue: 'Công việc}}',
          display: '{{Công việc}}',
          color: '#9254DE',
          compare: '{{job_title}}',
          nameNotParse: 'Công việc'
        },
        {
          key: 'relationship',
          value:
            '<span style="color: #9254DE;">{{relationship}}</span><span>&nbsp;</span>',
          atValue: 'Tình trạng mối quan hệ}}',
          display: '{{Tình trạng mối quan hệ}}',
          color: '#9254DE',
          compare: '{{relationship}}',
          nameNotParse: 'Tình trạng mối quan hệ'
        },
        {
          key: 'characteristics',
          value:
            '<span style="color: #9254DE;">{{characteristics}}</span><span>&nbsp;</span>',
          atValue: 'Đặc điểm nhận dạng}}',
          display: '{{Đặc điểm nhận dạng}}',
          color: '#9254DE',
          compare: '{{characteristics}}',
          nameNotParse: 'Đặc điểm nhận dạng'
        },
        {
          key: 'latest_conversation_time',
          value:
            '<span style="color: #9254DE;">{{latest_conversation_time}}</span><span>&nbsp;</span>',
          atValue: 'Lần cuối nhắn tin}}',
          display: '{{Lần cuối nhắn tin}}',
          color: '#9254DE',
          compare: '{{latest_conversation_time}}',
          nameNotParse: 'Lần cuối nhắn tin'
        },
        {
          key: 'source_ids',
          value:
            '<span style="color: #9254DE;">{{source_ids}}</span><span>&nbsp;</span>',
          atValue: 'Nguồn}}',
          display: '{{Nguồn}}',
          color: '#9254DE',
          compare: '{{source_ids}}',
          nameNotParse: 'Nguồn'
        },
        {
          key: 'fanpage',
          value:
            '<span style="color: #9254DE;">{{fanpage}}</span><span>&nbsp;</span>',
          atValue: 'Fanpage}}',
          display: '{{Fanpage}}',
          color: '#9254DE',
          compare: '{{fanpage}}',
          nameNotParse: 'Fanpage'
        },
        {
          key: 'tags',
          value:
            '<span style="color: #9254DE;">{{tags}}</span><span>&nbsp;</span>',
          atValue: 'Thẻ tag}}',
          display: '{{Thẻ tag}}',
          color: '#9254DE',
          compare: '{{tags}}',
          nameNotParse: 'Thẻ tag'
        }
      ]
    }
  },
  watch: {
    commandMessage(val) {
      this.command = val
    }
  },
  computed: {
    ...mapGetters(['skills', 'currentSlots', 'fieldStores', 'scenariosId']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements && r.scenario_id === this.scenariosId)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(item)
      })
      return opts.map((r) => {
        return {
          value: `<span style="color: #5bc329;">{{${r}}}</span><span>&nbsp;</span>`,
          display: `{{${r}}}`,
          color: '#48B911',
          atValue: `${r}}}`,
          key: r,
          compare: `{{${r}}}`,
          nameNotParse: r
        }
      })
    },
    mergeOpts() {
      let newData = JSON.parse(JSON.stringify(this.entities))
      newData.push(this.contentIDOpts)
      newData = newData.flat(2)
      const dataNew = newData.filter((r) =>
        this.currentSlots.includes(r.nameNotParse)
      )
      return dataNew
    },
    variableAssgins() {
      if (this.typeMenu === 'dbsearch' && this.typeMissing !== 'db_missing') {
        const opts = []
        if (this.fieldStores.length) {
          this.fieldStores.forEach((r) => {
            opts.push({
              value: `<span style="color: #55e831;">{{${r.code}}}</span><span>&nbsp;</span>`,
              display: `{{${r.code}}}`,
              color: '#55e831',
              atValue: `${r.code}}}`,
              key: r.code,
              compare: `{{${r.name}}}`,
              nameNotParse: r
            })
          })
        }
        return [
          {
            key: 'Thông tin từ kho hàng',
            value: opts,
            type: 'customer'
          }
        ]
      } else {
        const filterSystemEntites = _.intersectionBy(
          this.mergeOpts,
          this.entities,
          'display'
        )
        const filterBotEntites = _.differenceBy(
          this.mergeOpts,
          this.entities,
          'display'
        )
        const data = []
        if (filterSystemEntites.length) {
          data.push({
            key: 'Thông tin khách hàng',
            value: filterSystemEntites,
            type: 'customer'
          })
        }
        if (filterBotEntites.length) {
          data.push({
            key: 'Thông tin từ bot',
            value: filterBotEntites,
            type: 'bot'
          })
        }
        return data
      }
    },
    randomMessageData() {
      return this.randomMessage()
    }
  },
  mounted() {
    this.command = this.commandMessage
    // if (this.value.length && this.typeChild !== 'button_info') {
    //   const messages = document.getElementsByClassName(
    //     'messageTextAreaScenarios'
    //   )
    //   const messageEditor = document.getElementsByClassName(
    //     'customerdEditorId'
    //   )
    //   for (let index = 0; index < messages.length; index++) {
    //     messages[index].style.border = 'none'
    //   }
    //   for (let index = 0; index < messageEditor.length; index++) {
    //     messageEditor[index].style.border = 'none !important'
    //   }
    // }
    // const cloneMergeOpts = _.cloneDeep(this.mergeOpts)
    // this.text = this.value.replace(/↵/g, '<br>')
    // const starts = getIndicesOf('{{', this.value)
    // const ends = getIndicesOf('}}', this.value)
    // const zipText = _.zip(starts, ends)
    // let dataText = zipText.reduce((r, h) => {
    //   r.push(
    //     cloneMergeOpts.filter(
    //       (t) => t.display === this.text.slice(h[0], h[1] + 2)
    //     )
    //   )
    //   return r
    // }, [])
    // dataText = dataText.flat()
    // if (dataText.length > 0) {
    //   dataText.forEach((r) => {
    //     this.text = this.text
    //       .split(r.display)
    //       .join(`<span style="color:${r.color}">${r.display}</span>`)
    //   })
    //   this.text = this.text.concat(`<span>&nbsp;</span>`)
    // }
  },
  methods: {
    updateCommand() {
      this.$emit('change', _.clone(this.command).trim())
    },
    disableSave() {
      this.$emit('disableSave', _.clone(this.command).trim())
    },
    onFocus() {
      // this.$emit('onFocus')
      this.isFocus = true
    },
    focusInput() {
      this.$refs[`text_area_custom${this.actionIndex}`].autoFocus()
      this.$refs[`text_area_custom${this.actionIndex}`].resetRequired()
    },
    doSetCaretPosition(oField, iCaretPos) {
      if (window.getSelection()) {
        // Set focus on the element
        // oField.focus()

        const selObj = window.getSelection()
        const selRange = selObj.getRangeAt(0)
        // Create empty selection range
        // Move selection start and end to 0 position
        selRange.moveStart(
          'character',
          -oField.value && -oField.value.length ? -oField.value.length : 0
        )

        // Move selection start and end to desired position
        selRange.moveStart('character', iCaretPos)
        selRange.moveEnd('character', 0)
        selRange.select()
      }

      // Firefox support
      else if (oField.selectionStart || oField.selectionStart === '0') {
        oField.selectionStart = iCaretPos
        oField.selectionEnd = iCaretPos
        oField.focus()
      }
    },
    moveCursorToEnd(el) {
      el.focus()
      if (
        typeof window.getSelection !== 'undefined' &&
        typeof document.createRange !== 'undefined'
      ) {
        const range = document.createRange()
        range.selectNodeContents(el)
        range.collapse(false)
        const sel = window.getSelection()
        sel.removeAllRanges()
        sel.addRange(range)
      } else if (typeof document.body.createTextRange !== 'undefined') {
        const textRange = document.body.createTextRange()
        textRange.moveToElementText(el)
        textRange.collapse(false)
        textRange.select()
      }
    },
    addText() {
      setTimeout(() => {
        if (!this.isOpen && !this.changeAssgin) {
          this.$emit('change', this.plainText)
          this.isFocus = false
          if (this.plainText.length && this.typeChild !== 'button_info') {
            const messages = _.cloneDeep(
              document.getElementsByClassName('messageTextAreaScenarios')
            )
            const messageEditor = document.getElementsByClassName(
              'customerdEditorId'
            )
            const quickReplies = document.getElementsByClassName(
              'quick-replies'
            )
            for (let index = 0; index < messages.length; index++) {
              messages[index].style.border = 'none'
            }
            for (let index = 0; index < messageEditor.length; index++) {
              messageEditor[index].style.border = 'none !important'
            }
            for (let index = 0; index < quickReplies.length; index++) {
              quickReplies[index].classList.add('removeBorder')
            }
          }
        }
      }, 500)
    },

    clickOutSideEmoji(text) {
      this.$refs[`customeEditor${this.index}`].focus()
      this.addTextToMessageArea(text)
    },
    addTextToMessageArea(text) {
      text = text.replace(/↵/g, '').replace(/\n/g, '')
      let sel, range
      if (window.getSelection) {
        // IE9 and non-IE
        sel = window.getSelection()
        if (sel.getRangeAt && sel.rangeCount) {
          range = sel.getRangeAt(0)
          range.deleteContents()
          // Range.createContextualFragment() would be useful here but is
          // non-standard and not supported in all browsers (IE9, for one)
          const el = document.createElement('div')
          el.innerHTML = text
          const frag = document.createDocumentFragment()
          let node
          let lastNode
          while ((node = el.firstChild)) {
            lastNode = frag.appendChild(node)
          }
          range.insertNode(frag)

          // Preserve the selection
          if (lastNode) {
            range = range.cloneRange()
            range.setStartAfter(lastNode)
            range.collapse(true)
            sel.removeAllRanges()
            sel.addRange(range)
          }
        }
      } else if (document.selection && document.selection.type !== 'Control') {
        // IE < 9
        document.selection.createRange().pasteHTML(text)
      }
      const textNew = this.$refs[`customeEditor${this.index}`].innerHTML
        .replace('<span>&nbsp;</span>', '')
        .replace(/<br([^>]+)>|<div([^>]+)>|<br>|<div>/g, '\n')
        .replace(/&nbsp;/g, ' ')
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/(<([^>]+)>)/gi, '')
      this.$nextTick(() => {
        this.plainText = textNew
        this.$emit('input', this.plainText)
      })
      this.isOpen = false
    }
  }
}
</script>
<style lang="scss" scoped>
.connect-agent {
  border: none !important;
}
.removeBorder {
  border: none !important;
}
.auto-comment-click {
  .input-border {
    border: none !important;
  }
}
.card_list_variable {
  padding: 8px 12px;
  .variable_title {
    font-size: 12px;
    color: #bfbfbf;
  }
  .variable_child {
    cursor: pointer;
  }
}
.emoji-trigger {
  position: absolute;
  bottom: 0px;
  right: 10px;
  cursor: pointer;
  height: 20px;
}

.emoji-trigger path {
  transition: 0.1s all;
}

.emoji-trigger:hover path {
  fill: #000000;
}

.emoji-trigger.triggered path {
  fill: darken(#fec84a, 15%);
}
.auto-comment-click {
  border-radius: 4px;
  border: 1px solid #a59b9b;
  .append-elements {
    bottom: -8px !important;
  }
  .show__typing {
    padding-bottom: 6px !important;
  }
}
.textarea-append-btn {
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.show__typing {
  font-size: 12px;
  line-height: 20px;
  color: #ffbe07;
}
.append-elements {
  width: 80px;
  min-height: 28px;
  position: absolute;
  bottom: -2px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.input-border:not(:focus):not(.input-required) {
  border: 1px solid #a59b9b;
}
.input-required {
  &:empty {
    border: 1px solid red !important;
    outline: none;
  }
  border: 1px solid red !important;
}
</style>
