<template>
  <div class="pl-3">
    <div class="title__api__call__output">
      The API service response <span>will not be stored</span> in memory
    </div>
    <div class="d-flex align-center justify-space-between">
      <div style="width:46%">
        <v-select
          v-model="data.key"
          :items="contentIDOpts"
          outlined=""
          dense=""
          height="40"
          hide-details=""
          class="input__message"
          @change="saveCondition"
        ></v-select>
      </div>
      <div style="width:46%">
        <v-text-field
          v-model="data.value"
          outlined=""
          dense=""
          hide-details=""
          height="40"
          class="input__message"
          @change="saveCondition"
        >
        </v-text-field>
      </div>
      <IconButton
        icon="mdi-delete"
        tooltips="Delete item"
        color-hover="red"
        :use-svg="true"
        name-svg="Close"
        @click="removeConditionChild"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IconButton from '~/components/IconButton.vue'

export default {
  components: {
    IconButton
  },
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} }
  },
  computed: {
    ...mapGetters(['skills']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(item)
      })
      return opts
    }
  },
  data() {
    return {
      data: {
        key: '',
        value: ''
      },
      dialog: false,
      editingIndex: 0,
      formHasErrors: false,
      fieldSelectRule: [(v) => !!v || 'The input is required']
    }
  },
  created() {
    if (Object.keys(this.item).length !== 0) {
      this.data = this.item
      this.editingIndex = -1
    } else {
      this.editingIndex = 0
    }
  },
  methods: {
    edit() {
      this.editingIndex = 0
    },
    saveCondition() {
      this.$emit(
        'submitField',
        {
          [`${this.data.key}`]: this.data.value
        },
        this.index
      )
      this.editingIndex = -1
    },
    removeConditionChild(index) {
      this.$emit('removeField', index)
    }
  }
}
</script>
<style lang="scss" scoped>
.title__api__call__output {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1a2948;
  span {
    color: blue;
  }
}
</style>
