<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="mb-2 picture d-flex flex-column">
      <div class="pa-2 border-bottom d-flex align-center justify-space-between">
        <img :src="picture" alt="" srcset="" class="mr-3" />
        <span class="font-weight-bold">Picture</span>
        <v-spacer />
        <div class="d-flex align-center">
          <IconButton
            icon="mdi-delete"
            tooltips="Delete this condition"
            color-hover="red"
            :use-svg="true"
            name-svg="Delete"
            @click="deleteAction"
          />
          <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
            >mdi-chevron-down</v-icon
          >
          <v-icon v-else @click="toggleActionGroup(`action__`)">
            mdi-chevron-up
          </v-icon>
        </div>
      </div>
    </div>
    <div v-if="!isCollage" class="px-4 pb-4">
      <div for="" class="image__url mb-2">Image Url</div>
      <v-text-field
        v-model="imageUrl"
        placeholder="Enter a Url"
        class="input__message"
        hide-details=""
        :rules="checkValidation"
        dense
        outlined=""
        @keypress="onKeyPress"
      />
      <div v-if="imageUrl" class="mt-4 image__have__picture">
        <img :src="imageUrl" alt="" srcset="" />
      </div>
      <div v-else class="image__url__picture mt-4">
        <img :src="pictureEmpty" alt="" srcset="" />
      </div>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loading"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import picture from '~/assets/actions/image.svg'
import pictureEmpty from '~/assets/svg/picture_empty.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    command: { type: String, default: '' },
    id: { type: String, default: '' }
  },
  computed: {
    ...mapGetters(['loadingPicture'])
  },
  data() {
    return {
      pictureEmpty,
      buttonForm: [],
      reactive: false,
      checkValidation: [
        (v) => (!!v && /^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(v)) || ''
      ],
      isCollage: false,
      imageUrl: null,
      picture,
      loading: false,
      openDeleteIntent: false,
      loadingMessage: false
    }
  },
  watch: {
    loadingPicture(val) {
      this.loading = val
      if (!val) {
        this.openDeleteIntent = false
      }
    },
    command(val) {
      this.command = val
    }
  },
  created() {
    this.imageUrl = this.command
  },
  methods: {
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_PICTURE', true)
      this.loading = true
    },
    deleteAction() {
      this.openDeleteIntent = true
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    submit() {
      if (/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(this.imageUrl)) {
        this.$emit('submitCommand', this.imageUrl)
      } else {
        this.$toast.global.my_error({
          message: 'Url image wrong format'
        })
      }
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    onKeyPress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        this.submit()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.image__url__picture {
  width: 100%;
  height: 200px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image__url {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.picture,
.message {
  background: #f5f5f5;
}
.image-input {
  display: block;
  width: 100%;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
.placeholder {
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 18px;
  font-family: Helvetica;
}

.placeholder:hover {
  background: #e0e0e0;
}
.image__have__picture {
  position: relative;
  height: 200px;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
}

.file-input {
  display: none;
}
</style>
