<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="quickreplies" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Quick reply</span>
      <v-spacer />
      <div
        v-if="typeButton !== 'automation_message'"
        class="d-flex align-center"
      >
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_redirect">Quick reply title</div>
      <v-textarea
        v-model="valueAnwser"
        dense
        block
        outlined=""
        class="input__message"
        rows="2"
        hide-details=""
        @keypress="onKeyPress"
      ></v-textarea>
      <div class="mb-1 mr-4 mt-2 title_redirect">Chosen memory</div>
      <v-select
        v-model="data_from"
        :items="getAllSlotName"
        dense=""
        outlined=""
        hide-details=""
        class="input__message"
        @change="changeChosenMemory"
      ></v-select>
    </div>
    <div class="">
      <div class="wrap__list__button">
        <div
          v-for="(item, index) in buttonForm"
          :key="index"
          class="list__button mx-4 mb-2"
          @click="editButton(item, index)"
        >
          <div class="remove__button">
            <v-btn
              icon=""
              color="#f5f5f5"
              small=""
              @click.stop.prevent="removeOnceButton(index)"
            >
              <img :src="close" alt="" srcset="" />
            </v-btn>
          </div>
          <div class="title__button">
            {{ item.title }}
          </div>
          <div
            v-if="item.payload && parent !== 'db_search'"
            class="subtitle__button"
            v-html="getBlockName(item.payload, parent)"
          ></div>
          <div
            v-if="item.redirect_skill && parent === 'db_search'"
            class="subtitle__button"
            v-html="getBlockName(item.redirect_skill, parent)"
          ></div>
        </div>
        <div class="ma-4 mt-0 d-flex">
          <div
            v-if="buttonForm.length !== 13"
            class="add__button"
            @click="addButton"
          >
            <v-icon color="#000000">mdi-plus</v-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="slot__rest">{{ 13 - buttonForm.length }} slots maximum</div>
    <ButtonInfo
      ref="quick__replies"
      :index="index"
      :item="itemData"
      :type="'quick_replies'"
      :open-button="openButton"
      :parent="parent"
      @cancel="cancel"
      @updateButtonInfo="updateButtonInfo"
      @deleteButton="deleteButton"
    />
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingQuickReplies"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as _ from 'lodash'
import ButtonInfo from '~/components/actions/ButtonInfo'
import quickreplies from '~/assets/actions/quick_replies.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
import close from '~/assets/svg/Close.svg'

export default {
  components: {
    ButtonInfo,
    IconButton,
    DeleteGeneral
  },
  props: {
    // eslint-disable-next-line vue/require-default-prop
    value: [String, Array, Object],
    id: { type: String, default: '' },
    typeButton: { type: String, default: '' },
    parent: { type: String, default: '' },
    dataButton: { type: Array, default: () => [] },
    // eslint-disable-next-line vue/require-default-prop
    dataFrom: [String, Array, Object]
  },
  computed: {
    ...mapGetters([
      'currentBot',
      'intents',
      'entities',
      'skills',
      'loadingQuickReplies'
    ]),
    getAllSlotName() {
      return ['context.memory.dbsearch.items']
    }
  },
  data() {
    return {
      close,
      buttonForm: [],
      index: -1,
      itemData: {},
      openDeleteIntent: false,
      quickreplies,
      valueAnwser: '',
      data_from: null,
      reactive: false,
      isCollage: false,
      openButton: false
    }
  },
  watch: {
    value(val) {
      if (val !== this.myText) {
        this.valueAnwser = val
      }
    }
  },
  created() {
    this.valueAnwser = this.value
    if (!this.dataFrom || (this.dataFrom && !this.dataFrom.data_from)) {
      this.data_from = 'Not Selected'
    } else {
      this.data_from = this.dataFrom.data_from
    }
    this.buttonForm =
      this.dataButton && this.dataButton.length ? this.dataButton : []
  },
  methods: {
    getBlockName(value, parent) {
      const valueNew =
        parent !== 'db_search'
          ? value
              .slice(
                31,
                value.indexOf('__SKILL_REDIRECT_INTENT')
                  ? value.indexOf('__SKILL_REDIRECT_INTENT')
                  : value.length
              )
              .replace(')', '')
              .replace(',', '')
          : value

      const block = this.skills.filter((item) => {
        return item.id === valueNew.trim()
      })
      if (block.length)
        return (
          'The block ' +
          `<span class="text__block">${block[0].name}</span>` +
          ' in scenario ' +
          `<span class="text__block">${block[0].scenario}</span>`
        )
      else return value
    },
    editButton(item, index) {
      this.itemData = item
      this.index = index
      this.openButton = true
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_QUICK_REPLIES', true)
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    changeChosenMemory() {
      let memory = this.data_from
      if (this.data_from === 'Not Selected') {
        memory = null
      }
      const command = {
        title: this.valueAnwser,
        data_from: memory,
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type
        }
      })
      this.$emit('submitCommand', command, this.id, 'quick_replies')
    },
    onKeyPress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        if (this.valueAnwser.length) {
          let memory = this.data_from
          if (this.data_from === 'Not Selected') {
            memory = null
          }
          const command = {
            title: this.valueAnwser,
            data_from: memory,
            buttons: []
          }
          command.buttons = this.buttonForm.map((r) => {
            return {
              payload: r.payload,
              title: r.title,
              type: r.type
            }
          })
          this.$emit('submitCommand', command, this.id, 'quick_replies')
        }
      }
    },
    addButton() {
      this.buttonForm.push({})
      this.openButton = true
    },
    cancel(index) {
      this.openButton = false
      this.buttonForm = this.buttonForm.filter((r) => r.title)
    },
    removeOnceButton(index) {
      this.buttonForm.splice(index, 1)
      this.changeChosenMemory()
    },
    updateButtonInfo(data) {
      let memory = this.data_from
      if (this.data_from === 'Not Selected') {
        memory = null
      }
      if (data.index === -1) {
        this.buttonForm[this.buttonForm.length - 1] = data.button
      } else {
        this.buttonForm[data.index] = data.button
      }
      this.buttonForm = _.without(this.buttonForm, {})
      const command = {
        title: this.valueAnwser,
        data_from: memory,
        buttons: []
      }
      command.buttons = this.buttonForm.map((r) => {
        return {
          payload: r.payload,
          title: r.title,
          type: r.type,
          assign_to: r.assign_to,
          redirect_skill: r.redirect_skill,
          redirect_skill_intent_condition: r.redirect_skill_intent_condition
        }
      })
      this.$emit('submitCommand', command, this.id, 'quick_replies')
      this.openButton = false
    },
    deleteButton(index) {
      let memory = this.data_from
      if (this.data_from === 'Not Selected') {
        memory = null
      }
      this.buttonForm.splice(index, 1)
      const command = {
        title: this.valueAnwser,
        data_from: memory,
        buttons: this.buttonForm
      }
      this.$emit('submitCommand', command, this.id)
    }
  }
}
</script>
<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.slot__rest {
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  margin-left: 12px;
  margin-bottom: 4px;
}
.add__button {
  height: 54px;
  width: 48px;
  background: #ffffff;
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.text__block {
  font-weight: 700;
  color: #b98383;
}
.wrap__list__button {
  display: flex;
  flex-wrap: wrap;
}
.list__button {
  width: 122px;
  min-height: 56px;
  text-align: center;
  background: #ffffff;
  padding: 4px;
  cursor: pointer;
  position: relative;
  &:hover {
    .remove__button {
      display: block;
    }
  }
  .remove__button {
    position: absolute;
    z-index: 10;
    display: none;
    right: -10px;
    top: -12px;
  }
  .title__button {
    font-size: 14px;
    line-height: 22px;
    color: #1890ff;
    overflow: hidden;
    overflow-x: auto;
  }
  .subtitle__button {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    overflow-x: auto;

    color: #8c8c8c;
  }
}
</style>
