<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="redirectSkill" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Redirect Skill</span>
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_redirect">Redirect to</div>
      <v-select
        v-model="tmpAction.redirect_skill"
        :items="itemSkills"
        dense
        placeholder="Select Skill"
        hide-details
        item-text="name"
        outlined=""
        class="input__message"
        item-value="id"
        @change="saveCommand"
      />
      <div>
        <v-radio-group
          v-model="tmpAction.command.wait_for_user_input"
          dense=""
          hide-details=""
          row
          @change="saveCommand"
        >
          <v-radio
            label="Start the skill"
            color="#FFBE07"
            :value="false"
          ></v-radio>
          <v-radio
            label="Wait for user input"
            color="#FFBE07"
            :value="true"
          ></v-radio>
        </v-radio-group>
      </div>
    </div>

    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingRedirect"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import redirectSkill from '~/assets/actions/redirect_skill.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    action: { type: Object, default: () => {} },
    command: { type: Object, default: () => {} },
    itemSkills: { type: Array, default: () => [] }
  },
  computed: {
    ...mapGetters(['loadingRedirect'])
  },
  data() {
    return {
      redirectSkill,
      showNew: false,
      editingIndex: -1,
      isCollage: false,
      openDeleteIntent: false,
      tmpAction: undefined,
      tmpCommand: ''
    }
  },
  created() {
    this.tmpAction = this.command
  },
  methods: {
    acceptDelete() {
      this.$emit('delete', this.id)
      this.$store.commit('delete/SET_LOADING_REDIRECT', true)
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    saveCommand() {
      this.$emit('submitCommand', this.tmpAction)
    }
  }
}
</script>

<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
</style>
