<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="removetocart" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Remove cart item</span>
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div class="pa-3">
      <div class="title_redirect">Choose Item info</div>
      <div class="d-flex justify-space-between">
        <div style="width:82%">
          <v-combobox
            v-model="cart_info.item_index"
            dense=""
            :items="contentIDOpts"
            item-text="text"
            outlined=""
            item-value="value"
            hide-details=""
            small-chips=""
            height="40"
            class="input__message"
            placeholder="Chosen Item Index"
          ></v-combobox>
        </div>
        <div>
          <v-btn height="40" depressed="" color="#FFCF49" @click="submit"
            >Submit</v-btn
          >
        </div>
      </div>
    </div>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingRemoveCartItem"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import removetocart from '~/assets/actions/removecard.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    command: { type: Object, default: () => {} },
    id: { type: String, default: '' }
  },
  data() {
    return {
      removetocart,
      cart_info: {
        item_index: ''
      },
      isCollage: false,
      openDeleteIntent: false
    }
  },
  created() {
    if (this.command && this.command.cart_info) {
      const findIndex = this.contentIDOpts.filter(
        (r) => r.text === this.command.cart_info.item_index
      )
      this.cart_info.item_index = findIndex[0]
    }
  },
  computed: {
    ...mapGetters(['skills', 'loadingRemoveCartItem']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push({
          value: { memory_scope: 'informable', memory_name: `{{${item}}}` },
          text: `{{${item}}}`
        })
      })
      return opts
    }
  },
  watch: {
    value(val) {
      if (val !== this.valueVideo) {
        this.valueVideo = val
      }
    }
  },
  methods: {
    cancelDelete() {
      this.openDeleteIntent = false
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_REMOVECARTITEM', true)
      this.$emit('delete', this.id)
    },
    submit() {
      const data = {
        cart_info: {
          item_index: this.cart_info.item_index.text
        }
      }
      this.$emit('submitCommand', data)
    },
    deleteAction() {
      confirm('Are you sure delete this video') && this.$emit('delete', this.id)
    },
    toggleActionGroup() {
      this.isCollage = !this.isCollage
    }
  }
}
</script>
<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 4px;
}
.message {
  background: #f5f5f5;
}
</style>
