<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img
        :src="type === 'save_order' ? saveorder : savetocart"
        alt=""
        srcset=""
        class="mr-3"
      />
      <span class="font-weight-bold">
        {{ type === 'save_order' ? 'Save Order' : 'Save to Cart' }}</span
      >
      <v-spacer />
      <div class="d-flex align-center">
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="type === 'save_order'">
      <div class="d-flex justify-space-between align-center px-4 mt-4">
        <div style="width: 38%">
          <div class="title__api__call">Order ID</div>
          <v-text-field
            v-model="data.order_id"
            dense
            class="input__message"
            hide-details=""
            outlined=""
            height="40"
            placeholder="Enter Order Id"
          ></v-text-field>
        </div>
        <div style="width: 38%">
          <div class="title__api__call">Choose UID</div>
          <v-combobox
            v-model="data.uid"
            dense=""
            :items="contentIDOpts"
            item-text="text"
            outlined=""
            height="40"
            item-value="value"
            hide-details=""
            class="input__message"
            chips
            small-chips=""
            placeholder="Chosen UID"
          ></v-combobox>
        </div>

        <div style="width:18%">
          <v-checkbox
            v-model="data.notify_agent"
            hide-details
            color="#FFBE07"
            dense=""
            label="Notify Agent"
          ></v-checkbox>
        </div>
      </div>
      <div class="d-flex justify-space-between align-center px-4 mt-4">
        <div style="width: 38%">
          <div class="title__api__call">Type</div>
          <v-text-field
            v-model="collection_type"
            dense=""
            outlined=""
            class="input__message"
            height="40"
            hide-details
          ></v-text-field>
        </div>
        <div style="width: 38%">
          <div class="title__api__call">Choose Data</div>
          <v-select
            v-model="cartElement"
            return-object
            outlined=""
            height="40"
            class="input__message"
            :items="itemCart"
            item-text="sheet_name"
            item-value="sheet_id"
            dense=""
            hide-details=""
          ></v-select>
        </div>
        <div style="width: 18%"></div>
      </div>
    </div>
    <div v-else class="ma-4 d-flex justify-space-between">
      <div style="width: 30%">
        <div class="title__api__call">Choose Item info</div>
        <v-combobox
          v-model="dataInfo"
          dense=""
          :items="contentIDOpts"
          item-text="text"
          item-value="value"
          multiple=""
          hide-details=""
          small-chips=""
          class="input__message"
          outlined=""
        >
          <template v-slot:no-data>
            <div class="no_available">No data available</div>
          </template></v-combobox
        >
      </div>
      <div style="width: 30%">
        <div class="title__api__call">Choose ID field name</div>
        <v-select
          v-model="product_id_fieldname"
          return-object
          :items="dataInfo"
          item-text="text"
          outlined=""
          item-value="value"
          dense=""
          class="input__message"
          hide-details=""
        >
          <template v-slot:no-data>
            <div class="no_available">No data available</div>
          </template></v-select
        >
      </div>
      <div style="width:30%">
        <div class="title__api__call">Choose field name</div>
        <v-select
          v-model="quantity_field_name"
          return-object
          outlined=""
          :items="dataInfo"
          item-text="text"
          item-value="value"
          dense=""
          class="input__message"
          hide-details=""
        >
          <template v-slot:no-data>
            <div class="no_available">No data available</div>
          </template>
        </v-select>
      </div>
    </div>
    <div class="d-flex align-center mx-4 mt-4 action__config__saveorder">
      <div class="px-2 d-flex justify-space-between" style="width:100%">
        <div class="message__save__order">
          <span class="optianl">[Optional]</span> Config message when save order
          <span class="success__save__order">sussess</span>
        </div>
        <IconButton
          icon="mdi-delete"
          tooltips="Config Actions"
          :use-svg="true"
          name-svg="form"
          @click="editMessageSuccess"
        />
      </div>
    </div>
    <div class="d-flex align-center ma-4 action__config__saveorder">
      <div class="px-2 d-flex justify-space-between" style="width:100%">
        <div class="message__save__order">
          <span class="optianl">[Optional]</span> Config message when save order
          <span class="fail__save__order">fail</span>
        </div>
        <IconButton
          icon="mdi-delete"
          tooltips="Config Actions"
          :use-svg="true"
          name-svg="form"
          @click="editMessageError"
        />
      </div>
    </div>
    <div class="mx-4 mb-4 d-flex justify-end">
      <v-btn
        color="#FFCF49"
        class="text-capitalize"
        depressed=""
        height="40"
        @click="submit"
        >Submit</v-btn
      >
    </div>

    <ActionDialogOrder
      :show="actionDialog"
      :skillid="skillid"
      group-type="requirement"
      :groupid="actionGroupID"
      @close="closeActionDialog"
    />
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingSaveOrder"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as _ from 'lodash'
import saveorder from '~/assets/actions/saveorder.svg'
import savetocart from '~/assets/actions/savetocard.svg'
import IconButton from '~/components/IconButton'
import ActionDialogOrder from '~/components/actioncustom/ActionDialogOrder'
import DeleteGeneral from '~/components/DeleteGeneral'

export default {
  components: {
    IconButton,
    ActionDialogOrder,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    command: { type: Object, default: () => {} },
    actionId: { type: String, default: '' },
    skillid: { type: String, default: '' },
    type: { type: String, default: 'save_order' }
  },
  computed: {
    ...mapGetters(['skills', 'loadingSaveOrder']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push({
          value: { memory_scope: 'informable', memory_name: `{{${item}}}` },
          text: `{{${item}}}`
        })
      })
      return opts
    }
  },
  data() {
    return {
      savetocart,
      actionDialog: false,
      saveorder,
      openDeleteIntent: false,
      product_id_fieldname: [],
      quantity_field_name: [],
      dataInfo: [],
      isCollage: false,
      cartElement: {},
      actionGroupID: '',
      botID: -1,
      collection_type: 'GoogleSheet',
      itemCart: [],
      data: {
        success_message: '',
        fail_message: '',
        notify_agent: true,
        order_id: null,
        cart_info: {
          collection_type: 'GoogleSheet',
          sheet_id: '',
          sheet_name: ''
        },
        uid: ''
      }
    }
  },
  watch: {},
  created() {
    const { bot } = this.$route.params
    this.botID = bot
    if (
      (!_.isEmpty(this.command) && this.type === 'save_to_cart') ||
      (!_.isEmpty(this.command) && this.type === 'save_order')
    ) {
      this.data = this.command
    }
    this.$store
      .dispatch('bots/getAllSheet', {
        botID: this.botID
      })
      .then((r) => {
        this.itemCart = r
        if (!_.isEmpty(this.command) && this.type === 'save_to_cart') {
          this.dataInfo = []
          this.contentIDOpts.forEach((r) => {
            this.command.item_info.forEach((t) => {
              if (r.text === t) {
                this.dataInfo.push(r)
              }
            })
          })
          this.quantity_field_name = this.contentIDOpts.filter(
            (r) => r.text === this.command.cart_info.quantity_field_name
          )[0]
          this.product_id_fieldname = this.contentIDOpts.filter(
            (r) => r.text === this.command.cart_info.product_id_fieldname
          )[0]
        }
        if (!_.isEmpty(this.command) && this.type === 'save_order') {
          this.cartElement = this.itemCart.filter(
            (t) => t.sheet_id === this.data.cart_info.sheet_id
          )[0]
        }
      })
      .catch((r) => {
        this.$toast.global.my_error()
      })
  },
  methods: {
    submit() {
      if (this.type === 'save_order') {
        this.data.cart_info.sheet_id = this.cartElement.sheet_id
        this.data.cart_info.sheet_name = this.cartElement.sheet_name
        this.$emit('submitCommand', this.data, this.type)
      } else {
        const dataNew = {
          success_message: this.data.success_message,
          fail_message: this.data.fail_message,
          notify_agent: this.data.notify_agent,
          cart_info: {
            product_id_fieldname: this.product_id_fieldname.text,
            quantity_field_name: this.quantity_field_name.text
          },
          item_info: this.dataInfo.map((r) => r.text)
        }
        this.$emit('submitCommand', dataNew, this.type)
      }
    },
    deleteCondition() {
      this.openDeleteIntent = true
    },
    deleteAction() {
      confirm('Are you sure delete this skill') && this.$emit('delete', this.id)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_SAVEORDER', true)
      this.$emit('delete', this.id)
    },
    editMessageSuccess() {
      if (this.data.success_message) {
        this.actionGroupID = this.data.success_message
          ? this.data.success_message
          : ''
        this.actionDialog = true
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.botID,
            skillID: this.skillid,
            actionGroup: {
              name: '',
              predicate: ``,
              type: 'requirement'
            }
          })
          .then((data) => {
            this.actionGroupID = data.id
            this.data.success_message = data.id
            this.actionDialog = true
          })
      }
    },
    editMessageError() {
      if (this.data.fail_message) {
        this.actionGroupID = this.data.fail_message
          ? this.data.fail_message
          : ''
        this.actionDialog = true
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.botID,
            skillID: this.skillid,
            actionGroup: {
              name: '',
              predicate: ``,
              type: 'requirement'
            }
          })
          .then((data) => {
            this.actionGroupID = data.id
            this.data.fail_message = data.id
            this.actionDialog = true
          })
      }
    },
    removeField(index) {
      this.apartments.splice(index, 1)
    },
    closeActionDialog() {
      this.actionGroupID = ''
      this.actionDialog = false
    }
  }
}
</script>

<style lang="scss" scoped>
.no_available {
  font-size: 14px;
  line-height: 22px;
  color: #99a0ad;
  padding-left: 12px;
}
.group_filter {
  border: 1px solid #9e8181;
  padding: 16px;
  margin: 0px;
  margin-bottom: 12px;
  border-radius: 4px;
}
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
.message__save__order {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  display: flex;
  align-items: center;
}
.success__save__order,
.fail__save__order {
  font-weight: bold;
  color: #0e0d0d;
  margin-left: 2px;
}
.optianl {
  font-weight: bold;
  color: #5c5151;
}
.action__config__saveorder {
  background: #fafafa;
}
</style>
