<template>
  <div class="d-flex align-center wrap__set__field pa-4 pt-0">
    <div class="add__filter__wrap">
      <div class="div__parent d-flex justify-space-between">
        <div style="width:48%">
          <v-text-field
            id="group_by"
            v-model="data.key"
            :disabled="editingIndex !== 0"
            placeholder="Key"
            dense
          ></v-text-field>
        </div>
        <div style="width:48%">
          <v-text-field
            v-model="data.value"
            :disabled="editingIndex !== 0"
            placeholder="Value"
            dense
          ></v-text-field>
        </div>
      </div>
    </div>
    <div class="d-flex pl-4" style="width:25%">
      <v-btn
        v-if="editingIndex === 0"
        small
        color="#FFCF49"
        class="mr-2"
        depressed=""
        @click="saveCondition"
        >Save</v-btn
      >
      <v-btn
        v-if="editingIndex === 0"
        small
        depressed=""
        outlined=""
        @click="cancelAction()"
        >Cancel</v-btn
      >
      <IconButton
        v-if="editingIndex !== 0"
        tooltips="Edit"
        color-hover="red"
        :use-svg="true"
        name-svg="EditCustomer"
        @click="edit()"
      />
      <IconButton
        v-if="editingIndex !== 0"
        tooltips="Delete"
        color-hover="red"
        :use-svg="true"
        name-svg="Delete"
        :disabled="editingIndex === -1 ? true : false"
        @click="removeConditionChild(index)"
      />
    </div>
  </div>
</template>
<script>
import IconButton from '~/components/IconButton'

export default {
  components: {
    IconButton
  },
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} }
  },
  data() {
    return {
      data: {
        key: '',
        value: ''
      },
      editingIndex: 0,
      dataDefault: {}
    }
  },
  watch: {
    item(val) {
      if (Object.keys(this.item).length !== 0) {
        this.data = this.item
        this.editingIndex = -1
      } else {
        this.editingIndex = 0
      }
    }
  },
  created() {
    if (Object.keys(this.item).length !== 0) {
      this.data = this.item
      this.dataDefault = this.item
      this.editingIndex = -1
    } else {
      this.editingIndex = 0
    }
  },
  methods: {
    saveCondition() {
      this.editingIndex = -1
      this.$emit(
        'submitField',
        {
          key: `${this.data.key}`,
          value: this.data.value
        },
        this.index
      )
      this.dataDefault = {
        key: `${this.data.key}`,
        value: this.data.value
      }
    },
    edit() {
      this.editingIndex = 0
    },
    removeConditionChild() {
      this.$emit('removeField', this.index)
    },
    cancelAction() {
      this.data = this.dataDefault
      this.editingIndex = -2
    }
  }
}
</script>

<style lang="scss" scoped>
.add__filter__wrap {
  width: 75%;
  background: #f5f5f5;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  .div__parent {
    width: 100%;
  }
}
.wrap__set__field {
  background: white;
}
</style>
