<template>
  <v-text-field
    v-model="typing"
    class="pl-6"
    label="Enter the number of seconds showing the typing status"
    filled
    :rules="rules"
    required
  ></v-text-field>
</template>

<script>
export default {
  name: 'ShowStatusTyping',
  data() {
    return {
      typing: 1,
      rules: [
        (v) => !!v || 'This field is required',
        (v) =>
          (typeof parseFloat(v) === 'number' && v > 0) ||
          'You must to enter is number and greater than zero'
      ]
    }
  }
}
</script>
