<template>
  <div class="mb-2 message border-all d-flex flex-column">
    <div class="pa-2 border-bottom d-flex align-center justify-space-between">
      <img :src="video" alt="" srcset="" class="mr-3" />
      <span class="font-weight-bold">Video</span>
      <v-spacer />
      <div
        v-if="typeButton !== 'automation_message'"
        class="d-flex align-center"
      >
        <IconButton
          icon="mdi-delete"
          tooltips="Delete this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="Delete"
          @click="deleteCondition"
        />
        <v-icon v-if="!isCollage" @click="toggleActionGroup(`action__`)"
          >mdi-chevron-down</v-icon
        >
        <v-icon v-else @click="toggleActionGroup(`action__`)">
          mdi-chevron-up
        </v-icon>
      </div>
    </div>
    <div v-if="!isCollage" class="ma-4">
      <div class="mb-1 mr-4 title_redirect">Video URL</div>
      <v-text-field
        v-model="valueVideo"
        dense=""
        hide-details=""
        outlined=""
        class="input__message"
        :rules="videoRequired"
        @blur="submit"
        @keypress="onkeypress"
      ></v-text-field>
    </div>
    <p class="caption ml-4">
      Upload the video to the cloud, get the download link and paste the link
      here. Maximum file size is ~ 20 MB. Only support file format is video.
    </p>
    <DeleteGeneral
      :open-delete-intent="openDeleteIntent"
      name="Delete This Action"
      subtitle="Are you sure you want to delete this action ?"
      action="Delete This Action"
      :loading-delete="loadingRedirect"
      @cancelDelete="cancelDelete"
      @acceptDelete="acceptDelete"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import video from '~/assets/actions/video.svg'
import IconButton from '~/components/IconButton.vue'
import DeleteGeneral from '~/components/DeleteGeneral'
export default {
  components: {
    IconButton,
    DeleteGeneral
  },
  props: {
    id: { type: String, default: '' },
    typeButton: { type: String, default: '' },
    action: { type: Object, default: () => {} },
    command: { type: Object, default: () => {} },
    value: { type: Array, default: () => [] }
  },
  computed: {
    ...mapGetters(['loadingRedirect'])
  },
  data() {
    return {
      valueVideo: '',
      video,
      isCollage: false,
      openDeleteIntent: false,
      videoRequired: [
        (v) =>
          (!!v &&
            (/^https?:\/\/www\.facebook\.com.*\/(video(s)?|watch|story)(\.php?|\/).+$/g.test(
              v
            ) ||
              v.includes('.mp4'))) ||
          ''
      ]
    }
  },
  watch: {
    value(val) {
      if (val !== this.valueVideo) {
        this.valueVideo = val
      }
    }
  },
  created() {
    this.valueVideo = this.value
  },
  methods: {
    acceptDelete() {
      this.$store.commit('delete/SET_LOADING_VIDEO', true)
      this.$emit('delete', this.id)
    },
    cancelDelete() {
      this.openDeleteIntent = false
    },
    submit() {
      this.$emit('submitCommand', [this.valueVideo], this.id)
    },
    onkeypress(e) {
      if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        if (
          !/^https?:\/\/www\.facebook\.com.*\/(video(s)?|watch|story)(\.php?|\/).+$/g.test(
            this.valueVideo
          ) &&
          !this.valueVideo.includes('.mp4')
        ) {
          this.$toast.global.my_error({
            message: 'Url video wrong format'
          })
        } else {
          this.submit()
        }
      }
    },
    deleteCondition() {
      this.openDeleteIntent = true
    }
  }
}
</script>
<style lang="scss" scoped>
.title_redirect {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.message {
  background: #f5f5f5;
}
</style>
