<template>
  <div class="wrap__operator pa-4">
    <div
      v-for="(itemChild, index) in item[`${Object.keys(item)}`]"
      :key="index"
    >
      <AddFilter
        :item="itemChild"
        :index="index"
        @saveFilter="saveFilter"
        @removeConditionChild="removeConditionChild"
      />
    </div>
    <div class="d-flex algin-center">
      <div class="add_conditon" @click="addFilter">
        <v-icon color="#595959" small="" class="mx-2"
          >mdi-plus-circle-outline</v-icon
        >
        <div class="text">Add Condition</div>
      </div>
      <div v-if="type" class="d-flex align-center ml-6">
        <img :src="noti" class="mr-2" alt="" srcset="" />
        <p class="mb-0 body-2 d-flex">
          Conditions order are set to
          <strong class="ml-1 text-uppercase">{{ `[${type}]` }}</strong>
          .<span
            class="condition-type ml-2 body-2 primary--text"
            @click="changeConditionType"
          >
            {{ `Set to [${type === 'and' ? ' OR ' : ' AND '}].` }}
          </span>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import AddFilter from '~/components/AddFilter'
import { renameKey } from '~/utils/function.js'
import noti from '@/assets/svg/noti.svg'
export default {
  components: {
    AddFilter
  },
  props: {
    item: { type: Object, default: () => {} },
    indexParent: { type: Number, default: -1 }
  },
  data() {
    return {
      editingIndex: -1,
      noti,
      type: 'and',
      renameKey,
      dataNew: {}
    }
  },
  watch: {
    item(val) {
      this.dataNew = val
    }
  },
  created() {
    this.type = Object.keys(this.item)[0]
    this.dataNew = this.item
  },
  methods: {
    saveFilter(item, index) {
      this.dataNew[`${this.type}`][index] = item
      this.$emit('updateItem', this.dataNew, this.indexParent)
    },
    changeConditionType() {
      const item = this.dataNew[`${this.type}`]
      this.type = this.type === 'and' ? 'or' : 'and'
      this.dataNew = {}
      this.dataNew[`${this.type}`] = item
      this.$emit('updateItem', this.dataNew, this.indexParent)
    },
    addFilter() {
      this.dataNew[`${this.type}`].push({})
    },
    removeConditionChild(index) {
      this.dataNew[`${this.type}`].splice(index, 1)
      this.$emit('updateItemParent', this.dataNew, this.indexParent)
    },
    removeField() {
      this.$emit('removeField', this.indexParent)
    }
  }
}
</script>
<style lang="scss" scoped>
.wrap__operator {
  background: #ffffff;
}
.add_conditon {
  border: 1px dashed #8c8c8c;
  box-sizing: border-box;
  border-radius: 4px;
  width: 150px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
  }
}
</style>
