<template>
  <v-card outlined class="mb-2 mr-2 mt-2" max-width="349">
    <a v-if="item.imageUrl" :href="item.imageUrl" target="_blank">
      <v-img
        :src="item.imageUrl"
        :lazy-src="item.imageUrl"
        aspect-ratio="1"
        width="349"
        max-height="200"
      />
    </a>
    <div class="text-carousel">
      <div v-if="item.title" class="card_title_message">{{ item.title }}</div>
      <div v-if="item.subtitle" class="card_subtitle_message">
        {{ item.subtitle.slice(0, 80) + '...' }}
      </div>
      <a v-if="item.linkedUrl" :href="item.linkedUrl" class="link_url">{{
        extractHostname(item.linkedUrl)
      }}</a>
    </div>
    <div
      v-if="item.buttons && item.buttons.length"
      class="d-flex flex-column mt-2"
    >
      <div
        v-for="(button, indexButton) in item.buttons"
        :key="'carousel' + indexButton"
        class="button-payload-carousel"
        @click="$emit('sendText', button.payload, button.title)"
      >
        {{ button.title }}
      </div>
    </div>
  </v-card>
</template>
<script>
import { extractHostname } from '@/utils/constanst.js'
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      extractHostname
    }
  }
}
</script>
<style lang="scss" scoped>
.link_url {
  color: #909090;
  text-decoration: underline;
}
.button-payload-carousel {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e8e8e8;
  cursor: pointer;
  color: #1890ff;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.text-carousel {
  padding-left: 10px;
  text-align: initial;
  .card_title_message {
    color: #000000;
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .card_subtitle_message {
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
  }
}
</style>
