<template>
  <div :class="['test-chat d-flex', show && 'open']">
    <div class="chat d-flex flex-column flex-grow-1">
      <div class="pa-1 d-flex align-center justify-space-between">
        <span class="subtitle-1">Test your bot</span>
        <v-spacer />
        <v-btn
          outlined
          small
          color="primary"
          @click.stop="openSaveTestCase = true"
        >
          Save as testcase
        </v-btn>
        <v-spacer />
        <v-btn outlined small color="error" @click.stop="clearHistory">
          <v-icon>mdi-cached</v-icon>
          Clear
        </v-btn>
        <v-btn icon @click="toggle">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div class="results pa-1 d-flex flex-column flex-grow-1">
        <div
          v-for="(result, index) in results"
          :key="`result_${index}`"
          class="d-flex flex-column mb-4"
        >
          <div class="d-flex justify-end mb-4">
            <p
              class="mb-0"
              style="max-width: 260px;background: #4080FF; color: white; border-radius: 8px 0 8px 8px; padding: 12px 16px"
              @click="addSample(result.utterance)"
            >
              {{ result.utterance }}
            </p>
          </div>
          <div
            v-for="(botmsg, index2) in result.data"
            :key="`result_${index}_${index2}`"
            class="bot d-flex justify-start mb-1"
          >
            <p
              class="mb-0"
              style="word-break: break-all;max-width: 260px; background: white; color: #1a2948; border-radius: 0 8px 8px; padding: 12px 16px"
            >
              <template v-if="botmsg.type === 'text'">
                {{ botmsg.value }}
              </template>
              <template v-if="botmsg.type === 'quick_replies'">
                {{ botmsg.value.title }}
                <div
                  v-if="botmsg.value.buttons && botmsg.value.buttons.length"
                  class="d-flex flex-column"
                >
                  <v-btn
                    v-for="(item, indexMess) in botmsg.value.buttons"
                    :key="'mess' + indexMess"
                    color="primary"
                    class="mb-2"
                    small
                    @click="sendText(item)"
                    >{{ item.title }}</v-btn
                  >
                </div>
              </template>
              <template v-if="botmsg.type === 'buttons'">
                {{ botmsg.value.title }}
                <div
                  v-if="botmsg.value.buttons && botmsg.value.buttons.length"
                  class="d-flex flex-column"
                >
                  <v-btn
                    v-for="(item, indexButtons) in botmsg.value.buttons"
                    :key="'buttons' + indexButtons"
                    color="primary"
                    class="mb-2"
                    small
                    @click="sendText(item.payload)"
                    >{{ item.title }}</v-btn
                  >
                </div>
              </template>
              <template v-if="botmsg.type === 'picture'">
                <a
                  v-for="(item, indexPicture) in botmsg.value"
                  :key="indexPicture"
                  :href="botmsg.value"
                  target="_blank"
                  >{{ item }}</a
                >
              </template>
              <template v-if="botmsg.type === 'video'">
                <a
                  v-for="(item, indexVideo) in botmsg.value"
                  :key="indexVideo"
                  :href="botmsg.value"
                  target="_blank"
                  >{{ item }}</a
                >
              </template>
              <template
                v-if="botmsg.type === 'carousel'"
                class="d-flex flex-column"
              >
                <v-card
                  v-for="(item, i) in botmsg.value"
                  :key="'item' + i"
                  class="mx-auto"
                  width="400"
                >
                  <v-img
                    class="white--text align-end"
                    height="200px"
                    :src="item.imageUrl"
                  >
                  </v-img>
                  <v-card-title>{{ item.title }}</v-card-title>
                  <v-card-subtitle class="pb-0">{{
                    item.subtitle
                  }}</v-card-subtitle>

                  <v-card-text class="text--primary">
                    <div
                      v-if="item.buttons && item.buttons.length"
                      class="d-flex flex-column"
                    >
                      <v-btn
                        v-for="(button, indexButton) in item.buttons"
                        :key="'carousel' + indexButton"
                        color="primary"
                        class="mb-2"
                        small
                        @click="sendText(button.payload)"
                        >{{ button.title }}</v-btn
                      >
                    </div>
                  </v-card-text>
                </v-card>
              </template>
            </p>
            <v-btn
              class="mx-2"
              fab
              dark
              x-small
              color="info"
              @click="seeLog(index)"
            >
              <v-icon>mdi-information-outline</v-icon>
            </v-btn>
          </div>
        </div>
      </div>
      <div class="input pa-6">
        <v-text-field
          ref="msg"
          v-model="msg"
          placeholder="Enter something to test your agent ..."
          append-outer-icon="mdi-send"
          autofocus
          filled
          dense
          outlined
          hide-details
          autocomplete="off"
          @keyup.native.enter="doInfer"
          @click:append-outer="doInfer"
        />
      </div>
    </div>
    <div class="debug border-left pa-1">
      <no-ssr>
        <vue-json-pretty
          v-if="results.length"
          :data="results[idLog].context"
          :deep="3"
          show-double-quotes
          show-line
          collapsed-on-click-brackets
        />
      </no-ssr>
    </div>
    <v-dialog v-model="showDialog">
      <v-card>
        <v-select
          v-model="valueSample"
          item-text="intentName"
          class="pa-4"
          item-value="intentId"
          :items="intentList"
          label="chọn intent lưu sample vào"
          @change="saveSample"
        />
      </v-card>
    </v-dialog>

    <v-dialog v-model="openSaveTestCase" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline black--text">New Test Case</span>
        </v-card-title>
        <v-divider />
        <v-card-text>
          <v-container>
            <v-col cols="12" sm="12" md="12">
              <v-text-field
                v-model="newTestCaseName"
                placeholder="test case name"
              />
            </v-col>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :disabled="newTestCaseName.trim() == ''"
            color="#FFBE07"
            @click="saveTestCase"
          >
            Save
          </v-btn>
          <v-btn
            @click="
              newTestCaseName = ''
              openSaveTestCase = false
            "
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TestChat',
  components: {
    VueJsonPretty: () => (process.client ? import('vue-json-pretty') : null)
  },
  props: {
    show: { type: Boolean, default: false }
  },
  data() {
    return {
      msg: '',
      results: [],
      showDialog: false,
      valueSample: {},
      utterance: '',
      idLog: 0,
      openSaveTestCase: false,
      newTestCaseName: ''
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'intents']),
    intentList() {
      return this.intents.map((x) => {
        return {
          intentName: x.name,
          intentId: x.id
        }
      })
    }
  },
  watch: {
    show(newValue) {
      if (newValue) {
        setTimeout(() => {
          this.focusInput()
        }, 300)
      }
    }
  },
  methods: {
    convertActionToTurnReply(actions) {
      console.log('create reply')
      console.log(actions)
      let replies = []
      for (const act of actions) {
        if (act.type === 'text') {
          replies.push(act.value)
        } else if (act.type === 'buttons') {
          replies.push(act.value.title)
        }
      }

      if (replies.length === 0) {
        replies = ['*']
      }

      return replies
    },
    convertChatlogToTurnData(chatlog) {
      console.log('chatlog')
      console.log(chatlog)
      const turnData = []
      for (const log of chatlog) {
        turnData.push({
          request: log.context['user-utterance'],
          reply: this.convertActionToTurnReply(log.data),
          turn_id: -1
        })
      }
      return turnData
    },
    async saveTestCase() {
      this.openSaveTestCase = false
      const turnData = this.convertChatlogToTurnData(this.results)
      console.log('turn data')
      console.log(turnData)
      try {
        const newTestCase = await this.$store.dispatch('bots/createTestCase', {
          botID: this.currentBot.id,
          newTestCase: { name: this.newTestCaseName }
        })
        console.log('created new test case')
        console.log(newTestCase.id)
        for (const turn of turnData) {
          await this.$store.dispatch('bots/createTurn', {
            botID: this.currentBot.id,
            testCaseId: newTestCase.id,
            newTurn: turn
          })
        }
        this.$toast.global.my_success('create test case success')
        this.$store.dispatch('bots/getAllTestCase', {
          botID: this.currentBot.id
        })
      } catch (reject) {
        this.$toast.global.my_error('Failed to create test case: ' + reject)
      }
    },
    sendText(item) {
      let name = ''

      name = item.payload ? item.payload : item.title
      if (!name) {
        name = item
      }
      this.msg = name
      this.doInfer()
    },
    seeLog(index) {
      this.idLog = index
    },
    addSample(value) {
      this.showDialog = true
      this.utterance = value
    },
    saveSample() {
      this.$store
        .dispatch('bots/addSample', {
          botID: this.currentBot.id,
          sample: {
            content: this.utterance,
            intent: this.valueSample
          }
        })
        .then(() => {
          this.valueSample = null
          this.showDialog = false
          this.$toast.global.my_success('Add sample succeed')
        })
        .catch(() => {
          this.valueSample = null
          this.showDialog = false
          this.$toast.global.my_error('Add sample failed')
        })
    },
    toggle() {
      // this.$emit('toggle')
      this.$store.dispatch('toggleTest')
    },
    clearHistory() {
      this.results = []
      this.msg = ''
      this.focusInput()
    },
    doInfer() {
      this.$store
        .dispatch('bots/testChat', {
          botID: this.currentBot.id,
          utterance: this.msg
        })
        .then((result) => {
          this.results.push(result)
          setTimeout(() => {
            this.focusInput()
            this.idLog = this.results.length - 1
          }, 300)
        })
        .catch(() => {
          this.$toast.my_error('Failed to get response')
          setTimeout(() => this.focusInput(), 300)
        })
      this.msg = ''
    },
    focusInput() {
      this.$refs.msg.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.test-chat {
  position: fixed;
  bottom: 0px;
  top: 92px;
  bottom: 50px;
  right: -850px;
  width: 850px;
  border: 1px solid #b3b8c2;
  transition: transform 200ms ease-out;
  background-color: #eef0f7;
  z-index: 4;
  &.open {
    transform: translateX(-850px);
  }

  & > .chat {
    position: 'relative';
    flex: 1;
    height: 100%;
  }

  & > .debug {
    position: 'relative';
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
  }
}
.results {
  background-color: rgb(242, 245, 252);
  position: relative;
  overflow-y: auto;
  flex: 1;
}
.input {
  background-color: white;
}
</style>
