<template>
  <v-row class="mx-0 white" no-gutters>
    <v-col cols="12" :sm="showUseBot ? '8' : '12'">
      <v-card class="test-chat-card" outlined>
        <v-card-title class="test-chat-card__title p-4">
          <v-list-item class="test-chat-card__header px-0">
            <v-list-item-avatar class="my-0">
              <v-img class="elevation-6" :src="botPicture"></v-img>
            </v-list-item-avatar>

            <v-list-item-content v-if="bot">
              <v-list-item-title class="mb-0">
                {{ bot.name }}
              </v-list-item-title>
              <v-list-item-subtitle>Bot mẫu</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card-title>
        <v-card-text id="messageContentBox" class="px-4 py-5">
          <template v-for="(msgGroup, index) in messageGroups">
            <div
              v-if="msgGroup.userType === 'user'"
              :key="index"
              class="message-group"
            >
              <div
                v-for="(msg, msgKey) in msgGroup.messageList"
                :key="msgKey"
                class="message-wrap user-message"
              >
                <span v-if="msg.type === 'text'" class="message">
                  {{ msg.content.title ? msg.content.title : msg.content }}
                </span>
              </div>
            </div>
            <div
              v-if="msgGroup.userType === 'bot'"
              :key="index"
              class="message-group avatar-group d-flex"
            >
              <v-avatar size="32" class="mr-2">
                <img :src="botPicture" alt="Bot avatar" />
              </v-avatar>
              <div class="message-group">
                <template v-for="(msg, msgIndex) in msgGroup.messageList">
                  <div
                    v-if="msg.type === 'text'"
                    :key="msgIndex"
                    class="message-wrap bot-message"
                  >
                    <span class="message">{{
                      msg.content ? msg.content : msg.value
                    }}</span>
                  </div>
                  <template v-if="msg.type === 'quick_replies'">
                    <div
                      v-if="msg.value.title"
                      :key="`quickReplyTitle${msgIndex}`"
                      class="message-wrap bot-message"
                    >
                      <span class="message">{{ msg.value.title }}</span>
                    </div>
                    <div
                      v-if="msg.value.buttons && msg.value.buttons.length"
                      :key="`button${msgIndex}`"
                      class="message-wrap bot-message message-reply-buttons"
                    >
                      <v-btn
                        v-for="(item, indexButtons) in msg.value.buttons"
                        :key="'quick_reply_buttons' + indexButtons"
                        color="#FFFFFF"
                        class="quick_reply_buttons mr-2 mb-2"
                        height="32"
                        depressed
                        rounded
                        @click="sendText(item.payload, item.title)"
                        >{{ item.title }}</v-btn
                      >
                    </div>
                  </template>
                  <template v-if="msg.type === 'buttons'">
                    <div
                      v-if="msg.value.title"
                      :key="`buttonTitle${msgIndex}`"
                      class="message-wrap bot-message mt-4"
                    >
                      <span class="message">{{ msg.value.title }}</span>
                    </div>
                    <div
                      v-if="msg.value.buttons && msg.value.buttons.length"
                      :key="`button${msgIndex}`"
                      class="message-wrap bot-message"
                    >
                      <div class="message_block_wrap">
                        <div
                          v-for="(item, indexButtons) in msg.value.buttons"
                          :key="'quick_reply_buttons' + indexButtons"
                          class="message_block_buttons"
                          @click="sendText(item)"
                        >
                          {{ item.title }}
                        </div>
                      </div>
                    </div>
                  </template>
                  <div
                    v-if="msg.type === 'picture'"
                    :key="msgIndex"
                    class="message-wrap bot-message mt-4"
                  >
                    <v-img
                      target="_blank"
                      :src="msg.value"
                      :lazy-src="msg.value"
                      aspect-ratio="1"
                      width="349"
                      max-height="200"
                    />
                  </div>
                  <div
                    v-if="msg.type === 'video'"
                    :key="msgIndex"
                    class="message-wrap bot-message mt-4"
                  >
                    <template v-if="Array.isArray(msg.value)">
                      <VideoMessage
                        v-for="videoItem in msg.value"
                        :key="videoItem"
                        :video-url="videoItem"
                      />
                    </template>
                    <template v-if="typeof msg.value === 'string'">
                      <VideoMessage :video-url="video" />
                    </template>
                  </div>
                  <div
                    v-if="msg.type === 'carousel'"
                    :key="msgIndex"
                    class="message-wrap-carousel bot-message mt-4"
                  >
                    <CarouselMessage
                      v-for="(item, i) in msg.value"
                      :key="'item' + i"
                      :item="item"
                      @sendText="sendText"
                    />
                  </div>
                </template>
              </div>
            </div>
          </template>
          <div v-if="submitting" class="message-group avatar-group d-flex">
            <v-avatar size="32" class="mr-2">
              <img :src="botPicture" alt="Bot avatar" />
            </v-avatar>
            <div class="message-group">
              <div class="message-wrap bot-message">
                <img class="message" src="~/assets/icons/typing.svg" />
              </div>
            </div>
          </div>
        </v-card-text>
        <v-card-actions
          v-if="chatted && showUseBot"
          class="test-chat-card__actions d-flex"
        >
          <v-row>
            <v-col cols="12 px-4 py-2">
              <v-form @submit.prevent="sendText()">
                <v-text-field
                  ref="chatInput"
                  v-model="messageInputValue"
                  filled
                  rounded
                  dense
                  height="32"
                  min-height="32"
                  max-height="32"
                >
                  <template v-slot:prepend>
                    <v-icon class="action-btn text-blue-6">
                      mdi-format-list-bulleted
                    </v-icon>
                    <img
                      class="action-btn"
                      src="~/assets/icons/camera.svg"
                      width="24px"
                      height="24px"
                    />
                    <img
                      class="action-btn"
                      src="~/assets/icons/picture.svg"
                      width="24px"
                      height="24px"
                    />
                  </template>
                  <template v-slot:append>
                    <img
                      class="action-btn"
                      src="~/assets/icons/smile.svg"
                      width="21px"
                      height="21px"
                    />
                  </template>
                  <template v-slot:append-outer>
                    <img
                      class="action-btn"
                      src="~/assets/icons/like.svg"
                      width="24px"
                      height="24px"
                    />
                  </template>
                </v-text-field>
              </v-form>
            </v-col>
          </v-row>
        </v-card-actions>
        <v-card-actions
          v-if="!chatted"
          class="test-chat-card__actions d-flex justify-center"
        >
          <span class="test-btn" @click="startChatting()">
            Bắt đầu chạy thử bot
          </span>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col cols="12" sm="4">
      <div v-if="bot" class="px-6 py-10">
        <v-img
          :lazy-src="bot.image ? bot.image : ''"
          :src="bot.image ? bot.image : ''"
          height="182px"
          :aspect-ratio="16 / 9"
        ></v-img>
        <v-divider></v-divider>
        <p class="bot-name mt-3">{{ bot.name }}</p>
        <p class="bot-description mt-3">
          {{ bot.description }}
        </p>
        <v-btn color="primary" block depressed large @click="cloneSystembot"
          >Sử dụng bot này</v-btn
        >
      </div>
    </v-col>
    <Dialog v-model="createFormDialog" padding-x="40px" padding-y="40px">
      <v-form
        ref="createForm"
        v-model="valid"
        lazy-validation
        @submit.prevent="submitCreate"
      >
        <v-text-field
          ref="cloneBotName"
          :value="botClone.name"
          :rules="[(v) => (!!v && v.trim() !== '') || 'Chưa nhập tên lộ trình']"
          :validate-on-blur="true"
          outlined
          required
          dense
          class="input-40 mb-4"
          placeholder="Tên bot"
          @keyup="updateFieldName"
        ></v-text-field>
        <v-text-field
          ref="cloneBotDescription"
          :value="botClone.description"
          outlined
          required
          dense
          class="input-40 mb-4"
          placeholder="Mô tả bot"
          @keyup="updateFieldDes"
        ></v-text-field>
        <v-btn
          color="primary"
          height="40"
          :loading="loading"
          block
          depressed
          :disabled="!valid"
          type="submit"
        >
          Tiếp theo
        </v-btn>
      </v-form>
    </Dialog>
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
import CarouselMessage from '@/components/TestChat/CarouselMessage'
import Dialog from '~/components/Dialog'
import VideoMessage from '@/components/TestChat/VideoMessage'
export default {
  name: 'TestBot',
  components: {
    CarouselMessage,
    VideoMessage,
    Dialog
  },
  props: {
    bot: {
      type: Object,
      required: true
    },
    showUseBot: { type: Boolean, default: true }
  },
  data() {
    return {
      chatted: false,
      submitting: false,
      messageGroups: [],
      botClone: {
        name: '',
        description: ''
      },
      loading: false,
      messageInputValue: '',
      video: '',
      createFormDialog: false,
      valid: true
    }
  },
  computed: {
    ...mapGetters(['defaultSkillId']),
    botPicture() {
      return this.bot && this.bot.image
        ? this.bot.image
        : require('~/assets/svg/DefaultBotAvatar.svg')
    }
  },
  watch: {
    bot() {
      this.chatted = false
      this.messageGroups = []
    }
  },
  methods: {
    updateFieldDes() {
      this.botClone.name = this.$refs.cloneBotName.$refs.input.value
    },
    updateFieldName() {
      this.botClone.description = this.$refs.cloneBotDescription.$refs.input.value
    },
    submitCreate() {
      if (this.$refs.createForm.validate()) {
        this.loading = true
        this.botClone.name = this.botClone.name.trim()
        this.$store
          .dispatch('bots/cloneBotLibrary', {
            libraryId: this.bot.id,
            data: this.botClone
          })
          .then((res) => {
            this.$toast.global.my_success({
              message: 'Tạo bot thành công'
            })
            this.loading = false
            this.createFormDialog = false
            this.$refs.createForm.reset()
            this.$refs.createForm.resetValidation()
          })
          .catch(() => {
            this.$toast.global.my_error()
            this.$refs.createForm.reset()
            this.$refs.createForm.resetValidation()
            this.loading = false
          })
      }
    },
    cloneSystembot() {
      this.botClone = {
        name: '',
        description: ''
      }
      this.createFormDialog = true
    },
    focusInput() {
      setTimeout(() => {
        this.$refs.chatInput.focus()
      }, 300)
    },
    scrollToEndDiv() {
      setTimeout(() => {
        const objDiv = document.getElementById('messageContentBox')
        objDiv.scrollTo({
          top: objDiv.scrollHeight,
          left: 0,
          behavior: 'smooth'
        })
      }, 300)
    },
    startChatting() {
      this.chatted = true
      this.focusInput()
    },
    addMessageToBoard(messageObject, userType) {
      if (
        this.messageGroups.length &&
        this.messageGroups[this.messageGroups.length - 1].userType === userType
      ) {
        this.messageGroups[this.messageGroups.length - 1].messageList.push(
          messageObject
        )
      } else {
        this.messageGroups.push({
          userType,
          messageList: [messageObject]
        })
      }
    },
    sendText(item = '', text = null) {
      this.addMessageToBoard(
        {
          type: 'text',
          content: text || item || this.messageInputValue
        },
        'user'
      )
      if (item !== '' && item) {
        this.messageInputValue = item.payload ? item.payload : item
      }
      if (!this.messageInputValue) {
        this.messageInputValue = text
      }
      this.doInfer()
    },
    doInfer() {
      this.submitting = true
      this.scrollToEndDiv()
      this.$store
        .dispatch('bots/chatBotLibrary', {
          libraryId: this.bot.id,
          utterance: this.messageInputValue
        })
        .then((result) => {
          this.submitting = false
          for (let i = 0; i < result.data.length; i++) {
            this.addMessageToBoard(result.data[i], 'bot')
          }
          this.scrollToEndDiv()
        })
        .catch(() => {
          this.focusInput()
        })
      this.messageInputValue = ''
    },
    close() {
      this.chatted = false
      this.submitting = false
      this.messageGroups = []
      this.showUseBot = true
      this.messageInputValue = ''
    }
  }
}
</script>
<style lang="scss" scoped>
.message_block_wrap {
  width: 310px;
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-radius: 18px;
  border-top-left-radius: 4px;
  .message_block_buttons {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e8e8e8;
    color: #1890ff;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    &:last-child {
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }
}

.message-wrap-carousel {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}
.message-reply-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.quick_reply_buttons {
  background: #ffffff;
  border: 1px solid #1890ff !important;
  box-sizing: border-box;
  border-radius: 20px;
}
.bot-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Grey / grey-10 */

  color: #000000;
}
.bot-description {
  font-size: 14px;
  line-height: 22px;
  color: $grey-8;
}
.message-group {
  width: 100%;
  margin-bottom: 16px;

  .message-wrap {
    width: 100%;
    overflow: hidden;
  }
}
.message {
  display: block;
  border-radius: 20px;
  padding: 6px 16px;
  margin-bottom: 4px;
}
.bot-message {
  .message {
    color: $grey-10;
    float: left;
    background-color: $grey-3;
  }

  &:not(:only-child):first-child {
    .message {
      border-bottom-left-radius: 2px;
    }
  }
  &:not(:only-child):last-child {
    .message {
      border-top-left-radius: 2px;
    }
  }
  &:not(:only-child):not(:last-child):not(:first-child) {
    .message {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
}
.user-message {
  .message {
    float: right;
    color: #fff;
    background-color: $blue-6;
  }

  &:not(:only-child):first-child {
    .message {
      border-bottom-right-radius: 2px;
    }
  }
  &:not(:only-child):last-child {
    .message {
      border-top-right-radius: 2px;
    }
  }
  &:not(:only-child):not(:last-child):not(:first-child) {
    .message {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
.action-btn {
  margin: 0px 5px;
  cursor: pointer;
}

#messageContentBox {
  height: 400px;
  overflow: auto;
}
/* Custom scrollbar */
#messageContentBox::-webkit-scrollbar {
  width: 4px;
}
#messageContentBox::-webkit-scrollbar-track {
  background: transparent;
}
#messageContentBox::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 3px;
}
#messageContentBox::-webkit-scrollbar-thumb:hover {
  background: $grey-7;
}
#messageContentBox:hover {
  &::-webkit-scrollbar-track {
    background: $grey-4;
  }
}
</style>
<style lang="scss">
.test-chat-card {
  border-radius: 0px !important;
  .v-text-field__slot {
    padding-left: 8px !important;
  }
  .v-select__selections {
    font-size: 14px !important;
  }
  .test-chat-card__title {
    border-bottom: 1px solid $grey-4;
  }

  .test-chat-card__actions {
    height: 48px;
    border-top: 1px solid $grey-4;
  }

  .test-chat-card__header {
    min-height: 40px;
    width: 200px;
    .v-list-item__content {
      line-height: 38px;
      height: 38px;
      padding-left: 0px;
    }

    .v-list-item__title {
      line-height: 22px;
      color: $grey-10;
    }
    .v-list-item__subtitle {
      font-size: 12px;
      line-height: 16px;
      height: 16px;
      color: $grey-7;
      font-weight: 400;
    }
  }

  .test-btn {
    cursor: pointer;
    color: $blue-6;
    font-size: 14px;
    line-height: 22px;
  }

  .v-input__control {
    height: 32px !important;
  }
  .v-input__slot {
    height: 32px !important;
    min-height: 32px !important;
    margin-bottom: 0px;
    padding-left: 5.5px !important;
    padding-right: 5.5px !important;
  }
  .v-text-field__slot {
    height: 32px !important;

    input {
      font-size: 14px;
    }
  }
  .v-input__append-inner {
    margin-top: 5.5px !important;
  }
  .v-input__prepend-outer {
    margin-top: 5.5px !important;
  }
  .v-input__append-outer {
    margin-top: 5.5px !important;
  }
}
</style>
