<template>
  <video width="349" height="240" controls>
    <source :src="videoUrl" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</template>
<script>
export default {
  props: {
    videoUrl: {
      type: String,
      default: null
    }
  }
}
</script>
