<template>
  <v-dialog v-model="show" scrollable max-width="56vw" persistent>
    <v-card>
      <v-card-title>Edit Actions Group</v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 70vh;">
        <ActionGroupOrder
          :skillid="skillid"
          :groupid="groupid"
          :group-type="groupType"
          :type="type"
          @close="$emit('close')"
        />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="blue darken-1" text @click="$emit('close')">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// import ActionGroup from '~/components/ActionGroup.vue'
import ActionGroupOrder from '~/components/actioncustom/ActionGroupOrder'
export default {
  name: 'ActionDialog',
  components: {
    // ActionGroup,
    ActionGroupOrder
  },
  props: {
    show: { type: Boolean, default: false },
    groupType: { type: String, default: 'skill' },
    skillid: { type: String, default: '' },
    groupid: { type: String, default: '' },
    type: { type: String, default: '' }
  }
}
</script>
