<template>
  <v-card
    class="py-8 px-6"
    style="width: 100%; min-height: calc(100vh - 116px);"
  >
    <div class="d-flex justify-space-between align-center">
      <div class="d-flex">
        <div style="width:175px; margin-right:10px">
          <v-select
            v-model="filterStatus"
            dense
            outlined
            hide-details
            height="40"
            :items="arrayFilter"
            item-text="name"
            item-value="key"
            @change="changeFilter"
          >
            <template v-slot:prepend-inner>
              <img class="pt-2" :src="FilterMessage" alt="" srcset="" />
            </template>
          </v-select>
        </div>
        <v-text-field
          v-model="filterText"
          outlined
          dense
          hide-details
          height="40"
          placeholder="Search message"
          @keyup="onKeyUp"
        >
          <template v-slot:append>
            <img class="pt-1" :src="Search" alt="" srcset="" /> </template
        ></v-text-field>
      </div>
      <v-btn color="primary" height="40" depressed @click="createMessage">
        <v-icon size="16" class="mr-2">mdi-plus</v-icon>
        New Message
      </v-btn>
    </div>
    <div class="mt-6">
      <v-data-table
        :headers="tableHeaders"
        :items="autoMessages"
        :items-per-page="10"
        :loading="tableLoading"
        loading-text="loading list message..."
        class="table__message"
        @click:row="goToMessageDetail"
      >
        <template v-slot:item.name="{ item }">
          <div v-if="!item.isEdit">
            {{
              item.name.length > 50 ? item.name.slice(0, 50) + '...' : item.name
            }}
          </div>
          <v-text-field
            v-else
            :ref="`item${item.id}`"
            :value="item.name"
            outlined
            dense
            autofocus=""
            hide-details
            height="32"
            @keyup="updateNameAutoMessage(item)"
            @change="onBlurMessage(item)"
          ></v-text-field>
        </template>
        <template v-slot:item.schedule="{ item }">
          <span
            v-if="
              item.schedule && item.schedule.start && item.status !== 'pause'
            "
            >{{ item.schedule.start | unixtimeToDateString }}</span
          >
          <span
            v-if="
              item.schedule && item.schedule.start && item.status === 'pause'
            "
            >No schedule</span
          >
          <span
            v-if="
              item.status !== 'pause' &&
                item.status !== 'init' &&
                item.type === 'instant'
            "
            >{{ $moment(Date.now()).format('DD/MM/YYYY') }}</span
          >
          <span
            v-if="
              item.type === 'instant' &&
                (item.status === 'pause' || item.status === 'init')
            "
            >No schedule</span
          >
        </template>
        <template v-slot:item.status="{ item }">
          <div v-if="item.status === 'lock'">
            <span
              :style="{
                color: StatusMessageSpam[2].color
              }"
            >
              {{ StatusMessageSpam[2].name }}
            </span>
          </div>
          <div v-if="item.status === 'pause'">
            <span
              :style="{
                color: StatusMessageSpam[3].color
              }"
            >
              {{ StatusMessageSpam[3].name }}
            </span>
          </div>
          <div
            v-if="
              item.status !== 'lock' &&
                StatusMessageSpam.filter((r) => r.key === item.status)[0]
            "
          >
            <span
              :style="{
                color: StatusMessageSpam.filter((r) => r.key === item.status)[0]
                  .color
              }"
            >
              {{
                StatusMessageSpam.filter((r) => r.key === item.status)[0].name
              }}
            </span>
          </div>
        </template>
        <template v-slot:item.actions="{ item }">
          <div class="d-flex">
            <div
              style="
                    width: 28px;
                    border-right: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              @click.prevent.stop="editMessage(item)"
            >
              <img v-tooltip="'Edit name'" :src="EditJourneyMessage" alt="" />
            </div>
            <div
              style="
                    width: 32px;
                    border-right: 1px solid #c1adad;
                    border-left: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              class="pl-2"
              @click.prevent.stop="duplicateMessage(item)"
            >
              <img v-tooltip="'Duplicate'" :src="Duplicate" alt="" />
            </div>
            <div
              class="pl-2"
              style="
                    width: 32px;
                    border-left: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              @click.prevent.stop="openDeleteConfirmDialog(item)"
            >
              <img
                v-tooltip="'Delete message'"
                :src="RemoveSegment"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </template>
        <template v-slot:no-data>
          <div class="empty-box d-flex justify-center align-center flex-column">
            <img src="~/assets/svg/empty.svg" class="mt-4" width="200px" />
            <div class="empty-box__text">
              <p class="mt-6 mb-0 text-center">
                <span class="font-weight-medium">Messages automatically</span>
                <span
                  >help you to send nurturing messages (Re-marketing) to each
                  suitable customer group. Click "New Message" to set up or
                  access</span
                >
              </p>
              <p class="text-center">
                <a
                  href="https://chatt.ai/ho-tro-chatt-ai/chuc-nang-gui-tin-nhan-hang-loat/"
                  target="_blank"
                  >Guide to create mass messages</a
                >
              </p>
            </div>
          </div>
        </template>
      </v-data-table>
    </div>

    <Dialog
      v-model="createNoFanpageMessageDialog"
      padding-y="42px"
      padding-x="42px"
    >
      <p>
        To use this feature, you need to be connected to the Facebook Fanpage
      </p>
      <v-btn color="#FFBE07" height="40" block depressed @click="gotoConfig"
        >Go to config</v-btn
      >
    </Dialog>
    <Dialog v-model="deleteMessageDialog" padding-y="42px" padding-x="42px">
      <p>
        Are you sure delete message ?
        <span v-if="currentMessage" class="font-weight-medium">
          {{ currentMessage.name }}?
        </span>
      </p>
      <v-btn
        color="error"
        height="40"
        :loading="deleting"
        block
        depressed
        @click="deleteMessage"
        >Accept</v-btn
      >
    </Dialog>
  </v-card>
</template>
<script>
import * as _ from 'lodash'
import Dialog from '~/components/Dialog'
import { StatusMessageSpam, slugify, StatusMessage } from '~/utils/constanst'
import RemoveSegment from '@/assets/svg/RemoveSegment.svg'
import Duplicate from '@/assets/svg/Duplicate.svg'
import FilterMessage from '@/assets/svg/FilterMessage.svg'
import EditJourneyMessage from '@/assets/svg/EditJourneyMessage.svg'
import Search from '@/assets/svg/Search.svg'
export default {
  components: {
    Dialog
  },
  data() {
    return {
      Search,
      tableLoading: false,
      FilterMessage,
      dataBackup: [],
      EditJourneyMessage,
      StatusMessage,
      StatusMessageSpam,
      createNoFanpageMessageDialog: false,
      RemoveSegment,
      hasFanpage: false,
      Duplicate,
      filterText: '',
      filterStatus: {
        key: 'all',
        name: 'All'
      },
      tableHeaders: [
        {
          text: 'Name Message',
          align: 'start',
          value: 'name',
          sortable: false
        },
        { text: 'Status', value: 'status', sortable: false },
        { text: 'Schedule', value: 'schedule', sortable: false },
        { text: '', value: 'actions', sortable: false, width: 190 }
      ],
      autoMessages: [],
      currentMessage: null,
      deleteMessageDialog: false,
      deleting: false,
      currentBot: ''
    }
  },
  computed: {
    arrayFilter() {
      let data = [
        {
          key: 'all',
          name: 'All'
        }
      ]
      data.push(StatusMessageSpam)
      data = data.flat()
      return data
    }
  },
  mounted() {
    this.fetchMessages()
  },
  created() {
    const { bot } = this.$route.params
    this.currentBot = bot
    this.$store
      .dispatch('bots/getAllChannels', this.$route.params.bot)
      .then((r) => {
        if (r.items.length > 0) {
          this.hasFanpage = true
        } else {
          this.hasFanpage = false
        }
        this.$store.dispatch('bots/updateLoading', false)
      })
      .catch(() => {
        this.hasFanpage = false
        this.$store.dispatch('bots/updateLoading', false)
      })
  },
  methods: {
    updateNameAutoMessage(item) {
      this.autoMessages.filter((r) => r.id === item.id)[0].name = this.$refs[
        `item${item.id}`
      ].$refs.input.value
    },
    onBlurMessage(item) {
      if (!item.name || item.name.trim() === '') {
        this.$toast.global.my_error({
          message: 'This field cannot be left blank'
        })
      } else if (item.name && item.name.trim().length > 60) {
        this.$toast.global.my_error({
          message: 'This field cannot exceed 60 characters'
        })
      } else {
        const findIndex = this.dataBackup.findIndex((r) => r.id === item.id)
        this.$axios
          .put(
            `/api_spam/bots/${this.$route.params.bot}/spam-groups/${item.id}`,
            item
          )
          .then((response) => {
            if (response.code === 0) {
              this.autoMessages[findIndex].isEdit = false
              this.dataBackup = this.autoMessages
            }
          })
          .catch((error) => {
            this.$toast.global.my_error(error)
          })
      }
    },
    editMessage(item) {
      const findIndex = this.autoMessages.findIndex((r) => r.id === item.id)
      this.autoMessages[findIndex].isEdit = true

      setTimeout(() => {
        this.$refs[`item${item.id}`].focus()
      }, 200)
    },
    gotoConfig() {
      this.$router.push({
        path: this.localePath({
          name: 'bot-bot-channels',
          params: { bot: this.$route.params.bot }
        })
      })
      this.$store.commit('bots/ACTIVE_MUTATION_REDIRECT', 'settings')
    },
    createMessage() {
      if (!this.hasFanpage) {
        this.createNoFanpageMessageDialog = true
      } else {
        this.$router.push(
          `/bot/${this.$route.params.bot}/automation-message/create`
        )
        this.createNoFanpageMessageDialog = false
      }
    },
    onKeyUp() {
      this.autoMessages = this.dataBackup.filter((r) =>
        r.slugfyname.includes(slugify(this.filterText.trim().toLowerCase()))
      )
    },
    changeFilter() {
      if (this.filterStatus === 'all') {
        this.autoMessages = this.dataBackup
      } else if (this.filterStatus === 'processing') {
        this.autoMessages = this.dataBackup.filter(
          (r) => r.status === this.filterStatus || r.status === 'lock'
        )
      } else if (this.filterStatus === 'init') {
        this.autoMessages = this.dataBackup.filter(
          (r) => r.status === this.filterStatus || r.status === 'pause'
        )
      } else {
        this.autoMessages = this.dataBackup.filter(
          (r) => r.status === this.filterStatus
        )
      }
    },
    fetchMessages() {
      this.tableLoading = true
      this.$axios
        .get(`/api_spam/bots/${this.$route.params.bot}/spam-groups`)
        .then((response) => {
          this.tableLoading = false
          if (response.code === 0) {
            this.autoMessages = response.data.items.map((r) => {
              return {
                ...r,
                isEdit: false,
                slugfyname: slugify(r.name.toLowerCase())
              }
            })
            this.dataBackup = response.data.items.map((r) => {
              return {
                ...r,
                isEdit: false,
                slugfyname: slugify(r.name.toLowerCase())
              }
            })
          } else {
            this.$toast.error(response.message)
          }
        })
        .catch((error) => {
          this.tableLoading = false
          this.$toast.error(error)
        })
    },
    openDeleteConfirmDialog(message) {
      this.currentMessage = message
      this.deleteMessageDialog = true
    },
    duplicateMessage(msg) {
      this.$set(msg, 'duplicating', true)
      let nameMessage = ''
      const lastIndexOfStr = msg.name.lastIndexOf('(Copy)')
      let listCopyNew = this.autoMessages
        .filter((r) => r.name.includes(`${msg.name} (Copy)`))
        .map((r) => r.name)
        .map((t) => {
          return t
            .slice(t.lastIndexOf('(Copy)'))
            .match(/\d+\.\d+|\d+\b|\d+(?=\w)/g)
        })
      listCopyNew = _.max(listCopyNew.flat())
      if (lastIndexOfStr > -1) {
        if (this.autoMessages.some((r) => r.name === `${msg.name} (Copy)`)) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            let number = 1
            const textNew = `${msg.name} (Copy)`
            while (
              this.autoMessages.some((r) => r.name === `${textNew} ${number}`)
            ) {
              number++
            }
            nameMessage = `${textNew} ${number}`
          }
        }
        if (!this.autoMessages.some((r) => r.name === `${msg.name} (Copy)`)) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            nameMessage = `${msg.name} (Copy)`
          }
        }
      }
      if (lastIndexOfStr < 0) {
        if (this.autoMessages.some((r) => r.name === `${msg.name} (Copy)`)) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            let number = 1
            const textNew = `${msg.name} (Copy)`
            while (
              this.autoMessages.some((r) => r.name === `${textNew} ${number}`)
            ) {
              number++
            }
            nameMessage = `${textNew} ${number}`
          }
        } else {
          nameMessage = `${msg.name} (Copy)`
        }
      }
      this.$axios({
        url: `/api_spam/bots/${msg.bot_id}/spam-groups`,
        method: 'post',
        data: Object.assign({}, msg, { name: nameMessage })
      })
        .then((response) => {
          this.$set(msg, 'duplicating', false)
          if (response.code === 0) {
            const messageIndex = this.autoMessages.findIndex(
              (item) => item.id === msg.id
            )
            if (messageIndex !== -1) {
              this.autoMessages.splice(messageIndex + 1, 0, response.data)
            }
          } else {
            this.$toast.error(response.message)
          }
        })
        .catch((error) => {
          msg.$set('duplicating', false)
          this.$toast.error(error)
        })
    },
    deleteMessage() {
      this.deleting = true
      if (this.currentMessage.id) {
        this.$axios
          .delete(
            `/api_spam/bots/${this.currentMessage.bot_id}/spam-groups/${this.currentMessage.id}`
          )
          .then((response) => {
            this.deleting = false
            this.deleteMessageDialog = false
            if (response.code === 0) {
              const messageIndex = this.autoMessages.findIndex(
                (item) => item.id === this.currentMessage.id
              )
              if (messageIndex !== -1) {
                this.autoMessages.splice(messageIndex, 1)
                this.dataBackup = this.autoMessages
              }
            } else {
              this.$toast.error(response.message)
            }
          })
          .catch((error) => {
            this.deleting = false
            this.$toast.error(error)
          })
      }
    },
    goToMessageDetail(message) {
      if (!message.isEdit) {
        this.$router.push(
          `/bot/${this.$route.params.bot}/automation-message/${message.id}`
        )
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.table-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.empty-box__text {
  max-width: 532px;
  font-size: 14px;
  line-height: 22px;
  white-space: normal;
}
</style>
<style lang="scss">
.table__message {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
</style>
