<template>
  <v-row :class="{ 'no-interact': prevented }" style="height:100%">
    <v-col cols="12" md="6" xl="6">
      <Skeleton :loading="loadingMessage" height="500">
        <v-card class="d-flex" outlined>
          <v-row no-gutters>
            <v-col cols="12" xl="3">
              <v-stepper
                vertical
                :class="{
                  'auto-message-stepper': true,
                  'inline-stepper': $vuetify.breakpoint.lgAndDown
                }"
              >
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="currentStep > 1"
                  step="1"
                >
                  <span class="body-2">Assign for the message</span>
                </v-stepper-step>
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="currentStep > 2"
                  step="2"
                >
                  <span class="body-2">Choice objects you want to be sent</span>
                </v-stepper-step>
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="
                    currentStep === 3 &&
                      messageData.status !== 'init' &&
                      messageData.status !== 'pause'
                  "
                  step="3"
                >
                  <span class="body-2">Config content</span>
                </v-stepper-step>
              </v-stepper>
            </v-col>
            <v-col cols="12" xl="9">
              <div v-if="currentStep === 1" class="menu-content">
                <div class="menu-content__inside pa-6">
                  <p class="body-2">
                    <a href="#">Facebook Messenger policy</a>
                    <span
                      >requires each batch message to be labeled appropriate,
                      refer to</span
                    >
                    <a href="#">Instructions to create mass messages</a>
                    <span>For more details.</span>
                  </p>
                  <v-row>
                    <v-col
                      v-for="msgLabel in messageLabelList"
                      :key="msgLabel.key"
                      cols="12"
                      md="4"
                      style="position:relative"
                      :class="{ 'none-interact': msgLabel.default }"
                    >
                      <v-card
                        :class="{
                          'card-option d-flex flex-column align-center pa-4': true,
                          active: currentLabel === msgLabel.key
                        }"
                        outlined
                        :disabled="msgLabel.disabled"
                        @click="changeMessageLabel(msgLabel.key)"
                      >
                        <img src="~/assets/svg/empty.svg" width="60px" />
                        <span class="caption font-weight-medium mt-4">{{
                          msgLabel.name
                        }}</span>
                      </v-card>
                      <img
                        v-if="msgLabel.default"
                        :src="CommingSoon"
                        alt=""
                        srcset=""
                        style="position:absolute;top:0;left:0"
                      />
                    </v-col>
                  </v-row>
                  <template v-if="currentLabel === 1">
                    <p class="caption font-italic">
                      Messages labeled "Advertising in 24 hours" are allowed
                      advertising content and is sent to audiences to interact
                      with fanpage within 24 hours.
                    </p>
                  </template>
                  <template v-if="currentLabel === 2">
                    <p class="caption font-italic">
                      Messages labeled "Advertise after 24h" are messages with
                      may contain advertising, sent only 1 time to these
                      Customers interacted with the message "Advertising in 24
                      hours" For follow-up purposes.
                    </p>
                  </template>
                  <template v-if="currentLabel === 3">
                    <p class="caption font-italic">
                      A message labeled "Notice / Update" was sent entire
                      customers are not limited to interaction and time should
                      contain content matching the topics below (content The
                      message must not contain advertising or promotional
                      information commercial):
                    </p>
                    <v-select
                      v-model="messageData.message.tag"
                      :items="messTags"
                      height="40"
                      outlined
                      dense
                      hide-details
                      item-text="name"
                      item-value="key"
                      :disabled="iscurrentStepSecond"
                      @change="debounceUpdateMessage()"
                    ></v-select>
                  </template>
                </div>
                <v-card-actions class="justify-end">
                  <v-btn color="#1890FF" text @click="nextStepSecond">
                    <span>Next step</span>
                    <v-icon>mdi-menu-right</v-icon>
                  </v-btn>
                </v-card-actions>
              </div>
              <div v-if="currentStep === 2" class="menu-content">
                <div class="menu-content__inside d-flex flex-column pa-6">
                  <div style="font-size:14px" class="mb-4">
                    <span
                      >Each group of senders is understood as a customer group,
                      to Create Customer Group as desired, click
                      <nuxt-link
                        :to="
                          localePath({
                            name: 'chatbot-bot-crm-customer',
                            params: { bot: botID }
                          })
                        "
                      >
                        Instructions for creating a Customer Group</nuxt-link
                      >
                      For more details.</span
                    >
                  </div>
                  <div class="d-flex">
                    <v-select
                      v-model="customerPacks"
                      class="mr-2"
                      outlined
                      dense
                      multiple
                      item-text="nameCustomer"
                      placeholder="Choose customers to send"
                      :disabled="iscurrentStepThree"
                      item-value="id"
                      :items="objSends"
                      @change="choosenSegment"
                    >
                      <template v-slot:selection="{ item, index }">
                        <div>
                          <span
                            v-if="index === 0"
                            class="custom-selected-item mr-1"
                          >
                            {{ item.name }}
                          </span>
                          <span v-if="index === 1" class="grey--text caption">
                            (+{{ customerPacks.length - 1 }})
                          </span>
                        </div>
                      </template>
                      <div
                        slot="append-item"
                        class="mb-1"
                        style="display:block"
                        @click.stop.prevent="showFilterCustomer = true"
                      >
                        <div class="pl-2">
                          <v-btn small="" height="40" text="">
                            <span class="addFilter">+ Add</span>
                          </v-btn>
                        </div>
                      </div>
                    </v-select>
                  </div>
                  <Skeleton
                    v-if="loadingCount"
                    :type="text"
                    :loading="loadingCount"
                    height="10"
                  >
                  </Skeleton>
                  <p v-else class="body-2 text-grey-7 mb-0">
                    Have {{ allCustomerFilter }} object senders
                  </p>
                </div>
                <v-card-actions class="justify-space-between">
                  <v-btn color="#1890FF" text @click="backStep(1)">
                    <v-icon>mdi-menu-left</v-icon>
                    <span>Back</span>
                  </v-btn>
                  <v-btn
                    color="#1890FF"
                    text
                    :disabled="disableFinnalStep"
                    @click="clickFinalStep"
                  >
                    <span>Next step</span>
                    <v-icon>mdi-menu-right</v-icon>
                  </v-btn>
                </v-card-actions>
              </div>
              <div v-if="currentStep === 3" class="menu-content">
                <div class="menu-content__inside pa-6">
                  <p class="body-2">
                    <span
                      >Set the sending time and fill in the message content in
                      the area the right
                    </span>
                  </p>
                  <v-radio-group
                    v-model="messageData.type"
                    :disabled="messageData.status !== 'init'"
                    row
                    class="row__time"
                    @change="changeFunSendMessage"
                  >
                    <v-radio
                      label="Send now"
                      color="#FFBE07"
                      value="instant"
                    ></v-radio>
                    <v-radio
                      label="Send with schedule"
                      color="#FFBE07"
                      value="schedule"
                    ></v-radio>
                  </v-radio-group>
                  <v-form
                    v-if="
                      messageData.type === 'schedule' && messageData.schedule
                    "
                    id="scheduleDateTime"
                    ref="scheduleForm"
                    class="d-flex"
                  >
                    <DatePicker
                      id="date_message"
                      v-model="messageData.schedule.date"
                      :rules="[(v) => !!v || 'required']"
                      max-width="166px"
                      class="mr-2"
                      :class="{
                        'prevent-date':
                          messageData.type === 'schedule' &&
                          messageData.status !== 'init'
                      }"
                      label="Choice day"
                      placeholder=""
                    />
                    <TimePicker
                      v-model="messageData.schedule.time"
                      @update="updateTime"
                      @toggleTimePicker="toggleTimePicker"
                    />
                  </v-form>
                </div>
                <v-card-actions class="justify-space-between">
                  <v-btn color="#1890FF" text @click="backStep(2)">
                    <v-icon>mdi-menu-left</v-icon>
                    <span>Quay lại</span>
                  </v-btn>
                  <div>
                    <v-btn color="primary" outlined @click="openTestMessage">
                      Preview
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'instant' &&
                          messageData.status === 'init'
                      "
                      color="primary"
                      :disabled="
                        !messageData.message.items.length ||
                          isActive ||
                          (messageData.name &&
                            messageData.name.trim() === '') ||
                          !messageData.name
                      "
                      depressed
                      :loading="submitting"
                      @click="sendMessage()"
                    >
                      <span>
                        Submit
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'instant' &&
                          messageData.status !== 'init' &&
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          ).length
                      "
                      :style="{
                        color: `${
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          )[0].color
                        } !important`
                      }"
                      depressed
                    >
                      <span class="d-flex">
                        <img
                          v-if="
                            messageData.status === 'processing' ||
                              messageData.status === 'start' ||
                              messageData.status === 'done'
                          "
                          :src="
                            require(`~/assets/${
                              StatusMessage.filter(
                                (r) => r.key === messageData.status
                              )[0].icon
                            }`)
                          "
                          class="mr-2"
                        />
                        <v-icon v-else left>{{
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          )[0].icon
                        }}</v-icon>
                        <span>
                          {{
                            StatusMessage.filter(
                              (r) => r.key === messageData.status
                            )[0].name
                          }}
                        </span>
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'schedule' &&
                          messageData.status === 'done' &&
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          ).length
                      "
                      :style="{
                        color: `${
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          )[0].color
                        } !important`
                      }"
                      depressed
                    >
                      <span class="d-flex">
                        <img
                          v-if="messageData.status === 'done'"
                          :src="
                            require(`~/assets/${
                              StatusMessage.filter(
                                (r) => r.key === messageData.status
                              )[0].icon
                            }`)
                          "
                          class="mr-2"
                        />
                        <span>
                          {{
                            StatusMessage.filter(
                              (r) => r.key === messageData.status
                            )[0].name
                          }}
                        </span>
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'schedule' &&
                          messageData.status === 'init'
                      "
                      color="primary"
                      depressed
                      :disabled="isValidTime || isActive"
                      :loading="submitting"
                      @click="sendMessageScheduleNew()"
                    >
                      <span>
                        Set schedule send
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'schedule' &&
                          messageData.status === 'start'
                      "
                      v-tooltip="{
                        content: msgStop
                      }"
                      :loading="updating"
                      depressed
                      outlined
                      style="color:red"
                      @click="pause"
                    >
                      <span>
                        <v-icon left>mdi-pause</v-icon>
                        Stop
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'schedule' &&
                          (messageData.status === 'processing' ||
                            messageData.status === 'lock')
                      "
                      :style="{
                        color: `${
                          StatusMessage.filter(
                            (r) => r.key === messageData.status
                          )[0].color
                        } !important`
                      }"
                      depressed
                    >
                      <span class="d-flex">
                        <img
                          v-if="
                            messageData.status === 'processing' ||
                              messageData.status === 'lock'
                          "
                          :src="
                            require(`~/assets/${
                              StatusMessage.filter(
                                (r) => r.key === messageData.status
                              )[0].icon
                            }`)
                          "
                          class="mr-2"
                        />
                        <span>
                          {{
                            StatusMessage.filter(
                              (r) => r.key === messageData.status
                            )[0].name
                          }}
                        </span>
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="
                        messageData.type === 'schedule' &&
                          messageData.status === 'pause'
                      "
                      outlined
                      depressed
                      :disabled="isActive"
                      :loading="updating"
                      @click="countinue"
                    >
                      <span>
                        <v-icon left large>mdi-menu-right</v-icon>
                        Continue
                      </span>
                    </v-btn>
                  </div>
                </v-card-actions>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </Skeleton>
    </v-col>
    <v-col cols="12" md="6" xl="6">
      <div id="messageContentLeft" class="message-content-box">
        <div class="content-box pt-2">
          <div
            v-if="!showMessage"
            v-tooltip="'Click to edit the message name'"
            class="tooltip__message"
            @click="showInput"
          >
            {{
              messageData.name.length > 50
                ? messageData.name.slice(0, 50) + '...'
                : messageData.name
            }}
          </div>
          <div v-else class="input_message_spam">
            <v-text-field
              v-model="messageData.name"
              :rules="[(v) => !!v || '']"
              dense
              outlined
              hide-details
              @blur="onKeyPress"
            ></v-text-field>
          </div>
          <draggable
            tag="div"
            :list="messageData.message.items"
            class="mr-8 my-6"
            handle=".drag-btn"
            @end="handleChangePosition"
          >
            <div
              v-for="(action, actionIndex) in messageData.message.items"
              :id="'actionItem' + action.key"
              :key="action.key"
              class="action-wrap d-flex pb-8"
            >
              <div class="action_btns pl-2 pr-2 pt-1">
                <div class="drag-btn mb-2">
                  <v-icon size="16">mdi-arrow-up-down-bold</v-icon>
                </div>
                <div class="delete" @click="openDeleteConfirmBox(actionIndex)">
                  <img src="~/assets/svg/Delete.svg" title="Delete" />
                </div>
                <span class="hack-width">&nbsp;</span>

                <!-- <div
                  v-tooltip="{
                    content: msgAdd,
                    placement: 'left',
                    classes: ['info'],
                    targetClasses: ['it-has-a-tooltip'],
                    offset: 1
                  }"
                  class="add-other-below"
                  @click="openActionDialog(action.value, actionIndex)"
                >
                  <v-icon size="20px">mdi-plus</v-icon>
                </div> -->
              </div>
              <Document
                v-if="['message', 'text', 'buttons'].includes(action.type)"
                :ref="`actionItemDocument`"
                type-button="automation_message"
                :command="action.command"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
              <Carousel
                v-if="action.type === 'carousel'"
                :ref="`actionItem${action.key}`"
                type-button="automation_message"
                :command="
                  action.command && action.command.content
                    ? action.command.content
                    : []
                "
                @submitCommand="handleActionSubmit($event, actionIndex)"
                @removeSlide="removeSlide"
              />
              <QuickAnswer
                v-if="action.type === 'quick_replies'"
                :id="action.id"
                :ref="`actionItem${action.key}`"
                :command="action.command"
                type-button="automation_message"
                @submitCommand="handleActionSubmit($event, actionIndex)"
                @emitAnswerRequire="disableButton"
              />
              <ImageSkill
                v-if="action.type === 'picture'"
                :ref="`actionItem${action.key}`"
                type-button="automation_message"
                :command="!action.command ? null : action.command"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
              <Video
                v-if="action.type === 'video'"
                :ref="`actionItem${action.key}`"
                :command="action.command"
                type-button="automation_message"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
            </div>
            <div
              class="d-flex"
              style="width:100%;align-items: center;
    margin-left: 28px;"
            >
              <div class="one_element">Only one card is supported</div>
              <div class="slash"></div>
            </div>
          </draggable>
        </div>
        <div id="wrap__skill__group__action" class="actions-menu">
          <div
            v-for="action in actionTypes"
            :key="action.value"
            class="actions-menu__item"
            @click="addAction(action.value)"
          >
            <img
              :src="require(`~/assets/${action.icon}`)"
              width="24px"
              height="24px"
            />
            <span class="caption mt-2">{{ action.text }}</span>
          </div>
        </div>
        <div
          v-if="currentStep !== 3 || planSuccess"
          class="message-content-box__overlay"
        ></div>
      </div>
    </v-col>
    <Dialog
      v-model="actionDialog"
      padding-y="16px"
      padding-x="32px"
      max-width="60vw"
    >
      <p>Add and submit content</p>
      <div class="action-box d-flex flex-wrap">
        <div
          v-for="action in actionTypes"
          :key="action.value"
          class="action-item d-flex justify-center aligns-center pa-4"
          @click="addAction(action.value, selectedIndex)"
        >
          <img
            :src="require(`~/assets/${action.icon}`)"
            width="24px"
            height="24px"
          />
          <span class="ml-2">{{ action.text }}</span>
        </div>
      </div>
    </Dialog>
    <Dialog v-model="confirmSendMessageDialog">
      <p class="body-1 font-weight-medium mb-2">
        <span style="color:#262626"
          >When confirmed, the message will be immediately sent to the selected
          target group choose. Are you sure to send?</span
        >
      </p>
      <div class="mt-3" style="text-align:end">
        <v-btn
          color="#8C8C8C"
          text
          depressed
          height="40"
          @click="confirmSendMessageDialog = false"
        >
          Back
        </v-btn>
        <v-btn
          color="#FFBE07"
          depressed
          :loading="confirming"
          height="40"
          @click="confirmSentMessage"
        >
          Submit
        </v-btn>
      </div>
    </Dialog>
    <Dialog
      v-model="confirmDeleteMessageBlock"
      padding-x="72px"
      padding-y="44px"
    >
      <p class="body-1 font-weight-medium mb-6">
        <span>Are you sure delete this content ?</span>
      </p>
      <v-btn
        color="error"
        height="40"
        block
        depressed
        @click="deleteMessageBlock"
        >Accept</v-btn
      >
    </Dialog>
    <Dialog
      v-model="showTestChatDialog"
      :border="false"
      max-width="60%"
      width="60%"
      padding-x="0"
      padding-y="0"
    >
      <TestBot
        :bot="botObject"
        :pre-messages="convertedMessagesForTestBot"
        :show-use-bot="false"
      />
    </Dialog>
    <FilterMessage
      :show-filter-customer="showFilterCustomer"
      :result-filter="resultFilter"
      :channels="getAllFanpage"
      :filterring="filterring"
      :total="totalFilter"
      @saveFilter="saveFilter"
      @cancel="cancel"
      @toggleFilter="show"
      @refresh="refresh"
    />
  </v-row>
</template>
<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'
import draggable from 'vuedraggable'
import {
  messTags,
  actionTypes,
  handleFilter,
  StatusMessage
} from '~/utils/constanst'
import Skeleton from '@/components/Skeleton'
import Document from '~/components/actions/Document'
import FilterMessage from '~/components/FilterMessage'
import Carousel from '~/components/actions/Carousel'
import QuickAnswer from '~/components/actions/QuickAnswer'
import ImageSkill from '~/components/actions/ImageSkill'
import Video from '~/components/actions/Video'
import Dialog from '~/components/Dialog'
import TestBot from '~/components/TestChat/TestBot'
import DatePicker from '~/components/elements/DatePicker'
import TimePicker from '~/components/elements/TimePicker'
import CommingSoon from '@/assets/svg/CommingSoon.svg'

export default {
  layout: 'authenticated',
  middleware: 'authenticated',
  components: {
    DatePicker,
    TimePicker,
    Video,
    Document,
    Carousel,
    ImageSkill,
    QuickAnswer,
    draggable,
    Dialog,
    TestBot,
    FilterMessage,
    Skeleton
  },
  data() {
    return {
      disableFinnalStep: false,
      loadingCount: false,
      updating: false,
      loadingMessage: false,
      filterring: false,
      iscurrentStepThree: false,
      iscurrentStepSecond: false,
      showMessage: false,
      isValidTime: false,
      StatusMessage,
      prevented: false,
      getAllFanpage: [],
      confirming: false,
      interval: '',
      resultFilter: [],
      query: {
        filters: [],
        order_by: 'name'
      },
      isActive: false,
      CommingSoon,
      handleFilter,
      totalFilter: 0,
      confirmSendMessageDialog: false,
      showFilterCustomer: false,
      submitting: false,
      planSuccess: false,
      actionDialog: false,
      allCustomerFilter: 0,
      isOpenSeries: false,
      selectedIndex: 0,
      idAutoComment: null,
      updateNextStep: false,
      msgStop:
        'Click "Stop" to edit. You can edit the content of the message up to 15 minutes before the sending schedule',
      msg: 'The message name section will not be visible to your customers',
      msgAdd: 'Add choice tags here',
      currentStep: 1,
      messageLabelList: [
        { key: 1, name: 'Advertising in 24h', default: true },
        { key: 2, name: 'Advertising after 24h', default: true },
        { key: 3, name: 'Announcements / Updates', default: false }
      ],
      currentLabel: 3,
      messTags,
      objSends: [
        {
          nameCustomer: 'All customers',
          name: 'All customers',
          id: 'all'
        }
      ],
      actionTypes,
      botID: -1,
      botObject: null,
      messageData: {
        label_id: 3,
        type: 'instant',
        name: '',
        users: [],
        status: 'init',
        step: 1,
        schedule: {
          start: '',
          date: '',
          time: '',
          repeat: {}
        },
        message: {
          tag: messTags[0].key,
          items: []
        }
      },
      confirmDeleteMessageBlock: false,
      currentIndexAction: null,
      showTestChatDialog: false,
      convertedMessagesForTestBot: [],
      customerPacks: ['all'],
      customerDataCrm: [],
      segmentsCrm: [],
      allCustomers: 0
    }
  },
  computed: {
    ...mapGetters(['bots'])
  },
  watch: {
    'messageData.status'(val) {
      this.$nextTick(() => {
        if (document.getElementById('scheduleDateTime')) {
          if (
            val === 'start' ||
            val === 'processing' ||
            val === 'lock' ||
            val === 'done'
          ) {
            this.$nextTick(() => {
              document
                .getElementById('scheduleDateTime')
                .classList.add('disable-left')
            })
          } else {
            this.$nextTick(() => {
              document
                .getElementById('scheduleDateTime')
                .classList.remove('disable-left')
            })
          }
        }
      })
      if (val === 'pause') {
        this.$nextTick(() => {
          document
            .getElementById('messageContentLeft')
            .classList.remove('disable-left')
        })
        this.interval = false
      }
      if (
        val === 'start' ||
        val === 'processing' ||
        val === 'lock' ||
        val === 'done'
      ) {
        this.$nextTick(() => {
          document
            .getElementById('messageContentLeft')
            .classList.add('disable-left')
        })
      } else {
        this.$nextTick(() => {
          document
            .getElementById('messageContentLeft')
            .classList.remove('disable-left')
        })
      }
    }
  },
  mounted() {
    if (
      document.getElementsByClassName('message-content-box__overlay').length &&
      document.getElementsByClassName('message-content-box').length
    ) {
      this.$nextTick(() => {
        document.getElementsByClassName(
          'message-content-box__overlay'
        )[0].style.height = window.innerHeight - 120 + 'px'
        document.getElementsByClassName('message-content-box')[0].style.height =
          window.innerHeight - 120 + 'px'
      })
      this.$nextTick(() => {
        const box = document.getElementsByClassName('content-box')
        box[0].style.height = `${this.height}px`
        document.getElementById(
          'wrap__skill__group__action'
        ).style.height = `${window.innerHeight - 120}px`
      })
    }
    if (!this.bots.length) {
      this.$store.dispatch('bots/getAllBots')
    }
  },
  beforeDestroy() {
    clearInterval(this.interval)
  },
  created() {
    this.loadingMessage = true
    this.botID = this.$route.params.bot
    this.$store.dispatch('bots/getAllSkills', this.botID)
    this.$store.dispatch('bots/updateLoading', true)

    this.$store
      .dispatch('bots/getAllCustomersCrm', {
        botID: this.botID,
        query: JSON.stringify(this.query)
      })
      .then((r) => {
        this.disableFinnalStep = false
        this.customerDataCrm = r
        this.allCustomers = r.items.length
        this.$store
          .dispatch('bots/getAllChannelPosts', this.botID)
          .then((r) => {
            this.getAllFanpage = r.items
          })
        this.$store
          .dispatch('bots/getSegments', {
            botID: this.botID
          })
          .then((t) => {
            this.segmentsCrm = t.items
            this.objSends.push(
              t.items.map((r) => {
                return {
                  ...r,
                  nameCustomer: `${r.name} (${r.estimate_uu})`
                }
              })
            )
            this.objSends = this.objSends.flat()
          })
          .then(async () => {
            await this.$axios
              .get(`/api_spam/bots/${this.botID}/spam-groups`)
              .then((response) => {
                if (response.code === 0 && !this.messageData.name) {
                  this.messageData.name = `Tin nhắn ${response.data.items
                    .length + 1}`
                  this.messageData.message.items = [
                    { type: 'message', key: Date.now(), command: [''] }
                  ]
                }
              })
          })
          .then(async () => {
            await this.fetchMessage()
          })
          .then(() => {
            this.updateNextStep = true
          })
          .catch((r) => {
            this.$store.dispatch('bots/updateLoading', false)
            this.loadingMessage = false
          })
      })
      .catch((r) => {
        this.disableFinnalStep = true
        this.$store.dispatch('bots/updateLoading', false)
        this.loadingMessage = false
      })
  },
  methods: {
    backStep(int) {
      this.currentStep = int
      if (this.messageData.status !== 'init') {
        this.iscurrentStepSecond = true
        this.iscurrentStepThree = true
      } else {
        this.iscurrentStepSecond = false
        this.iscurrentStepThree = false
      }
    },
    toggleTimePicker(status) {
      this.isValidTime = status
    },
    removeSlide(index) {
      this.currentIndexAction = index
      this.deleteMessageBlock()
    },
    checkValidation() {
      const listCondition = this.messageData.message.items
      const isError = listCondition.some((r) => {
        if (
          (r.type === 'message' &&
            ((r.command && r.command.title === '') ||
              (r.command && r.command[0] === '') ||
              !r.command)) ||
          (r.type === 'picture' &&
            (r.command === '' ||
              !r.command ||
              !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(r.command))) ||
          (r.type === 'carousel' &&
            ((r.command &&
              r.command.content &&
              r.command.content.some(
                (t) =>
                  t.imageUrl === '' ||
                  t.title === '' ||
                  !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(t.imageUrl)
              )) ||
              !r.command)) ||
          (r.type === 'quick_replies' &&
            ((r.command &&
              r.command.title === '' &&
              r.command.type === 'postback') ||
              (r.command.type === 'phone_number' && r.command.title === '') ||
              (r.command.type === 'user_email' && r.command.title === '') ||
              !r.command ||
              (r.command.type === 'postback' && !r.command.buttons.length))) ||
          (r.type === 'connect_to_live_agent' &&
            (!r.command || r.command === '')) ||
          (r.type === 'video' &&
            ((!/^https?:\/\/www\.facebook\.com.*\/(video(s)?|watch|story)(\.php?|\/).+$/g.test(
              r.command
            ) &&
              !r.command.includes('.mp4')) ||
              r.command === ''))
        ) {
          return true
        } else {
          return false
        }
      })
      this.isActive = isError
      return isError
    },
    showInput() {
      this.showMessage = true
    },
    disableButton(status) {
      this.isActive = status
    },
    updateTime(time) {
      this.isValidTime = false
      this.messageData.schedule.time = time
      this.sendMessageSchedule()
    },
    nextStepSecond() {
      if (this.updateNextStep && !this.iscurrentStepSecond) {
        this.currentStep = 2
        if (this.messageData.status === 'init') {
          this.iscurrentStepSecond = false
        } else {
          this.iscurrentStepSecond = true
        }
        this.updateMessage()
      } else {
        this.currentStep = 2
      }
    },
    choosenSegment() {
      let total = 0
      const checkCustomerPacks = this.customerPacks.map((r) =>
        r.id ? r.id : r
      )
      if (checkCustomerPacks.filter((r) => r === 'all').length) {
        this.messageData.users = ['all']
      } else {
        this.messageData.users = checkCustomerPacks
      }
      if (!this.customerPacks || !this.customerPacks.length) {
        total = 0
        this.allCustomerFilter = total
        this.submitMessage()
      } else if (
        this.customerPacks.filter(
          (k) => k === 'all' || (k.id && k.id === 'all')
        ).length > 0
      ) {
        total = this.allCustomers
        this.allCustomerFilter = total
        this.submitMessage()
      } else {
        let params = this.customerPacks.reduce((r, t) => {
          return r.concat(`segments=${t.id ? t.id : t}&`)
        }, ``)
        params = params.slice(0, -1)
        this.loadingCount = true
        this.$store
          .dispatch('bots/countSegment', {
            params,
            botID: this.botID
          })
          .then((data) => {
            this.loadingCount = false
            this.allCustomerFilter = data || 0
            this.messageData.users = this.customerPacks.map((r) =>
              r.id ? r.id : r
            )
            this.submitMessage()
          })
          .catch(() => {
            this.loadingCount = false
          })
      }
    },
    onKeyPress(e) {
      if (!this.messageData.name || this.messageData.name.trim() === '') {
        this.$toast.global.my_error({
          message: 'This field cannot be left blank'
        })
      } else {
        this.messageData.name = this.messageData.name.trim().slice(0, 60)
        this.submitMessage()
      }
    },
    countinue() {
      this.checkValidation()
      if (
        !this.isActive &&
        this.messageData.message.items &&
        this.messageData.message.items.length
      ) {
        setTimeout(() => {
          this.sendMessage(
            'journey',
            'Continue the route of sending messages',
            'start'
          )
        }, 500)
      } else {
        this.isActive = true
      }
    },
    refresh() {
      this.$store
        .dispatch('bots/getSegments', {
          botID: this.botID
        })
        .then((t) => {
          this.segmentsCrm = t.items
          const dataNew = [this.objSends[0]]
          dataNew.push(
            t.items.map((r) => {
              return {
                ...r,
                nameCustomer: `${r.name} (${r.estimate_uu})`
              }
            })
          )
          this.objSends = dataNew
          this.objSends = this.objSends.flat()
          this.$store.dispatch('bots/updateLoading', false)
        })
        .catch((r) => {
          this.$store.dispatch('bots/updateLoading', false)
        })
    },
    show() {
      this.showFilterCustomer = !this.showFilterCustomer
    },
    saveFilter(data) {
      this.filterring = true
      this.totalFilter = 0
      const filters = this.handleFilter(data)
      this.query.filters = filters
      this.$store
        .dispatch('bots/getAllCustomersCrm', {
          botID: this.botID,
          query: JSON.stringify(this.query)
        })
        .then((r) => {
          this.filterring = false
          this.totalFilter = r.total
        })
        .catch(() => {
          this.filterring = false
        })
    },
    cancel() {
      this.showFilterCustomer = false
    },
    confirmSentMessage() {
      this.confirming = true
      this.messageData = JSON.parse(JSON.stringify(this.messageData))
      this.messageData.status = 'start'
      this.messageData.step = 3
      this.$store.commit('navbar/SHOW_SAVING')
      this.$axios
        .put(
          `/api_spam/bots/${this.messageData.bot_id}/spam-groups/${this.messageData.id}`,
          this.messageData
        )
        .then((response) => {
          if (this.messageData.status === 'start') {
            this.setIntervalFunc(true)
          } else {
            this.setIntervalFunc(false)
          }
          this.confirming = false
          this.confirmSendMessageDialog = false
          if (response.code === 0) {
            this.$store.commit('navbar/HIDE_SAVING')

            this.prevented = true
          } else {
            this.$store.commit('navbar/HIDE_SAVING')
            this.prevented = false
          }
        })
        .catch(() => {
          this.prevented = false
          this.$store.commit('navbar/HIDE_SAVING')
          this.confirming = false
          this.confirmSendMessageDialog = false
        })
    },
    getTotalCustomer() {
      this.objSends[0] = {
        ...this.objSends[0],
        name: this.objSends[0].nameCustomer + ' (' + this.allCustomers + ')',
        nameCustomer:
          this.objSends[0].nameCustomer + ' (' + this.allCustomers + ')'
      }
    },
    activeTooltip() {
      this.isOpenSeries = true
    },
    pullMessage() {
      const id = this.$route.params.id
        ? this.$route.params.id
        : this.idAutoComment
      if (this.$route.params.bot && id) {
        this.$axios
          .get(`/api_spam/bots/${this.$route.params.bot}/spam-groups/${id}`)
          .then((response) => {
            if (response.code === 0) {
              if (
                response.data.type === 'schedule' &&
                (response.data.status === 'start' ||
                  response.data.status === 'pause')
              ) {
                this.prevented = false
              } else {
                this.prevented = true
              }
              this.messageData = response.data
              if (
                this.messageData.schedule &&
                this.messageData.schedule.start
              ) {
                const date = this.$moment(this.messageData.schedule.start)
                  .format()
                  .toString()
                this.$set(this.messageData.schedule, 'date', date.slice(0, 10))
                this.$set(this.messageData.schedule, 'time', date.slice(11, 16))
              }
              this.customerPacks = this.objSends.filter((r) =>
                this.messageData.users.some((t) => t === r.id)
              )
              this.choosenSegment()
            } else {
              this.prevented = false
            }
          })
          .then(() => {
            this.checkValidation()
            this.$store.commit('navbar/HIDE_SAVING')
          })
          .catch(() => {
            this.prevented = false
          })
      }
    },
    fetchMessage() {
      if (this.$route.params.bot && this.$route.params.id) {
        this.$axios
          .get(
            `/api_spam/bots/${this.$route.params.bot}/spam-groups/${this.$route.params.id}`
          )
          .then((response) => {
            if (response.code === 0) {
              this.messageData = response.data
              if (this.messageData.step !== 1) {
                if (this.messageData.step === 2) {
                  this.currentStep = 2
                  if (this.messageData.status !== 'init') {
                    this.iscurrentStepSecond = false
                  } else {
                    this.iscurrentStepSecond = true
                  }
                } else {
                  this.currentStep = 3
                  if (this.messageData.status !== 'init') {
                    this.iscurrentStepThree = false
                    this.iscurrentStepSecond = false
                  } else {
                    this.iscurrentStepSecond = true
                    this.iscurrentStepThree = true
                  }
                }
              } else {
                this.currentStep = 1
              }
              this.messageData.schedule = Object.assign(
                {
                  start: null,
                  date: '',
                  time: '',
                  repeat: {}
                },
                response.data.schedule
              )
              if (
                this.messageData.schedule &&
                this.messageData.schedule.start
              ) {
                const date = this.$moment(this.messageData.schedule.start)
                  .format()
                  .toString()
                this.$set(this.messageData.schedule, 'date', date.slice(0, 10))
                this.$set(this.messageData.schedule, 'time', date.slice(11, 16))
              }

              this.customerPacks = this.objSends.filter((r) =>
                this.messageData.users.some((t) => t === r.id)
              )

              if (
                this.messageData.users.filter((k) => k === 'all').length > 0
              ) {
                this.customerPacks[0].nameCustomer = `All customers (${this.allCustomers})`
                this.customerPacks[0].name = `All customers`
              }
              this.choosenSegment()
              if (
                this.messageData.status &&
                this.messageData.status !== 'init' &&
                this.messageData.status !== 'done' &&
                this.messageData.status !== 'pause' &&
                this.messageData.status !== 'error'
              ) {
                this.setIntervalFunc(true)
              } else {
                this.setIntervalFunc(false)
              }
            }
            this.$store.commit('navbar/HIDE_SAVING')
          })
          .then(() => {
            this.$store.commit('navbar/HIDE_SAVING')
          })
          .then(() => {
            this.checkValidation()
          })
          .then(() => {
            this.loadingMessage = false
          })
          .catch(() => {
            this.loadingMessage = false
            this.$store.commit('navbar/HIDE_SAVING')
            this.$store.dispatch('bots/updateLoading', false)
          })
      } else {
        this.createMessage()
      }
    },
    changeMessageLabel(value) {
      this.messageData.label_id = value
    },
    allowedDates(val) {
      const date = this.$moment(Date.now())
        .subtract(1, 'days')
        .valueOf()
      return this.$moment(val).valueOf() > date
    },
    changeFunSendMessage() {
      if (this.messageData.type === 'schedule') {
        if (
          !this.messageData.schedule.date ||
          !this.messageData.schedule.time
        ) {
          this.messageData.schedule.date = this.$moment(Date.now()).format(
            'YYYY MM DD'
          )
          this.messageData.schedule.time = this.$moment(Date.now())
            .add(6, 'minutes')
            .format('HH:mm')
          const unixTime = new Date(
            `${this.messageData.schedule.date} ${this.messageData.schedule.time}`
          ).getTime()
          this.messageData.schedule.start = unixTime
        }
      }
    },
    openActionDialog(actionType, index) {
      this.selectedIndex = index
      this.actionDialog = true
    },
    addAction(type, index = false) {
      if (this.messageData.message.items.length < 1) {
        this.actionDialog = false
        const randomKey = Date.now()
        if (typeof index === 'number') {
          this.messageData.message.items.splice(index + 1, 0, {
            type,
            key: randomKey
          })
        } else {
          this.messageData.message.items.push({ type, key: randomKey })
        }
        this.$nextTick(() => {
          this.scrollToDiv(`actionItem${randomKey}`)
          if (
            this.$refs[`actionItem${randomKey}`] &&
            this.$refs[`actionItem${randomKey}`].length
          ) {
            this.$refs[`actionItem${randomKey}`][0].$emit('focusInput')
          }
        })
      } else {
        this.$toast.global.my_warning({
          message:
            'You need to delete the current card when selecting a replacement card'
        })
      }
    },
    scrollToDiv(div) {
      const objDiv = document.getElementById(div)
      objDiv.scrollIntoView({
        block: 'center',
        behavior: 'smooth'
      })
    },
    deleteMessageBlock() {
      this.confirmDeleteMessageBlock = false
      this.messageData.message.items.splice(this.currentIndexAction, 1)
      if (!this.messageData.message.items.length) {
        this.isActive = true
      }
      this.debounceUpdateMessage()
    },
    openDeleteConfirmBox(index) {
      this.currentIndexAction = index
      this.confirmDeleteMessageBlock = true
    },
    clickFinalStep(event) {
      if (!this.iscurrentStepThree) {
        if (this.customerPacks.length) {
          const checkCustomerPacks = this.customerPacks.map((r) =>
            r.id ? r.id : r
          )
          if (checkCustomerPacks.filter((r) => r === 'all').length) {
            this.messageData.users = ['all']
          } else {
            this.messageData.users = checkCustomerPacks
          }
          this.currentStep = 3
          this.messageData.step = 2
          this.checkValidation()
          if (this.$refs.actionItemDocument) {
            this.$refs.actionItemDocument[0].focusInput()
          }
          if (this.messageData.status === 'init') {
            this.iscurrentStepThree = false
            this.iscurrentStepSecond = false
          } else {
            this.iscurrentStepThree = true
            this.iscurrentStepSecond = true
          }
        } else {
          this.$toast.global.my_error({
            message: 'You must choose who to send the message'
          })
        }
      } else {
        this.currentStep = 3
      }
    },
    submitMessage() {
      this.isOpenSeries = false
      if (
        this.messageData.name &&
        this.messageData.name.trim() !== '' &&
        !this.submitting
      ) {
        if (this.messageData.id) {
          this.debounceUpdateMessage()
        } else {
          this.createMessage()
        }
      }
      this.showMessage = false
    },
    createMessage() {
      this.submitting = true
      if (this.messageData.users.length === 0) {
        this.messageData.users = ['all']
      }
      this.$store.commit('navbar/SHOW_SAVING')
      this.$axios
        .post(
          `/api_spam/bots/${this.$route.params.bot}/spam-groups`,
          this.messageData
        )
        .then((response) => {
          this.submitting = false
          if (response.code === 0) {
            this.messageData = response.data
            this.messageData.schedule = {
              start: '',
              date: '',
              time: '',
              repeat: {}
            }
            this.allCustomerFilter = this.allCustomers
            this.customerPacks[0] = {
              id: 'all',
              nameCustomer: `All customers (${this.allCustomers})`,
              name: `All customers`
            }
            this.objSends[0] = {
              id: 'all',
              nameCustomer: `All customers (${this.allCustomers})`,
              name: `All customers`
            }

            if (window && window.history) {
              this.idAutoComment = response.data.id
              window.history.pushState(
                null,
                null,
                `/bot/${this.$route.params.bot}/automation-message/${response.data.id}`
              )
            }
          } else {
            this.$toast.error(response.message)
          }
          this.$store.commit('navbar/HIDE_SAVING')
        })
        .then(() => {
          this.loadingMessage = false
        })
        .catch(() => {
          this.submitting = false
          this.loadingMessage = false
          this.$toast.global.my_error()
          this.$store.commit('navbar/HIDE_SAVING')
        })
    },
    updateMessage(text = 'Update success') {
      if (this.currentStep === 1) {
        this.messageData.step = 1
      }
      if (this.currentStep === 2) {
        this.messageData.step = 2
      }
      if (this.currentStep === 3) {
        this.messageData.step = 3
      }
      this.$store.commit('navbar/SHOW_SAVING')
      this.$store.commit('loading/SET_LOAD_IMAGE', true)

      this.$axios
        .put(
          `/api_spam/bots/${this.messageData.bot_id}/spam-groups/${this.messageData.id}`,
          this.messageData
        )
        .then((response) => {
          this.confirming = false
          this.confirmSendMessageDialog = false
          this.$store.commit('navbar/HIDE_SAVING')
          this.$store.commit('loading/SET_LOAD_IMAGE', false)
        })
        .catch((error) => {
          this.$store.commit('navbar/HIDE_SAVING')
          this.confirming = false
          this.confirmSendMessageDialog = false
          this.$toast.global.my_error(error)
          this.$store.commit('loading/SET_LOAD_IMAGE', false)
        })
    },
    debounceUpdateMessage: _.debounce(function() {
      this.updateMessage()
    }, 500),
    pause() {
      this.sendMessage('journey', 'Stop success', 'pause')
    },
    sendMessageScheduleNew() {
      const error = this.checkValidation()
      if (!error) {
        this.sendMessage('journey')
      }
    },
    setIntervalFunc(start) {
      if (start) {
        this.interval = setInterval(() => {
          this.pullMessage()
        }, 3000)
      } else {
        clearInterval(this.interval)
        this.interval = false
      }
    },
    sendMessage(
      type,
      message = 'Schedule a successful submission',
      status = 'start'
    ) {
      if (type !== 'journey') {
        this.confirmSendMessageDialog = true
      } else {
        this.$store.commit('navbar/SHOW_SAVING')
        // eslint-disable-next-line no-lonely-if
        if (this.sendMessageSchedule() || this.messageData.status === 'start') {
          this.$set(this.messageData, 'status', status)
          if (this.messageData.status === 'start') {
            this.setIntervalFunc(true)
          } else {
            this.setIntervalFunc(false)
          }
          this.messageData.step = 3
          this.updating = true
          this.$axios
            .put(
              `/api_spam/bots/${this.messageData.bot_id}/spam-groups/${this.messageData.id}`,
              this.messageData
            )
            .then((response) => {
              this.$store.commit('navbar/HIDE_SAVING')
              this.updating = false
            })
            .catch((error) => {
              this.$store.commit('navbar/HIDE_SAVING')
              this.updating = false
              this.$toast.global.my_error(error)
            })
        }
      }
      this.$store.commit('navbar/HIDE_SAVING')
    },
    sendMessageSchedule() {
      if (this.messageData.status !== 'start') {
        if (this.$refs.scheduleForm.validate()) {
          const time = this.messageData.schedule.time.slice(0, 2).includes(':')
            ? `0${this.messageData.schedule.time.slice(
                0,
                1
              )}:${this.messageData.schedule.time.slice(3, 5)}`
            : `${this.messageData.schedule.time.slice(
                0,
                2
              )}:${this.messageData.schedule.time.slice(3, 5)}`
          const unixTime = new Date(
            `${this.messageData.schedule.date} ${time}`
          ).getTime()
          const now = this.$moment(new Date())
            .add(5, 'minutes')
            .valueOf()
          if (unixTime - now >= 0) {
            this.messageData.schedule.start = unixTime
            return true
          } else {
            this.$toast.global.my_error({
              message:
                'A time is required to be 5 minutes greater than the current time'
            })
            return false
          }
        }
      }
    },
    handleActionSubmit(command, actionIndex) {
      if (this.messageData.message.items[actionIndex]) {
        // eslint-disable-next-line dot-notation
        if (
          this.messageData.message.items[actionIndex].type === 'message' ||
          this.messageData.message.items[actionIndex].type === 'buttons'
        ) {
          if (command.buttons && command.buttons.length) {
            this.messageData.message.items[actionIndex].type = 'buttons'
            this.messageData.message.items[actionIndex].command = command
          } else if (command.title && command.buttons.length === 0) {
            this.messageData.message.items[actionIndex].type = 'message'
            this.messageData.message.items[actionIndex].command = [
              command.title
            ]
          } else {
            this.messageData.message.items[actionIndex].command = command
          }
        } else if (
          this.messageData.message.items[actionIndex].type === 'carousel'
        ) {
          const dataNew = {
            command: {
              content: command
            },
            data_from: null,
            type: this.messageData.message.items[actionIndex].type
          }
          this.messageData.message.items[actionIndex] = dataNew
          if (
            this.messageData.message.items[actionIndex].command.content[0] &&
            this.messageData.message.items[actionIndex].command.content[0]
              .buttons
          ) {
            this.messageData.message.items[
              actionIndex
            ].command.content[0].buttons = this.messageData.message.items[
              actionIndex
            ].command.content[0].buttons.map((r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            })
          }
          if (
            this.messageData.message.items[actionIndex].command.content
              .buttons &&
            this.messageData.message.items[actionIndex].command.content.buttons
              .length
          ) {
            this.messageData.message.items[
              actionIndex
            ].command.buttons = this.messageData.message.items[
              actionIndex
            ].command.buttons.map((r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            })
          }
        } else {
          this.messageData.message.items[actionIndex].command = command
        }
        this.checkValidation()
        this.debounceUpdateMessage()
      }
    },
    handleChangePosition(event) {
      this.debounceUpdateMessage()
    },
    openTestMessage() {
      this.convertedMessagesForTestBot = []
      this.botObject = this.bots.find(
        (item) => item.id.toString() === this.$route.params.bot
      )
      this.messageData.message.items.forEach((item) => {
        switch (item.type) {
          case 'picture':
            this.convertedMessagesForTestBot.push({
              type: item.type,
              value: item.command
            })
            break
          case 'quick_replies':
            this.convertedMessagesForTestBot.push({
              type: item.type,
              value: item.command
            })
            break
          case 'buttons':
            this.convertedMessagesForTestBot.push({
              type: 'buttons',
              value: item.command
            })
            break
          case 'message':
            if (item.command.buttons) {
              this.convertedMessagesForTestBot.push({
                type: 'buttons',
                value: item.command
              })
            } else {
              this.convertedMessagesForTestBot.push({
                type: 'text',
                content:
                  item.command[Math.floor(Math.random() * item.command.length)] // select random message
              })
            }
            break
          case 'carousel':
            this.convertedMessagesForTestBot.push({
              type: item.type,
              value: item.command
            })
            break
          case 'video':
            this.convertedMessagesForTestBot.push({
              type: item.type,
              value: item.command
            })
            break
          default:
            break
        }
      })
      this.showTestChatDialog = true
    }
  }
}
</script>
<style lang="scss" scoped>
#wrap__skill__group__action {
  overflow: hidden;
  overflow-y: auto;
}
.disable-left {
  pointer-events: none;
}
.input__error {
  border: 1px solid red !important;
  border-radius: 4px;
}
.one_element {
  font-size: 12px;
  line-height: 16px;
  width: 30%;
  color: #bfbfbf;
}
.slash {
  border: 1px dashed #d9d9d9;
  width: 65%;
  height: 1px;
}
.input_message_spam {
  margin-left: 30px;
  width: 300px;
}
.none-interact {
  background: #fafafa;
}
.addFilter {
  color: #1890ff;
  font-size: 14px;
  cursor: pointer;
}
.auto-message-stepper {
  min-width: 190px !important;
  padding-bottom: 0px !important;
  box-shadow: none !important;
  border-right: 1px solid $grey-4;
  height: 100%;
}
.tooltip__message {
  font-weight: 500;
  width: 300px;
  padding-left: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}
.inline-stepper {
  display: flex;
  justify-content: space-between;
  border-right: none;
  border-bottom: 1px solid $grey-4;
  border-right: none;
}
.menu-content__inside {
  border-bottom: 1px solid $grey-4;
}
.card-option {
  height: 132px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: $grey-2;
  }
  &.active {
    background: $grey-2;
  }
}
.v-stepper__step {
  cursor: pointer;
}
.message-content-box {
  background: $grey-3;
  height: 100%;
  margin-top: 0px;
  margin-bottom: -36px;
  margin-right: -10px;
  display: flex;
  position: relative;
}

.content-box {
  width: calc(100% - 88px);
  height: 100%;
  overflow: auto;
}
/* Custom scrollbar */
.content-box::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}
.content-box::-webkit-scrollbar-track {
  background: $grey-4 !important;
}
.content-box::-webkit-scrollbar-thumb {
  background: $grey-6 !important;
  border-radius: 8px !important;
}

.actions-menu {
  width: 88px;
  height: auto;
  background: #fff;

  .more-item {
    height: 40px;
    cursor: pointer;
  }
  .actions-menu__item {
    height: 70px;
    cursor: pointer;
    border-top: 1px solid $grey-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.message-content-box__overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background-color: $grey-3;
  opacity: 1.2;
}
@supports (backdrop-filter: blur(40px)) {
  .message-content-box__overlay {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: initial;
    opacity: 1.2;
  }
}
.action_btns {
  width: 30px;
  position: relative;
  .delete,
  .drag-btn {
    display: none;
    cursor: pointer;
  }
  .add-other-below {
    position: absolute;
    left: 6px;
    bottom: -28px;
    display: none;
    cursor: pointer;
  }
}
.action-box {
  margin-right: -16px;
  margin-left: -16px;
}
.action-item {
  cursor: pointer;
  line-height: 24px;
}
.action-wrap {
  min-height: 92px;
  &:hover {
    .delete,
    .drag-btn,
    .add-other-below {
      display: block;
    }
  }
}
.hack-width {
  display: block;
  width: 16px;
  height: 0px;
}
</style>
<style lang="scss">
#wrap__skill__group__action {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 2px !important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $grey-7 !important;
  }
  &:hover {
    &::-webkit-scrollbar-track {
      background: $grey-4 !important;
    }
    &::-webkit-scrollbar {
      display: block;
    }
  }
}
.row__time {
  label {
    font-size: 14px !important;
    color: #595959 !important;
  }
}
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    color: white;
    min-height: 32px;
    position: relative;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    background: #262626;
    padding: 10px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;
    .tooltip-inner {
      right: 15% !important;
    }
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: 0 !important;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.msg-name-input {
  .v-input {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
  fieldset {
    border: none !important;
  }
  .v-input--is-focused {
    fieldset {
      border: 1px solid $grey-4 !important;
    }
  }
}
.dashed-btn {
  border: 1px dashed $grey-5;
}
.custom-selected-item {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
