<template>
  <v-card
    class="py-8 px-6"
    style="width: 100%; min-height: calc(100vh - 116px);"
  >
    <div class="d-flex justify-space-between align-center">
      <div class="d-flex">
        <div style="width:175px; margin-right:10px">
          <v-select
            v-model="filterStatus"
            dense
            outlined
            hide-details
            height="40"
            :items="arrayFilter"
            item-text="name"
            item-value="key"
            @change="changeFilter"
          >
            <template v-slot:prepend-inner>
              <img class="pt-2" :src="FilterMessage" alt="" srcset="" />
            </template>
          </v-select>
        </div>
        <v-text-field
          v-model="filterText"
          outlined
          dense
          hide-details
          height="40"
          placeholder="Search message"
          @keyup="onKeyUp"
        >
          <template v-slot:append>
            <img class="pt-1" :src="Search" alt="" srcset="" /> </template
        ></v-text-field>
      </div>
      <v-btn
        color="primary"
        height="40"
        depressed
        @click="showCreateFormDialog()"
      >
        <v-icon size="16">mdi-plus</v-icon>
        Lộ trình mới
      </v-btn>
    </div>
    <div v-if="journeyMessages.length || tableLoading" class="mt-6">
      <v-data-table
        :headers="tableHeaders"
        :items="journeyMessages"
        :items-per-page="10"
        :loading="tableLoading"
        loading-text="Loading"
        class="table__message"
      >
        <template v-slot:item.name="{ item }">
          <div
            v-if="!item.isEdit"
            @click.stop.prevent="goToMessageDetail(item)"
          >
            {{
              item.name.length > 50 ? item.name.slice(0, 50) + '...' : item.name
            }}
          </div>
          <v-text-field
            v-else
            :ref="`item${item.id}`"
            :value="item.name"
            outlined
            dense
            autofocus=""
            :rules="[(v) => !!v || '']"
            hide-details
            height="32"
            @blur="onBlurMessage(item)"
            @keyup="updateNameJourneyMessage(item)"
            @change="onBlurMessage(item)"
          ></v-text-field>
        </template>
        <template v-slot:item.start_time="{ item }">
          <span v-if="item.start_time && item.start_time > 0">{{
            item.start_time | unixtimeToDateString
          }}</span>
        </template>
        <template v-slot:item.enable="{ item }">
          <v-switch
            v-model="item.enable"
            flat
            style="width:0px"
            @change="toggleMessage(item.id)"
          ></v-switch>
        </template>
        <template v-slot:item.status="{ item }">
          <div
            v-if="StatusMessageJourney.filter((r) => r.key === item.status)[0]"
          >
            <span
              :style="{
                color: StatusMessageJourney.filter(
                  (r) => r.key === item.status
                )[0].color
              }"
            >
              {{
                StatusMessageJourney.filter((r) => r.key === item.status)[0]
                  .name
              }}
            </span>
          </div>
          <div v-else>
            <span
              :style="{
                color: StatusMessage[0].color
              }"
            >
              {{ StatusMessage[0].name }}
            </span>
          </div>
        </template>
        <template v-slot:item.actions="{ item }">
          <div class="d-flex">
            <div
              style="
                    width: 28px;
                    border-right: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              @click.prevent.stop="editMessage(item)"
            >
              <img v-tooltip="'Edit name'" :src="EditJourneyMessage" alt="" />
            </div>
            <div
              style="
                    width: 32px;
                    border-right: 1px solid #c1adad;
                    border-left: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              class="pl-2"
              @click.prevent.stop="duplicateMessage(item)"
            >
              <img v-tooltip="'Duplicate'" :src="Duplicate" alt="" />
            </div>
            <div
              class="pl-2"
              style="
                    width: 32px;
                    border-left: 1px solid #c1adad;
                    height: 16px;
                    cursor:pointer;
                  "
              @click.prevent.stop="openDeleteConfirmDialog(item)"
            >
              <img
                v-tooltip="'Delete message'"
                :src="RemoveSegment"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </template>
      </v-data-table>
    </div>
    <div
      v-else
      class="empty-box mt-6 d-flex justify-center align-center flex-column"
    >
      <img src="~/assets/svg/empty.svg" />
      <div class="empty-box__text">
        <p class="mt-8 text-center">
          <span class="font-weight-medium">Schedule message</span>
          <span>
            helps you to send sequence of care messages in time to the right
            customer group. Click "New Message" to set either access
          </span>
        </p>
        <p class="text-center">
          <a
            href="https://chatt.ai/ho-tro-chatt-ai/chuc-nang-gui-tin-nhan-theo-lo-trinh/"
            target="_blank"
            >Instructions to create a route message</a
          >
        </p>
      </div>
    </div>
    <Dialog v-model="createNoFanpageMessageDialog">
      <p>
        To use this feature, you need to be connected to the Facebook Fanpage
      </p>
      <v-btn color="#FFBE07" height="40" block depressed @click="gotoConfig"
        >Go to config</v-btn
      >
    </Dialog>
    <Dialog v-model="createFormDialog">
      <v-form
        ref="createForm"
        v-model="valid"
        lazy-validation
        @submit.prevent="submitCreate"
      >
        <p class="mb-4 font-weight-medium d-flex">
          Create a new message route:
          <popover>
            <div>
              Route names can only be entered up to 60 characters
            </div>
          </popover>
        </p>
        <v-text-field
          v-model="journeyForm.name"
          :rules="[
            (v) => (!!v && v.trim() !== '') || 'Have not entered a route name'
          ]"
          :validate-on-blur="true"
          outlined
          required
          autofocus
          dense
          class="input-40 mb-4"
          placeholder="Name schedule"
        ></v-text-field>
        <v-btn
          color="primary"
          height="40"
          :loading="submitting"
          block
          depressed
          :disabled="!valid"
          type="submit"
        >
          Continue
        </v-btn>
      </v-form>
    </Dialog>
    <Dialog v-model="deleteMessageDialog">
      <p>
        You want to delete the schedule
        <span v-if="currentMessage" class="font-weight-medium">
          {{ currentMessage.name }}?
        </span>
      </p>
      <v-btn
        color="error"
        height="40"
        :disabled="!valid"
        :loading="submitting"
        block
        depressed
        @click="deleteMessage"
        >Accept</v-btn
      >
    </Dialog>
  </v-card>
</template>
<script>
import * as _ from 'lodash'
import Dialog from '~/components/Dialog'
import { StatusMessageJourney, slugify, StatusMessage } from '~/utils/constanst'
import RemoveSegment from '@/assets/svg/RemoveSegment.svg'
import EditJourneyMessage from '@/assets/svg/EditJourneyMessage.svg'
import FilterMessage from '@/assets/svg/FilterMessage.svg'
import Duplicate from '@/assets/svg/Duplicate.svg'
import Search from '@/assets/svg/Search.svg'
import popover from '~/components/popover'

export default {
  components: {
    Dialog,
    popover
  },
  data() {
    return {
      FilterMessage,
      tableLoading: false,
      RemoveSegment,
      Search,
      EditJourneyMessage,
      StatusMessageJourney,
      StatusMessage,
      hasFanpage: false,
      Duplicate,
      valid: true,
      filterText: '',
      createNoFanpageMessageDialog: false,
      tableHeaders: [
        {
          text: 'Name',
          align: 'start',
          value: 'name',
          sortable: false
        },
        { text: 'Status', value: 'status' },
        { text: 'Active', value: 'enable', sortable: false },
        { text: '', value: 'actions', sortable: false, width: 190 }
      ],
      journeyMessages: [],
      dataBackup: [],
      currentMessage: null,
      deleteMessageDialog: false,
      deleting: false,
      submitting: false,
      createFormDialog: false,
      filterStatus: {
        key: 'all',
        name: 'All'
      },
      journeyForm: {
        name: '',
        spamgroup: [],
        users: []
      }
    }
  },
  computed: {
    arrayFilter() {
      let data = [
        {
          key: 'all',
          name: 'All'
        }
      ]
      data.push(StatusMessageJourney)
      data = data.flat()
      return data
    }
  },
  mounted() {
    this.fetchMessages()
  },
  created() {
    this.$store
      .dispatch('bots/getAllChannels', this.$route.params.bot)
      .then((r) => {
        if (r.items.length > 0) {
          this.hasFanpage = true
        } else {
          this.hasFanpage = false
        }
        this.$store.dispatch('bots/updateLoading', false)
      })
      .catch(() => {
        this.hasFanpage = false
        this.$store.dispatch('bots/updateLoading', false)
      })
  },
  methods: {
    updateNameJourneyMessage(item) {
      this.journeyMessages.filter((r) => r.id === item.id)[0].name = this.$refs[
        `item${item.id}`
      ].$refs.input.value
    },
    gotoConfig() {
      this.$router.push({
        path: this.localePath({
          name: 'bot-bot-channels',
          params: { bot: this.$route.params.bot }
        })
      })
      this.$store.commit('bots/ACTIVE_MUTATION_REDIRECT', 'settings')
    },
    onBlurMessage(item) {
      if (item.name === '' || (item.name && item.name.trim() === '')) {
        this.$toast.global.my_error({
          message: 'This field cannot be left blank'
        })
      } else {
        item.name = item.name.trim().slice(0, 60)
        const findIndex = this.dataBackup.findIndex((r) => r.id === item.id)
        this.$axios
          .put(
            `/api_spam/bots/${this.$route.params.bot}/spam-journey/${item.id}`,
            item
          )
          .then((response) => {
            if (response.code === 0) {
              this.journeyMessages[findIndex].isEdit = false
              this.dataBackup = this.journeyMessages
            }
          })
          .catch((error) => {
            this.$toast.global.my_error(error)
          })
      }
    },
    editMessage(item) {
      const findIndex = this.journeyMessages.findIndex((r) => r.id === item.id)
      this.journeyMessages[findIndex].isEdit = true
    },
    changeFilter() {
      if (this.filterStatus === 'all') {
        this.journeyMessages = this.dataBackup
      } else {
        this.journeyMessages = this.dataBackup.filter(
          (r) => r.status === this.filterStatus
        )
      }
    },
    onKeyUp() {
      this.journeyMessages = this.dataBackup.filter((r) =>
        r.slugfyname.includes(slugify(this.filterText.trim().toLowerCase()))
      )
    },
    fetchMessages() {
      this.tableLoading = true
      this.$axios
        .get(`/api_spam/bots/${this.$route.params.bot}/spam-journey`)
        .then((response) => {
          this.tableLoading = false
          if (response.code === 0) {
            this.journeyMessages = response.data.items.length
              ? response.data.items.map((r) => {
                  return {
                    ...r,
                    isEdit: false,
                    slugfyname: slugify(r.name.toLowerCase())
                  }
                })
              : []
            this.dataBackup = response.data.items.length
              ? response.data.items.map((r) => {
                  return {
                    ...r,
                    isEdit: false,
                    slugfyname: slugify(r.name.toLowerCase())
                  }
                })
              : []
          } else {
            this.$toast.error(response.message)
          }
        })
        .catch((error) => {
          this.tableLoading = false
          this.$toast.error(error)
        })
    },
    showCreateFormDialog() {
      if (!this.hasFanpage) {
        this.createNoFanpageMessageDialog = true
      } else {
        this.createNoFanpageMessageDialog = false
        this.createFormDialog = true
        this.journeyForm.name = ''
      }
    },
    submitCreate() {
      if (this.$refs.createForm.validate()) {
        this.journeyForm.name = this.journeyForm.name.trim().slice(0, 60)
        this.submitting = true
        this.$axios({
          url: `/api_spam/bots/${this.$route.params.bot}/spam-journey`,
          method: 'post',
          data: this.journeyForm
        })
          .then((response) => {
            this.submitting = false
            if (response.code === 0) {
              this.createFormDialog = false
              this.$toast.success('Create a successful')
              this.journeyMessages.unshift(response.data)
              this.goToMessageDetail(response.data)
            } else {
              this.$toast.error(response.message)
            }
          })
          .catch((error) => {
            this.submitting = false
            this.$toast.error(error)
          })
      }
    },
    openDeleteConfirmDialog(message) {
      this.currentMessage = message
      this.deleteMessageDialog = true
    },
    duplicateMessage(msg) {
      this.$set(msg, 'duplicating', true)
      let nameMessage = ''
      let listCopyNew = this.journeyMessages
        .filter((r) => r.name.includes(`${msg.name} (Copy)`))
        .map((r) => r.name)
        .map((t) => {
          return t
            .slice(t.lastIndexOf('(Copy)'))
            .match(/\d+\.\d+|\d+\b|\d+(?=\w)/g)
        })
      listCopyNew = _.max(listCopyNew.flat())
      const lastIndexOfStr = msg.name.lastIndexOf('(Copy)')
      if (lastIndexOfStr > -1) {
        if (this.journeyMessages.some((r) => r.name === `${msg.name} (Copy)`)) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            let number = 1
            const textNew = `${msg.name} (Copy)`
            while (
              this.journeyMessages.some(
                (r) => r.name === `${textNew} ${number}`
              )
            ) {
              number++
            }
            nameMessage = `${textNew} ${number}`
          }
        }
        if (
          !this.journeyMessages.some((r) => r.name === `${msg.name} (Copy)`)
        ) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            nameMessage = `${msg.name} (Copy)`
          }
        }
      }
      if (lastIndexOfStr < 0) {
        if (this.journeyMessages.some((r) => r.name === `${msg.name} (Copy)`)) {
          if (listCopyNew) {
            nameMessage = `${msg.name} (Copy) ${parseInt(listCopyNew) + 1}`
          } else {
            let number = 1
            const textNew = `${msg.name} (Copy)`
            while (
              this.journeyMessages.some(
                (r) => r.name === `${textNew} ${number}`
              )
            ) {
              number++
            }
            nameMessage = `${textNew} ${number}`
          }
        } else {
          nameMessage = `${msg.name} (Copy)`
        }
      }

      this.$axios({
        url: `/api_spam/bots/${msg.bot_id}/spam-journey`,
        method: 'post',
        data: Object.assign({}, msg, { name: nameMessage })
      })
        .then((response) => {
          this.$set(msg, 'duplicating', false)
          if (response.code === 0) {
            const messageIndex = this.journeyMessages.findIndex(
              (item) => item.id === msg.id
            )
            if (messageIndex !== -1) {
              this.journeyMessages.splice(messageIndex + 1, 0, response.data)
            }
            this.fetchMessages()
          } else {
            this.$toast.global.my_error({
              message: response.message
            })
          }
        })
        .catch((error) => {
          msg.$set('duplicating', false)
          this.$toast.error(error)
        })
    },
    deleteMessage() {
      this.deleting = true
      if (this.currentMessage.id) {
        this.$axios
          .delete(
            `/api_spam/bots/${this.currentMessage.bot_id}/spam-journey/${this.currentMessage.id}`
          )
          .then((response) => {
            this.deleting = false
            this.deleteMessageDialog = false
            if (response.code === 0) {
              const messageIndex = this.journeyMessages.findIndex(
                (item) => item.id === this.currentMessage.id
              )
              if (messageIndex !== -1) {
                this.journeyMessages.splice(messageIndex, 1)
                this.dataBackup = this.journeyMessages
              }
            } else {
              this.$toast.error(response.message)
            }
          })
          .catch((error) => {
            this.deleting = false
            this.$toast.error(error)
          })
      }
    },
    goToMessageDetail(message) {
      if (!message.isEdit) {
        this.$router.push(
          `/bot/${this.$route.params.bot}/automation-message/journey-messages/${message.id}`
        )
      }
    },
    toggleMessage(id) {
      const journeyObject = this.journeyMessages.find((item) => item.id === id)
      if (journeyObject) {
        this.$axios
          .put(
            `/api_spam/bots/${journeyObject.bot_id}/spam-journey/${journeyObject.id}`,
            journeyObject
          )
          .then((response) => {
            if (response.code === 0) {
              this.$toast.global.my_success({
                message: 'Cập nhật thành công'
              })
            } else {
              this.$toast.global.my_error({
                message: response.message
              })
            }
          })
          .catch((error) => {
            this.$toast.error(error)
          })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.table-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
</style>
<style lang="scss">
.table__message {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
</style>
