<template>
  <v-row style="height:100%">
    <v-col cols="12" md="6" xl="6">
      <Skeleton :loading="loadingJourney" height="500">
        <v-card class="d-flex" outlined>
          <v-row no-gutters>
            <v-col cols="12">
              <div id="journeyNameDetatil" class="journey-name">
                <v-text-field
                  v-model="journeyData.name"
                  :rules="[(v) => !!v || '']"
                  class="border-only-focus"
                  height="32"
                  outlined
                  dense
                  hide-details
                  validate-on-blur
                  title="Name schedule"
                  @blur="debounceUpdateJourney()"
                  @change="debounceUpdateJourney()"
                >
                  <template slot="append">
                    <img
                      class="journeyMessage"
                      :src="EditJourneyMessage"
                      alt=""
                      srcset=""
                    />
                  </template>
                </v-text-field>
              </div>
            </v-col>
            <v-col cols="12" xl="3">
              <v-stepper
                v-model="currentStep"
                :class="{
                  'auto-message-stepper': true,
                  'inline-stepper': $vuetify.breakpoint.lgAndDown
                }"
              >
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="currentStep > 1"
                  step="1"
                >
                  <span class="body-2">Assign for the message</span>
                </v-stepper-step>
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="currentStep > 2"
                  step="2"
                >
                  <span class="body-2">Choice objects you want to be sent</span>
                  <span class="not_required">(not required)</span>
                </v-stepper-step>
                <v-stepper-step
                  class="px-3 py-6"
                  :complete="currentStep === 3"
                  step="3"
                >
                  <span class="body-2">Config content</span>
                </v-stepper-step>
              </v-stepper>
            </v-col>
            <v-col cols="12" xl="9">
              <div v-if="currentStep === 1" class="menu-content">
                <div class="menu-content__inside pa-6">
                  <p class="body-2">
                    <a href="#">Facebook Messenger policy</a>
                    <span
                      >requires each batch message to be labeled appropriate,
                      refer to</span
                    >
                    <a href="#">Instructions to create journey messages</a>
                    <span>For more details.</span>
                  </p>
                  <v-row>
                    <v-col
                      v-for="msgLabel in messageLabelList"
                      :key="msgLabel.key"
                      cols="12"
                      md="4"
                      style="position:relative"
                      :class="{ 'none-interact': msgLabel.default }"
                    >
                      <v-card
                        :class="{
                          'card-option d-flex flex-column align-center pa-4': true,
                          active: currentLabel === msgLabel.key
                        }"
                        outlined
                        @click="changeJourneyLabel(msgLabel.key)"
                      >
                        <img src="~/assets/svg/empty.svg" width="60px" />
                        <span class="caption font-weight-medium mt-4">{{
                          msgLabel.name
                        }}</span>
                      </v-card>
                      <img
                        v-if="msgLabel.default"
                        :src="CommingSoon"
                        alt=""
                        srcset=""
                        style="position:absolute;top:0;left:0"
                      />
                    </v-col>
                  </v-row>
                  <template v-if="currentLabel === 1">
                    <p class="caption font-italic">
                      Messages labeled "Advertising in 24 hours" are allowed
                      advertising content and is sent to audiences to interact
                      with fanpage within 24 hours.
                    </p>
                  </template>
                  <template v-if="currentLabel === 2">
                    <p class="caption font-italic">
                      Messages labeled "Advertise after 24h" are messages with
                      may contain advertising, sent only 1 time to these
                      Customers interacted with the message "Advertising in 24
                      hours" For follow-up purposes.
                    </p>
                  </template>
                  <template v-if="currentLabel === 3">
                    <p class="caption font-italic">
                      A message labeled "Notice / Update" was sent entire
                      customers are not limited to interaction and time should
                      contain content matching the topics below (content The
                      message must not contain advertising or promotional
                      information commercial):
                    </p>
                    <v-select
                      v-model="tagMessage"
                      :items="messTags"
                      height="40"
                      outlined
                      hide-details
                      dense
                      :disabled="iscurrentStepSecond"
                      item-text="name"
                      item-value="key"
                      @change="debounceUpdateJourney()"
                    ></v-select>
                  </template>
                </div>
                <v-card-actions class="justify-end">
                  <v-btn color="#1890FF" text @click="nextStepSecond">
                    <span>Continue</span>
                    <v-icon>mdi-menu-right</v-icon>
                  </v-btn>
                </v-card-actions>
              </div>
              <div v-if="currentStep === 2" class="menu-content">
                <div class="menu-content__inside d-flex flex-column pa-6">
                  <div class="d-flex">
                    <v-select
                      v-model="customerPacks"
                      class="mr-2"
                      outlined
                      dense
                      multiple
                      item-text="nameCustomer"
                      placeholder="Choose customers to send"
                      :disabled="iscurrentStepThree"
                      item-value="id"
                      :items="objSends"
                      @change="choosenSegment"
                    >
                      <template v-slot:selection="{ item, index }">
                        <div>
                          <span
                            v-if="index === 0"
                            class="custom-selected-item mr-1"
                          >
                            {{ item.name }}
                          </span>
                          <span v-if="index === 1" class="grey--text caption">
                            (+{{ customerPacks.length - 1 }})
                          </span>
                        </div>
                      </template>
                      <div
                        slot="append-item"
                        class="mb-1"
                        style="display:block"
                        @click.stop.prevent="showFilterCustomer = true"
                      >
                        <div class="pl-2">
                          <v-btn small="" height="40" text="">
                            <span class="addFilter">+ Add</span>
                          </v-btn>
                        </div>
                      </div>
                    </v-select>
                  </div>
                  <Skeleton
                    v-if="loadingCount"
                    :type="text"
                    :loading="loadingCount"
                    height="10"
                  >
                  </Skeleton>
                  <p v-else class="body-2 text-grey-7 mb-0">
                    Have {{ allCustomerFilter }} object senders
                  </p>
                </div>
                <v-card-actions class="justify-space-between">
                  <v-btn color="#1890FF" text @click="backStep(1)">
                    <v-icon>mdi-menu-left</v-icon>
                    <span>Back</span>
                  </v-btn>
                  <v-btn color="#1890FF" text @click="clickFinalStep">
                    <span>Continue</span>
                    <v-icon>mdi-menu-right</v-icon>
                  </v-btn>
                </v-card-actions>
              </div>
              <div v-if="currentStep === 3" class="menu-content">
                <div class="menu-content__inside pa-6">
                  <v-form
                    v-for="(spamItem, spamIndex) in journeyData.spamgroup"
                    :ref="`spamForm${spamIndex}`"
                    :key="spamItem.id"
                    class="msg-time-box"
                    lazy-validation
                  >
                    <div class="item_title_spam">
                      <p class="mb-1 ml-9">
                        Time send
                        <span class="text-blue-6">"{{ spamItem.name }}"</span>
                      </p>
                      <img
                        class="journeyMessage ml-1"
                        :src="EditJourneyMessage"
                        alt=""
                        srcset=""
                        @click.stop.prevent="editSpam(spamIndex)"
                      />
                    </div>
                    <div class="d-flex align-center time_detail">
                      <v-btn
                        class="mr-1"
                        icon
                        @click.stop.prevent="confirmDeleteSpam(spamIndex)"
                      >
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <div
                        class="item_content_spam"
                        @click.stop.prevent="
                          showChosenTimeSend(spamItem, spamIndex)
                        "
                      >
                        <div
                          v-if="
                            timeSending.filter(
                              (r) => r.value === spamItem.schedule.unit
                            )[0]
                          "
                          class="text"
                        >
                          Sau {{ spamItem.schedule.val }}
                          {{
                            timeSending.filter(
                              (r) => r.value === spamItem.schedule.unit
                            )[0].text
                          }}
                        </div>
                      </div>
                      <div class="item_enable_spam">
                        <v-switch
                          v-model="spamItem.enable"
                          @change="changeSwitch(spamIndex, spamItem.enable)"
                        ></v-switch>
                      </div>
                      <!-- <v-btn
                      v-if="
                        journeyData.spamgroup[spamIndex].schedule > timestamp
                      "
                      class="flex-grow-1 flex-shrink-0"
                      height="40"
                      depressed
                      outlined
                      @click="selectedMessageIndex = spamIndex"
                    >
                      <v-icon size="16" class="mr-1">
                        mdi-pencil-outline
                      </v-icon>
                      <span>Sửa nội dung</span>
                    </v-btn>
                    <v-btn
                      v-else
                      class="flex-grow-1 flex-shrink-0 text-green-6"
                      height="40"
                      depressed
                      outlined
                    >
                      <v-icon size="16" class="mr-1" style="color: #48B911">
                        mdi-alert-circle-check-outline
                      </v-icon>
                      <span class="text-green-6">Đã gửi</span>
                    </v-btn> -->
                    </div>
                  </v-form>
                  <v-form
                    ref="createMessageForm"
                    class="msg-time-box mt-4 ml-9"
                    lazy-validation
                  >
                    <v-btn
                      class="dashed-btn flex-grow-1 flex-shrink-0"
                      height="40"
                      depressed
                      :disabled="isActiveSubmit"
                      outlined
                      block
                      @click.stop.prevent="submitMessageForm"
                    >
                      <v-icon size="16" class="mr-1">mdi-plus</v-icon>
                      <span>Add new message</span>
                    </v-btn>
                  </v-form>
                </div>
                <v-card-actions class="justify-space-between">
                  <v-btn color="#1890FF" text @click="backStep(2)">
                    <v-icon>mdi-menu-left</v-icon>
                    <span>Back</span>
                  </v-btn>
                  <div>
                    <v-btn color="primary" outlined @click="openTestMessage">
                      Preview
                    </v-btn>
                    <v-btn
                      v-if="
                        journeyData.status === 'init' || !journeyData.status
                      "
                      color="primary"
                      :disabled="isActiveButton"
                      depressed
                      @click="instantUpdateJourney()"
                    >
                      Start journey
                    </v-btn>
                    <v-btn
                      v-if="journeyData.status === 'start'"
                      v-tooltip="{
                        content: msgStop
                      }"
                      depressed
                      outlined
                      :disabled="!interval"
                      style="color:red"
                      @click="pause"
                    >
                      <span>
                        <v-icon left>mdi-pause</v-icon>
                        Stop journey
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="journeyData.status === 'pause'"
                      depressed
                      outlined
                      :disabled="isActiveButton"
                      style="color:#262626"
                      @click="instantUpdateJourney"
                    >
                      <span>
                        <v-icon left large>mdi-menu-right</v-icon>
                        Continue
                      </span>
                    </v-btn>
                    <v-btn
                      v-if="journeyData.status === 'error'"
                      depressed
                      :disabled="isActiveButton"
                      outlined
                      style="color:#F5222D"
                      @click="instantUpdateJourney"
                    >
                      <span>
                        <v-icon left>mdi-close-circle</v-icon>
                        Have errors
                      </span>
                    </v-btn>
                  </div>
                </v-card-actions>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </Skeleton>
    </v-col>
    <v-col id="content_left" cols="12" md="6" xl="6">
      <div class="message-content-box">
        <div class="content-box pt-2">
          <div
            v-if="
              selectedMessageIndex !== null &&
                !showMessage &&
                journeyData.spamgroup[selectedMessageIndex] &&
                journeyData.spamgroup[selectedMessageIndex].name
            "
            v-tooltip="'Click to edit the message name'"
            class="tooltip__message"
            @click="showInput"
          >
            {{
              journeyData.spamgroup[selectedMessageIndex].name.length > 30
                ? journeyData.spamgroup[selectedMessageIndex].name.slice(
                    0,
                    30
                  ) + '...'
                : journeyData.spamgroup[selectedMessageIndex].name
            }}
          </div>
          <div
            v-if="
              selectedMessageIndex !== null &&
                showMessage &&
                journeyData.spamgroup[selectedMessageIndex]
            "
            class="input_message_spam"
          >
            <v-text-field
              ref="spam_message_name"
              v-model="journeyData.spamgroup[selectedMessageIndex].name"
              :rules="[(v) => !!v || '']"
              dense
              outlined
              hide-details
              @blur="onKeyPress"
            ></v-text-field>
          </div>
          <draggable
            v-if="
              selectedMessageIndex !== null &&
                journeyData.spamgroup[selectedMessageIndex]
            "
            tag="div"
            :list="journeyData.spamgroup[selectedMessageIndex].message.items"
            class="mr-8 my-6"
            handle=".drag-btn"
            @end="handleChangePosition"
          >
            <div
              v-for="(action, actionIndex) in journeyData.spamgroup[
                selectedMessageIndex
              ].message.items"
              :id="'actionItem' + action.key"
              :key="action.key"
              class="action-wrap d-flex pb-8"
            >
              <div class="action_btns pl-2 pr-2 pt-1">
                <div class="drag-btn mb-2">
                  <v-icon size="16">mdi-arrow-up-down-bold</v-icon>
                </div>
                <div class="delete" @click="openDeleteConfirmBox(actionIndex)">
                  <img src="~/assets/svg/Delete.svg" title="Delete" />
                </div>
                <span class="hack-width">&nbsp;</span>

                <!-- <div
                  v-tooltip="{
                    content: msgAdd,
                    placement: 'left',
                    classes: ['info'],
                    targetClasses: ['it-has-a-tooltip'],
                    offset: 1
                  }"
                  class="add-other-below"
                  @click="openActionDialog(action.value, actionIndex)"
                >
                  <v-icon size="20px">mdi-plus</v-icon>
                </div> -->
              </div>
              <Document
                v-if="['message', 'text', 'buttons'].includes(action.type)"
                :ref="`actionItemMessage`"
                type-button="automation_message"
                :command="action.command"
                style="max-width: 322px"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
              <Carousel
                v-if="action.type === 'carousel'"
                :ref="`actionItem`"
                type-button="automation_message"
                :command="
                  action.command && action.command.content
                    ? action.command.content
                    : []
                "
                @submitCommand="handleActionSubmit($event, actionIndex)"
                @removeSlide="removeSlide"
              />
              <QuickAnswer
                v-if="action.type === 'quick_replies'"
                :id="action.id"
                :ref="`actionItem${action.key}`"
                :command="action.command"
                type-button="automation_message"
                @submitCommand="handleActionSubmit($event, actionIndex)"
                @emitAnswerRequire="disableButton"
              />
              <ImageSkill
                v-if="action.type === 'picture'"
                :ref="`actionItem`"
                type-button="automation_message"
                :command="!action.command ? null : action.command"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
              <Video
                v-if="action.type === 'video'"
                :ref="`actionItem`"
                type-button="automation_message"
                :command="action.command"
                @submitCommand="handleActionSubmit($event, actionIndex)"
              />
            </div>
            <div
              class="d-flex"
              style="width:100%;align-items: center;
    margin-left: 28px;"
            >
              <div class="one_element">Only one card is supported</div>
              <div class="slash"></div>
            </div>
          </draggable>
        </div>
        <div class="actions-menu">
          <div
            v-for="action in actionTypes"
            :key="action.value"
            class="actions-menu__item"
            @click="addAction(action.value)"
          >
            <img
              :src="require(`~/assets/${action.icon}`)"
              width="24px"
              height="24px"
            />
            <span class="caption mt-2">{{ action.text }}</span>
          </div>
        </div>
        <div
          v-if="selectedMessageIndex === null || currentStep !== 3"
          class="message-content-box__overlay"
        ></div>
      </div>
    </v-col>
    <Dialog
      v-model="actionDialog"
      padding-y="16px"
      padding-x="32px"
      max-width="60vw"
    >
      <p>Add and submit content</p>
      <div class="action-box d-flex flex-wrap">
        <div
          v-for="action in actionTypes"
          :key="action.value"
          class="action-item d-flex justify-center aligns-center pa-4"
          @click="addAction(action.value, selectedIndex)"
        >
          <img
            :src="require(`~/assets/${action.icon}`)"
            width="24px"
            height="24px"
          />
          <span class="ml-2">{{ action.text }}</span>
        </div>
      </div>
    </Dialog>
    <Dialog v-model="showconfirmDeleteSpam" padding-x="72px" padding-y="44px">
      <p class="body-1 font-weight-medium mb-6">
        <span>Do you want to delete this setting ?</span>
      </p>
      <v-btn
        color="error"
        height="40"
        block
        depressed
        @click.stop.prevent="deleteSpam()"
      >
        Accept
      </v-btn>
    </Dialog>
    <Dialog
      v-model="confirmDeleteMessageBlock"
      padding-x="72px"
      padding-y="44px"
    >
      <p class="body-1 font-weight-medium mb-6">
        <span>Do you want to delete this content?</span>
      </p>
      <v-btn
        color="error"
        height="40"
        block
        depressed
        @click="deleteMessageBlock"
        >Accept</v-btn
      >
    </Dialog>
    <Dialog
      v-if="processingSpam && processingSpam.schedule"
      v-model="showChosenTime"
      padding-x="20px"
      padding-y="20px"
      max-width="450px"
    >
      <span class="message_send_after">This message will be sent later</span>
      <div class="d-flex">
        <!-- processingSpam.schedule.val -->
        <!-- processingSpam.schedule.unit -->
        <v-col cols="md-6">
          <v-text-field
            v-model="valueTime"
            dense
            height="40"
            hide-details
            outlined
            type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="md-6">
          <v-select
            v-model="valueUnit"
            dense
            outlined
            hide-details
            :items="timeSending"
          ></v-select>
        </v-col>
      </div>
      <span v-if="choiceTimeFirst === 0" class="message_send_after">
        From the moment the customer is added to the journey
      </span>
      <span v-else class="message_send_after">After the previous message</span>
      <v-divider></v-divider>
      <div
        style="    display: flex;
    justify-content: flex-end;
    padding-top: 10px;"
      >
        <v-btn dense depressed color="#FFBE07" @click="saveTimeSend"
          >Save</v-btn
        >
      </div>
    </Dialog>
    <Dialog
      v-model="showTestChatDialog"
      :border="false"
      max-width="60%"
      width="60%"
      padding-x="0"
      padding-y="0"
    >
      <TestBot
        :bot="botObject"
        :pre-messages="convertedMessagesForTestBot"
        :show-use-bot="false"
      />
    </Dialog>
    <FilterMessage
      :show-filter-customer="showFilterCustomer"
      :result-filter="resultFilter"
      :channels="getAllFanpage"
      :filterring="filterring"
      :total="totalFilter"
      @saveFilter="saveFilter"
      @cancel="cancel"
      @toggleFilter="show"
      @refresh="refresh"
    />
  </v-row>
</template>
<script>
import { mapGetters } from 'vuex'
import draggable from 'vuedraggable'
import { debounce } from 'lodash'
import {
  messTags,
  actionTypes,
  handleFilter,
  convertTimeToMinutes
} from '~/utils/constanst'
import Document from '~/components/actions/Document'
import Carousel from '~/components/actions/Carousel'
import ImageSkill from '~/components/actions/ImageSkill'
import QuickAnswer from '~/components/actions/QuickAnswer'
import Video from '~/components/actions/Video'
import Dialog from '~/components/Dialog'
import TestBot from '~/components/TestChat/TestBot'
import CommingSoon from '@/assets/svg/CommingSoon.svg'
import EditJourneyMessage from '@/assets/svg/EditJourneyMessage.svg'
import FilterMessage from '~/components/FilterMessage'
import Skeleton from '@/components/Skeleton'

export default {
  layout: 'authenticated',
  middleware: 'authenticated',
  components: {
    Video,
    Document,
    FilterMessage,
    QuickAnswer,
    Carousel,
    ImageSkill,
    draggable,
    Dialog,
    TestBot,
    Skeleton
  },
  data() {
    return {
      loadingJourney: false,
      loadingCount: false,
      iscurrentStepThree: false,
      iscurrentStepSecond: false,
      valueTime: 30,
      valueUnit: 'minute',
      choiceTimeFirst: 0,
      convertTimeToMinutes,
      CommingSoon,
      updateNextStep: false,
      handleFilter,
      isActiveSubmit: false,
      showMessage: false,
      EditJourneyMessage,
      submitting: false,
      showFilterCustomer: false,
      query: {
        filters: [],
        order_by: 'name'
      },
      actionDialog: false,
      selectedIndex: 0,
      msgStop:
        'Click "Stop journey" to edit. You can edit the content of the message up to 15 minutes before the sending schedule',
      msg: 'The message name section will not be visible to your customers',
      msgAdd: 'Add choice tags here',
      timestamp: parseInt(Date.now() / 1000),
      currentStep: 1,
      messageLabelList: [
        { key: 1, name: 'Advertising in 24h', default: true },
        { key: 2, name: 'Advertising after 24h', default: true },
        { key: 3, name: 'Announcements / Updates', default: false }
      ],
      currentLabel: 3,
      messTags,
      objSends: [
        {
          nameCustomer: 'All customers',
          name: 'All customers',
          id: 'all'
        }
      ],
      resultFilter: [],
      getAllFanpage: [],
      tagMessage: messTags[0].key,
      actionTypes,
      customerPacks: [],
      botID: -1,
      botObject: null,
      timeSending: [
        {
          value: 'minute',
          text: 'phút'
        },
        {
          value: 'hour',
          text: 'giờ'
        },
        {
          value: 'day',
          text: 'ngày'
        }
      ],
      interval: '',
      journeyData: {
        name: '',
        label_id: 3,
        users: [],
        spamgroup: [
          {
            label_id: 3,
            type: 'instant',
            name: 'Tin nhắn',
            schedule: {},
            message: {
              tag: messTags[0].key,
              items: []
            }
          }
        ]
      },
      selectedMessageIndex: null,
      confirmDeleteMessageBlock: false,
      currentIndexAction: null,
      isActiveButton: false,
      showTestChatDialog: false,
      convertedMessagesForTestBot: [],
      showconfirmDeleteSpam: false,
      processingSpam: null,
      showChosenTime: false,
      allCustomerFilter: 0,
      allCustomers: 0,
      filterring: false,
      totalFilter: 0,
      segmentsCrm: []
    }
  },
  computed: {
    ...mapGetters(['bots'])
  },
  watch: {
    loadingJourney(val) {
      if (!val) {
        this.init(this.journeyData.status)
      }
    },
    'journeyData.status'(val) {
      if (!this.loadingJourney) {
        this.init(val)
      }
    }
  },
  mounted() {
    if (!this.bots.length) {
      this.$store.dispatch('bots/getAllBots')
    }
    if (
      document.getElementsByClassName('message-content-box__overlay').length &&
      document.getElementsByClassName('message-content-box').length
    ) {
      this.$nextTick(() => {
        document.getElementsByClassName(
          'message-content-box__overlay'
        )[0].style.height = window.innerHeight - 120 + 'px'
        document.getElementsByClassName('message-content-box')[0].style.height =
          window.innerHeight - 120 + 'px'
      })
    }
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },
  created() {
    this.botID = this.$route.params.bot
    this.$store.dispatch('bots/getAllSkills', this.botID)
    this.$store.dispatch('bots/updateLoading', true)
    this.loadingJourney = true
    this.$store
      .dispatch('bots/getAllCustomersCrm', {
        botID: this.botID,
        query: JSON.stringify(this.query)
      })
      .then((r) => {
        this.customerDataCrm = r
        this.allCustomers = r.items.length
        this.$store
          .dispatch('bots/getAllChannelPosts', this.botID)
          .then((r) => {
            this.getAllFanpage = r.items
          })
        this.$store
          .dispatch('bots/getSegments', {
            botID: this.botID
          })
          .then((t) => {
            this.segmentsCrm = t.items
            this.objSends.push(
              t.items.map((r) => {
                return {
                  ...r,
                  nameCustomer: `${r.name} (${r.estimate_uu})`
                }
              })
            )
            this.objSends = this.objSends.flat()
            this.getTotalCustomer()
          })
          .catch((r) => {
            this.$store.dispatch('bots/updateLoading', false)
          })
      })
      .then(async () => {
        await this.fetchJourney()
      })
      .then(() => {
        this.updateNextStep = true
      })
      .catch((r) => {
        this.$store.dispatch('bots/updateLoading', false)
      })
  },
  methods: {
    init(val) {
      if (val === 'start' || val === 'done') {
        this.$nextTick(() => {
          document.getElementById('content_left').classList.add('disable-left')

          document
            .getElementById('journeyNameDetatil')
            .classList.add('disable-left')
          for (
            let index = 0;
            index < document.getElementsByClassName('time_detail').length;
            index++
          ) {
            document
              .getElementsByClassName('time_detail')
              [index].classList.add('disable-left')
          }
        })

        this.isActiveSubmit = true
      } else {
        this.$nextTick(() => {
          document
            .getElementById('content_left')
            .classList.remove('disable-left')

          document
            .getElementById('journeyNameDetatil')
            .classList.remove('disable-left')
          for (
            let index = 0;
            index < document.getElementsByClassName('time_detail').length;
            index++
          ) {
            document
              .getElementsByClassName('time_detail')
              [index].classList.remove('disable-left')
          }
        })

        this.isActiveSubmit = false
      }
    },
    backStep(int) {
      this.currentStep = int
      if (this.journeyData.status !== 'init') {
        this.iscurrentStepSecond = true
        this.iscurrentStepThree = true
      } else {
        this.iscurrentStepSecond = false
        this.iscurrentStepThree = false
      }
    },
    disableButton(status) {
      this.isActiveButton = status
    },
    pause() {
      this.journeyData.status = 'pause'
      this.updateJourney()
    },
    pullMessage() {
      if (this.$route.params.bot && this.$route.params.id) {
        this.$axios
          .get(
            `/api_spam/bots/${this.$route.params.bot}/spam-journey/${this.$route.params.id}`
          )
          .then((response) => {
            if (response.code === 0) {
              this.journeyData = response.data
            }
          })
          .then(() => {
            if (
              document.getElementsByClassName('message-content-box__overlay')
                .length &&
              document.getElementsByClassName('message-content-box').length
            ) {
              this.$nextTick(() => {
                document.getElementsByClassName(
                  'message-content-box__overlay'
                )[0].style.height = window.innerHeight + 'px'
                document.getElementsByClassName(
                  'message-content-box'
                )[0].style.height = window.innerHeight + 'px'
              })
            }
          })
          .catch((error) => {
            this.$toast.error(error)
          })
      }
    },
    removeSlide(index) {
      this.currentIndexAction = index
      this.deleteMessageBlock()
    },
    onKeyPress(e) {
      if (
        this.journeyData.spamgroup[this.selectedMessageIndex].name &&
        this.journeyData.spamgroup[this.selectedMessageIndex].name.trim() !== ''
      ) {
        this.journeyData.spamgroup[
          this.selectedMessageIndex
        ].name = this.journeyData.spamgroup[this.selectedMessageIndex].name
          .trim()
          .slice(0, 60)
        this.updateJourney()
      } else {
        this.$toast.global.my_error({
          message: 'Trường này không được để trống'
        })
      }
    },
    showInput() {
      this.showMessage = true
      this.$nextTick(() => {
        this.$refs.spam_message_name.focus()
      })
    },
    nextStepSecond() {
      if (this.updateNextStep && !this.iscurrentStepSecond) {
        this.iscurrentStepSecond = true
        this.currentStep = 2
        if (this.journeyData.status === 'init') {
          this.iscurrentStepSecond = false
        } else {
          this.iscurrentStepSecond = true
        }
        this.updateJourney()
      } else {
        this.currentStep = 2
      }
    },
    changeSwitch(index, data) {
      this.journeyData.spamgroup[index].enable = data
      this.updateJourney()
    },
    saveTimeSend() {
      if (
        this.valueTime &&
        this.convertTimeToMinutes(this.valueTime, this.valueUnit) >= 30
      ) {
        this.processingSpam.schedule.val = parseInt(this.valueTime)
        this.processingSpam.schedule.unit = this.valueUnit
        this.showChosenTime = false
        this.updateJourney()
      } else {
        this.$toast.global.my_error({
          message: 'Minimum setting time 30 minutes'
        })
      }
    },
    editSpam(index) {
      this.selectedMessageIndex = index
    },
    showChosenTimeSend(spamItem, spamIndex) {
      this.choiceTimeFirst = spamIndex
      this.processingSpam = spamItem
      this.valueTime = parseInt(this.processingSpam.schedule.val)
      this.valueUnit = this.processingSpam.schedule.unit
      this.showChosenTime = true
    },
    show() {
      this.showFilterCustomer = !this.showFilterCustomer
    },
    async choosenSegment() {
      let total = 0
      const checkCustomerPacks = this.customerPacks.map((r) =>
        r.id ? r.id : r
      )
      if (checkCustomerPacks.filter((r) => r === 'all').length) {
        this.journeyData.users = ['all']
      } else {
        this.journeyData.users = checkCustomerPacks
      }
      if (!this.customerPacks || !this.customerPacks.length) {
        total = 0
        this.allCustomerFilter = total
        await this.updateJourney()
      } else if (
        this.customerPacks.filter(
          (k) => k === 'all' || (k.id && k.id === 'all')
        ).length > 0
      ) {
        total = this.allCustomers
        this.allCustomerFilter = total
        await this.updateJourney()
      } else {
        let params = this.customerPacks.reduce((r, t) => {
          return r.concat(`segments=${t.id ? t.id : t}&`)
        }, ``)
        params = params.slice(0, -1)
        this.loadingCount = true
        await this.$store
          .dispatch('bots/countSegment', {
            params,
            botID: this.botID
          })
          .then((data) => {
            this.loadingCount = false
            this.allCustomerFilter = data || 0
            this.journeyData.users = this.customerPacks.map((r) =>
              r.id ? r.id : r
            )
            this.updateJourney()
          })
          .catch(() => {
            this.loadingCount = false
          })
      }
    },
    saveFilter(data) {
      this.filterring = true
      this.totalFilter = 0
      const filters = this.handleFilter(data)
      this.query.filters = filters
      this.$store
        .dispatch('bots/getAllCustomersCrm', {
          botID: this.botID,
          query: JSON.stringify(this.query)
        })
        .then((r) => {
          this.filterring = false
          this.totalFilter = r.total
        })
        .catch(() => {
          this.filterring = false
          this.$toast.global.my_error()
        })
    },
    cancel() {
      this.showFilterCustomer = false
    },
    refresh() {
      this.$store
        .dispatch('bots/getSegments', {
          botID: this.botID
        })
        .then((t) => {
          this.segmentsCrm = t.items
          const dataNew = [this.objSends[0]]
          dataNew.push(
            t.items.map((r) => {
              return {
                ...r,
                nameCustomer: `${r.name} (${r.estimate_uu})`
              }
            })
          )
          this.objSends = dataNew
          this.objSends = this.objSends.flat()
          this.$store.dispatch('bots/updateLoading', false)
        })
        .catch((r) => {
          this.$store.dispatch('bots/updateLoading', false)
        })
    },
    setIntervalFunc(start) {
      if (start) {
        this.interval = setInterval(() => {
          this.pullMessage()
        }, 120000)
      } else {
        clearInterval(this.interval)
        this.interval = false
      }
    },
    fetchJourney() {
      if (this.$route.params.bot && this.$route.params.id) {
        this.$axios
          .get(
            `/api_spam/bots/${this.$route.params.bot}/spam-journey/${this.$route.params.id}`
          )
          .then((response) => {
            if (response.code === 0) {
              this.journeyData = response.data
              if (!response.data.step || response.data.step === 1) {
                this.currentStep = 1
              } else if (response.data.step === 3) {
                this.editSpam(0)
                this.currentStep = response.data.step
                if (this.journeyData.status !== 'init') {
                  this.iscurrentStepThree = false
                  this.iscurrentStepSecond = false
                } else {
                  this.iscurrentStepSecond = true
                  this.iscurrentStepThree = true
                }
              } else {
                this.currentStep = response.data.step
                if (this.journeyData.status !== 'init') {
                  this.iscurrentStepSecond = false
                } else {
                  this.iscurrentStepSecond = true
                }
              }
            }
          })
          .then(() => {
            if (!this.journeyData.spamgroup.length) {
              this.journeyData.spamgroup = [
                {
                  name: 'Tin nhắn 1',
                  schedule: {
                    val: 30,
                    unit: 'minute'
                  },
                  message: {
                    tags: this.tagMessage,
                    items: [{ type: 'message', key: Date.now(), command: [''] }]
                  },
                  enable: true
                }
              ]
            } else {
              this.tagMessage = this.journeyData.spamgroup[0].message.tags
            }
          })
          .then(() => {
            setTimeout(() => {
              this.customerPacks = this.objSends.filter((r) =>
                this.journeyData.users.some((t) => t === r.id)
              )
              this.choosenSegment()
              if (
                this.journeyData.users.filter((k) => k === 'all').length > 0
              ) {
                this.customerPacks[0].nameCustomer = `All customers (${this.allCustomers})`
                this.customerPacks[0].name = `All customers`
              }
            }, 300)
          })
          .then(() => {
            if (
              this.journeyData.status &&
              this.journeyData.status !== 'init' &&
              this.journeyData.status !== 'done' &&
              this.journeyData.status !== 'pause' &&
              this.journeyData.status !== 'error'
            ) {
              this.setIntervalFunc(true)
            } else {
              this.setIntervalFunc(false)
            }
          })
          .then(() => {
            setTimeout(() => {
              this.loadingJourney = false
            }, 600)
          })
          .catch((error) => {
            this.loadingJourney = false
            this.$toast.error(error)
          })
      }
    },
    changeJourneyLabel(value) {
      this.journeyData.label_id = value
    },
    getTotalCustomer() {
      this.objSends[0] = {
        ...this.objSends[0],
        name: this.objSends[0].nameCustomer + ' (' + this.allCustomers + ')',
        nameCustomer:
          this.objSends[0].nameCustomer + ' (' + this.allCustomers + ')'
      }
    },
    submitMessageForm() {
      if (this.$refs.createMessageForm.validate()) {
        this.journeyData.spamgroup.push({
          name: 'Tin nhắn ' + parseInt(this.journeyData.spamgroup.length + 1),
          schedule: {
            val: 30,
            unit: 'minute'
          },
          message: {
            tags: this.tagMessage,
            items: [{ type: 'message', key: Date.now(), command: [''] }]
          },
          enable: true
        })
        this.selectedMessageIndex = this.journeyData.spamgroup.length - 1
        this.$nextTick(() => {
          this.$refs.actionItemMessage[0].focusInput()
        })
      }
    },
    submitUpdateSpamForm(spamIndex) {
      if (
        this.$refs[`spamForm${spamIndex}`] &&
        this.$refs[`spamForm${spamIndex}`].length &&
        this.$refs[`spamForm${spamIndex}`][0].validate()
      ) {
        const schedule = new Date(
          this.journeyData.spamgroup[spamIndex].date +
            ' ' +
            this.journeyData.spamgroup[spamIndex].time
        ).getTime()
        this.journeyData.spamgroup[spamIndex].schedule = schedule / 1000
        this.updateJourney()
      }
    },
    confirmDeleteSpam(spamIndex) {
      this.processingSpam = spamIndex
      this.showconfirmDeleteSpam = true
    },
    deleteSpam() {
      this.journeyData.spamgroup.splice(this.processingSpam, 1)
      if (this.processingSpam === this.selectedMessageIndex) {
        this.selectedMessageIndex = null
      } else {
        this.selectedMessageIndex = this.selectedMessageIndex - 1
      }
      this.showconfirmDeleteSpam = false
      this.updateJourney()
    },
    openActionDialog(actionType, index) {
      this.selectedIndex = index
      this.actionDialog = true
    },
    addAction(type, index = false) {
      if (
        this.journeyData.spamgroup[this.selectedMessageIndex].message.items
          .length < 1
      ) {
        this.actionDialog = false
        if (this.selectedMessageIndex !== null) {
          const randomKey = Date.now()
          if (typeof index === 'number') {
            this.journeyData.spamgroup[
              this.selectedMessageIndex
            ].message.items.splice(index + 1, 0, {
              type,
              key: randomKey
            })
          } else {
            this.journeyData.spamgroup[
              this.selectedMessageIndex
            ].message.items.push({ type, key: randomKey })
          }
          this.$nextTick(() => {
            this.scrollToDiv(`actionItem${randomKey}`)
            if (
              this.$refs[`actionItem${randomKey}`] &&
              this.$refs[`actionItem${randomKey}`].length
            ) {
              this.$refs[`actionItem${randomKey}`][0].$emit('focusInput')
            }
          })
        }
      } else {
        this.$toast.global.my_warning({
          message: 'Bạn cần xóa thẻ hiện tại khi chọn thẻ thay thế'
        })
      }
    },
    scrollToDiv(div) {
      const objDiv = document.getElementById(div)
      objDiv.scrollIntoView({
        block: 'center',
        behavior: 'smooth'
      })
    },
    deleteMessageBlock() {
      this.confirmDeleteMessageBlock = false
      this.journeyData.spamgroup[
        this.selectedMessageIndex
      ].message.items.splice(this.currentIndexAction, 1)
      this.debounceUpdateJourney()
    },
    openDeleteConfirmBox(index) {
      this.currentIndexAction = index
      this.confirmDeleteMessageBlock = true
    },
    async clickFinalStep(event) {
      if (!this.iscurrentStepThree) {
        const checkCustomerPacks = this.customerPacks.map((r) =>
          r.id ? r.id : r
        )
        if (checkCustomerPacks.filter((r) => r === 'all').length) {
          this.journeyData.users = ['all']
        } else {
          this.journeyData.users = checkCustomerPacks
        }
        this.currentStep = 3
        await this.updateJourney()
        if (this.journeyData.status === 'init') {
          this.iscurrentStepThree = false
          this.iscurrentStepSecond = false
        } else {
          this.iscurrentStepThree = true
          this.iscurrentStepSecond = true
        }
        setTimeout(() => {
          this.editSpam(0)
          this.$nextTick(() => {
            this.$refs.actionItemMessage[0].focusInput()
          })
        }, 500)
      } else {
        this.currentStep = 3
      }
    },
    submitMessage() {
      if (
        this.selectedMessageIndex !== null &&
        this.journeyData.spamgroup[this.selectedMessageIndex].name &&
        !this.submitting
      ) {
        this.debounceUpdateJourney()
      }
    },
    updateJourney(redirectToList = false) {
      this.journeyData.spamgroup = this.journeyData.spamgroup.map((r) => {
        return {
          ...r,
          message: {
            ...r.message,
            tags: this.tagMessage
          }
        }
      })
      if (this.currentStep === 1) {
        this.journeyData.step = 1
      }
      if (this.currentStep === 2) {
        this.journeyData.step = 2
      }
      if (this.currentStep === 3) {
        this.journeyData.step = 3
      }
      this.submitting = true
      this.$store.commit('navbar/SHOW_SAVING')
      this.$store.commit('loading/SET_LOAD_IMAGE', true)
      this.$axios
        .put(
          `/api_spam/bots/${this.journeyData.bot_id}/spam-journey/${this.journeyData.id}`,
          this.journeyData
        )
        .then((response) => {
          this.submitting = false
          if (response.code === 0) {
            if (this.journeyData.status === 'start') {
              this.setIntervalFunc(true)
            } else {
              this.setIntervalFunc(false)
            }
            if (redirectToList) {
              this.$router.back()
            }
          } else {
            this.$toast.global.my_error({
              message: response.message
            })
          }
          this.showMessage = false
          this.$store.commit('loading/SET_LOAD_IMAGE', false)
          this.$store.commit('navbar/HIDE_SAVING')
        })
        .catch((error) => {
          this.$store.commit('loading/SET_LOAD_IMAGE', false)
          this.$store.commit('navbar/HIDE_SAVING')
          this.submitting = false
          this.$toast.error(error)
        })
    },
    debounceUpdateJourney: debounce(function() {
      if (
        this.journeyData.name &&
        this.journeyData.name.trim() !== '' &&
        this.journeyData.name.trim().length <= 60
      ) {
        this.journeyData.name = this.journeyData.name.trim().slice(0, 60)
        this.updateJourney()
      } else {
        this.$toast.global.my_error({
          message: 'Trường này không được để trống'
        })
      }
    }, 500),
    checkValidation(item) {
      const listCondition = item
      const isError = listCondition.some((r) => {
        if (
          ((r.type === 'message' || r.type === 'buttons') &&
            ((r.command && r.command.title === '') ||
              (r.command && r.command[0] === '') ||
              !r.command)) ||
          (r.type === 'picture' &&
            (r.command === '' ||
              !r.command ||
              !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(r.command))) ||
          (r.type === 'carousel' &&
            ((r.command &&
              r.command.content &&
              r.command.content.some(
                (t) =>
                  t.imageUrl === '' ||
                  t.title === '' ||
                  !/^(https?|http):\/\/[^\s$.?#].[^\s]*$/g.test(t.imageUrl)
              )) ||
              !r.command)) ||
          (r.type === 'quick_replies' &&
            ((r.command &&
              r.command.title === '' &&
              r.command.type === 'postback') ||
              (r.command.type === 'phone_number' && r.command.title === '') ||
              (r.command.type === 'user_email' && r.command.title === '') ||
              !r.command ||
              (r.command.type === 'postback' && !r.command.buttons.length))) ||
          (r.type === 'connect_to_live_agent' &&
            (!r.command || r.command === '')) ||
          (r.type === 'video' &&
            ((!/^https?:\/\/www\.facebook\.com.*\/(video(s)?|watch|story)(\.php?|\/).+$/g.test(
              r.command
            ) &&
              !r.command.includes('.mp4')) ||
              r.command === ''))
        ) {
          return false
        } else {
          return true
        }
      })
      return isError
    },
    instantUpdateJourney() {
      const checkAllConfig = this.journeyData.spamgroup.map((r) => {
        return this.checkValidation(r.message.items)
      })
      if (checkAllConfig.filter((r) => !r).length === 0) {
        this.journeyData.status = 'start'
        this.updateJourney()
      }
    },
    handleActionSubmit(command, actionIndex) {
      if (
        this.selectedMessageIndex !== null &&
        this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
          actionIndex
        ]
      ) {
        if (
          this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
            actionIndex
          ].type === 'message' ||
          this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
            actionIndex
          ].type === 'buttons'
        ) {
          if (command.buttons && command.buttons.length) {
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].type = 'buttons'
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command = command
          } else if (command.title && command.buttons.length === 0) {
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].type = 'message'
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command = [command.title]
          } else {
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command = command
          }
        } else if (
          this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
            actionIndex
          ].type === 'carousel'
        ) {
          const dataNew = {
            command: {
              content: command
            },
            data_from: null,
            type: this.journeyData.spamgroup[this.selectedMessageIndex].message
              .items[actionIndex].type
          }
          this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
            actionIndex
          ] = dataNew
          if (
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command.content[0] &&
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command.content[0].buttons
          ) {
            this.messageData.message.items[
              actionIndex
            ].command.content[0].buttons = this.messageData.message.items[
              actionIndex
            ].command.content[0].buttons.map((r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            })
          }
          if (
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command.content.buttons &&
            this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
              actionIndex
            ].command.content.buttons.length
          ) {
            this.messageData.message.items[
              actionIndex
            ].command.buttons = this.messageData.message.items[
              actionIndex
            ].command.buttons.map((r, indexTmp) => {
              return {
                payload: r.payload,
                title: r.title,
                type: r.type
              }
            })
          }
        } else {
          this.journeyData.spamgroup[this.selectedMessageIndex].message.items[
            actionIndex
          ].command = command
        }
      }
      this.debounceUpdateJourney()
    },
    handleChangePosition(event) {
      this.debounceUpdateJourney()
    },
    openTestMessage() {
      this.convertedMessagesForTestBot = []
      this.botObject = this.bots.find(
        (item) => item.id.toString() === this.$route.params.bot
      )
      this.journeyData.spamgroup.forEach((spam) => {
        spam.message.items.forEach((item) => {
          switch (item.type) {
            case 'picture':
              this.convertedMessagesForTestBot.push({
                type: item.type,
                value: item.command
              })
              break
            case 'quick_replies':
              this.convertedMessagesForTestBot.push({
                type: item.type,
                value: item.command
              })
              break
            case 'buttons':
              this.convertedMessagesForTestBot.push({
                type: 'buttons',
                value: item.command
              })
              break
            case 'message':
              if (item.command.buttons) {
                this.convertedMessagesForTestBot.push({
                  type: 'buttons',
                  value: item.command
                })
              } else {
                this.convertedMessagesForTestBot.push({
                  type: 'text',
                  content:
                    item.command[
                      Math.floor(Math.random() * item.command.length)
                    ] // select random message
                })
              }
              break
            case 'carousel':
              this.convertedMessagesForTestBot.push({
                type: item.type,
                value: item.command
              })
              break
            case 'video':
              this.convertedMessagesForTestBot.push({
                type: item.type,
                value: item.command
              })
              break
            default:
              break
          }
        })
      })
      this.showTestChatDialog = true
    }
  }
}
</script>
<style lang="scss" scoped>
.disable-left {
  pointer-events: none;
}
.input_message_spam {
  margin-left: 30px;
  width: 300px;
}
.one_element {
  font-size: 12px;
  line-height: 16px;
  width: 30%;
  color: #bfbfbf;
}
.slash {
  border: 1px dashed #d9d9d9;
  width: 65%;
  height: 1px;
}
.message_send_after {
  color: #595959;
  font-size: 14px;
}
.item_content_spam {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 80%;
  padding: 8px 12px;
  .text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    border-bottom: 1px dashed #8c8c8c;
    max-width: fit-content;
  }
}
.tooltip__message {
  font-weight: 500;
  width: 300px;
  padding-left: 24px;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
}
.item_enable_spam {
  padding-left: 14px;
}
.item_title_spam {
  display: flex;
  align-items: center;
  font-size: 14px;
  left: 22px;
}
.journeyMessage {
  cursor: pointer;
}
.not_required {
  color: #8c8c8c;
  font-style: italic;
  /* font-weight: normal; */
  font-size: 12px;
  line-height: 16px;
  text-shadow: none !important;
}
.row__time {
  label {
    font-size: 14px !important;
    color: #595959 !important;
  }
}
.none-interact {
  pointer-events: none;
  background: #fafafa;
}
.addFilter {
  color: #1890ff;
  font-size: 14px;
  cursor: pointer;
}
.auto-message-stepper {
  min-width: 190px !important;
  box-shadow: none !important;
  border-right: 1px solid $grey-4;
  height: 100%;
}
.inline-stepper {
  display: flex;
  justify-content: space-between;
  border-right: none;
  border-bottom: 1px solid $grey-4;
  border-right: none;
}
.input__error {
  border: 1px solid red !important;
  border-radius: 4px;
}
.menu-content__inside {
  border-bottom: 1px solid $grey-4;
}
.journey-name {
  display: flex;
  align-items: center;
  height: 40px;
}
.card-option {
  height: 132px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: $grey-2;
  }
  &.active {
    background: $grey-2;
  }
}
.v-stepper__step {
  cursor: pointer;
}
.message-content-box {
  background: $grey-3;
  height: 120%;
  margin-top: 0px;
  margin-bottom: -36px;
  margin-right: -10px;
  display: flex;
  position: relative;
}

.content-box {
  width: calc(100% - 88px);
  height: 100%;
  overflow: auto;
}
/* Custom scrollbar */
.content-box::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.content-box::-webkit-scrollbar-track {
  background: $grey-4;
}
.content-box::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 8px;
}

.actions-menu {
  width: 88px;
  height: auto;
  background: #fff;

  .more-item {
    height: 40px;
    cursor: pointer;
  }
  .actions-menu__item {
    height: 70px;
    cursor: pointer;
    border-top: 1px solid $grey-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.message-content-box__overlay {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background-color: $grey-3;
  opacity: 1.2;
}
@supports (backdrop-filter: blur(40px)) {
  .message-content-box__overlay {
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: initial;
    opacity: 1.2;
  }
}
.action_btns {
  width: 30px;
  position: relative;
  // height: 0px;
  .delete,
  .drag-btn {
    display: none;
    cursor: pointer;
  }
  .add-other-below {
    position: absolute;
    left: 6px;
    bottom: -28px;
    display: none;
    cursor: pointer;
  }
}
.action-box {
  margin-right: -16px;
  margin-left: -16px;
}
.action-item {
  cursor: pointer;
  line-height: 24px;
}
.action-wrap {
  min-height: 92px;
  &:hover {
    .delete,
    .drag-btn,
    .add-other-below {
      display: block;
    }
  }
}
.hack-width {
  display: block;
  width: 16px;
  height: 0px;
}
</style>
<style lang="scss">
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    color: white;
    min-height: 32px;
    position: relative;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 12px;
    background: #262626;
    padding: 10px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;
    .tooltip-inner {
      right: 15% !important;
    }
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: 0 !important;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.msg-name-input {
  .v-input {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
  fieldset {
    border: none !important;
  }
  .v-input--is-focused {
    fieldset {
      border: 1px solid $grey-4 !important;
    }
  }
}
.dashed-btn {
  border: 1px dashed $grey-5;
}
.msg-time-box {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
.journey-name {
  border-bottom: 1px solid $grey-4;
  .v-input__prepend-inner {
    cursor: pointer;
  }
  .v-input--is-focused {
    .v-input__prepend-inner {
      display: none;
    }
  }
}
</style>
