<template>
  <div>
    <div class="d-flex align-center header__result justify-space-between">
      <div class="d-flex align-center title_result">
        <span
          class="message mr-5"
          :class="{ activeResult: isActiveMessage }"
          @click="toggleMessage"
          >Tin nhắn hàng loạt</span
        >
        <span
          class="message"
          :class="{ activeResult: isActiveSchedule }"
          @click="toggleSchdedule"
          >Tin nhắn theo lộ trình</span
        >
      </div>
      <div class="d-flex align-center action__result">
        <div>
          <v-text-field
            v-model="filterText"
            outlined
            class="search_input mr-4"
            hide-details
            dense
            placeholder="All message names are from ..."
            @keyup="onKeyUp"
            ><template v-slot:append>
              <img :src="Search" alt="" srcset="" /> </template
          ></v-text-field>
        </div>
        <v-btn depressed color="#F5F5F5" class="export">
          <v-icon left>mdi-download-outline</v-icon>Export
        </v-btn>
      </div>
    </div>
    <!-- loading
            loading-text="Loading... Please wait" -->
    <v-flex v-if="isActiveMessage">
      <v-data-table
        :headers="headersMess"
        :items="itemDataMess"
        :items-per-page="10"
        :loading="tableLoading"
        loading-text="Loading"
        class="table__message"
      >
        <template v-slot:item.send_time="{ item }">
          <span v-if="item.send_time">{{
            item.send_time | unixtimeToDateString
          }}</span>
        </template>
        <template v-slot:item.send="{ item }">
          {{
            parseInt(
              item.success_user
                ? item.success_user
                : 0 + item.error_user
                ? item.error_user
                : 0
            ) || 0
          }}
        </template>
        <template v-slot:item.ratio_read="{ item }">
          {{ parseInt((item.seen / item.total_user) * 100) || 0 }} %
        </template>
        <template v-slot:item.ratio_replied="{ item }">
          {{ parseInt((item.replied / item.total_user) * 100) || 0 }} %
        </template>
      </v-data-table>
    </v-flex>
    <v-flex v-if="isActiveSchedule">
      <v-data-table
        :headers="headersSchedule"
        :loading="tableLoading"
        :items="itemData"
        :items-per-page="10"
        class="table__message"
      >
        <template v-slot:item.detail_part="{ item }">
          {{ item.detail_part.name }}
        </template>
        <template v-slot:item.total_user="{ item }">
          {{ item.detail_part.total_user }}
        </template>
        <template v-slot:item.seen="{ item }">
          {{ item.detail_part.seen }}
        </template>
        <template v-slot:item.replied="{ item }">
          {{ item.detail_part.replied }}
        </template>
        <template v-slot:item.send="{ item }">
          {{
            parseInt(
              item.detail_part.success_user
                ? item.detail_part.success_user
                : 0 + item.detail_part.error_user
                ? item.detail_part.error_user
                : 0
            ) || 0
          }}
        </template>
        <template v-slot:item.ratio_read="{ item }">
          {{
            parseInt(
              (item.detail_part.seen / item.detail_part.total_user) * 100
            ) || 0
          }}
          %
        </template>
        <template v-slot:item.ratio_replied="{ item }">
          {{
            parseInt(
              (item.detail_part.replied / item.detail_part.total_user) * 100
            ) || 0
          }}
          %
        </template>
      </v-data-table>
    </v-flex>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { slugify } from '~/utils/constanst'
import Search from '@/assets/svg/Search.svg'
export default {
  components: {},
  data() {
    return {
      Search,
      hasFanpage: false,
      tableLoading: false,
      isActiveSchedule: false,
      filterText: '',
      dataBackUpMess: [],
      dataBackUpJour: [],
      isActiveMessage: true,
      itemData: [],
      active: false,
      itemDataMess: [],
      headersSchedule: [
        {
          text: 'Name schedule',
          value: 'name'
        },
        {
          text: 'Name message',
          value: 'detail_part'
        },
        {
          text: 'Estimated number of recipients',
          value: 'total_user',
          align: 'center'
        },
        {
          text: 'Sent',
          value: 'send',
          align: 'center'
        },
        {
          text: 'Read',
          value: 'seen',
          align: 'center'
        },
        {
          text: 'Responded',
          value: 'replied',
          align: 'center'
        },
        {
          text: 'Reading rate',
          value: 'ratio_read',
          align: 'center'
        },
        {
          text: 'Response rate',
          value: 'ratio_replied',
          align: 'center'
        }
      ],
      headersMess: [
        {
          text: 'Name message',
          value: 'name'
        },
        {
          text: 'Sent date',
          value: 'send_time'
        },
        {
          text: 'Estimated number of recipients',
          value: 'total_user',
          align: 'center'
        },
        {
          text: 'Sent',
          value: 'send',
          align: 'center'
        },
        {
          text: 'Read',
          value: 'seen',
          align: 'center'
        },
        {
          text: 'Responded',
          value: 'replied',
          align: 'center'
        },
        {
          text: 'Reading rate',
          value: 'ratio_read',
          align: 'center'
        },
        {
          text: 'Response rate',
          value: 'ratio_replied',
          align: 'center'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['tabAction'])
  },
  mounted() {
    this.init()
    setInterval(() => {
      this.init()
    }, 120000)
  },
  methods: {
    init() {
      this.tableLoading = true
      Promise.all([
        this.$axios.get(`/api_spam/bots/${this.$route.params.bot}/spam-groups`),
        this.$axios.get(`/api_spam/bots/${this.$route.params.bot}/spam-journey`)
      ])
        .then((data) => {
          this.itemDataMess = data[0].data.items.map((r) => {
            return {
              ...r,
              slugfyname: slugify(r.name.toLowerCase())
            }
          })
          this.dataBackUpMess = data[0].data.items.map((r) => {
            return {
              ...r,
              slugfyname: slugify(r.name.toLowerCase())
            }
          })
          this.itemData = data[1].data.items.map((r) => {
            return {
              ...r,
              slugfyname: slugify(r.name.toLowerCase())
            }
          })
          const dataJourney = []
          this.itemData.forEach((r) => {
            r.spamgroup.map((t) => {
              dataJourney.push({
                ...r,
                detail_part: t
              })
            })
          })
          this.itemData = dataJourney
          this.dataBackUpJour = dataJourney
          this.tableLoading = false
        })
        .catch(() => {
          this.tableLoading = false
        })
    },
    onKeyUp() {
      if (this.isActiveMessage) {
        this.itemDataMess = this.dataBackUpMess.filter((r) =>
          r.slugfyname.includes(slugify(this.filterText.trim().toLowerCase()))
        )
      } else {
        this.itemData = this.dataBackUpJour.filter((r) =>
          r.slugfyname.includes(slugify(this.filterText.trim().toLowerCase()))
        )
      }
    },
    toggleMessage() {
      this.isActiveMessage = true
      this.isActiveSchedule = false
      this.onKeyUp()
    },
    toggleSchdedule() {
      this.isActiveMessage = false
      this.isActiveSchedule = true
      this.onKeyUp()
    }
  }
}
</script>
<style lang="scss" scoped>
.activeResult {
  font-weight: 500;
  border-bottom: 2px solid #ffbe07;
}
.message__result {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-right: 40px;
}
.message {
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}
.export {
  font-size: 14px;
  color: #595959;
}
.empty-box {
  min-height: 360px;

  .empty-box__text {
    max-width: 532px;
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
  }
  a {
    color: $blue-6;
    text-decoration: none;
  }
}
.header__result {
  margin-bottom: 0px;
}
@media screen and (max-width: 1664px) {
  .header__result {
    width: 100%;
    display: inline-block !important;
    .title_result {
      .message__result {
        display: none;
      }
    }
    .action__result {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: space-between;
    }
  }
}
</style>

<style lang="scss">
.table__message {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::--track {
    background: $grey-4;
  }
  ::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 8px;
  }
  thead {
    tr {
      white-space: nowrap;
      span {
        font-size: 14px;
      }
    }
  }
  tbody {
    td {
      white-space: nowrap;
    }
  }
  .v-input__append-inner {
    margin-top: 4px !important;
  }
}
.search_input {
  width: 270px;
  .v-input__append-inner {
    margin-top: 12px !important;
  }
  .v-input__slot {
    font-size: 14px;
    color: #8c8c8c;
    .v-input__append-inner {
      position: relative;
      bottom: 4px;
    }
  }
}
.auto-msg-table {
  tr {
    cursor: pointer;
  }
}
.search_input {
  width: 270px;
  .v-input__append-inner {
    margin-top: 12px !important;
  }
}
</style>
