<template>
  <div>
    <div class="my-4">
      <label for="name__field__data" class="name__field__data"
        >Name Field *</label
      >
      <v-text-field
        :ref="`element__field__${index}`"
        :value="element.field_name"
        dense
        height="40"
        outlined
        style="background:#fff"
        hide-details=""
        :disabled="
          element.field_code === 'ten' ||
            element.field_code === 'mo_ta' ||
            element.field_code === 'ton_kho'
        "
        @keyup="updateFieldElement"
        @change="updateField"
      ></v-text-field>
    </div>
    <div class="mb-4">
      <label for="name__field__data" class="name__field__data"
        >Code Field *</label
      >
      <v-text-field
        :value="element.field_code"
        disabled=""
        dense
        height="40"
        outlined
        style="background:#fff"
        hide-details=""
      ></v-text-field>
    </div>
    <div class="mb-4">
      <div class="d-flex">
        <label for="name__field__data" class="name__field__data"
          >Type Field *</label
        >
        <div
          v-if="
            element.field_type === 'single_choice' ||
              element.field_type === 'multiple_choice'
          "
        >
          <NoteSuggest
            msg="enter value you want customer choice in input below"
            position="top"
            class="ml-2"
          />
        </div>
      </div>
      <v-select
        v-model="element.field_type"
        dense
        height="40"
        :items="typeDataStore"
        placeholder="Text"
        outlined
        hide-details=""
        style="background:#fff"
        :disabled="
          element.field_code === 'ten' ||
            element.field_code === 'mo_ta' ||
            element.field_code === 'ton_kho'
        "
        @change="updateField"
      >
      </v-select>
    </div>
    <div v-if="isShow" class="mb-4">
      <label for="name__field__data" class="name__field__data"
        >Giá trị cho phép *</label
      >
      <v-combobox
        v-model="element.payload"
        dense
        :items="itemPayload"
        placeholder="Enter value and press"
        small-chips=""
        multiple=""
        class="combobox__store"
        color="#FFBE07"
        outlined
        hide-details=""
        style="background:#fff"
        @change="updateField"
      />
    </div>
  </div>
</template>

<script>
import { typeDataStore, ChangeToSlug } from '@/utils/constanst.js'
import Direction from '~/assets/svg/Direction.svg'
import NoteSuggest from '@/components/NoteSuggest'

export default {
  components: {
    NoteSuggest
  },
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} },
    totalFileds: { type: Array, default: () => [] }
  },
  data() {
    return {
      Direction,
      typeDataStore,
      ChangeToSlug,
      element: {
        field_name: '',
        field_code: '',
        field_type: '',
        payload: null
      },
      itemPayload: []
    }
  },
  computed: {
    isShow() {
      if (
        this.element.field_type === 'single_choice' ||
        this.element.field_type === 'multiple_choice'
      ) {
        return true
      }
      return false
    }
  },
  watch: {
    'element.field_name'(val) {
      this.element.field_code = this.ChangeToSlug(val.trim())
    },
    item(val) {
      this.element = val
      this.itemPayload = val.payload && val.payload.length ? val.payload : []
    }
  },
  created() {
    this.element = this.item
    this.itemPayload =
      this.item.payload && this.item.payload.length ? this.item.payload : []
  },
  methods: {
    updateField() {
      if (
        this.totalFileds.length > 1 &&
        this.totalFileds.filter(
          (r) => r.field_name.trim() === this.element.field_name.trim()
        ).length > 1
      ) {
        this.$toast.global.my_error({
          message: 'Name field already exists'
        })
        this.$emit('disableButton', true)
      } else if (
        this.element.field_type === '' ||
        this.element.field_name.trim() === ''
      ) {
        this.$emit('disableButton', true)
      } else {
        this.element.field_name = this.element.field_name.trim()
        this.$emit('updateField', this.element, this.index)
      }
    },
    updateFieldElement() {
      this.element.field_name = this.$refs[
        `element__field__${this.index}`
      ].$refs.input.value
      this.updateField()
    }
  }
}
</script>
