<template>
  <div>
    <v-text-field
      v-if="type === 'text'"
      :ref="`text__meta${code}`"
      v-model="textMeta"
      dense=""
      height="40"
      placeholder="Enter value"
      outlined=""
      hide-details=""
      class="text__message"
      @keyup="updateChangeText"
      @change="updateChange"
    ></v-text-field>
    <v-text-field
      v-if="type === 'number'"
      v-model="number"
      dense=""
      height="40"
      placeholder="Enter value"
      outlined=""
      type="number"
      hide-details=""
      class="text__message"
      @change="updateChange"
    ></v-text-field>
    <div v-if="type === 'date_time'">
      <v-datetime-picker
        v-model="formattedDatetime"
        :text-field-props="textFieldProps"
        :time-picker-props="timePickerProps"
        date-format="dd/MM/yyyy"
        time-format="HH:mm"
        @input="updateChange"
      >
        <template slot="dateIcon">
          <v-icon>mdi-calendar</v-icon>
        </template>
        <template slot="timeIcon">
          <v-icon>mdi-clock</v-icon>
        </template>
        <template slot="actions" slot-scope="{ parent }">
          <v-btn
            color="error lighten-1"
            text=""
            @click.native="parent.clearHandler"
            >Hủy</v-btn
          >
          <v-btn color="success" text="" @click="parent.okHandler">Chọn</v-btn>
        </template></v-datetime-picker
      >
    </div>
    <div v-if="type === 'time'" class="d-flex justify-space-between">
      <v-dialog
        ref="dialog"
        v-model="modalTime"
        :return-value.sync="time"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="time"
            placeholder="Enter value"
            readonly
            outlined=""
            dense=""
            height="40"
            class="text__message"
            hide-details=""
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker v-if="modalTime" v-model="time" format="24hr">
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalTime = false">
            Cancel
          </v-btn>
          <v-btn text color="primary" @click="saveDateTime(time)">
            OK
          </v-btn>
        </v-time-picker>
      </v-dialog>
    </div>
    <div v-if="type === 'date'">
      <v-dialog
        ref="dialogDate"
        v-model="modalDate"
        :return-value.sync="date"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            slot="activator"
            v-model="computedDateFormattedMomentjs"
            class="text__message"
            readonly
            v-bind="attrs"
            outlined=""
            placeholder="Enter value"
            height="40"
            dense=""
            hide-details=""
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modalDate = false">
            Hủy
          </v-btn>
          <v-btn text color="primary" @click="saveDate(date)">
            Chọn
          </v-btn>
        </v-date-picker>
      </v-dialog>
    </div>
    <div v-if="type === 'single_choice'">
      <v-select
        v-model="payloadChoice"
        height="40"
        hide-details=""
        color="#FFBE07"
        dense=""
        :items="itemsChoice"
        outlined=""
        placeholder="Choice value"
        small-chips=""
        class="text__message"
        @change="updateChange"
      >
        <template v-slot:selection="{ item, index }">
          <v-chip v-if="index === 0" color="#FFBE07" small="" dark="">
            <span>{{ item }}</span>
          </v-chip>
          <span v-if="index === 1" class="grey--text caption">
            (+{{ payloadChoice.length - 1 }} others)
          </span>
        </template></v-select
      >
    </div>
    <div v-if="type === 'multiple_choice'">
      <v-select
        v-model="payloadChoices"
        height="40"
        hide-details=""
        :items="itemsChoice"
        outlined=""
        multiple=""
        placeholder="Choice value"
        dense=""
        class="text__message"
        small-chips=""
        @change="updateChange"
      >
        <template v-slot:selection="{ item, index }">
          <v-chip v-if="index === 0" color="#FFBE07" small="" dark="">
            <span>{{ item }}</span>
          </v-chip>
          <span v-if="index === 1" class="grey--text caption">
            (+{{ payloadChoices.length - 1 }} others)
          </span>
        </template>
      </v-select>
    </div>
  </div>
</template>
<script>
import { formatWithCommas } from '@/utils/constanst.js'
export default {
  props: {
    type: { type: String, default: '' },
    code: { type: String, default: '' },
    // eslint-disable-next-line vue/require-default-prop
    payload: [String, Array, Object, Number],
    // eslint-disable-next-line vue/require-default-prop
    value: [String, Array, Object, Number, Boolean],
    tmpSubmit: { type: Object, default: () => {} },
    action: { type: String, default: '' }
  },
  data() {
    return {
      formatWithCommas,
      modalTime: false,
      time: null,
      disableButtonSave: false,
      textMeta: null,
      modalDate: false,
      date: null,
      formattedDatetime: null,
      itemsChoice: [],
      number: 0,
      modal: false,
      hour: 0,
      minuties: 0,
      payloadChoice: null,
      payloadChoices: [],
      textFieldProps: {
        height: 40,
        dense: true,
        hideDetails: true,
        outlined: true,
        placeholder: 'Enter value'
      },
      timePickerProps: {
        format: '24hr'
      }
    }
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.formatDate(this.date)
    }
  },
  watch: {
    value(val) {
      if (val && val !== undefined) {
        this.init(val)
      } else {
        this.textMeta = null
        this.date = null
        this.formattedDatetime = null
        this.itemsChoice = []
        this.number = 0
        this.hour = 0
        this.minuties = 0
        this.payloadChoice = null
        this.payloadChoices = []
        this.init(undefined)
      }
    }
  },
  mounted() {
    this.init(this.value)
  },
  methods: {
    updateChangeText() {
      this.textMeta = this.$refs[`text__meta${this.code}`].$refs.input.value
      this.updateChange()
    },
    formatDate(date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    init(value) {
      if (this.type === 'multiple_choice' || this.type === 'single_choice') {
        this.itemsChoice = this.payload.sort()
      }
      if (value && value !== undefined) {
        if (this.type === 'text') {
          this.textMeta = value
        }
        if (this.type === 'number') {
          this.number = value ? value.replace(/,/gi, '') : null
        }
        if (this.type === 'date') {
          const [day, month, year] = value.split('/')
          this.date = `${year}-${month}-${day}`
        }
        if (this.type === 'date_time') {
          this.formattedDatetime = value
        }
        if (this.type === 'time') {
          this.time = value
        }
        if (this.type === 'single_choice') {
          this.payloadChoice = value
        }
        if (this.type === 'multiple_choice') {
          this.payloadChoices = value && value.length ? value : []
        }
      } else {
        this.textMeta = null
        this.date = null
        this.formattedDatetime = null
        this.number = 0
        this.hour = 0
        this.minuties = 0
        this.payloadChoice = null
        this.payloadChoices = []
      }
    },
    saveDateTime(date) {
      this.$refs.dialog.save(date)
      this.updateChange()
    },
    saveDate(date) {
      this.$refs.dialogDate.save(date)
      this.updateChange()
    },
    updateChange() {
      const data = {}
      let valueMeta = ''
      if (this.type === 'text') {
        valueMeta = this.textMeta.trim()
      }
      if (this.type === 'number') {
        valueMeta = this.number
          ? parseInt(this.number.replace(/,/gi, '').trim())
          : null
      }
      if (this.type === 'date') {
        valueMeta = this.computedDateFormattedMomentjs
      }
      if (this.type === 'date_time') {
        valueMeta = this.formattedDatetime
          ? this.$moment(this.formattedDatetime).format('DD/MM/yyyy') +
            ' ' +
            this.$moment(this.formattedDatetime).format('HH:mm')
          : null
      }
      if (this.type === 'time') {
        valueMeta = this.time
      }
      if (this.type === 'single_choice') {
        valueMeta = this.payloadChoice
      }
      if (this.type === 'multiple_choice') {
        valueMeta =
          this.payloadChoices && this.payloadChoices.length
            ? this.payloadChoices
            : []
      }
      data[this.code] = valueMeta
      this.$emit('updateChange', data)
      if (
        !this.tmpSubmit.ten ||
        (this.tmpSubmit.ten && this.tmpSubmit.ten.trim() === '')
      ) {
        this.$emit('disableSubmitRecordChange', true)
      } else {
        this.$emit('disableSubmitRecordChange', false)
      }
    },
    reset() {
      this.textMeta = null
      this.date = null
      this.formattedDatetime = null
      this.number = 0
      this.hour = 0
      this.minuties = 0
      this.payloadChoice = null
      this.payloadChoices = []
    }
  }
}
</script>
<style lang="scss">
.text__message {
  background: #ffffff;
}
th {
  white-space: nowrap;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
