<template>
  <v-dialog v-model="show" scrollable max-width="56vw" persistent>
    <v-card>
      <v-card-title
        >Edit replies ask for
        <span class="name__action__config">{{ name }}</span> Action
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 70vh;">
        <ActionGroup
          :skillid="skillid"
          :groupid="groupid"
          :group-type="groupType"
          @close="$emit('close')"
        />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="blue darken-1" text @click="$emit('close')">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ActionGroup from '~/components/ActionGroup.vue'
export default {
  name: 'ActionDialog',
  components: {
    ActionGroup
  },
  props: {
    show: { type: Boolean, default: false },
    groupType: { type: String, default: 'skill' },
    skillid: { type: String, default: '' },
    groupid: { type: String, default: '' },
    name: { type: String, default: '' }
  }
}
</script>

<style lang="scss" scoped>
.name__action__config {
  color: #ffbe07;
}
</style>
