<template>
  <div style="width:100%">
    <v-radio-group
      v-model="model.data_chosen"
      dense
      hide-details
      class="pa-0 ma-0"
      row
      @change="changeField"
    >
      <v-radio label="Append" value="append"></v-radio>
      <v-radio label="Replace" value="replace"></v-radio>
    </v-radio-group>
    <div
      class="d-flex align-center justify-space-between mt-2 mb-3"
      style="width: 100%;"
    >
      <div style="width: 46%;">
        <v-select
          v-model="model.key"
          placeholder="Field Name"
          hide-details=""
          dense=""
          height="40"
          class="input__message"
          outlined=""
          :items="itemsTest"
          :rules="fieldSelectRule"
          @change="changeField"
        >
          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index === 0" color="#48B911" small="" dark="">
              <span v-html="`{{ ${item} }}`"></span>
            </v-chip> </template
        ></v-select>
      </div>
      <div style="width: 46%;">
        <v-text-field
          v-model="model.value"
          placeholder="{}"
          dense=""
          outlined=""
          class="input__message"
          height="40"
          hide-details=""
          @change="changeField"
        />
      </div>
      <IconButton
        icon="mdi-delete"
        tooltips="Delete"
        color-hover="red"
        :use-svg="true"
        name-svg="Close"
        @click="removeField(index)"
      />
    </div>
  </div>
</template>

<script>
import IconButton from '~/components/IconButton.vue'

export default {
  name: 'AddField',
  components: {
    IconButton
  },
  props: {
    index: { type: Number, default: 0 },
    itemsTest: { type: Array, default: () => [] },
    model: { type: Object, default: () => {} },
    editingIndex: { type: Number, default: -1 }
  },
  data() {
    return {
      dialog: false,
      json: '',
      formHasErrors: false,
      fieldSelectRule: [(v) => !!v || 'The input is required'],
      dataValueModel: ''
    }
  },
  methods: {
    changeField() {
      if (this.model.key && this.model.value && this.model.data_chosen) {
        const valueSet = {
          key: this.model.key,
          value: this.model.value,
          data_chosen: this.model.data_chosen
        }
        this.$emit('updateField', valueSet, this.index)
      }
    },
    save() {
      this.model.value = JSON.stringify(this.json)
      this.dialog = false
    },
    showJsonEditor() {
      this.dialog = true
      this.json = this.model.value === '' ? '' : JSON.parse(this.model.value)
    },
    removeField(index) {
      this.$emit('removeField', index)
    }
  }
}
</script>
