<template>
  <div class="d-flex align-center">
    <div class="add__filter__wrap">
      <div style="width:40%">
        <v-text-field
          v-model="data.name"
          :disabled="editingIndex !== 0"
          dense=""
          class="pr-2"
          hide-details=""
          height="40"
          placeholder="Detected Intent"
        >
        </v-text-field>
      </div>
      <div style="width:20%">
        <v-select
          v-model="data.op"
          placeholder="Op"
          :disabled="editingIndex !== 0"
          :items="operation"
          class="pr-2"
          height="40"
          dense=""
          hide-details=""
        ></v-select>
      </div>
      <div style="width:40%">
        <v-combobox
          v-if="data.op === 'in'"
          v-model="data.val"
          :items="dataValue"
          dense=""
          class="pr-2"
          hide-details=""
          height="40"
          :disabled="editingIndex !== 0"
          placeholder="Value"
          :search-input.sync="search"
          hide-selected
          multiple
          persistent-hint
          small-chips
        >
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>
                  No results matching "<strong>{{ search }}</strong
                  >". Press <kbd>enter</kbd> to create a new one
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index === 0">
              <span>{{ item }}</span>
            </v-chip>
            <span v-if="index === 1" class="grey--text caption">
              (+{{ data.val.length - 1 }} others)
            </span>
          </template></v-combobox
        >
        <v-select
          v-else
          v-model="data.val"
          :items="dataValue"
          :disabled="editingIndex !== 0"
          label="Value"
          hide-selected
          filled=""
          class="pa-2"
          persistent-hint
          small-chips
        >
          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index === 0">
              <span>{{ item }}</span>
            </v-chip>
            <span v-if="index === 1" class="grey--text caption">
              (+{{ data.val.length - 1 }} others)
            </span>
          </template>
        </v-select>
      </div>
    </div>
    <div class="d-flex pl-4" style="width:25%">
      <v-btn
        v-if="editingIndex === 0"
        small
        color="#FFCF49"
        class="mr-2"
        depressed=""
        @click="saveCondition"
        >Save</v-btn
      >
      <v-btn
        v-if="editingIndex === 0"
        small
        depressed=""
        outlined=""
        @click="removeConditionChild(index)"
        >Cancel</v-btn
      >
      <IconButton
        v-if="editingIndex !== 0"
        tooltips="Edit"
        color-hover="red"
        :use-svg="true"
        name-svg="EditCustomer"
        @click="edit()"
      />
      <IconButton
        v-if="editingIndex !== 0"
        tooltips="Delete"
        color-hover="red"
        :use-svg="true"
        name-svg="Delete"
        :disabled="editingIndex === -1 ? true : false"
        @click="removeConditionChild(index)"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IconButton from '~/components/IconButton.vue'

export default {
  name: 'AddField',
  components: {
    IconButton
  },
  props: {
    index: { type: Number, default: -1 },
    item: { type: Object, default: () => {} }
  },
  computed: {
    ...mapGetters(['skills']),
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = []
      this.getAllSlotName.forEach((item, index) => {
        opts.push(`{{${item}}}`)
      })
      return opts
    }
  },
  data() {
    return {
      dialog: false,
      editingIndex: 0,
      search: null,
      data: {
        op: 'in',
        name: '',
        val: ''
      },
      operation: [
        'eq',
        'like',
        'leq',
        'lt',
        'gt',
        'neq',
        'search',
        'in',
        'not_in',
        'geq',
        'is_null',
        'is_not_null',
        'start_with',
        'end_with',
        'is_empty',
        'is_not_empty'
      ],
      formHasErrors: false,
      dataValue: [],
      fieldSelectRule: [(v) => !!v || 'The input is required']
    }
  },
  watch: {
    item(val) {
      if (Object.keys(val).length !== 0) {
        this.data = val
        if (Array.isArray(this.data.val)) {
          this.data = val
          this.dataValue = [...this.contentIDOpts, ...this.data.val]
        } else {
          this.dataValue = [...this.contentIDOpts, ...[this.data.val]]
        }
        this.editingIndex = -1
      } else {
        this.editingIndex = 0
      }
    }
  },
  created() {
    this.dataValue = this.contentIDOpts
    if (Object.keys(this.item).length !== 0) {
      this.data = this.item
      if (Array.isArray(this.data.val)) {
        this.data = this.item
        this.dataValue = [...this.contentIDOpts, ...this.data.val]
      } else {
        this.dataValue = [...this.contentIDOpts, ...[this.data.val]]
      }
      this.editingIndex = -1
    } else {
      this.editingIndex = 0
    }
  },
  methods: {
    edit() {
      this.editingIndex = 0
    },
    changeField() {
      const valueSet = {
        key: this.model.key,
        value: this.model.value
      }
      this.$emit('updateField', valueSet, this.index)
    },
    saveCondition() {
      this.$emit('saveFilter', this.data, this.index)
      this.editingIndex = -1
    },
    removeConditionChild(index) {
      this.$emit('removeConditionChild', index)
    },
    showJsonEditor() {
      this.dialog = true
      this.json = this.model.value === '' ? '' : JSON.parse(this.model.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.add__filter__wrap {
  background: #f5f5f5;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  display: flex;
  margin-bottom: 12px;
  width: 75%;
}
</style>
