<template>
  <v-hover v-slot:default="{ hover }" close-delay="50">
    <v-card
      :elevation="disabled || loading ? 0 : hover ? 4 : 2"
      :outlined="disabled || loading"
      class="mb-2"
      color="#F5F5F5"
      flat
      @click="goDetail"
    >
      <v-skeleton-loader v-if="loading" type="image" class="mx-auto" />
      <div v-else class="d-flex align-center justify-start pa-6">
        <v-row class="bot-info" no-gutters>
          <v-col cols="4" md="4" sm="12">
            <div class="d-flex flex-column">
              <h5 v-if="!bot.is_edit" class="font-weight-bold">
                {{ bot.name }}
              </h5>
              <v-text-field
                v-else
                v-model="bot.name"
                dense
                hide-details=""
                outlined
                autofocus=""
                class="pr-6"
                @change="updateNameBot(bot.id)"
              ></v-text-field>
              <span>{{ bot.desc }}</span>
              <span class="font-weight-light">
                {{ '5 Intents |   12 Entities' }}
              </span>
            </div>
          </v-col>
          <v-col cols="2" md="2" sm="12">
            <div class="d-flex flex-column">
              <h6 class="font-weight-bold">Intents</h6>
              <span class="font-weight-light">{{ bot.intents }}</span>
            </div>
          </v-col>
          <v-col cols="2" md="2" sm="12">
            <div class="d-flex flex-column">
              <h6 class="font-weight-bold">Entities</h6>
              <span class="font-weight-light">{{ bot.entities }}</span>
            </div>
          </v-col>
          <v-col cols="4" md="4" sm="12">
            <div class="d-flex flex-column">
              <h6 class="font-weight-bold">Channels</h6>
              <span class="font-weight-light">{{ bot.channels }}</span>
            </div>
          </v-col>
        </v-row>
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <div class="d-flex align-center" v-bind="attrs" v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </div>
          </template>
          <v-list dense="">
            <v-list-item
              v-for="(item, index) in items"
              :key="index"
              style="cursor:pointer;"
            >
              <v-list-item-title @click="actionBot(item.type, bot)">
                <v-icon left="">{{ item.icon }}</v-icon>
                {{ item.title }}
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <Dialog v-model="openDelete">
        <p>
          Bạn có chắc chắn xóa bot
          <span v-if="botDetail.name" class="font-weight-bold">
            {{ botDetail.name }}?
          </span>
        </p>
        <v-btn
          color="error"
          height="40"
          :loading="deleting"
          block
          depressed
          @click="deleteBot"
          >Đồng ý xóa</v-btn
        >
      </Dialog>
    </v-card>
  </v-hover>
</template>

<script>
import Dialog from '@/components/Dialog'
export default {
  name: 'BotCard',
  components: {
    Dialog
  },
  props: {
    loading: { type: Boolean, default: false },
    bot: { type: Object, default: undefined }
  },
  data() {
    return {
      openDelete: false,
      deleting: false,
      botDetail: {},
      items: [
        {
          title: 'Chỉnh sửa',
          icon: 'mdi-pencil',
          type: 'edit'
        },
        {
          title: 'Xóa',
          icon: 'mdi-trash-can-outline',
          type: 'remove'
        }
      ]
    }
  },
  computed: {
    disabled() {
      return this.bot ? !this.bot.enabled : false
    }
  },
  methods: {
    deleteBot() {
      this.deleting = true
      this.$store
        .dispatch('bots/deleteBot', this.botDetail)
        .then((response) => {
          this.botDetail = null
          this.deleting = false
        })
        .catch((message) => {
          this.deleting = false
          this.$store.commit('bots/UPDATED_BOT', this.botDetail)
        })
    },
    actionBot(type, bot) {
      if (type === 'edit') {
        this.$emit('showUpdateBot', bot.id)
      } else {
        this.botDetail = bot
        this.openDelete = true
      }
    },
    updateNameBot(id) {
      this.$emit('updateBot', id)
    },
    goDetail() {
      if (!this.loading) {
        this.$store.dispatch('bots/setCurrentBot', this.bot)
        this.$router.push({
          path: `/bot/${this.bot.id}/intents`
        })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.bot-info {
  flex: 1;
}
</style>
