<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M33.75 10.1563H28.4375L27.1719 6.60938C27.0844 6.36667 26.9242 6.15688 26.7131 6.00866C26.5019 5.86044 26.2502 5.78102 25.9922 5.78125H14.0078C13.4805 5.78125 13.0078 6.11328 12.832 6.60938L11.5625 10.1563H6.25C4.52344 10.1563 3.125 11.5547 3.125 13.2813V31.0938C3.125 32.8203 4.52344 34.2188 6.25 34.2188H33.75C35.4766 34.2188 36.875 32.8203 36.875 31.0938V13.2813C36.875 11.5547 35.4766 10.1563 33.75 10.1563ZM20 27.9688C16.5469 27.9688 13.75 25.1719 13.75 21.7188C13.75 18.2656 16.5469 15.4688 20 15.4688C23.4531 15.4688 26.25 18.2656 26.25 21.7188C26.25 25.1719 23.4531 27.9688 20 27.9688ZM16.25 21.7188C16.25 22.7133 16.6451 23.6671 17.3483 24.3704C18.0516 25.0737 19.0054 25.4688 20 25.4688C20.9946 25.4688 21.9484 25.0737 22.6517 24.3704C23.3549 23.6671 23.75 22.7133 23.75 21.7188C23.75 20.7242 23.3549 19.7704 22.6517 19.0671C21.9484 18.3638 20.9946 17.9688 20 17.9688C19.0054 17.9688 18.0516 18.3638 17.3483 19.0671C16.6451 19.7704 16.25 20.7242 16.25 21.7188Z"
      fill="#BFBFBF"
    />
  </svg>
</template>
