<template>
  <div>
    <canvas id="chart" width="800" height="400"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js'
export default {
  mounted() {
    const ctx = document.getElementById('chart').getContext('2d')

    // /** * Gradient ***/
    const gradient = ctx.createLinearGradient(255, 580, 255, 0)
    gradient.addColorStop(0, 'rgba(240,200,50,0)')
    gradient.addColorStop(1, 'rgba(240,200,50,1)')
    /***************/

    const data = {
      labels: [
        '02:00',
        '04:00',
        '06:00',
        '08:00',
        '10:00',
        '12:00',
        '14:00',
        '16:00',
        '18:00',
        '20:00',
        '22:00',
        '00:00'
      ],
      datasets: [
        {
          backgroundColor: gradient, // Put the gradient here as a fill color
          borderColor: '#FFBE07',
          pointBackgroundColor: '#fff',
          pointBorderColor: '#FFBE07',
          pointHighlightFill: '#fff',
          pointHighlightStroke: '#FFBE07',
          data: [
            25.0,
            32.4,
            22.2,
            39.4,
            34.2,
            22.0,
            23.2,
            24.1,
            20.0,
            18.4,
            19.1,
            17.4
          ]
        }
      ]
    }

    const options = {
      responsive: true,
      datasetStrokeWidth: 3,
      tooltipFillColor: 'rgba(0,0,0,0.8)',
      tooltipFontStyle: 'bold',
      legend: {
        display: false
      }
    }

    const myLineChart = new Chart(ctx, {
      type: 'line',
      data,
      options
    })
    console.log(myLineChart)
  }
}
</script>
