<template>
  <fusioncharts
    ref="chart"
    :type="type"
    :width="width"
    :height="height"
    :render-at="renderAt"
    data-format="json"
    :data-source="dataSource"
    data-empty-message="Không có dữ liệu"
  ></fusioncharts>
</template>
<script>
export default {
  props: {
    type: { type: String, default: '' },
    width: { type: String, default: '' },
    height: { type: String, default: '' },
    dataSource: { type: Object, default: () => {} },
    renderAt: { type: String, default: '' }
  },
  created() {
    this.$on('setData', (data) => {
      this.$refs.chart.chartObj.setJSONData(data)
      console.log(data)
    })
  }
}
</script>
