<template>
  <div class="wrap__parent">
    <div
      class="child__copy"
      data-clipboard-target="#prism__editor"
      @click="copyClipBoard"
    >
      <img
        :src="clipboard"
        height="30"
        width="30"
        alt=""
        srcset=""
        @click="show = true"
      />
      <v-tooltip v-model="show" top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon color="grey lighten-1" style="display:none">
              mdi-cart
            </v-icon>
          </v-btn>
        </template>
        <span>Copied</span>
      </v-tooltip>
    </div>

    <prism-editor
      id="prism__editor"
      v-model="code"
      class="my-editor"
      :highlight="highlighter"
      line-numbers
    ></prism-editor>
  </div>
</template>

<script>
// import Prism Editor
import { PrismEditor } from 'vue-prism-editor'
import 'vue-prism-editor/dist/prismeditor.min.css' // import the styles somewhere

// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from 'prismjs/components/prism-core'
import 'prismjs/components/prism-clike'
import 'prismjs/components/prism-javascript'
import 'prismjs/themes/prism-tomorrow.css' // import syntax highlighting styles
import clipboard from '@/assets/svg/clipboard.svg'

export default {
  components: {
    PrismEditor
  },
  props: {
    nameWidget: { type: String, default: '' },
    welcomeMessage: { type: String, default: '' },
    headerColor: { type: String, default: '' },
    backgroundColor: { type: String, default: '' },
    angleText: { type: String, default: '' },
    angleBubble: { type: String, default: '' },
    userText: { type: String, default: '' },
    userBubble: { type: String, default: '' },
    previewCollage: { type: String, default: '' },
    previewUser: { type: String, default: '' }
  },
  data(vm) {
    return {
      clipboard,
      show: false,
      code: `
    (function () {
      const agent = {
        name: ${vm.nameWidget},
        id: '5f62e80ea8d9b9e6c7139bfa',
        cid: '5f9b82deaafe9d12ab8bac67',
        token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOjE2MDkyMTExMDEsImlhdCI6MTYwNDAyNzEwMSwiaXNzIjoiNWY5YjgyZGRlMmZmNmM3OWY2MjdjM2JiIiwicHVibGljX2lkIjoiNWY2MmU4MGVhOGQ5YjllNmM3MTM5YmZhIiwibmFtZSI6ImNoYXRib3QifQ.MjjEeuj7U-7RbFMwinZaZrWzkjGIpjBWG8Awat3QrJLrEPO0hARLJQJEFYFZUWd3QWlLUsYNQGSuWoXCkdOl0b4RP99KULDIv11PYIxcA2OSSMjAj4nSYeUbth7NbB2Qh8ZlaB4EWBYdnqaxhE1614XERpXbGWSOqhlTeDQADFo-pfYSwHHDMQGprtM4-dhx1_1jkOcik8uqNVh4RxYNGEMGO_iWf7_7osaKULHXuUdgTrB4S7eGIluLEf9fySi2EkX59UyrIl__9-Jn_nf6OBme6ED-aig6i7CPYJTi11gOVXWwUahpBwmQ57KxKzaZ0ufeDYgX63TSw3C28xwWlA'
      }
      const baseUrl = 'https://vinbase.bigdata.vin'
      const ws_host = 'wss://vinbase.bigdata.vin'
      const widgetConfig = {
        welcome_msg: ${vm.welcomeMessage},
        header_color: ${vm.headerColor},
        background_color: ${vm.backgroundColor},
        bot_text_color: ${vm.angleText},
        bot_bubble_color: ${vm.angleBubble},
        user_text_color: ${vm.userText},
        user_bubble_color: ${vm.userBubble},
        avatar: ${vm.previewUser},
        fb_icon: ${vm.previewCollage}
      }
      const r = document.createElement('script')
      r.src = baseUrl + '/livechat/main.min.js'
      var c = document.getElementsByTagName('body')[0]
      c.appendChild(r)
      r.onload = function () {
        AIPChatBox.init({
          agent,
          baseUrl,
          ws_host,
          widgetConfig
        })
      }
    })()`
    }
  },
  watch: {
    show(val) {
      if (val) {
        setTimeout(() => {
          this.show = false
        }, 700)
      }
    }
  },
  methods: {
    highlighter(code) {
      return highlight(code, languages.js) // returns html
    },
    copyClipBoard() {
      navigator.clipboard.writeText(this.code)
    }
  }
}
</script>

<style lang="scss" scoped>
.my-editor {
  background: #2d2d2d;
  color: #ccc;

  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}

.prism-editor__textarea:focus {
  outline: none;
}
.wrap__parent {
  position: relative;
}
.child__copy {
  position: absolute;
  right: 0px;
  top: 18px;
  cursor: pointer;
  z-index: 12;
}
</style>
