<template>
  <v-select
    v-model="value"
    outlined
    dense
    :items="conditionFilter"
    item-text="name"
    item-value="key"
    hide-details
    @change="changeCondition"
  ></v-select>
</template>
<script>
import { conditionFilter } from '@/utils/constanst.js'
export default {
  props: {
    item: { type: Object, default: () => {} },
    type: { type: String, default: '' }
  },
  data() {
    return {
      value: '',
      conditionFilter
    }
  },
  watch: {
    item(val) {
      if (val !== this.value) {
        this.value = val
      }
    }
  },
  created() {
    this.value = this.item
  },
  methods: {
    changeCondition() {
      const filter = this.conditionFilter.filter((r) => r.key === this.value)
      this.$emit('changeCondition', this.type, filter[0])
    }
  }
}
</script>
