<template>
  <v-list class="list__content" three-line dense>
    <template v-for="(item, index) in facebookChannels">
      <v-list-item :key="index" class="item__detail">
        <v-list-item-avatar>
          <v-img :src="item.avatar ? item.avatar : ''"></v-img>
        </v-list-item-avatar>

        <v-list-item-content
          style="border-bottom: 1px solid #E8E8E8;
                         border-radius: unset;"
        >
          <div class="d-flex justify-space-between align-center">
            <div class="content__detail">{{ item.name }}</div>
            <v-btn
              v-if="item.connected"
              depressed
              outlined
              :loading="connecting"
              height="32"
              ><div
                class="disconnect"
                @click.stop.prevent="connectFBChannel(item)"
              >
                Ngắt kết nối
              </div></v-btn
            >
            <v-btn
              v-else
              depressed
              :loading="connectingChannel"
              outlined
              height="32"
              ><div
                class="disconnect"
                @click.stop.prevent="connectFBChannel(item)"
              >
                Kết nối page
              </div></v-btn
            >
          </div>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-list>
</template>

<script>
export default {
  props: {
    facebookChannels: { type: Array, default: () => [] },
    connecting: { type: Boolean, default: false },
    connectingChannel: { type: Boolean, default: false }
  },
  methods: {
    connectFBChannel(item) {
      this.$emit('connectFBChannel', item)
    }
  }
}
</script>
