<template>
  <v-dialog v-model="show" max-width="600" @click:outside="cancel">
    <v-card>
      <v-card-title class="font-weight-black">
        Create new Bot
      </v-card-title>
      <v-divider />
      <v-stepper v-model="step" style="box-shadow: none;">
        <v-stepper-header style="box-shadow: none;">
          <v-stepper-step
            :complete="step > 1"
            step="1"
            editable
            color="#FFBE07"
          >
            Name your bot
          </v-stepper-step>
          <v-divider />
          <v-stepper-step step="2" color="#FFBE07">
            Select Template
          </v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1" class="pt-0 mb-5">
            <v-form
              ref="form"
              v-model="valid"
              @keyup.native.enter="valid && nextStep()"
            >
              <v-text-field
                v-model="name"
                placeholder="Bot Name"
                required
                outlined
                dense=""
                height="40"
                :rules="nameRule"
              />
              <v-text-field
                v-model="desc"
                placeholder=" Bot Descrition"
                outlined
                dense=""
                hide-details=""
                height="40"
                class="mb-5"
              />
              <div class="d-flex justify-end">
                <v-btn
                  class="mr-2"
                  depressed
                  color="#FFBE07"
                  :disabled="!valid"
                  @click="step = 2"
                >
                  Continue
                </v-btn>
                <v-btn color="error" @click="cancel">Cancel</v-btn>
              </div>
            </v-form>
          </v-stepper-content>
          <v-stepper-content step="2" class="pt-0">
            <v-slide-group
              v-model="templateID"
              class="pa-0 mb-5"
              mandatory
              show-arrows
              center-active
            >
              <v-slide-item
                v-for="n in 15"
                :key="n"
                v-slot:default="{ active, toggle }"
              >
                <v-card
                  :color="active ? 'primary' : 'grey lighten-1'"
                  class="ma-4"
                  height="200"
                  width="100"
                  @click="selectTemplate(active, toggle, n)"
                >
                  <v-row class="fill-height" align="center" justify="center">
                    <v-scale-transition>
                      <v-icon
                        v-if="active"
                        color="white"
                        size="48"
                        v-text="'mdi-close-circle-outline'"
                      ></v-icon>
                    </v-scale-transition>
                  </v-row>
                </v-card>
              </v-slide-item>
            </v-slide-group>
            <div class="d-flex justify-end">
              <v-btn
                class="mr-2"
                depressed
                color="#FFBE07"
                :disabled="!valid"
                @click="submit"
              >
                Create Bot
              </v-btn>
              <v-btn color="error" @click="cancel">Cancel</v-btn>
            </div>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'CreateBot',
  props: {
    show: { type: Boolean, default: false }
  },
  data() {
    return {
      step: 1,
      valid: false,
      name: '',
      nameRule: [(v) => !!v || 'Please enter a name for your bot'],
      desc: '',
      templateID: 0
    }
  },
  watch: {},
  methods: {
    nextStep() {
      this.step = 2
    },
    selectTemplate(active, toggle, templateID) {
      toggle()
      this.templateID = templateID
    },
    submit() {
      this.$emit('accept', {
        name: this.name.trim(),
        description: this.desc,
        template_id: this.templateID
      })
      this.resetForm()
    },
    cancel() {
      this.$emit('cancel')
      this.resetForm()
    },
    resetForm() {
      if (this.$refs && this.$refs.form) {
        this.$refs.form.reset()
        this.$refs.form.resetValidation()
        this.step = 1
      }
    }
  }
}
</script>
