<template>
  <div>
    <v-text-field
      v-model="data"
      placeholder="Expected Responses"
      append-outer-icon="mdi-plus"
      outlined=""
      height="40"
      dense=""
      hide-details=""
      @input="updateData"
    >
      <template v-slot:append-outer>
        <v-icon @click.stop.prevent="addInput">mdi-plus</v-icon>
      </template>
    </v-text-field>
  </div>
</template>
<script>
export default {
  props: {
    dataExpected: { type: String, default: '' },
    index: { type: Number, default: -1 }
  },
  data() {
    return {
      data: ''
    }
  },
  watch: {
    dataExpected(val) {
      this.data = val
    }
  },
  created() {
    this.data = this.dataExpected
  },
  methods: {
    addInput() {
      this.$emit('addInput')
    },
    updateData() {
      this.$emit('submitInput', this.index, this.data)
    }
  }
}
</script>
