<template>
  <div>
    <date-range-picker
      ref="date_timerange"
      v-model="dateRange"
      :opens="open"
      class="date-timerange"
    >
      <template #ranges="ranges">
        <div class="ranges">
          <v-list dense>
            <v-list-item-group v-model="item" color="primary">
              <v-list-item
                v-for="(range, name) in ranges.ranges"
                :key="name"
                active-class="activeTime"
                @click="ranges.clickRange(range)"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="name"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </div>
      </template>
      <div slot="footer" slot-scope="data" class="slot">
        <div v-if="!data.in_selection" style="margin-left: auto">
          <v-btn text small class="mr-2" @click="data.clickCancel"
            >Cancel</v-btn
          >
          <v-btn text small @click="data.clickApply">Apply</v-btn>
        </div>
      </div>
    </date-range-picker>
  </div>
</template>
<script>
export default {
  props: {
    open: { type: String, default: 'left' }
  },
  data() {
    const startDate = new Date()
    const endDate = new Date()
    endDate.setDate(endDate.getDate() + 6)
    return {
      dateRange: {
        startDate,
        endDate
      },
      item: 0
    }
  }
}
</script>

<style lang="scss">
.inline {
  .daterangepicker {
    margin-top: 15px !important;
  }
}
.date-timerange {
  height: 32px;
  .slot {
    background: #ffffff;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    height: 40px;
  }
  .dropdown-menu {
    margin-top: -44px;
  }
  .reportrange-text {
    background: none;
    position: relative;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 18px;
    font-size: 12px;
    width: 180px;
    color: #595959;
    &::after {
      color: #8c8c8c;
      position: absolute;
      padding-left: 5px;
      content: url('https://api.iconify.design/mdi:chevron-down.svg?height=16');
      display: inline-block;
    }
  }
  .calendars {
    ul > li {
      color: #8c8c8c;
      font-size: 12px;
    }
    .active {
      background: none;
      font-weight: 500;
      color: #000000;
    }
    .calendar-table {
      .in-range {
        background: #fff4d3;
      }
      .active {
        background: #ffbe07;
        color: #262626;
      }
    }
  }
}
.activeTime {
  .v-list-item__title {
    color: #000;
  }
}
</style>
