<template>
  <Dialog
    v-model="openDeleteIntent"
    padding-y="30px"
    padding-x="30px"
    width="400"
  >
    <p class="title__delete">{{ name }}</p>
    <div class="sub__delete">{{ subtitle }}</div>
    <div class="d-flex mt-6">
      <v-btn
        color="#D13138"
        depressed=""
        :loading="loadingDelete"
        class="text-capitalize mr-2"
        dark=""
        style="width:48%"
        @click="acceptDelete"
        >{{ action }}</v-btn
      >
      <v-btn
        color="#FFBE07"
        class="text-capitalize"
        outlined=""
        style="width:48%"
        depressed=""
        @click="cancel"
        >Cancel</v-btn
      >
    </div>
  </Dialog>
</template>
<script>
import Dialog from '~/components/Dialog'
export default {
  components: {
    Dialog
  },
  props: {
    name: { type: String, default: 'Delete intent' },
    subtitle: {
      type: String,
      default: 'Are you sure you want to delete this ?'
    },
    action: {
      type: String,
      default: 'Delete Intent'
    },
    openDeleteIntent: {
      type: Boolean,
      default: false
    },
    loadingDelete: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    cancel() {
      this.$emit('cancelDelete')
    },
    acceptDelete() {
      this.$emit('acceptDelete')
    }
  }
}
</script>
