<template>
  <v-dialog
    v-model="visible"
    :max-width="maxWidth"
    :width="width"
    :persistent="disableOutSide"
  >
    <v-card
      :class="{ 'dialog-card mx-auto': true, 'border-none': !border }"
      outlined
      :style="{ padding: `${paddingY} ${paddingX}`, overflow: 'hidden' }"
    >
      <div v-if="!disableOutSide" class="close-btn" @click="close()">
        <img src="~/assets/icons/close.svg" width="24px" height="24px" />
      </div>
      <slot></slot>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    disableOutSide: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: null
    },
    maxWidth: {
      type: String,
      default: '540px'
    },
    paddingX: {
      type: String,
      default() {
        return '72px'
      }
    },
    paddingY: {
      type: String,
      default() {
        return '56px'
      }
    },
    border: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      visible: this.value
    }
  },
  watch: {
    visible(value) {
      this.$emit('input', value)
      if (!value) {
        this.$emit('closed')
      }
    },
    value(value) {
      this.visible = value
    }
  },
  methods: {
    close() {
      this.visible = false
    }
  }
}
</script>
<style lang="scss" scoped>
.dialog-card {
  padding: 56px 72px;

  .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 2;
  }
}
.border-none {
  border: none !important;
}
</style>
