<template>
  <div class="d-flex align-center px-0 pb-2">
    <!-- <div class="d-flex flex-column align-end"> -->
    <span class="pa-2 mr-2" style="background-color: #FCEAA9;">
      {{ editingTag && editingTag.content }}
    </span>
    <!-- </div> -->
    <v-combobox
      class="entity-select"
      :filter="filter"
      :search-input.sync="search"
      :items="entities"
      autofocus
      outlined=""
      height="40"
      dense=""
      autocomplete="off"
      placeholder="Type to search an entity ..."
      small-chips
      hide-details
      return-object
      @change="handleEditTag"
    >
      <template v-slot:no-data>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              No entity matching "
              <strong style="color: green">@{{ search }}</strong>
              ". Press <kbd>enter</kbd> to create a new one.
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-slot:item="{ item }">
        <div class="d-flex align-center">
          <EntitySpan :entity="item" />
        </div>
      </template>
    </v-combobox>
    <v-btn
      depressed
      color="error"
      class="ml-2 text-capitalize"
      height="40"
      outlined=""
      @click="$emit('cancel')"
    >
      <v-icon small left>mdi-close-circle-outline</v-icon>
      Cancel
    </v-btn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EntitySpan from '~/components/EntitySpan.vue'

export default {
  name: 'EditTag',
  components: {
    EntitySpan
  },
  props: {
    editingTag: { type: Object, default: undefined }
  },
  data() {
    return {
      search: ''
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'entities'])
  },
  methods: {
    filter(item, queryText) {
      // console.log('filter', item, queryText, itemText)
      const hasValue = (val) => (val != null ? val : '')

      const text = hasValue(item.name)
        .toString()
        .toLowerCase()
      const query = hasValue(queryText)
        .toString()
        .toLowerCase()
      return text.startsWith(query)
    },
    handleEditTag(e) {
      if (e !== null) {
        const valueType = typeof e
        if (valueType === 'string') {
          this.$store
            .dispatch('bots/createEntity', {
              botID: this.currentBot.id,
              newEntity: {
                name: e.trim(),
                description: ''
              }
            })
            .then((newEntity) => {
              this.$emit('submittag', {
                ...this.editingTag,
                entity: newEntity.id
              })
            })
            .catch(() =>
              this.$emit('failed', Object.assign({}, this.editingTag))
            )
        } else {
          this.$emit('submittag', {
            ...this.editingTag,
            entity: e.id
          })
        }
      }
    }
  }
}
</script>
