<template>
  <span class="caption pa-1 entity" :style="cssProps">
    {{ entity ? `@${entity.name}` : '@Undefined' }}
  </span>
</template>

<script>
import stc from 'string-to-color'

export default {
  name: 'EntitySpan',
  props: {
    entity: { type: Object, default: undefined }
  },
  computed: {
    cssProps() {
      return {
        '--bg-color': stc(this.entity.name),
        '--text-color': 'white'
      }
    }
  }
}
</script>
<style lang="postcss" scoped>
.entity {
  background-color: var(--bg-color);
  color: var(--text-color);
}
</style>
