<template>
  <v-dialog v-model="showFilterCustomer" width="600" @click:outside="cancel">
    <v-card class="filter__customer">
      <div class="title__filter mb-4">
        <img :src="Filter" alt="" srcset="" class="mr-2" />Lọc dữ liệu khách
        hàng
      </div>
      <div class="filter__container">
        <v-tabs v-model="tab" color="#FFBE07" :slider-size="1">
          <v-tabs-slider></v-tabs-slider>
          <v-tab href="#tab-1">
            Lọc cơ bản
          </v-tab>
          <!-- <v-tab href="#tab-2" class="filter__advanced"> Lọc nâng cao </v-tab> -->
        </v-tabs>
        <v-divider class="filter__header"></v-divider>
        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-1">
            <v-form ref="form" v-model="valid">
              <div
                v-if="filterBasic.some((r) => r.type === 'name')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('name')"
                    >mdi-close</v-icon
                  >Tên khách hàng
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'name')[0]
                          .condition
                      "
                      type="name"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="name"
                    :item="filterBasic.filter((r) => r.type === 'name')[0].name"
                    :disabled="
                      filterBasic.filter((r) => r.type === 'name')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'name')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter((r) => r.type === 'name')[0]
                            .condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'phone_number')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('phone_number')"
                    >mdi-close</v-icon
                  >Số điện thoại
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'phone_number')[0]
                          .condition
                      "
                      type="phone_number"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="phone_number"
                    :item="
                      filterBasic.filter((r) => r.type === 'phone_number')[0]
                        .phone_number
                    "
                    :disabled="
                      filterBasic.filter((r) => r.type === 'phone_number')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'phone_number')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter(
                            (r) => r.type === 'phone_number'
                          )[0].condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'email')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('email')"
                    >mdi-close</v-icon
                  >Email
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'email')[0]
                          .condition
                      "
                      type="email"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="email"
                    :item="
                      filterBasic.filter((r) => r.type === 'email')[0].email
                    "
                    :disabled="
                      filterBasic.filter((r) => r.type === 'email')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'email')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter((r) => r.type === 'email')[0]
                            .condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'gender')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('gender')"
                    >mdi-close</v-icon
                  >Giới tính
                </div>
                <div class="content__filter__item">
                  <v-checkbox
                    v-model="male"
                    label="Nam"
                    @change="choosen('male', 'Nam')"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="female"
                    label="Nữ"
                    @change="choosen('female', 'Nữ')"
                  ></v-checkbox>
                  <v-checkbox
                    v-model="other"
                    label="Giới tính khác"
                    @change="choosen('other', 'Giới tính khác')"
                  ></v-checkbox>
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'job_title')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('job_title')"
                    >mdi-close</v-icon
                  >Công việc
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'job_title')[0]
                          .condition
                      "
                      type="job_title"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="job_title"
                    :item="
                      filterBasic.filter((r) => r.type === 'job_title')[0]
                        .job_title
                    "
                    :disabled="
                      filterBasic.filter((r) => r.type === 'job_title')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'job_title')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter((r) => r.type === 'job_title')[0]
                            .condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'uid')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('uid')"
                    >mdi-close</v-icon
                  >UID
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'uid')[0].condition
                      "
                      type="uid"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="uid"
                    :item="filterBasic.filter((r) => r.type === 'uid')[0].id"
                    :disabled="
                      filterBasic.filter((r) => r.type === 'uid')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'uid')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter((r) => r.type === 'uid')[0]
                            .condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'date_of_birth')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('date_of_birth')"
                    >mdi-close</v-icon
                  >Ngày sinh
                </div>
                <div class="content__filter__item">
                  <v-dialog
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="computedDateFormatted"
                        v-bind="attrs"
                        dense
                        outlined
                        autocomplete="off"
                        hide-details
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="startDate"
                      :max="nowDate"
                      no-title
                      @input="choosenDate"
                    ></v-date-picker>
                  </v-dialog>
                  <div class="spacer"></div>
                  <v-dialog
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="computedDateFormattedEndDate"
                        v-bind="attrs"
                        dense
                        autocomplete="off"
                        outlined
                        hide-details
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="endDate"
                      :max="nowDate"
                      no-title
                      @input="choosenDate"
                    ></v-date-picker>
                  </v-dialog>
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'address')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('address')"
                    >mdi-close</v-icon
                  >Địa chỉ
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter((r) => r.type === 'address')[0]
                          .condition
                      "
                      type="address"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="address"
                    :item="
                      filterBasic.filter((r) => r.type === 'address')[0].address
                    "
                    :disabled="
                      filterBasic.filter((r) => r.type === 'address')[0]
                        .condition &&
                        (filterBasic.filter((r) => r.type === 'address')[0]
                          .condition.key === 'is_empty' ||
                          filterBasic.filter((r) => r.type === 'address')[0]
                            .condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'city')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('city')"
                    >mdi-close</v-icon
                  >Tỉnh/Thành phố
                </div>
                <div class="content__filter__item">
                  <SelectFilter
                    type="city"
                    :items="cityList"
                    :item-selects="
                      filterBasic.filter((r) => r.type === 'city')[0].city.key
                    "
                    @submitFilter="submitFilter"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'relationship')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('relationship')"
                    >mdi-close</v-icon
                  >Tình trạng mối quan hệ
                </div>
                <div class="content__filter__item">
                  <SelectFilter
                    type="relationship"
                    :items="MarryStatus"
                    :item-selects="
                      filterBasic.filter((r) => r.type === 'relationship')[0]
                        .relationship.key
                    "
                    @submitFilter="submitFilter"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'characteristics')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('characteristics')"
                    >mdi-close</v-icon
                  >Đặc điểm nhận dạng
                </div>
                <div class="content__filter__item">
                  <div style="width:100px" class="mr-2">
                    <ConditionFilterCustomer
                      :item="
                        filterBasic.filter(
                          (r) => r.type === 'characteristics'
                        )[0].condition
                      "
                      type="characteristics"
                      @changeCondition="changeCondition"
                    />
                  </div>
                  <InputFilter
                    type="characteristics"
                    :item="
                      filterBasic.filter((r) => r.type === 'characteristics')[0]
                        .characteristics
                    "
                    :disabled="
                      filterBasic.filter((r) => r.type === 'characteristics')[0]
                        .condition &&
                        (filterBasic.filter(
                          (r) => r.type === 'characteristics'
                        )[0].condition.key === 'is_empty' ||
                          filterBasic.filter(
                            (r) => r.type === 'characteristics'
                          )[0].condition.key === 'is_not_empty')
                    "
                    @changeInput="changeInput"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'channel')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('channel')"
                    >mdi-close</v-icon
                  >Nguồn khách hàng
                </div>
                <div class="content__filter__item">
                  <SelectFilter
                    type="channel"
                    :items="sourceOrigin"
                    :item-selects="
                      filterBasic.filter((r) => r.type === 'channel')[0].channel
                        .key
                    "
                    @submitFilter="submitFilter"
                  />
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'page_id')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('page_id')"
                    >mdi-close</v-icon
                  >Fanpage
                </div>
                <div class="content__filter__item">
                  <SelectFilter
                    type="page_id"
                    :items="allChannelPosts"
                    :item-selects="
                      filterBasic.filter((r) => r.type === 'page_id')[0].page_id
                        .key
                    "
                    @submitFilter="submitFilter"
                  />
                </div>
              </div>
              <div
                v-if="
                  filterBasic.some((r) => r.type === 'latest_conversation_time')
                "
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('latest_conversation_time')"
                    >mdi-close</v-icon
                  >Lần cuối nhắn tin
                </div>
                <div class="content__filter__item">
                  <v-dialog
                    ref="menu3"
                    v-model="menu3"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="computedDateFromatStartDateMessage"
                        v-bind="attrs"
                        autocomplete="off"
                        dense
                        outlined
                        hide-details
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="startDateMessage"
                      no-title
                      :max="nowDate"
                      @input="choosenDate"
                    ></v-date-picker>
                  </v-dialog>
                  <div class="spacer"></div>
                  <v-dialog
                    ref="menu4"
                    v-model="menu4"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="computedDateFromatEndDateMessage"
                        v-bind="attrs"
                        dense
                        autocomplete="off"
                        outlined
                        hide-details
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="endDateMessage"
                      :max="nowDate"
                      no-title
                      @input="choosenDate"
                    ></v-date-picker>
                  </v-dialog>
                </div>
              </div>
              <div
                v-if="filterBasic.some((r) => r.type === 'tags')"
                class="d-flex align-center mb-5 mt-5"
              >
                <div class="lable__filter">
                  <v-icon
                    color="#BFBFBF"
                    small
                    class="mr-2"
                    @click="removeFilter('tags')"
                    >mdi-close</v-icon
                  >Thẻ Tag
                </div>
                <div class="content__filter__item">
                  <SelectFilter
                    type="tags"
                    :items="tags"
                    :item-selects="
                      filterBasic.filter((r) => r.type === 'tags')[0].tags.key
                    "
                    @submitFilter="submitFilter"
                  />
                </div>
              </div>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="200px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <span class="addFilter" v-bind="attrs" v-on="on"
                    >+ Thêm điều kiện lọc</span
                  >
                </template>
                <v-list class="list__filter">
                  <v-list-item
                    v-for="(item, index) in listFilterType"
                    :key="index"
                    :class="{
                      'no-data': !item.isActive
                    }"
                    @click="chooseTypeFilter(index)"
                  >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <v-btn
                class="mt-5"
                :disabled="!valid"
                block
                color="#FFBE07"
                @click="submit"
                >Xong</v-btn
              >
            </v-form>
          </v-tab-item>
          <v-tab-item value="tab-2">
            <div
              v-if="filterAvanced.some((t) => t.type === 'replies_message_bot')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('replies_message_bot')"
                  >mdi-close</v-icon
                >Mức độ phản hồi tin nhắn với Bot
              </div>
              <div class="content__filter__item">
                <SelectFilter
                  placeholder="Khách hàng không phản hồi Bot lần nào"
                />
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'santifasic')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('santifasic')"
                  >mdi-close</v-icon
                >Mức độ hài lòng của khách hàng
              </div>
              <div class="content__filter__item">
                <SelectFilter
                  placeholder="Sử dụng từ ngữ biểu hiện sự không.."
                />
                <div>
                  <InputFilter
                    type="replies_message_bot"
                    class="ml-2"
                    @changeInput="changeInput"
                  />
                </div>
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'confirm')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('confirm')"
                  >mdi-close</v-icon
                >Xác nhận đơn hàng/dịch vụ/thông tin
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="Chưa từng xác nhận" />
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'conversition_phone')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('conversition_phone')"
                  >mdi-close</v-icon
                >Hội thoại chứa Số điện thoại
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'customer_care')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('customer_care')"
                  >mdi-close</v-icon
                >Khách hàng có mối quan tâm cụ thể
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="@Menunhahang" />

                <div>
                  <InputFilter
                    type="customer_care"
                    class="ml-2"
                    @changeInput="changeInput"
                  />
                </div>
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'auto_message')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('auto_message')"
                  >mdi-close</v-icon
                >Khách hàng phản hồi Tin nhắn hàng loạt
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="Chọn tin nhắn..." />
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'message_journey')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('message_journey')"
                  >mdi-close</v-icon
                >Khách hàng phản hồi Tin nhắn lộ trình
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="Chọn tin nhắn..." />
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'like_post')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('like_post')"
                  >mdi-close</v-icon
                >Khách hàng Like bài viết
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="Chọn bài viết..." />
              </div>
            </div>
            <div
              v-if="filterAvanced.some((t) => t.type === 'comment_post')"
              class="mb-4"
            >
              <div class="lable__filter mb-1">
                <v-icon
                  color="#BFBFBF"
                  small
                  class="mr-2"
                  @click="removeFilterAvanced('comment_post')"
                  >mdi-close</v-icon
                >Khách hàng Comment bài viết
              </div>
              <div class="content__filter__item">
                <SelectFilter placeholder="Chọn bài viết..." />
              </div>
            </div>
            <v-menu
              ref="menu"
              v-model="menuAvanced"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="200px"
            >
              <template v-slot:activator="{ on, attrs }">
                <span class="addFilter" v-bind="attrs" v-on="on"
                  >+ Thêm điều kiện lọc</span
                >
              </template>
              <v-list class="list__filter avanced">
                <div v-for="(item, index) in listFilterAdvance" :key="index">
                  <v-subheader
                    ><img :src="item.img" class="mr-2" alt="" srcset="" />
                    {{ item.header }}</v-subheader
                  >
                  <v-divider></v-divider>
                  <v-list-item
                    v-for="(i, indexType) in item.child"
                    :key="indexType"
                    @click="choosenFilterAvanced(index, indexType)"
                  >
                    <v-list-item-title>{{ i.title }}</v-list-item-title>
                  </v-list-item>
                </div>
              </v-list>
            </v-menu>
            <v-btn
              class="mt-5"
              depressed=""
              :disabled="disable"
              block
              color="#FFBE07"
              @click="submit"
              >Xong</v-btn
            >
          </v-tab-item>
        </v-tabs-items>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
import { conditionFilter, gerderType } from '@/utils/constanst'
import Filter from '@/assets/svg/Filter.svg'
import Crmcall from '@/assets/svg/Crm_Call.svg'
import CrmautoMessage from '@/assets/svg/Crm_AutoMessage.svg'
import Crmpost from '@/assets/svg/Crm_Post.svg'
import ConditionFilterCustomer from '@/components/ConditionFilterCustomer'
import InputFilter from '@/components/InputFilter'
import SelectFilter from '@/components/SelectFilter'
import crmFieldData from '@/mixins/crmFieldData'

export default {
  components: {
    ConditionFilterCustomer,
    InputFilter,
    SelectFilter
  },
  props: {
    showFilterCustomer: { type: Boolean, default: false },
    resultFilter: { type: Array, default: () => [] },
    channels: { type: Array, default: () => [] },
    actionText: { type: String, default: '' }
  },
  computed: {
    ...mapGetters(['channelPosts', 'sourceIds']),
    sourceOrigin() {
      return ['Zalo', 'Facebook']
    },
    computedDateFormatted() {
      return this.$moment(this.startDate).format('DD/MM/YYYY')
    },
    computedDateFormattedEndDate() {
      return this.$moment(this.endDate).format('DD/MM/YYYY')
    },
    computedDateFromatStartDateMessage() {
      return this.$moment(this.startDateMessage).format('DD/MM/YYYY')
    },
    computedDateFromatEndDateMessage() {
      return this.$moment(this.endDateMessage).format('DD/MM/YYYY')
    },
    allChannelPosts() {
      return this.channels.map((r) => {
        return {
          text: r.name,
          value: r.page_id
        }
      })
    }
  },
  mixins: [crmFieldData],
  data() {
    return {
      valid: true,
      disable: false,
      loadingSegment: false,
      nowDate: new Date().toISOString().slice(0, 10),
      menu1: false,
      menu3: false,
      gerderType,
      menu4: false,
      menu2: false,
      male: false,
      female: false,
      other: false,
      conditionFilter,
      endDate: new Date().toISOString().substr(0, 10),
      startDate: new Date().toISOString().substr(0, 10),
      endDateMessage: new Date().toISOString().substr(0, 10),
      startDateMessage: new Date().toISOString().substr(0, 10),
      Crmcall,
      menuAvanced: '',
      CrmautoMessage,
      Crmpost,
      Filter,
      origins: [],
      tags: [],
      MarryStatus: [
        'Độc thân',
        'Hẹn hò',
        'Đã đính hôn',
        'Đã kết hôn',
        'Kết hôn đồng giới',
        'Chung sống',
        'Tìm hiểu',
        'Có mối quan hệ phức tạp',
        'Đã ly thân',
        'Đã ly hôn',
        'Góa'
      ],
      tab: 'tab-1',
      filterBasic: [],
      filterAvanced: [],
      filterBasicAdded: [],
      menu: '',
      listFilterAdvance: [
        {
          header: 'LỌC TỪ HỘI THOẠI',
          img: Crmcall,
          child: [
            {
              title: 'Mức độ phản hồi tin nhắn với Bot',
              type: 'replies_message_bot'
            },
            {
              title: 'Mức độ hài lòng của khách hàng',
              type: 'santifasic'
            },
            {
              title: 'Xác nhận đơn hàng/dịch vụ/thông tin',
              type: 'confirm'
            },
            {
              title: 'Hội thoại chứa Số điện thoại',
              type: 'conversition_phone'
            },
            {
              title: 'Khách hàng có mối quan tâm cụ thể',
              type: 'customer_care'
            }
          ]
        },
        {
          header: 'LỌC TỪ TIN NHẮN TỰ ĐỘNG',
          img: CrmautoMessage,
          child: [
            {
              title: 'Khách hàng phản hồi Tin nhắn hàng loạt',
              type: 'auto_message'
            },
            {
              title: 'Khách hàng phản hồi Tin nhắn lộ trình ',
              type: 'message_journey'
            }
          ]
        },
        {
          header: 'LỌC TỪ BÀI VIẾT',
          img: Crmpost,
          child: [
            {
              title: 'Khách hàng Like bài viết',
              type: 'like_post'
            },
            {
              title: 'Khách hàng Comment bài viết',
              type: 'comment_post'
            }
          ]
        }
      ],
      defaultListFilterType: [
        {
          type: 'name',
          title: 'Tên khách hàng',
          name: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'phone_number',
          title: 'Số điện thoại',
          phone_number: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'email',
          title: 'Email',
          email: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'gender',
          title: 'Giới tính',
          gender: {
            key: [],
            value: []
          },
          condition: {},
          isActive: true
        },
        {
          type: 'job_title',
          title: 'Công việc',
          job_title: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'uid',
          title: 'UID',
          uid: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'date_of_birth',
          title: 'Ngày sinh',
          date_of_birth: {
            key: {
              startDate: new Date().toISOString().substr(0, 10),
              endDate: new Date().toISOString().substr(0, 10)
            },
            value: `từ ${this.$moment(
              new Date().toISOString().substr(0, 10)
            ).format('DD/MM/YYYY')}`
          },
          condition: {},
          isActive: true
        },
        {
          type: 'address',
          title: 'Địa chỉ',
          address: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'city',
          title: 'Tỉnh/Thành phố',
          city: [],
          condition: {},
          isActive: true
        },
        {
          type: 'relationship',
          title: 'Tình trạng mối quan hệ',
          relationship: [],
          condition: {},
          isActive: true
        },
        {
          type: 'characteristics',
          title: 'Đặc điểm nhận dạng',
          characteristics: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'channel',
          title: 'Nguồn khách hàng',
          channel: [],
          condition: {},
          isActive: true
        },
        {
          type: 'page_id',
          title: 'Fanpage',
          page_id: [],
          condition: {},
          isActive: true
        },
        {
          type: 'latest_conversation_time',
          title: 'Lần cuối nhắn tin',
          latest_conversation_time: {
            key: {
              startDateMessage: new Date().toISOString().substr(0, 10),
              endDateMessage: new Date().toISOString().substr(0, 10)
            },
            value: `từ ${this.$moment(
              new Date().toISOString().substr(0, 10)
            ).format('DD/MM/YYYY')}`
          },
          isActive: true
        },
        {
          type: 'tags',
          title: 'Thẻ Tag',
          tags: [],
          condition: {},
          isActive: true
        }
      ],
      listFilterType: [
        {
          type: 'name',
          title: 'Tên khách hàng',
          name: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'phone_number',
          title: 'Số điện thoại',
          phone_number: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'email',
          title: 'Email',
          email: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'gender',
          title: 'Giới tính',
          gender: {
            key: [],
            value: []
          },
          condition: {},
          isActive: true
        },
        {
          type: 'job_title',
          title: 'Công việc',
          job_title: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'uid',
          title: 'UID',
          uid: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'date_of_birth',
          title: 'Ngày sinh',
          date_of_birth: {
            key: {
              startDate: new Date().toISOString().substr(0, 10),
              endDate: new Date().toISOString().substr(0, 10)
            },
            value: `từ ${this.$moment(
              new Date().toISOString().substr(0, 10)
            ).format('DD/MM/YYYY')}`
          },
          condition: {},
          isActive: true
        },
        {
          type: 'address',
          title: 'Địa chỉ',
          address: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'city',
          title: 'Tỉnh/Thành phố',
          city: '',
          condition: {},
          isActive: true
        },
        {
          type: 'relationship',
          title: 'Tình trạng mối quan hệ',
          relationship: '',
          condition: {},
          isActive: true
        },
        {
          type: 'characteristics',
          title: 'Đặc điểm nhận dạng',
          characteristics: '',
          condition: {
            key: 'like',
            name: 'Chứa'
          },
          isActive: true
        },
        {
          type: 'channel',
          title: 'Nguồn khách hàng',
          channel: '',
          condition: {},
          isActive: true
        },
        {
          type: 'page_id',
          title: 'Fanpage',
          page_id: '',
          condition: {},
          isActive: true
        },
        {
          type: 'latest_conversation_time',
          title: 'Lần cuối nhắn tin',
          latest_conversation_time: {
            key: {
              startDateMessage: new Date().toISOString().substr(0, 10),
              endDateMessage: new Date().toISOString().substr(0, 10)
            },
            value: `từ ${this.$moment(
              new Date().toISOString().substr(0, 10)
            ).format('DD/MM/YYYY')}`
          },
          isActive: true
        },
        {
          type: 'tags',
          title: 'Thẻ Tag',
          tags: '',
          condition: {},
          isActive: true
        }
      ],
      listFilterTypeAvanced: [
        {
          type: 'replies_message_bot',
          title: 'Mức độ phản hồi tin nhắn với Bot',
          replies_message_bot: ''
        },
        {
          type: 'santifasic',
          title: 'Mức độ hài lòng của khách hàng',
          santifasic: ''
        },
        {
          type: 'confirm',
          title: 'Xác nhận đơn hàng/dịch vụ/thông tin',
          confirm: ''
        },
        {
          type: 'conversition_phone',
          title: 'Hội thoại chứa Số điện thoại',
          conversition_phone: ''
        },
        {
          type: 'customer_care',
          title: 'Khách hàng có mối quan tâm cụ thể'
        },
        {
          type: 'auto_message',
          title: 'Khách hàng phản hồi Tin nhắn hàng loạt',
          auto_message: ''
        },
        {
          type: 'message_journey',
          title: 'Khách hàng phản hồi Tin nhắn lộ trình',
          message_journey: ''
        },

        { type: 'like_post', title: 'Khách hàng Like bài viết', like_post: '' },
        {
          type: 'comment_post',
          title: 'Khách hàng Comment bài viết',
          comment_post: ''
        }
      ]
    }
  },
  watch: {
    resultFilter(val) {
      this.changeFilter(val)
    },
    showFilterCustomer(val) {
      if (val === true && this.resultFilter.length === 0) {
        this.listFilterType = this.defaultListFilterType.map((r) => {
          return {
            ...r,
            isActive: true
          }
        })
        this.resetDate()
      }
    }
  },
  created() {
    const { bot } = this.$route.params
    this.filterBasic = this.resultFilter
    this.$store
      .dispatch('onliveChat/fetchCustomerTags', {
        botID: bot
      })
      .then((r) => {
        this.tags = JSON.parse(JSON.stringify(r.items)).map((r) => {
          return r.name
        })
      })
      .catch(() => {
        this.$toast.global.my_error()
      })
    this.filterBasicAdded = []
  },
  methods: {
    resetDate() {
      this.endDate = new Date().toISOString().substr(0, 10)
      this.startDate = new Date().toISOString().substr(0, 10)
      this.endDateMessage = new Date().toISOString().substr(0, 10)
      this.startDateMessage = new Date().toISOString().substr(0, 10)
    },
    changeFilter(val) {
      if (
        !val.length ||
        (val && val.filter((r) => r.type === 'gender').length <= 0)
      ) {
        this.male = false
        this.female = false
        this.other = false
      }
      if (this.filterBasic.length !== val.length) {
        if (val.length > 0 && val.some((r) => r.op || r.not || r.or || r.and)) {
          val.forEach((t) => {
            this.parseFilter(t)
            if (t.not) {
              this.parseFilter(t.not, 'not')
            }
            if (t.or) {
              this.filterBasic.push(
                JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
                  (k) => k.type === t.or[0].name
                )[0]
              )
              this.filterBasic.filter((l) => l.type === t.or[0].name)[0][
                `${t.or[0].name}`
              ] = t.or
                .reduce((l, h) => {
                  return l.concat(`${h.val} ,`)
                }, ``)
                .slice(0, -1)
            }
            if (t.and) {
              this.filterBasic.push(
                JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
                  (k) => k.type === t.and[0].name
                )[0]
              )
              if (t.and[0].name === 'date_of_birth') {
                this.filterBasic.filter((l) => l.type === t.and[0].name)[0][
                  `${t.and[0].name}`
                ] = {
                  key: {
                    startDate: this.$moment(t.and[0].val).format('YYYY-MM-DD'),
                    endDate: this.$moment(t.and[1].val).format('YYYY-MM-DD')
                  },
                  value: `từ ${this.$moment(t.and[0].val).format(
                    'DD/MM/YYYY'
                  )} đến ${this.$moment(t.and[1].val).format('DD/MM/YYYY')}`
                }
                this.startDate = this.$moment(t.and[0].val).format('YYYY-MM-DD')
                this.endDate = this.$moment(t.and[1].val).format('YYYY-MM-DD')
              }
              if (t.and[0].name === 'latest_conversation_time') {
                this.filterBasic.filter((l) => l.type === t.and[0].name)[0][
                  `${t.and[0].name}`
                ] = {
                  key: {
                    startDateMessage: this.$moment(t.and[0].val).format(
                      'YYYY-MM-DD'
                    ),
                    endDateMessage: this.$moment(t.and[1].val).format(
                      'YYYY-MM-DD'
                    )
                  },
                  value: `từ ${this.$moment(t.and[0].val).format(
                    'DD/MM/YYYY'
                  )} đến ${this.$moment(t.and[1].val).format('DD/MM/YYYY')}`
                }
                this.startDateMessage = this.$moment(t.and[0].val).format(
                  'YYYY-MM-DD'
                )
                this.endDateMessage = this.$moment(t.and[1].val).format(
                  'YYYY-MM-DD'
                )
              }
            }
          })
        } else if (val.length === 0) {
          this.filterBasic = []
          this.listFilterType = this.defaultListFilterType
        } else {
          const types = val.map((r) => r.type)
          this.filterBasic = this.filterBasic.filter((e) =>
            types.includes(e.type)
          )
          this.listFilterType = JSON.parse(
            JSON.stringify(this.defaultListFilterType)
          ).filter((e) => !types.includes(e.type))
        }
      }
      const typeIsSelected = this.filterBasic.map((r) => r.type)
      this.listFilterType = this.listFilterType.map((r) => {
        return {
          ...r,
          isActive: !typeIsSelected.includes(r.type)
        }
      })
    },
    parseFilter(t, type) {
      if (t.op === 'in') {
        if (t.name === 'tags' && t.val.length === 0) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: 'không chứa tags'
          }
        } else if (t.name === 'page_id' && t.val.length === 0) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: 'không chứa page_id'
          }
        } else if (t.name === 'channel' && t.val.length === 0) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: 'không chứa nguồn'
          }
        } else if (t.name === 'relationship' && t.val.length === 0) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: 'không chứa tình trạng mối quan hệ'
          }
        } else if (t.name === 'city' && t.val.length === 0) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: 'không chứa tỉnh thành nào'
          }
        } else if (t.name === 'gender') {
          this.male = t.val.includes('male')
          this.female = t.val.includes('female')
          this.other = t.val.includes('other')
          this.filterBasic.push(
            this.defaultListFilterType.filter((k) => k.type === t.name)[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: t.val.map((r) => {
              return this.gerderType[`${r}`]
            })
          }
        } else if (
          t.name === 'gender' &&
          t.val.length > 0 &&
          (t.name === 'relationship' ||
            t.name === 'channel' ||
            t.name === 'page_id' ||
            t.name === 'city' ||
            t.name === 'tags')
        ) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value:
              t.val.length > 1
                ? t.val.reduce((r, t) => {
                    return r.concat(` hoặc ${t} `)
                  }, ``)
                : t.val[0]
          }
        } else if (
          t.name === 'relationship' ||
          t.name === 'tags' ||
          t.name === 'city' ||
          t.name === 'channel'
        ) {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: t.val
              .reduce((r, t) => {
                return r.concat(`${t} hoặc `)
              }, ``)
              .slice(0, -5)
          }
        } else if (t.name === 'page_id') {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] = {
            key: t.val,
            value: t.val
              .reduce((r, t) => {
                return r.concat(
                  `${
                    this.channels.filter((r) => r.page_id === t)[0].name
                  } hoặc `
                )
              }, ``)
              .slice(0, -5)
          }
        } else {
          this.filterBasic.push(
            JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
              (k) => k.type === t.name
            )[0]
          )
          this.filterBasic.filter((l) => l.type === t.name)[0][
            `${t.name}`
          ] = t.val
            .reduce((l, t) => {
              return l.concat(`${t} ,`)
            }, ``)
            .slice(0, -1)
        }
      }
      if (t.op === 'like') {
        this.filterBasic.push(
          JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
            (k) => k.type === t.name
          )[0]
        )
        this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] =
          t.val
      }
      if (t.op === 'is_empty' || t.op === 'is_not_empty') {
        this.filterBasic.push(
          JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
            (k) => k.type === t.name
          )[0]
        )
        this.filterBasic.filter(
          (l) => l.type === t.name
        )[0].condition = this.conditionFilter.filter((h) => h.key === t.op)[0]
      }
      if (t.op === 'geq') {
        this.filterBasic.push(
          JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
            (k) => k.type === t.name
          )[0]
        )
        if (t.name === 'date_of_birth') {
          this.filterBasic.filter((l) => l.type === t.name)[0].date_of_birth = {
            key: {
              startDate: this.$moment(t.val).format('YYYY-MM-DD'),
              endDate: this.$moment(t.val).format('YYYY-MM-DD')
            },
            value: `từ ${this.$moment(t.val).format('DD/MM/YYYY')}`
          }
          this.startDate = this.$moment(t.val).format('YYYY-MM-DD')
          this.endDate = this.$moment(t.val).format('YYYY-MM-DD')
        } else {
          this.filterBasic.filter((l) => l.type === t.name)[0].date_of_birth = {
            key: {
              startDateMessage: this.$moment(t.val).format('YYYY-MM-DD'),
              endDateMessage: this.$moment(t.val).format('YYYY-MM-DD')
            },
            value: `từ ${this.$moment(t.val).format('DD/MM/YYYY')}`
          }
          this.startDateMessage = this.$moment(t.val).format('YYYY-MM-DD')
          this.endDateMessage = this.$moment(t.val).format('YYYY-MM-DD')
        }
      }
      if (t.op === 'start_with' || t.op === 'end_with') {
        this.filterBasic.push(
          JSON.parse(JSON.stringify(this.defaultListFilterType)).filter(
            (k) => k.type === t.name
          )[0]
        )
        this.filterBasic.filter(
          (l) => l.type === t.name
        )[0].condition = this.conditionFilter.filter((h) => h.key === t.op)[0]
        this.filterBasic.filter((l) => l.type === t.name)[0][`${t.name}`] =
          t.val
      }
      if (type === 'not') {
        this.filterBasic[
          this.filterBasic.length - 1
        ].condition = this.conditionFilter[1]
      }
    },
    submitFilter(data) {
      this.filterBasic.filter((r) => r.type === data.type)[0][
        `${data.type}`
      ] = {
        key: data.key,
        value: data.value
      }
      this.valid = true
    },
    choosenDate() {
      this.menu1 = false
      this.menu2 = false
      this.menu3 = false
      this.menu4 = false
      if (
        this.filterBasic.filter((r) => r.type === 'date_of_birth')[0] &&
        this.filterBasic.filter((r) => r.type === 'date_of_birth')[0]
          .date_of_birth
      ) {
        if (this.startDate.valueOf() > this.endDate.valueOf()) {
          this.$toast.global.my_error({
            message: 'Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc'
          })
          this.valid = false
        } else if (
          this.startDate.valueOf() > this.$moment().valueOf() ||
          this.endDate.valueOf() > this.$moment().valueOf()
        ) {
          this.valid = false
          this.$toast.global.my_error({
            message: 'Ngày bắt đầu và kết thúc không được lớn hơn ngày hiện tại'
          })
        } else {
          this.valid = true
          this.filterBasic.filter(
            (r) => r.type === 'date_of_birth'
          )[0].date_of_birth = {
            key: {
              startDate: this.startDate,
              endDate: this.endDate
            },
            value:
              this.endDate === this.startDate
                ? `là ${this.$moment(this.startDate).format('DD/MM/YYYY')}`
                : `từ ${this.$moment(this.startDate).format(
                    'DD/MM/YYYY'
                  )} đến ${this.$moment(this.endDate).format('DD/MM/YYYY')}`
          }
        }
      }
      if (
        this.filterBasic.filter(
          (r) => r.type === 'latest_conversation_time'
        )[0] &&
        this.filterBasic.filter((r) => r.type === 'latest_conversation_time')[0]
      ) {
        this.filterBasic.filter(
          (r) => r.type === 'latest_conversation_time'
        )[0].latest_conversation_time = {
          key: {
            startDateMessage: this.startDateMessage,
            endDateMessage: this.endDateMessage
          },
          value:
            this.endDateMessage === this.startDateMessage
              ? `là ${this.$moment(this.startDateMessage).format('DD/MM/YYYY')}`
              : `từ ${this.$moment(this.startDateMessage).format(
                  'DD/MM/YYYY'
                )} đến ${this.$moment(this.endDateMessage).format(
                  'DD/MM/YYYY'
                )}`
        }
      }
    },
    changeCondition(type, value) {
      const findIndex = this.filterBasic.findIndex((r) => r.type === type)
      this.filterBasic[findIndex].condition = value
    },
    choosen(key, value) {
      if (this[`${key}`]) {
        this.filterBasic
          .filter((r) => r.type === 'gender')[0]
          .gender.key.push(key)
        this.filterBasic
          .filter((r) => r.type === 'gender')[0]
          .gender.value.push(value)
      } else {
        const findIndex = this.filterBasic
          .filter((r) => r.type === 'gender')[0]
          .gender.key.findIndex((r) => r === key)
        this.filterBasic
          .filter((r) => r.type === 'gender')[0]
          .gender.key.splice(findIndex, 1)
        this.filterBasic
          .filter((r) => r.type === 'gender')[0]
          .gender.value.splice(findIndex, 1)
      }
      this.filterBasic.filter((r) => r.type === 'gender')[0].gender.key = [
        ...new Set(
          this.filterBasic.filter((r) => r.type === 'gender')[0].gender.key
        )
      ]
      this.filterBasic.filter((r) => r.type === 'gender')[0].gender.value = [
        ...new Set(
          this.filterBasic.filter((r) => r.type === 'gender')[0].gender.value
        )
      ]
    },
    choosenFilterAvanced(index, indexChild) {
      this.menuAvanced = false
      this.filterAvanced.push({
        ...this.listFilterTypeAvanced.filter(
          (r) => r.type === this.listFilterAdvance[index].child[indexChild].type
        )[0],
        indexParent: index
      })

      this.listFilterAdvance[index].child.splice(indexChild, 1)
    },
    changeInput(type, value) {
      const findIndex = this.filterBasic.findIndex((r) => r.type === type)
      this.filterBasic[findIndex][`${type}`] = value.trim()
    },
    chooseTypeFilter(index) {
      this.menu = false
      this.filterBasic.push(this.listFilterType[index])
      this.filterBasicAdded.push(this.listFilterType[index])
      // this.listFilterType.splice(index, 1)
      this.listFilterType[index].isActive = false
      const filterGerder = this.listFilterType.filter(
        (r) => r.type === 'gender' && !r.isActive
      )
      if (filterGerder.length && filterGerder[0].gender.key.length) {
        filterGerder.forEach((r) => {
          this.male = r.gender.key.includes('male')
          this.female = r.gender.key.includes('female')
          this.other = r.gender.key.includes('other')
        })
      }
    },
    removeFilter(value) {
      const findIndex = this.filterBasic.findIndex((r) => r.type === value)
      const findIndexType = this.defaultListFilterType.findIndex(
        (r) => r.type === this.filterBasic[findIndex].type
      )
      this.listFilterType[findIndexType] = this.defaultListFilterType[
        findIndexType
      ]
      this.listFilterType[findIndexType].isActive = true
      this.filterBasic.splice(findIndex, 1)
    },
    removeFilterAvanced(value) {
      // find value like filterAvanced
      const dataFilterRollback = this.filterAvanced.filter(
        (r) => r.type === value
      )
      const indexParent = dataFilterRollback[0].indexParent
      this.listFilterAdvance[indexParent].child.push({
        type: dataFilterRollback[0].type,
        title: dataFilterRollback[0].title
      })
      this.filterAvanced = this.filterAvanced.filter((r) => r.type !== value)
    },
    moveDetail(data) {
      this.filterBasic = []
      const { bot } = this.$route.params
      this.changeFilter(data)
      this.$store
        .dispatch('onliveChat/fetchCustomerTags', {
          botID: bot
        })
        .then((r) => {
          this.tags = JSON.parse(JSON.stringify(r.items)).map((r) => {
            return r.name
          })
        })
        .catch(() => {
          this.$toast.global.my_error()
        })
      this.filterBasicAdded = []
      this.submit()
    },
    submit() {
      const tags = this.filterBasic.filter((r) => r.type === 'tags')
      const fanpage = this.filterBasic.filter((r) => r.type === 'page_id')
      const sourceIds = this.filterBasic.filter((r) => r.type === 'channel')
      const relationship = this.filterBasic.filter(
        (r) => r.type === 'relationship'
      )
      const city = this.filterBasic.filter((r) => r.type === 'city')
      if (
        tags &&
        ((tags[0] && tags[0].tags && tags[0].tags.length === 0) ||
          (tags.length && tags[0].tags && !tags[0].tags.value))
      ) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'tags')
        ].tags = {
          key: [],
          value: 'không chứa tags'
        }
      }
      if (
        relationship &&
        ((relationship[0] &&
          relationship[0].relationship &&
          relationship[0].relationship.length === 0) ||
          (relationship.length &&
            relationship[0].relationship &&
            !relationship[0].relationship.value))
      ) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'relationship')
        ].relationship = {
          key: [],
          value: 'không chứa tình trạng quan hệ nào'
        }
      }
      if (
        city &&
        ((city[0] && city[0].city && city[0].city.length === 0) ||
          (city.length && city[0].city && !city[0].city.value))
      ) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'city')
        ].city = {
          key: [],
          value: 'không chứa thành phố  nào'
        }
      }

      if (
        fanpage &&
        ((fanpage[0] &&
          fanpage[0].page_id &&
          fanpage[0].page_id.length === 0) ||
          (fanpage.length &&
            fanpage[0].page_id &&
            !fanpage[0].page_id.value.length))
      ) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'page_id')
        ].page_id = {
          key: [],
          value: 'không chứa fanpage'
        }
      }
      if (
        sourceIds &&
        ((sourceIds[0] &&
          sourceIds[0].channel &&
          sourceIds[0].channel.length === 0) ||
          (sourceIds.length &&
            sourceIds[0].sourceIds &&
            !sourceIds[0].sourceIds.value))
      ) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'channel')
        ].channel = {
          key: [],
          value: 'không chứa nguồn'
        }
      }
      if (this.filterBasic.filter((r) => r.type === 'channel').length) {
        this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'channel')
        ].channel.key = this.filterBasic[
          this.filterBasic.findIndex((r) => r.type === 'channel')
        ].channel.key.map((r) => r.toLowerCase())
      }
      this.$emit('saveFilter', this.filterBasic)
      this.filterBasicAdded = []
    },
    cancel() {
      const types = this.filterBasicAdded.map((r) => r.type)
      this.filterBasic = this.filterBasic.filter((r) => !types.includes(r.type))
      this.$emit('cancel', this.filterBasic)
    }
  }
}
</script>

<style lang="scss">
.content__filter__item {
  height: 30px;
  .v-input--selection-controls {
    margin-top: 0px;
  }
  .v-messages {
    display: none;
  }
}

.avanced {
  .v-subheader {
    font-weight: 500;
    font-size: 12px;
    color: #bfbfbf;
  }
}
.list__filter {
  .v-list-item {
    min-height: 32px;
  }
}
.content__filter__item {
  width: 100%;
  display: flex;
  .v-input--radio-group--row {
    padding: 0px;
    margin: 0px;
    .v-input__control {
      height: 24px;
      .v-input__slot {
        padding: 0px !important;
        label {
          font-size: 14px;
          color: #262626;
        }
      }
    }
  }
  label {
    font-size: 14px;
    color: $grey-8;
  }
  .v-select__slot {
    font-size: 14px;
    height: 32px;
  }
  .v-select__selections {
    height: 32px !important;
    padding: 2px 0px !important;
    .v-select__selection {
      margin: 5px 5px 5px 5px !important;
    }
  }
  .v-text-field__slot {
    font-size: 14px;
  }
  .v-input__slot {
    padding: 0px 8px !important;
  }
  .v-input__append-inner {
    margin-top: 4px !important;
  }
  .time__birthday {
    i {
      font-size: 20px !important;
    }
  }
}
</style>

<style lang="scss" scoped>
.no-data {
  display: none;
}
.spacer {
  width: 8px;
}
.lable__filter {
  min-width: 180px;
  font-size: 14px;
  margin-right: 20px;
  color: $grey-8;
  margin-right: 12px;
  cursor: pointer;
  white-space: nowrap;
}
.filter__customer {
  padding: 30px 45px;
  .title__filter {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #262626;
  }

  .v-tab {
    color: #595959;
    font-size: 14px;
    text-transform: inherit;
    padding: 0;
    font-weight: normal;
  }
  .v-tab--active {
    font-weight: 500 !important;
  }
  .filter__advanced {
    padding: 16px;
  }
  .addFilter {
    color: #1890ff;
    font-size: 14px;
    cursor: pointer;
  }
  .filter__header {
    margin-bottom: 20px;
  }
}
</style>
