<template>
  <div class="group__header">
    <ToolBar />
    <!--Display mobile menu-->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ToolBar from '~/components/ToolBar.vue'

export default {
  components: {
    ToolBar
  },
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    logout() {
      this.$store.dispatch('resetSession')
      this.$store.dispatch('bots/resetState')
      this.$store.commit('tabs/RESET_TAB')
      this.$router.push(this.localePath('login'))
    }
  }
}
</script>

<style lang="scss" scoped>
.vsm-menu {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  padding: 0px 25px;
  border-bottom: 1px solid #e8e8e8;
  ul {
    max-width: 1024px;
    margin: 0 auto;
  }
  .vsm-mob-hide {
    padding-left: 6%;
    padding-right: 7px;
    align-items: center;
  }
}
.vsm-section {
  align-items: center;
}
.vsm-section_menu {
  > * {
    padding: 0 20px;
    font-weight: 500;
    font-family: inherit;
  }
}
</style>
