<template>
  <div>
    <div class="mb-2">{{ name }}</div>
    <div class="d-flex">
      <div
        class="show_color"
        :style="{
          background: colorLocal
        }"
      ></div>
      <v-text-field
        v-model="colorLocal"
        filled=""
        dense=""
        height="40"
        @change="updateColor"
      ></v-text-field>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    color: { type: String, default: 'white' },
    name: { type: String, default: '' }
  },
  data() {
    return {
      colorLocal: ''
    }
  },
  watch: {
    color(val) {
      this.colorLocal = val
    }
  },
  created() {
    this.colorLocal = this.color
  },
  methods: {
    updateColor() {
      this.$emit('updateColor', this.colorLocal, this.name)
    }
  }
}
</script>
<style lang="scss" scoped>
.show_color {
  height: 40px !important;
  width: 60px !important;
  margin-right: 10px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
</style>
