<template>
  <v-tooltip top color="teal darken-4">
    <template v-slot:activator="{ on }">
      <div
        class="d-flex icon-button"
        :style="cssProps"
        v-on="on"
        @click.stop="$emit('click')"
      >
        <v-icon v-if="!useSvg">
          {{ icon }}
        </v-icon>
        <v-btn v-else fab="" icon="" small="" depressed="">
          <img
            v-if="nameSvg"
            :src="require(`~/assets/svg/${nameSvg}.svg`)"
            alt=""
            srcset=""
          />
        </v-btn>
      </div>
    </template>
    <span>{{ tooltips }}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'IconButton',
  props: {
    icon: { type: String, default: 'mdi-heart' },
    tooltips: { type: String, default: '' },
    color: { type: String, default: '#9E9E9E' },
    colorHover: { type: String, default: '#FF6D00' },
    useSvg: { type: Boolean, default: false },
    nameSvg: { type: String, default: '' }
  },
  computed: {
    cssProps() {
      return {
        '--icon-color': this.color,
        '--icon--hover-color': this.colorHover
      }
    }
  },
  methods: {
    mouseOver() {
      this.isHover = !this.isHover
    }
  }
}
</script>

<style lang="scss" scoped>
.icon-button {
  cursor: pointer;
  & > i {
    color: var(--icon-color);
    &:hover {
      color: var(--icon--hover-color);
    }
  }
}
</style>
