<template>
  <div>
    <v-btn
      height="40"
      depressed=""
      class="text-capitalize"
      color="#FFF4D3"
      small
      :loading="isSelecting"
      @click="onButtonClick"
    >
      <img :src="DownloadImport" alt="" srcset="" class="mr-2" />
      Import
    </v-btn>
    <input ref="uploader" class="d-none" type="file" @change="onFileChanged" />
  </div>
</template>

<script>
import DownloadImport from '~/assets/svg/DownloadImport.svg'
export default {
  data() {
    return {
      isSelecting: false,
      DownloadImport,
      selectedFile: null
    }
  },
  methods: {
    onButtonClick() {
      this.isSelecting = true
      window.addEventListener(
        'focus',
        () => {
          this.isSelecting = false
        },
        { once: true }
      )

      this.$refs.uploader.click()
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0]
      const formData = new FormData()
      formData.append('file', this.selectedFile)
      this.$emit('import', formData)
    }
  }
}
</script>
