<template>
  <v-textarea
    v-if="parentValue"
    ref="textArea"
    v-model="editingValue"
    filled
    rows="2"
    outlined=""
    autocomplete="off"
    :placeholder="placeholder"
    :hide-details="hideDetails"
    :rules="rules"
    :autofocus="autofocus"
    @focus="editingValue = value"
    @blur="cancel"
    @keypress="onKeyPress"
  />
  <v-textarea
    v-else
    ref="textArea"
    v-model="editingValue"
    filled
    dense
    outlined
    rows="2"
    autocomplete="off"
    :autofocus="autofocus"
    :auto-grow="autoGrow"
    :placeholder="placeholder"
    :hide-details="hideDetails"
    @focus="editingValue = value"
    @blur="cancel"
    @keypress="onKeyPress"
  />
</template>

<script>
export default {
  name: 'CustomeTextArea',
  props: {
    parentValue: { type: Object, default: undefined },
    value: { type: String, default: '' },
    index: { type: Number, default: 0 },
    autofocus: { type: Boolean, default: false },
    autoGrow: { type: Boolean, default: false },
    hideDetails: { type: Boolean, default: false },
    placeholder: { type: String, default: '' }
  },
  data() {
    return {
      editing: false,
      editingValue: ''
    }
  },
  computed: {
    rules() {
      return [
        (v) => (!!v && v.trim() !== '') || 'This filed is required',
        (v) => !this.isDuplicate(v) || 'Duplicate value'
      ]
    }
  },
  watch: {
    value(newValue) {
      this.editingValue = newValue
    }
  },
  created() {
    this.editingValue = this.value
  },
  methods: {
    isDuplicate(str) {
      if (!this.parentValue) return false
      if (
        this.parentValue &&
        this.parentValue.origin_value !== str &&
        !this.parentValue.altValues.includes(str)
      )
        return false
      if (
        this.parentValue &&
        this.parentValue.origin_value !== str &&
        this.parentValue.altValues.includes(str) &&
        this.parentValue.altValues.indexOf(str) === this.index
      )
        return false
      return true
    },
    cancel() {
      this.editingValue = this.value
      this.editing = false
    },
    onKeyPress(e) {
      const el = this.$refs.textArea.$el.querySelector('textarea')
      if (e.key === 'Enter' && (e.ctrlKey || e.shiftKey || e.altKey)) {
        const cursorPos = e.target.selectionStart
        const str = `${this.editingValue.slice(
          0,
          cursorPos
        )}\n${this.editingValue.slice(cursorPos)}`
        this.editingValue = str
        e.preventDefault()
        if (el) {
          this.$nextTick(() =>
            el.setSelectionRange(cursorPos + 1, cursorPos + 1)
          )
        }
      } else if (e.key === 'Enter' && !e.ctrlKey && !e.shiftKey && !e.altKey) {
        e.preventDefault()
        if (this.editingValue.trim().length) {
          this.$emit('submit', {
            value: this.editingValue.trim(),
            index: this.index
          })
          e.target.blur()
        }
      }
    }
  }
}
</script>
