<template>
  <div>
    <div v-if="parent === 'blur'" style="width:100%">
      <v-text-field
        v-if="!disabled"
        v-model="value"
        outlined
        light
        placeholder="Giá trị cách nhau bằng dấu ','"
        autocomplete="off"
        dense
        hide-details
        :rules="required"
        required
        @change="changeInput"
      ></v-text-field>
      <v-text-field
        v-if="disabled"
        v-model="value"
        autocomplete="off"
        outlined
        placeholder="Giá trị cách nhau bằng dấu ','"
        light
        dense
        :disabled="true"
        hide-details
        @change="changeInput"
      ></v-text-field>
    </div>
    <div v-else style="width:100%">
      <v-text-field
        v-if="!disabled"
        v-model="value"
        outlined
        light
        placeholder="Giá trị cách nhau bằng dấu ','"
        autocomplete="off"
        dense
        hide-details
        :rules="required"
        required
        @keyup="changeInput"
      ></v-text-field>
      <v-text-field
        v-if="disabled"
        v-model="value"
        autocomplete="off"
        outlined
        placeholder="Giá trị cách nhau bằng dấu ','"
        light
        dense
        :disabled="true"
        hide-details
        @keyup="changeInput"
      ></v-text-field>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: { type: String, default: '' },
    type: { type: String, default: '' },
    disabled: { type: Boolean, default: false },
    parent: { type: String, default: 'blur' }
  },
  data() {
    return {
      value: '',
      required: [(v) => !!v || 'Trường này không được để trống']
    }
  },
  watch: {
    item(val) {
      if (val !== this.value) {
        this.value = val
      }
    }
  },
  created() {
    this.value = this.item
  },
  methods: {
    changeInput() {
      this.$emit('changeInput', this.type, this.value)
    }
  }
}
</script>
<style lang="css">
.v-input {
  background: #ffffff !important;
}
</style>
