<template>
  <div
    style="
    margin-right: 20px;"
  >
    <v-card width="280" min-height="235">
      <v-navigation-drawer v-model="drawer" floating permanent width="100%">
        <div id="group_menu">
          <v-list>
            <v-list-item-group v-model="activeMenu">
              <v-list-item
                v-for="(item, index) in items"
                :key="item.title"
                active-class="active__menu"
                @click="tabActionActive(index)"
              >
                <div class="sub__menu">
                  <component :is="item.icon" />
                  {{ item.title }}
                </div>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </div>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Collapse from '~/assets/svg/Collapse.svg'
import MessResult from '~/components/MessResult'
import SendAutoComment from '~/components/SendAutoComment'
import SendMessSchedule from '~/components/SendMessSchedule'
export default {
  components: {
    MessResult,
    SendAutoComment,
    SendMessSchedule
  },
  computed: {
    ...mapGetters(['tabAction'])
  },
  data() {
    return {
      drawer: false,
      activeMenu: 0,
      tab: null,
      Collapse,
      items: [
        { title: 'Messages automatically', icon: SendAutoComment },
        { title: 'Messages journey', icon: SendMessSchedule },
        { title: 'Sending results', icon: MessResult }
      ],
      mini: false
    }
  },
  created() {
    this.activeMenu = this.tabAction
  },
  methods: {
    tabActionActive(index) {
      this.$store.commit('tabs/SET_TAB_ACTION', index)
    }
  }
}
</script>
<style lang="scss">
.v-list-item-group .v-list-item--active {
  color: snow !important;
  &:hover {
    background: #fff !important;
    color: #fff !important;
  }
}
.active__menu {
  clear: snow !important;
  background: transparent;
  svg {
    path {
      fill: #ffbe07;
    }
    .result {
      fill: #d48806;
    }
  }
  .sub__menu {
    font-weight: 500 !important;
    background: #fafafa !important;
  }
}
#group_menu {
  margin-top: 24px;
  .v-list {
    padding: 0 !important;
    .v-list-item + .v-list-item {
      margin-bottom: 0px !important;
    }
    .sub__menu {
      cursor: pointer;
      background: #ffffff;
      border: 1px solid #e8e8e8;
      box-sizing: border-box;
      border-radius: 4px;
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 16px;
      &:hover {
        background: #fafafa;
        svg {
          path {
            fill: #ffbe07;
          }
          .result {
            fill: #d48806;
          }
        }
        font-weight: 500;
      }
      color: $grey-8;
      div {
        padding: 0 12px;
      }
    }
  }
  .collapse {
    margin: 16px 16px 16px 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    color: #1890ff;
  }
  .theme--light.v-list-item {
    &:hover {
      &:before {
        background: none;
      }
    }
  }
  .v-ripple__container {
    display: none !important;
    background: transparent !important;
  }
}
</style>
