<template>
  <div>
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="result"
        d="M18.4229 2.6665H17.332V14.6665H29.332V13.5756C29.332 7.57559 24.4229 2.6665 18.4229 2.6665Z"
        fill="#BFBFBF"
      />
      <path
        d="M15.1346 6.6665H14.0013C7.76797 6.6665 2.66797 11.7665 2.66797 17.9998C2.66797 24.2332 7.76797 29.3332 14.0013 29.3332C20.2346 29.3332 25.3346 24.2332 25.3346 17.9998V16.8665H15.1346V6.6665Z"
        fill="#BFBFBF"
      />
    </svg>
  </div>
</template>
