<template>
  <div class="wrap__no__have__data">
    <div>
      <div><img :src="EmptyNoHaveData" alt="" srcset="" /></div>
      <div>
        {{ text }}
      </div>
      <div>
        {{ start }}
        <nuxt-link :to="linkUrl">{{ link }}</nuxt-link>
        {{ subtext }}
      </div>
    </div>
  </div>
</template>
<script>
import EmptyNoHaveData from '~/assets/svg/EmptyNoHaveData.svg'
export default {
  props: {
    text: { type: String, default: '' },
    subtext: { type: String, default: '' },
    link: { type: String, default: '' },
    start: { type: String, default: '' },
    linkUrl: { type: String, default: '' }
  },
  data() {
    return {
      EmptyNoHaveData
    }
  }
}
</script>
<style lang="scss" scoped>
.wrap__no__have__data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
</style>
