<template>
  <div class="chatt-app">
    <img :src="logo" alt="" />
  </div>
</template>

<script>
import logo from '~/assets/img/logo.png'
export default {
  data() {
    return {
      logo
    }
  },
  created() {
    setTimeout(() => {
      this.$store.commit('loading/SET_LOADING', false)
    }, 8000)
  }
}
</script>

<style lang="scss" scoped>
.chatt-app {
  background: linear-gradient(to bottom right, #d7bbea, #65a8f1);
  display: flex;
  align-items: center;
  justify-content: center;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }

  img {
    left: 50%;
    top: 50%;
    position: absolute;
    animation: fadeIn 1s infinite alternate;
  }
}
</style>
