<template>
  <div class="mt-2 page_footer">
    <div class="page-count">
      Số bản ghi hiện thị trên 1 trang
      <div style="width:80px" class="ml-2">
        <v-select
          v-model="perPageDetail"
          :height="32"
          class="px-0"
          dense
          outlined
          :items="itemPage"
          hide-details
          @change="changePerPage"
        ></v-select>
      </div>
    </div>
    <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="5"
      color="#ffbe07"
      circle
      @input="nextPage"
      @next="nextPage"
      @previous="nextPage"
    ></v-pagination>
  </div>
</template>

<script>
export default {
  props: {
    pageCount: { type: Number, default: 20 },
    type: { type: String, default: '' },
    perPage: { type: Number, default: 20 }
  },
  data() {
    return {
      itemPage: [10, 20, 30, 50],
      perPageDetail: 20,
      page: 1
    }
  },
  watch: {
    perPage(val) {
      if (val !== this.perPageDetail) {
        this.perPageDetail = val
      }
    }
  },
  created() {
    this.perPageDetail = this.perPage
  },
  methods: {
    nextPage() {
      this.$emit('nextPage', this.type, this.page, this.perPageDetail)
    },
    changePerPage() {
      this.nextPage()
    }
  }
}
</script>
<style lang="scss" scoped>
.page_footer {
  position: relative;
  .page-count {
    font-size: 12px;
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 30%;
    color: #595959;
  }
}
</style>
<style lang="scss">
.page_footer {
  .v-input__append-inner {
    margin-top: 4px !important;
  }
}
</style>
