<template>
  <div>
    <v-popover
      trigger="manual"
      :open="isOpen"
      offset="5"
      :placement="'right-center'"
      :auto-hide="false"
    >
      <div @mouseover="mouseOver" @mouseleave="mouseLeave">
        <img class="ml-2" :src="SuggestQuestion" alt="" srcset="" />
      </div>
      <template slot="popover">
        <slot></slot>
      </template>
    </v-popover>
  </div>
</template>
<script>
import SuggestQuestion from '~/assets/svg/SuggestQuestion.svg'

export default {
  data() {
    return {
      SuggestQuestion,
      isOpen: false
    }
  },
  methods: {
    mouseOver() {
      this.isOpen = true
    },
    mouseLeave() {
      this.isOpen = false
    }
  }
}
</script>
