<template>
  <div>
    <template v-if="requirements === undefined || requirements === null">
      <SlotItem
        :slot-data="undefined"
        :slot-index="0"
        :skillid="skillid"
        @cancel="cancel"
        @update="update"
      />
    </template>
    <template v-else>
      <draggable
        v-for="(item, index) in requirements.slots"
        :key="`slot_${index}`"
        tag="div"
        :list="requirements.slots"
        handle=".drag-btn"
        @change="handleChangePosition"
      >
        <div class="d-flex">
          <div class="action_btns pl-2 pr-2">
            <div class="drag-btn">
              <img src="~/assets/svg/Drag.svg" title="Drag" class="pb-2 drag" />
            </div>
            <span class="hack-width">&nbsp;</span>
          </div>
          <SlotItem
            :slot-data="item"
            :slot-index="index"
            :skillid="skillid"
            @delete="deleteSlot"
            @update="update"
          />
        </div>
      </draggable>
      <SlotItem
        v-if="showNew"
        :slot-data="undefined"
        :slot-index="requirements.slots.length"
        :skillid="skillid"
        @cancel="cancel"
        @update="update"
      />
      <div>
        <v-btn v-if="!showNew" outlined color="primary" @click="showNew = true">
          <v-icon left>mdi-plus-circle-outline</v-icon>
          Add Slot
        </v-btn>
      </div>
    </template>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import SlotItem from '~/components/SlotItem.vue'

export default {
  name: 'Requirement',
  components: {
    SlotItem,
    draggable
  },
  props: {
    requirements: { type: Object, default: undefined },
    skillid: { type: String, default: '' },
    skillname: { type: String, default: '' }
  },
  data() {
    return {
      showNew: false
    }
  },
  methods: {
    cancel() {
      this.showNew = false
    },
    handleChangePosition() {
      this.$emit('update', this.requirements)
    },
    update(opts) {
      if (this.requirements) {
        // update
        const newSlots = this.requirements.slots.map((item, index) => {
          if (index === opts.index) {
            return opts.slot
          }
          return item
        })
        if (opts.index >= newSlots.length) {
          newSlots.push(opts.slot)
        }
        const newRequirements = {
          ...this.requirements,
          slots: newSlots
        }
        this.$emit('update', newRequirements)
      } else {
        // create
        const newRequirements = {
          slots: [opts.slot]
        }
        this.$emit('update', newRequirements)
      }
      this.showNew = false
    },
    deleteSlot(slotIndex) {
      if (
        this.requirements &&
        this.requirements.slots &&
        this.requirements.slots.length
      ) {
        const newSlots = this.requirements.slots.filter(
          (item, index) => index !== slotIndex
        )
        this.$emit('update', {
          ...this.requirements,
          slots: newSlots
        })
      }
      this.showNew = false
    }
  }
}
</script>
