<template>
  <v-select
    v-model="seleted"
    outlined
    dense
    light
    return-object=""
    multiple
    class="select__filter"
    chips
    :placeholder="placeholder"
    :items="items"
    hide-details
    @change="changeFilter"
  >
    <template v-slot:selection="{ item, index }">
      <v-chip
        v-if="index === 0"
        small
        class="pa-2"
        color="#48B911"
        label
        outlined
      >
        <div class="text-capitalize">{{ item.value ? item.text : item }}</div>
      </v-chip>
      <span v-if="index === 1" class="grey--text caption"
        >(+{{ seleted.length - 1 }})</span
      >
    </template>
    <template v-slot:no-data>
      <div class="no__data">
        {{ noData }}
      </div>
    </template>
  </v-select>
</template>
<script>
export default {
  props: {
    placeholder: { type: String, default: '' },
    type: { type: String, default: '' },
    items: { type: Array, default: () => [] },
    itemSelects: { type: Array, default: () => [] },
    allFanpage: { type: Array, default: () => [] },
    noData: { type: String, default: 'Trường này chưa có dữ liệu' }
  },
  data() {
    return {
      seleted: []
    }
  },
  watch: {
    itemSelects(val) {
      if (this.type === 'page_id') {
        this.seleted = this.items.filter((r) => val.includes(r.value))
      } else {
        this.seleted = val
      }
    }
  },
  created() {
    if (this.itemSelects) {
      if (this.itemSelects.length === 0) {
        this.seleted = []
      } else if (this.itemSelects.length > 1) {
        this.seleted = this.itemSelects
      } else {
        this.seleted = [JSON.parse(JSON.stringify(this.items[0]))]
      }
    }
  },
  methods: {
    changeFilter() {
      if (this.type === 'page_id') {
        this.$emit('submitFilter', {
          type: this.type,
          key: this.seleted.map((r) => r.value),
          value: this.seleted.map((r) => r.text)
        })
      } else {
        this.$emit('submitFilter', {
          type: this.type,
          key: this.seleted.map((r) => (r.value ? r.value : r)),
          value:
            this.seleted.length > 1
              ? this.seleted.reduce((r, t) => {
                  return r.concat(` hoặc ${t.text ? t.text : t} `)
                }, ``)
              : this.seleted[0]
        })
      }
    }
  }
}
</script>
<style lang="scss">
.select__filter {
  .v-chip {
    height: 27px;
  }
}
.no__data {
  font-size: 12px;
  padding-left: 12px;
}
</style>
