<template>
  <div>
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M29.3346 13.0495C29.2804 14.9995 28.5976 16.8811 27.3864 18.4183C26.1751 19.9556 24.4991 21.0678 22.604 21.5918C22.9074 20.6833 23.0619 19.7325 23.0617 18.7755C23.0617 13.4365 18.3368 9.11198 12.5216 9.11198C11.798 9.11943 11.0768 9.19541 10.3678 9.33889C11.2237 7.70417 12.5225 6.33852 14.1181 5.39538C15.7137 4.45225 17.5429 3.969 19.4003 3.99993C24.8924 3.99993 29.3346 8.00415 29.3346 13.0495ZM25.3905 13.4766C25.3983 13.2267 25.3298 12.9804 25.194 12.7698C25.0583 12.5592 24.8615 12.3941 24.6296 12.2962C24.3977 12.1983 24.1413 12.1721 23.8941 12.221C23.6469 12.27 23.4203 12.3918 23.2441 12.5705C23.0679 12.7492 22.9501 12.9765 22.9063 13.2227C22.8626 13.4688 22.8947 13.7224 22.9987 13.9501C23.1026 14.1778 23.2735 14.3691 23.4889 14.499C23.7043 14.6288 23.9542 14.6912 24.2059 14.6778C24.5193 14.6613 24.8149 14.5286 25.0343 14.3061C25.2537 14.0836 25.3808 13.7876 25.3905 13.4766ZM22.5098 18.8155C22.5098 23.8075 18.0676 27.8651 12.5889 27.8651C11.6013 27.865 10.6184 27.7303 9.6678 27.4646L5.80443 29.36L6.53134 25.9564C5.35164 25.1565 4.3843 24.0859 3.71165 22.8356C3.03899 21.5854 2.68094 20.1925 2.66797 18.7755C2.66797 13.7702 7.11017 9.72596 12.5889 9.72596C18.0676 9.72596 22.5098 13.7702 22.5098 18.7755V18.8155ZM9.04858 19.2426C9.04858 18.9971 8.97516 18.7571 8.8376 18.553C8.70004 18.3489 8.50452 18.1898 8.27577 18.0958C8.04702 18.0019 7.7953 17.9773 7.55246 18.0252C7.30962 18.0731 7.08655 18.1913 6.91147 18.3649C6.73639 18.5385 6.61716 18.7597 6.56885 19.0005C6.52055 19.2413 6.54534 19.4909 6.64009 19.7177C6.73485 19.9445 6.8953 20.1384 7.10118 20.2748C7.30705 20.4111 7.54909 20.484 7.79669 20.484C7.9702 20.4915 8.14339 20.4632 8.30527 20.4008C8.46715 20.3384 8.61416 20.2434 8.73697 20.1216C8.85978 19.9998 8.95569 19.854 9.0186 19.6935C9.08152 19.533 9.11007 19.3613 9.10243 19.1893L9.04858 19.2426ZM13.7869 19.2426C13.7869 18.9971 13.7135 18.7571 13.576 18.553C13.4384 18.3489 13.2429 18.1898 13.0141 18.0958C12.7854 18.0019 12.5337 17.9773 12.2908 18.0252C12.048 18.0731 11.8249 18.1913 11.6498 18.3649C11.4747 18.5385 11.3555 18.7597 11.3072 19.0005C11.2589 19.2413 11.2837 19.4909 11.3784 19.7177C11.4732 19.9445 11.6337 20.1384 11.8395 20.2748C12.0454 20.4111 12.2874 20.484 12.535 20.484C12.7085 20.4915 12.8817 20.4632 13.0436 20.4008C13.2055 20.3384 13.3525 20.2434 13.4753 20.1216C13.5981 19.9998 13.694 19.854 13.757 19.6935C13.8199 19.533 13.8484 19.3613 13.8408 19.1893L13.7869 19.2426ZM18.5253 19.2426C18.5253 18.9971 18.4519 18.7571 18.3143 18.553C18.1767 18.3489 17.9812 18.1898 17.7525 18.0958C17.5237 18.0019 17.272 17.9773 17.0292 18.0252C16.7863 18.0731 16.5632 18.1913 16.3882 18.3649C16.2131 18.5385 16.0939 18.7597 16.0455 19.0005C15.9972 19.2413 16.022 19.4909 16.1168 19.7177C16.2115 19.9445 16.372 20.1384 16.5779 20.2748C16.7837 20.4111 17.0258 20.484 17.2734 20.484C17.4469 20.4915 17.6201 20.4632 17.782 20.4008C17.9438 20.3384 18.0909 20.2434 18.2137 20.1216C18.3365 19.9998 18.4324 19.854 18.4953 19.6935C18.5582 19.533 18.5868 19.3613 18.5791 19.1893L18.5253 19.2426Z"
        fill="#BFBFBF"
      />
    </svg>
  </div>
</template>
