<template>
  <div>
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5874 13.4532C17.0219 13.4532 17.3741 13.101 17.3741 12.6665C17.3741 12.2321 17.0219 11.8799 16.5874 11.8799C16.153 11.8799 15.8008 12.2321 15.8008 12.6665C15.8008 13.101 16.153 13.4532 16.5874 13.4532Z"
        fill="#BFBFBF"
      />
      <path
        d="M13.5992 13.4532C14.0336 13.4532 14.3858 13.101 14.3858 12.6665C14.3858 12.2321 14.0336 11.8799 13.5992 11.8799C13.1647 11.8799 12.8125 12.2321 12.8125 12.6665C12.8125 13.101 13.1647 13.4532 13.5992 13.4532Z"
        fill="#BFBFBF"
      />
      <path
        d="M19.5601 13.4532C19.9946 13.4532 20.3468 13.101 20.3468 12.6665C20.3468 12.2321 19.9946 11.8799 19.5601 11.8799C19.1256 11.8799 18.7734 12.2321 18.7734 12.6665C18.7734 13.101 19.1256 13.4532 19.5601 13.4532Z"
        fill="#BFBFBF"
      />
      <path
        d="M16.588 2.6665C13.957 2.6665 11.4338 3.71164 9.57347 5.572C7.71311 7.43237 6.66797 9.95556 6.66797 12.5865C6.66797 17.4132 14.3613 27.5065 16.188 29.8532C16.234 29.9139 16.2934 29.9632 16.3617 29.9971C16.4299 30.0311 16.5051 30.0487 16.5813 30.0487C16.6575 30.0487 16.7327 30.0311 16.8009 29.9971C16.8692 29.9632 16.9286 29.9139 16.9746 29.8532C18.8146 27.5065 26.4946 17.4132 26.4946 12.5865C26.4946 9.95787 25.4513 7.43669 23.5938 5.57671C21.7364 3.71674 19.2166 2.67004 16.588 2.6665V2.6665ZM16.588 18.1332C15.9704 18.1327 15.3557 18.0475 14.7613 17.8798L12.3213 19.0932L12.7746 16.9332C12.0367 16.4271 11.431 15.7512 11.0087 14.9623C10.5865 14.1734 10.3598 13.2946 10.348 12.3998C10.4172 10.8128 11.113 9.31802 12.2828 8.24325C13.4525 7.16848 15.0008 6.60145 16.588 6.6665C18.1752 6.60145 19.7234 7.16848 20.8931 8.24325C22.0629 9.31802 22.7587 10.8128 22.828 12.3998C22.7587 13.9869 22.0629 15.4817 20.8931 16.5564C19.7234 17.6312 18.1752 18.1982 16.588 18.1332Z"
        fill="#BFBFBF"
      />
    </svg>
  </div>
</template>
