<template>
  <v-skeleton-loader
    :loading="loading"
    :transition="transition"
    :height="height"
    :type="type"
  >
    <div>
      <slot></slot>
    </div>
  </v-skeleton-loader>
</template>
<script>
export default {
  props: {
    loading: { type: Boolean, default: false },
    transition: { type: String, default: 'scale-transition' },
    // eslint-disable-next-line vue/require-default-prop
    height: { type: [String, Number], default: '200' },
    type: { type: String, default: 'card' }
  },
  data() {
    return {
      loadingLocal: false
    }
  },
  watch: {
    loading(val) {
      if (val) {
        setTimeout(() => {
          this.loadingLocal = false
        }, 10000)
      } else {
        this.loadingLocal = false
      }
    }
  },
  created() {
    this.loadingLocal = this.loading
  }
}
</script>
