<template>
  <div class="slot px-4 py-2 mb-4">
    <div class="pa-2 my-2 ">
      <div class="d-flex align-end ">
        <v-select
          v-model="tmpSlot.entity_id"
          :items="slotOpts"
          dense
          hide-details
          style="max-width: 250px;"
          placeholder="Select Entity"
          :disabled="!editing && slotData !== undefined"
          @change="changeEntity"
        />
        <strong class="mx-4">as</strong>
        <v-text-field
          v-model="tmpSlot.name"
          placeholder="Slot Name"
          dense
          hide-details
          autocomplete="off"
          style="max-width: 250px;"
          :disabled="!editing && slotData !== undefined"
        />
        <div v-if="editing || !slotData" class="d-flex align-end ml-4">
          <v-btn
            small
            depressed
            color="#FFCF49"
            class="mx-2"
            :disabled="
              tmpSlot.name === '' || (slotData && tmpSlot.num_attempts < 0)
            "
            @click="saveSlot"
          >
            Save
          </v-btn>
          <v-btn depressed small color="error" @click="cancel">
            Cancel
          </v-btn>
        </div>
        <div v-else class="d-flex align-end ml-4">
          <div class="mr-3">
            <IconButton
              icon="mdi-lead-pencil"
              tooltips="Edit this condition"
              color-hover="red"
              :use-svg="true"
              name-svg="EditCustomer"
              @click="editing = true"
            />
          </div>
          <IconButton
            icon="mdi-delete"
            tooltips="Delete this condition"
            color-hover="red"
            :use-svg="true"
            name-svg="Delete"
            @click="deleteSlot"
          />
        </div>
      </div>
      <div>
        <v-checkbox
          v-model="tmpSlot.raw_text"
          :disabled="!editing && slotData !== undefined"
          label="`Accept raw text when train false"
        ></v-checkbox>
      </div>
    </div>
    <div
      v-if="slotData"
      class="pa-2 my-2 d-flex align-center justify-space-between"
    >
      <p class="mb-0">
        <strong class="mr-1 primary--text">[Required]</strong>
        {{ `Config ask for ${tmpSlot.name} Actions` }}
      </p>
      <v-spacer />
      <IconButton
        icon="mdi-square-edit-outline"
        tooltips="Config Actions"
        color="#047bf8"
        color-hover="#047bf8"
        @click="editMessage"
      />
    </div>
    <div
      v-if="slotData"
      class="pa-2 my-2 d-flex align-center justify-space-between"
    >
      <p class="mb-0">
        <strong class="mr-1">[Optional]</strong>
        {{ `Config Actions if ${tmpSlot.name} is` }}
        <strong class="ml-1 primary--text">missing</strong>
      </p>
      <v-spacer />
      <IconButton
        icon="mdi-square-edit-outline"
        tooltips="Config Actions"
        color="#047bf8"
        color-hover="#047bf8"
        @click="editMissing"
      />
    </div>
    <div
      v-if="slotData"
      class="pa-2 my-2 d-flex align-center justify-space-between"
    >
      <p class="mb-0">
        <strong class="mr-1">[Optional]</strong>
        {{ `Config Actions if ${tmpSlot.name} is` }}
        <strong class="ml-1 primary--text">complete</strong>
      </p>
      <v-spacer />
      <IconButton
        icon="mdi-square-edit-outline"
        tooltips="Config Actions"
        color="#047bf8"
        color-hover="#047bf8"
        @click="editComplete()"
      />
    </div>
    <div v-if="slotData" class="pa-2 my-2 d-flex align-end justify-start">
      <span class="mr-4">Optional Slot:</span>
      <v-switch
        v-model="tmpSlot.optional"
        inset
        hide-details
        dense
        class="mt-0"
        :disabled="!editing && slotData !== undefined"
      />
      <span class="ml-6 mr-4">Max Attempts:</span>
      <v-text-field
        v-model="tmpSlot.num_attempts"
        type="number"
        style="max-width: 100px"
        dense
        hide-details
        :disabled="!editing && slotData !== undefined"
      />
    </div>
    <ActionDialog
      :show="actionDialog"
      :skillid="skillid"
      :name="tmpSlot.name"
      group-type="requirement"
      :groupid="actionGroupID"
      @close="closeActionDialog"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import IconButton from '~/components/IconButton.vue'
import ActionDialog from '~/components/ActionDialog.vue'
import { convertTexttoVietNamese } from '@/utils/constanst.js'

export default {
  name: 'SlotItem',
  components: {
    ActionDialog,
    IconButton
  },
  props: {
    slotData: { type: Object, default: undefined },
    slotIndex: { type: Number, default: 0 },
    skillid: { type: String, default: '' },
    skillname: { type: String, default: '' }
  },
  data() {
    return {
      tmpSlot: undefined,
      defaultSlot: {
        name: '',
        entity_id: null,
        message: null,
        missing_message: null,
        complete_message: null,
        optional: false,
        num_attempts: 3,
        raw_text: false,
        crm_variable: null
      },
      editing: false,
      actionDialog: false,
      actionGroupID: ''
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'entities', 'system_entites']),
    slotOpts() {
      let newEntites = this.system_entites.map((r) => {
        return {
          value: r,
          text: '@' + convertTexttoVietNamese[`${r}`] + ' (System entites) '
        }
      })
      const entities = this.entities.map((item) => ({
        text: `@${item.name}`,
        value: item.id
      }))
      entities.unshift({
        text: 'Raw Text',
        value: null
      })
      newEntites.push(entities)
      newEntites = newEntites.flat()
      return newEntites
    }
  },
  watch: {
    slotData(val) {
      if (val) {
        this.tmpSlot = JSON.parse(JSON.stringify(val))
      }
    }
  },
  created() {
    if (this.slotData) {
      this.tmpSlot = JSON.parse(JSON.stringify(this.slotData))
    } else {
      this.tmpSlot = Object.assign({}, this.defaultSlot)
    }
  },
  methods: {
    changeEntity() {
      if (!this.tmpSlot.entity_id) {
        this.tmpSlot.raw_text = true
      }
    },
    cancel() {
      this.editing = false
      if (this.slotData) {
        this.tmpSlot = JSON.parse(JSON.stringify(this.slotData))
      } else {
        this.tmpSlot = Object.assign({}, this.defaultSlot)
      }
      this.$emit('cancel')
    },
    saveSlot() {
      this.editing = false
      this.tmpSlot.num_attempts = parseInt(this.tmpSlot.num_attempts)
      this.$emit('update', { index: this.slotIndex, slot: this.tmpSlot })
    },
    deleteSlot() {
      this.$emit('delete', this.slotIndex)
    },
    editMessage() {
      if (this.tmpSlot.message) {
        this.actionGroupID = this.tmpSlot.message ? this.tmpSlot.message : ''
        this.actionDialog = true
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            actionGroup: {
              name: `skill_${this.skillname}_action_ask_${this.tmpSlot.name}`,
              predicate: '',
              type: 'requirement'
            }
          })
          .then((data) => {
            this.actionGroupID = data.id
            this.tmpSlot.message = data.id
            this.tmpSlot.num_attempts = parseInt(this.tmpSlot.num_attempts)
            this.$emit('update', {
              index: this.slotIndex,
              slot: { ...this.tmpSlot, message: data.id }
            })
            this.actionDialog = true
          })
      }
    },
    editMissing() {
      this.tmpSlot.num_attempts = parseInt(this.tmpSlot.num_attempts)
      if (this.tmpSlot.missing_message) {
        this.actionGroupID = this.tmpSlot.missing_message
          ? this.tmpSlot.missing_message
          : ''
        this.actionDialog = true
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            actionGroup: {
              name: `skill_${this.skillname}_action_reask_${this.tmpSlot.name}`,
              predicate: '',
              type: 'requirement'
            }
          })
          .then((data) => {
            this.actionGroupID = data.id
            this.tmpSlot.missing_message = data.id
            this.$emit('update', {
              index: this.slotIndex,
              slot: { ...this.tmpSlot, missing_message: data.id }
            })
            this.actionDialog = true
          })
      }
    },
    editComplete() {
      this.tmpSlot.num_attempts = parseInt(this.tmpSlot.num_attempts)
      if (this.tmpSlot.complete_message) {
        this.actionGroupID = this.tmpSlot.complete_message
          ? this.tmpSlot.complete_message
          : ''
        this.actionDialog = true
      } else {
        this.$store
          .dispatch('bots/createActionGroup', {
            botID: this.currentBot.id,
            skillID: this.skillid,
            actionGroup: {
              name: `skill_${this.skillname}_action_ack_${this.tmpSlot.name}`,
              predicate: '',
              type: 'requirement'
            }
          })
          .then((data) => {
            this.actionGroupID = data.id
            this.tmpSlot.complete_message = data.id
            this.$emit('update', {
              index: this.slotIndex,
              slot: { ...this.tmpSlot, complete_message: data.id }
            })
            this.actionDialog = true
          })
      }
    },
    closeActionDialog() {
      this.actionGroupID = ''
      this.actionDialog = false
    }
  }
}
</script>

<style lang="postcss" scoped>
.slot {
  border: 1px solid #cccfd6;
  width: 100%;
  div {
    background: #eef0f7;
  }
}

.slot > div {
  background: #eef0f7;
}
</style>
