<template>
  <div class="d-flex mt-1 align-center">
    <IconButton
      icon="mdi-close-circle-outline"
      tooltips="Delete this tag"
      color-hover="red"
      @click="doDelete"
    />
    <span class="caption mx-2 entity" :style="cssProps">
      {{ entity ? `@${entity.name}` : '@Undefined' }}
    </span>
    <span>{{ tagContent }}</span>
  </div>
</template>

<script>
import stc from 'string-to-color'
import IconButton from '~/components/IconButton.vue'
export default {
  name: 'TaggedEntity',
  components: {
    IconButton
  },
  props: {
    content: { type: String, default: '' },
    tag: { type: Object, default: undefined },
    entity: { type: Object, default: undefined }
  },
  computed: {
    cssProps() {
      return {
        '--bg-color': this.entity ? stc(this.entity.name) : stc('@Undefined'),
        '--text-color': 'white'
      }
    },
    tagContent() {
      if (this.content && this.tag) {
        return this.content.slice(this.tag.start_offset, this.tag.end_offset)
      }
      return ''
    }
  },
  methods: {
    doDelete() {
      this.$emit('onRemove', this.tag)
    }
  }
}
</script>
<style lang="scss" scoped>
.entity {
  padding: 2px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
</style>
