<template>
  <div>
    <div
      :id="`textarea_icon${randomMessage}`"
      class="message__text__area"
      :style="{
        height: `${height + 2}px`
      }"
    >
      <v-menu
        :attach="`#textarea_icon${randomMessage}`"
        :close-on-content-click="false"
        offset-x
        :nudge-left="310"
        :min-width="320"
        :nudge-bottom="25"
        :offset-overflow="true"
        max-height="320px"
      >
        <template v-slot:activator="{ on }">
          <span
            class="emoji-trigger triggered mt-1"
            title="Biểu tượng cảm xúc"
            v-on="on"
          >
            <img src="~/assets/icons/smile.svg" width="16px" height="16px" />
          </span>
        </template>
        <picker
          v-show="showEmojiPicker"
          :show-preview="false"
          :show-search="false"
          :infinite-scroll="false"
          @select="addEmoji"
        />
      </v-menu>

      <!-- <span
      class="emoji-trigger"
      :class="{ triggered: showEmojiPicker }"
      @mousedown.prevent="toggleEmojiPicker"
    >
    </span> -->
      <span :id="`variable${randomMessage}`" class="variable-trigger">
        <v-menu
          v-if="entity && variableAssgins && variableAssgins.length"
          v-model="openChangeVariable"
          :attach="variableAttach"
          :close-on-content-click="false"
          offset-y
          :nudge-bottom="nudgeBottom"
          :nudge-right="nudgeRight"
          max-height="320px"
        >
          <template v-slot:activator="{ on }">
            <span class="textarea-append-btn mr-1" title="Chèn biến" v-on="on">
              <img src="~/assets/icons/entity.svg" />
            </span>
          </template>
          <v-card
            class="card_list_variable"
            :class="{
              'limit-card':
                typeMenu === 'dbsearch' ||
                typeMenu === 'missing' ||
                typeMenu === 'collection-scenarios'
            }"
          >
            <div v-for="(item, index) in variableAssgins" :key="index">
              <span class="variable_title">{{ item.key }}</span>
              <div
                v-for="(itemChild, i) in item.value"
                :id="`card__assginment__${randomMessage}`"
                :key="i"
                @click.stop.prevent="appendText(itemChild.display)"
              >
                <div>
                  <v-chip
                    v-if="item.type !== 'bot'"
                    class="ma-1 variable_child"
                    small
                    :color="typeMenu === 'dbsearch' ? '#55e831' : '#9254DE'"
                    >{{
                      typeMenu === 'dbsearch'
                        ? itemChild.compare
                        : itemChild.display
                    }}</v-chip
                  >
                  <v-chip
                    v-if="item.type === 'bot'"
                    class="ma-1 variable_child"
                    small
                    :color="typeMenu === 'dbsearch' ? '#55e831' : '#48B911'"
                    >{{
                      typeMenu === 'dbsearch'
                        ? itemChild.compare
                        : itemChild.display
                    }}</v-chip
                  >
                </div>
              </div>
            </div>
          </v-card>
        </v-menu>
      </span>
      <textarea
        :id="`textarea${randomMessage}`"
        :ref="`textarea${randomMessage}`"
        :value="value"
        :placeholder="placeholder"
        maxlength="640"
        class="textarea"
        :class="{
          'have-error': required
        }"
        :style="{
          height: `${height}px`
        }"
        @keyup="debounceAreaAdjust"
        @keyup.delete="removeAllInput"
        @input="$emit('input', $event.target.value)"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Picker } from 'emoji-mart-vue'
import { debounce } from 'lodash'
export default {
  components: { Picker },
  props: {
    value: {
      type: String,
      default: ''
    },
    variableAssgins: { type: Array, default: () => [] },
    entity: { type: Boolean, default: false },
    required: { type: Boolean, default: false },
    typeMenu: { type: String, default: '' },
    randomMessage: { type: String, default: Math.random().toFixed(5) },
    placeholder: { type: String, default: '' },
    actionIndex: { type: Number, default: -1 },
    heightTab: { type: Number, default: 0 }
  },
  data() {
    return {
      showEmojiPicker: true,
      height: 56,
      changeAssgin: false,
      openChangeVariable: false
    }
  },
  computed: {
    ...mapGetters(['typeDataDbsearch', 'typeDataDbMissingSearch']),
    variableAttach() {
      if (this.typeMenu === 'missing') {
        return `#dbsearch__text${this.actionIndex}`
      } else if (this.typeMenu === 'dbsearch') {
        return `#dbsearch__scenario${this.actionIndex}`
      } else {
        return `#textarea_icon${this.randomMessage}`
      }
    },
    nudgeRight() {
      if (this.typeMenu === 'missing') {
        return 170
      } else if (this.typeMenu === 'dbsearch') {
        return 180
      } else if (this.typeMenu === 'collection-scenarios') {
        return 220
      } else {
        return 140
      }
    },
    nudgeBottom() {
      let nudgeUnder = 0
      if (this.typeMenu === 'dbsearch') {
        if (this.typeDataDbsearch === 'carousel') {
          nudgeUnder = 250
        } else if (this.typeDataDbsearch === 'message') {
          nudgeUnder = 40
        }
      } else if (this.typeMenu === 'missing') {
        if (this.typeDataDbsearch === 'carousel') {
          nudgeUnder = this.heightTab + 30
        } else if (this.typeDataDbsearch === 'message') {
          nudgeUnder = this.heightTab + 30
        } else {
          nudgeUnder = this.heightTab + 30
        }
      } else {
        nudgeUnder = this.height - 20
      }
      return nudgeUnder
    }
  },
  watch: {
    openChangeVariable(val) {
      this.$nextTick(() => {
        if (document.getElementsByClassName('v-menu__content')[1]) {
          document.getElementsByClassName('v-menu__content')[1].style.minWidth =
            'none !important'
        }
      })
    }
  },
  mounted() {
    this.$watch('value', () => {
      this.checkHeight(this.value)
    })
  },
  methods: {
    resetRequired() {
      this.required = false
    },
    checkHeight(data) {
      if (data && data.length) {
        const col = Math.ceil(data.length / 42)
        if (col > 1) {
          this.height = 56 + (col - 1) * 21
        } else {
          this.height = 56
        }
      } else {
        this.height = 56
      }
    },
    debounceAreaAdjust: debounce(function() {
      this.textAreaAdjust()
    }, 2000),
    removeAllInput(e) {
      this.$emit('disableSave')
    },
    textAreaAdjust() {
      this.height =
        this.$refs[`textarea${this.randomMessage}`] &&
        this.$refs[`textarea${this.randomMessage}`].scrollHeight
          ? this.$refs[`textarea${this.randomMessage}`].scrollHeight
          : 300
      this.$emit('updateCommand')
    },
    addEmoji(emoji) {
      const textarea = this.$refs[`textarea${this.randomMessage}`]
      const cursorPosition = textarea.selectionEnd
      const start = this.value.substring(0, textarea.selectionStart)
      const end = this.value.substring(textarea.selectionStart)
      const text = start + emoji.native + end
      this.$emit('input', text)
      textarea.focus()
      this.$nextTick(() => {
        textarea.selectionEnd = cursorPosition + emoji.native.length
        this.$emit('updateCommand')
      })
    },
    appendText(data) {
      const textarea = this.$refs[`textarea${this.randomMessage}`]
      const cursorPosition = textarea.selectionEnd
      const start = this.value.substring(0, textarea.selectionStart)
      const end = this.value.substring(textarea.selectionStart)
      const text = start + data + end
      this.$emit('input', text)
      textarea.focus()
      this.$nextTick(() => {
        textarea.selectionEnd = cursorPosition + data.length
        this.$emit('updateCommand')
      })
    },
    autoFocus() {
      this.$refs[`textarea${this.randomMessage}`].focus()
    },
    toggleEmojiPicker() {
      this.showEmojiPicker = !this.showEmojiPicker
    }
  }
}
</script>

<style lang="scss" scoped>
.have-error {
  border: 1px solid red !important;
}
.card_list_variable {
  padding: 8px 12px;
  .variable_title {
    font-size: 12px;
    color: #bfbfbf;
    white-space: nowrap;
  }
  .variable_child {
    cursor: pointer;
    white-space: nowrap;
  }
}
.message__text__area {
  position: relative;
  line-height: 20px;
  .emoji-trigger {
    position: absolute;
    cursor: pointer;
    bottom: 4px;
    right: 4px;
  }
  .variable-trigger {
    position: absolute;
    bottom: 9px;
    right: 20px;
  }
}
.limit-card {
  max-height: 182px;
  overflow-y: auto;
}
.textarea {
  width: 100%;
  min-height: 10px;
  white-space: pre-wrap;
  padding: 10px 28px 10px 10px;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  outline: none;
  background: #ffffff;
  border: 1px solid #40a9ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  border-radius: 2px;
  resize: none;
}
.textarea-append-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}
</style>
<style lang="scss">
.emoji-mart {
  width: 320px !important;
}
</style>
