<template>
  <div
    class="d-flex align-center justify-space-between tool-bar"
    :class="{
      'is-explain': isExplainMenu
    }"
  >
    <div class="breadcumb d-flex align-cetner">
      <v-breadcrumbs class="title pa-0" :items="breadcumbs" divider="/">
        <template v-slot:item="props">
          <nuxt-link
            :to="props.item.href"
            :class="['breadcumb-item', props.item.disabled && 'disabled']"
          >
            {{ props.item.text }}
          </nuxt-link>
        </template>
      </v-breadcrumbs>
    </div>
    <v-spacer />
    <!-- <div class="tool-bar-actions d-flex">
      <v-btn
        v-if="showTrain"
        small
        depressed
        :loading="overlay"
        color="primary"
        class="text-capitalize"
        @click="train"
      >
        <v-icon small left>mdi-cube-outline</v-icon>
        Train
      </v-btn>
      <v-btn
        small
        depressed
        color="primary"
        class="ml-2"
        @click="toggleTestChat"
      >
        <v-icon left size="24">
          mdi-play-outline
        </v-icon>
        Test Chat
      </v-btn>
    </div> -->
    <v-dialog v-model="showChosenTrain" max-width="400" @click:outside="cancel">
      <v-card class="pa-6">
        <v-select
          v-model="type"
          outlined
          dense
          filled
          :items="typeTrain"
        ></v-select>
        <v-btn block color="primary" class="text-capitalize" @click="submit"
          >Submit</v-btn
        >
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import * as _ from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'ToolBar',
  props: {
    showTrain: { type: Boolean, default: false }
  },
  data() {
    return {
      breadcumbs: [],
      createBotDialog: false,
      showChosenTrain: false,
      overlay: false,
      nameBot: '',
      intentName: '',
      isRunning: false,
      type: 'All',
      entitiName: '',
      faqName: '',
      journeyName: '',
      automationMessage: '',
      typeTrain: ['All', 'Intent', 'Entity']
    }
  },
  computed: {
    ...mapGetters(['currentBot', 'isExplainMenu'])
  },
  watch: {
    $route(to, from) {
      this.init()
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      const paths = this.$route.path.substr(1).split('/')
      if (paths.length > 2) {
        await this.$axios
          .get(`/api/bots/${paths[1]}/`)
          .then((r) => {
            this.nameBot = r.data.name
          })
          .catch((error) => {
            console.log(error)
          })
        if (paths[2] === 'intents' && paths[3]) {
          await this.$store
            .dispatch('bots/getIntents', this.currentBot.id)
            .then((r) => {
              this.intentName = r.items.filter((r) => r.id === paths[3])[0].name
            })
            .catch((error) => {
              console.log(error)
            })
          // paths[3] = this.intentName
        }
        if (paths[2] === 'entities' && paths[3]) {
          await this.$store
            .dispatch('bots/getEntities', this.currentBot.id)
            .then((r) => {
              this.entitiName = r.items.filter((r) => r.id === paths[3])[0].name
            })
            .catch((error) => {
              console.log(error)
            })
          // paths[3] = this.entitiName
        }
        if (
          paths[2] === 'automation-message' &&
          paths[3] === 'journey-messages' &&
          paths[4]
        ) {
          await this.$axios
            .get(
              `/api_spam/bots/${this.$route.params.bot}/spam-journey/${paths[4]}`
            )
            .then((response) => {
              this.journeyName = response.data.name
            })
            .catch((error) => {
              console.log(error)
            })
        }
        if (
          paths[2] === 'automation-message' &&
          paths[3] !== 'journey-messages'
        ) {
          await this.$axios
            .get(
              `/api_spam/bots/${this.$route.params.bot}/spam-groups/${paths[3]}`
            )
            .then((response) => {
              this.automationMessage = response.data.name
            })
            .catch((error) => {
              console.log(error)
            })
        }
      }

      let tmpPath = '/'
      this.breadcumbs = paths.map((item, index) => {
        tmpPath = `${tmpPath}${item}/`
        if (index === 1) {
          return {
            text: this.nameBot,
            href: `${tmpPath}`,
            disabled: false,
            isBold: false
          }
        }
        if (index === paths.length - 1) {
          return {
            text: item,
            href: `${tmpPath}`,
            disabled: true,
            isBold: true
          }
        }
        return {
          text: item,
          href: `${tmpPath}`,
          disabled: false,
          isBold: false
        }
      })
      this.breadcumbs.unshift({
        text: 'Dashboard',
        href: `/`,
        disabled: false,
        isBold: false
      })

      if (this.breadcumbs[4] && this.breadcumbs[4].href.includes('intents')) {
        this.breadcumbs[4].text = this.intentName
      }
      if (this.breadcumbs[4] && this.breadcumbs[4].href.includes('entities')) {
        this.breadcumbs[4].text = this.entitiName
      }
      this.breadcumbs = this.breadcumbs.map((r) => {
        return {
          ...r,
          href: r.href.replace('//', '/')
        }
      })
      if (this.breadcumbs[4] && this.breadcumbs[4].href.includes('skills')) {
        this.breadcumbs.pop()
      }
      if (
        this.breadcumbs[4] &&
        this.breadcumbs[4].href.includes('automation-message') &&
        this.breadcumbs[5] &&
        this.breadcumbs[5].href.includes('journey-messages')
      ) {
        this.breadcumbs[5].text = this.journeyName
      }
      if (
        this.breadcumbs[4] &&
        this.breadcumbs[4].href.includes('automation-message') &&
        !this.breadcumbs[5]
      ) {
        this.breadcumbs[4].text = this.automationMessage
      }
      this.breadcumbs = _.uniqBy(this.breadcumbs, 'href')
    },
    cancel() {
      this.showChosenTrain = false
    },
    train() {
      this.showChosenTrain = true
    },
    submit() {
      if (this.currentBot) {
        this.overlay = true
        this.$store
          .dispatch('bots/train', {
            botID: this.currentBot.id,
            type: this.type
          })
          .then(() => {
            this.overlay = false
            this.close()
            this.$toast.global.my_success({
              message: 'Retrain success'
            })
          })
          .catch(() => {
            this.close()
            this.overlay = false
            this.$toast.global.my_error()
          })
      }
    },
    close() {
      setTimeout(() => {
        this.showChosenTrain = false
      }, 300)
    },
    toggleTestChat() {
      // this.$parent.$emit('toggleTest')
      // this.$emit('toggleTest')
      this.$store.dispatch('toggleTest')
    }
  }
}
</script>

<style lang="scss" scoped>
.is-explain {
  margin-left: 160px !important;
}
.tool-bar {
  margin: 0px;
  padding: 5px 30px;
  background-color: transparent;
}
.breadcumb-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  color: #3e4b5b;
  font-weight: 400;
}
.breadcumb-item:hover {
  text-decoration: underline;
}
.breadcumb-item.disable {
  color: rgba(0, 0, 0, 0.4);
}
</style>
