<template>
  <!-- Level 3 - Condition -->
  <div v-if="level === 3" class="d-flex align-center mb-2">
    <div class="condition pa-2 mr-4 d-flex align-end">
      <v-select
        :value="tmpCondition.content.id"
        :items="contentIDOptsPrivate"
        dense
        hide-details
        return-object
        style="max-width: 250px;"
        :disabled="!editing && condition !== undefined"
        @change="changeConditionID"
      >
        <template v-slot:prepend-item>
          <div class="px-4 pt-2">
            <v-text-field
              v-model="search"
              placeholder="Search"
              dense=""
              outlined=""
              filled=""
              hide-details=""
              append-icon="mdi-magnify"
              height="32"
              @keyup="filterValueSet"
            ></v-text-field>
          </div>
        </template>
        <template v-slot:item="{ item }">
          <div
            :class="{
              'is-header': item.type === 'header',
              'is-items': item.type !== 'header'
            }"
          >
            {{ item.text }}
          </div>
        </template>
      </v-select>
      <v-select
        v-if="tmpCondition.content.id !== ''"
        v-model="tmpCondition.content.operation"
        :items="operationDataAppend"
        placeholder="operation"
        dense
        hide-details
        style="max-width: 150px;"
        class="mx-2"
        :disabled="!editing && condition !== undefined"
      />
      <v-combobox
        v-if="showValue"
        v-model="tmpCondition.content.value"
        :items="operationValues"
        item-text="text"
        item-value="value"
        clearable
        hide-selected
        placeholder="value"
        multiple
        chips
        dense
        hide-details
        autocomplete="off"
        width="250"
        :disabled="!editing && condition !== undefined"
      ></v-combobox>
    </div>
    <!-- <v-spacer /> -->
    <div v-if="editing || !condition" class="d-flex align-end">
      <v-btn
        small
        depressed
        color="#FFBE07"
        class="mx-2"
        :disabled="
          tmpCondition.content.id === '' ||
            (showValue && tmpCondition.content.value === '')
        "
        @click="saveCondition"
      >
        Save
      </v-btn>
      <v-btn depressed small color="error" @click="cancel">
        Cancel
      </v-btn>
    </div>
    <div v-else class="d-flex align-end">
      <div class="mr-3">
        <IconButton
          icon="mdi-lead-pencil"
          tooltips="Edit this condition"
          color-hover="red"
          :use-svg="true"
          name-svg="EditCustomer"
          @click="editing = true"
        />
      </div>
      <IconButton
        icon="mdi-delete"
        tooltips="Delete this condition"
        color-hover="red"
        :use-svg="true"
        name-svg="Delete"
        @click="deleteCondition"
      />
    </div>
  </div>
  <!-- Level 2 - Condition List -->
  <div v-else-if="level === 2" class="condition-group pa-4 mb-4">
    <template v-if="condition === undefined">
      <Trigger
        :condition="undefined"
        :level="level + 1"
        :item-index="0"
        @cancel="cancel"
        @update="saveCondition"
      />
    </template>
    <template v-else>
      <Trigger
        v-for="(item, index) in condition.child"
        :key="`condition_${index}`"
        :condition="item"
        :level="level + 1"
        :item-index="index"
        @delete="deleteCondition"
        @update="saveCondition"
      />
      <Trigger
        v-if="showNew"
        :condition="undefined"
        :level="level + 1"
        :item-index="condition.child.length"
        @cancel="cancel"
        @update="saveCondition"
      />
      <div class="d-flex align-center justify-start">
        <v-btn
          v-if="!showNew"
          small
          outlined
          class="mr-4 button__add__trigger"
          @click="showNew = true"
        >
          <v-icon left>mdi-plus-circle-outline</v-icon>
          Add Condition
        </v-btn>
        <div class="d-flex align-center">
          <v-icon small>mdi-information-outline</v-icon>
          <p v-if="condition.type" class="mb-0 body-2">
            Conditions order are set to
            <strong>{{ `[${condition.type.toUpperCase()}]` }}</strong>
            .
          </p>
          <span
            class="condition-type ml-2 body-2 primary--text"
            @click="changeConditionType"
          >
            {{ `Set to [${condition.type === 'and' ? 'OR' : 'AND'}].` }}
          </span>
        </div>
      </div>
    </template>
  </div>
  <!-- Level 1 - Trigger -->
  <div v-else-if="level === 1">
    <template v-if="condition === undefined">
      <Trigger
        :condition="undefined"
        :level="level + 1"
        :item-index="0"
        @cancel="cancel"
        @update="saveCondition"
      />
    </template>
    <template v-else>
      <Trigger
        v-for="(item, index) in condition.child"
        :key="`condition_list_${index}`"
        :item-index="index"
        :condition="item"
        :level="level + 1"
        @delete="deleteCondition"
        @update="saveCondition"
      />
      <Trigger
        v-if="showNew"
        :condition="undefined"
        :level="level + 1"
        :item-index="condition.child.length"
        @cancel="cancel"
        @update="saveCondition"
      />
      <div class="d-flex align-center justify-start">
        <v-btn
          v-if="!showNew"
          outlined
          color="#FFBE07"
          class="mr-4"
          @click="showNew = true"
        >
          <v-icon left>mdi-plus-circle-outline</v-icon>
          Add Condition Group
        </v-btn>
        <div class="d-flex">
          <v-icon>mdi-information-outline</v-icon>
          <p v-if="condition.type" class="mb-0">
            Condition groups order are set to
            <strong>{{ `[${condition.type.toUpperCase()}]` }}</strong>
            .
          </p>
          <span
            class="condition-type ml-2 primary--text"
            @click="changeConditionType"
          >
            {{ `Set to [${condition.type === 'and' ? 'OR' : 'AND'}].` }}
          </span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as _ from 'lodash'
import IconButton from '~/components/IconButton.vue'
import { convertTexttoVietNamese } from '@/utils/constanst.js'

export default {
  name: 'Trigger',
  components: {
    IconButton
  },
  props: {
    condition: { type: Object, default: undefined },
    level: { type: Number, default: 1 },
    itemIndex: { type: Number, default: 0 }
  },
  data() {
    return {
      operationDataAppend: [],
      contentIDOptsPrivate: [],
      search: '',
      operationValues: [],
      contentIDOptsDefault: [],
      operationData: [
        'match',
        'gt',
        'lt',
        'is-present',
        'is-absent',
        'in',
        'not-in'
      ],
      showNew: false,
      editing: false,
      tmpCondition: undefined
    }
  },
  computed: {
    ...mapGetters([
      'currentBot',
      'intents',
      'entities',
      'skills',
      'system_entites'
    ]),
    getAllIntent() {
      return this.intents.map((r) => {
        return {
          text: r.name,
          value: r.id
        }
      })
    },
    getAllEntity() {
      let newEntites = this.system_entites.map((r) => {
        return {
          value: r,
          text: convertTexttoVietNamese[`${r}`] + ' (System entites) '
        }
      })
      newEntites.push(
        this.entities.map((r) => {
          return {
            text: r.name,
            value: r.id
          }
        })
      )
      newEntites = newEntites.flat()
      return this.entities
    },
    getAllSkill() {
      return this.skills.map((r) => {
        return {
          text: r.name,
          value: r.id
        }
      })
    },
    showValue() {
      if (
        (this.tmpCondition.type !== 'detected_intent' &&
          this.tmpCondition.type !== 'entity' &&
          this.tmpCondition.type !== 'memory' &&
          this.tmpCondition.type !== 'last_skill' &&
          this.tmpCondition.type !== 'any_entity_detected' &&
          this.tmpCondition.type !== '') ||
        (this.tmpCondition.type === 'entity' && this.tmpCondition.is_system)
      ) {
        return false
      }
      return (
        this.tmpCondition.content.operation !== 'is-present' &&
        this.tmpCondition.content.operation !== 'is-absent'
      )
    },
    getAllSlotName() {
      const slotName = this.skills
        .filter((r) => r.requirements)
        .map((r) => r.requirements.slots)
        .filter((r) => r)
        .flat(2)
      const removeDuplicateSlotName = slotName.length
        ? new Set(slotName.map((r) => r.name))
        : []
      return [...removeDuplicateSlotName]
    },
    contentIDOpts() {
      const opts = [
        {
          type: 'detected_intent',
          text: 'Detected Intent',
          value: 'detected_intent'
        },
        {
          type: 'any_entity_detected',
          text: 'Any Entity Detected',
          value: 'any_entity_detected'
        },
        {
          type: 'last_skill',
          text: 'Last Skill Name',
          value: 'last_skill'
        }
      ]
      if (this.intents && this.intents.length) {
        this.intents.forEach((item) => {
          opts.push({
            type: 'header',
            text: 'Intents'
          })
          opts.push({
            type: 'intent',
            text: `#${item.name}`,
            value: `intent_${item.id}`
          })
        })
      }
      if (this.entities && this.entities.length) {
        this.entities.forEach((item) => {
          opts.push({
            type: 'header',
            text: 'Entities'
          })
          opts.push({
            type: 'entity',
            text: `@${item.name}`,
            value: `entity_${item.id}`
          })
        })
      }
      if (this.system_entites && this.system_entites.length) {
        this.system_entites.forEach((r) => {
          opts.push({
            type: 'entity',
            is_system: true,
            text: convertTexttoVietNamese[`${r}`] + ' (System entites) ',
            value: `entity_${r}`
          })
        })
      }
      if (this.getAllSlotName && this.getAllSlotName.length) {
        this.getAllSlotName.forEach((item, index) => {
          opts.push({
            type: 'header',
            text: 'Memories'
          })
          opts.push({
            type: 'memory',
            text: `$${item}`,
            value: item
          })
        })
      }
      return opts
    }
  },
  watch: {
    condition(val) {
      if (val && this.level === 3) {
        if (this.condition.type === 'detected_intent') {
          this.operationValues = this.getAllIntent
        }
        if (this.condition.type === 'any_entity_detected') {
          this.operationValues = this.getAllEntity
        }
        if (this.condition.type === 'last_skill') {
          this.operationValues = this.getAllSkill
        }
        if (
          this.operationValues.length &&
          (this.condition.type === 'detected_intent' ||
            this.condition.type === 'any_entity_detected' ||
            this.condition.type === 'last_skill')
        ) {
          const data = []
          if (
            this.condition.content &&
            this.condition.content.value &&
            this.condition.content.value.length
          ) {
            this.condition.content.value.forEach((r) => {
              this.operationValues.forEach((t) => {
                if (t.value === r) {
                  data.push(t)
                }
              })
            })
          }
          this.tmpCondition = {
            type: this.condition.type,
            child: null,
            content: {
              id: this.condition.content.id,
              operation: this.condition.content.operation,
              value: data
            }
          }
        } else {
          this.tmpCondition = {
            type: this.condition.type,
            child: null,
            content: {
              id: this.condition.content.id,
              operation: this.condition.content.operation,
              value: this.condition.content.value
                ? this.condition.content.value
                : ''
            }
          }
        }
      }
    }
  },
  created() {
    this.operationDataAppend = this.operationData
    if (this.level < 3) return
    if (this.condition) {
      if (this.condition.type === 'detected_intent') {
        this.operationValues = this.getAllIntent
      }
      if (this.condition.type === 'any_entity_detected') {
        this.operationValues = this.getAllEntity
      }
      if (this.condition.type === 'last_skill') {
        this.operationValues = this.getAllSkill
      }
      if (
        this.operationValues.length &&
        (this.condition.type === 'detected_intent' ||
          this.condition.type === 'any_entity_detected' ||
          this.condition.type === 'last_skill')
      ) {
        const data = []
        if (
          this.condition.content &&
          this.condition.content.value &&
          this.condition.content.value.length
        ) {
          this.condition.content.value.forEach((r) => {
            this.operationValues.forEach((t) => {
              if (t.value === r) {
                data.push(t)
              }
            })
          })
        }
        console.log(this.condition)

        this.tmpCondition = {
          type: this.condition.type,
          child: null,
          content: {
            id: this.condition.content.id,
            operation: this.condition.content.operation,
            value: data
          }
        }
      } else {
        this.tmpCondition = {
          type: this.condition.type,
          child: null,
          content: {
            id: this.condition.content.id,
            operation: this.condition.content.operation,
            value: this.condition.content.value
              ? this.condition.content.value
              : ''
          }
        }
      }
    } else {
      this.tmpCondition = {
        type: '',
        child: null,
        content: {
          id: '',
          operation: 'is-present',
          value: ''
        }
      }
    }
    if (
      this.tmpCondition.type === 'entity' &&
      this.tmpCondition.content &&
      this.tmpCondition.content.id.startsWith('entity_sys')
    ) {
      this.tmpCondition = {
        ...this.tmpCondition,
        is_system: true
      }
    }
  },
  mounted() {
    this.contentIDOptsDefault = this.contentIDOpts
    this.contentIDOptsPrivate = this.contentIDOpts
  },
  methods: {
    filterValueSet() {
      this.contentIDOptsPrivate = JSON.parse(
        JSON.stringify(
          this.contentIDOptsDefault.filter((r) => r.text.includes(this.search))
        )
      )
    },
    changeConditionID(e) {
      if (e.type !== 'header') {
        if (e.type === 'intent' || (e.type === 'entity' && e.is_system)) {
          this.operationDataAppend = [
            this.operationData[3],
            this.operationData[4]
          ]
        } else if (e.type === 'entity' || e.type === 'memory') {
          this.operationDataAppend = this.operationData
        } else if (e.type === 'last_skill') {
          this.operationValues = []
          this.operationDataAppend = ['in', 'not-in']
          this.operationValues = this.getAllSkill
        } else if (e.type === 'detected_intent') {
          this.operationValues = []
          this.operationDataAppend = ['in', 'not-in']
          this.operationValues = this.getAllIntent
        } else {
          this.operationValues = []
          this.operationDataAppend = ['in']
          this.operationValues = this.getAllEntity
        }
        this.tmpCondition.type = e.type
        this.tmpCondition.content.id = e.value
      }
    },
    cancel() {
      if (this.level === 3) {
        if (this.condition) {
          this.tmpCondition = {
            type: this.condition.type,
            child: null,
            content: {
              id: this.condition.content.id,
              operation: this.condition.content.operation,
              value: this.condition.content.value
                ? this.condition.content.value
                : ''
            }
          }
        } else {
          this.tmpCondition = {
            type: '',
            child: null,
            content: {
              id: '',
              operation: 'is-present',
              value: ''
            }
          }
        }
        this.editing = false
      }
      this.showNew = false
      this.$emit('cancel')
    },
    saveCondition(opts) {
      // opts is {index, condition}
      if (this.level === 3) {
        let data = _.cloneDeep(this.tmpCondition)
        if (this.showValue) {
          if (
            data.type === 'detected_intent' ||
            data.type === 'last_skill' ||
            data.type === 'any_entity_detected'
          ) {
            data = {
              child: null,
              type: data.type,
              content: {
                ...data.content,
                value: data.content.value.map((r) => r.value)
              }
            }
          }
          this.$emit('update', {
            index: this.itemIndex,
            condition: data
          })
        } else {
          this.$emit('update', {
            index: this.itemIndex,
            condition: {
              type: this.tmpCondition.type,
              child: null,
              content: {
                id: this.tmpCondition.content.id,
                operation: this.tmpCondition.content.operation
              }
            }
          })
        }
        this.editing = false
      } else if (this.condition) {
        // update
        const newChild = this.condition.child.map((item, index) => {
          if (index === opts.index) {
            return opts.condition
          }
          return item
        })
        if (opts.index >= newChild.length) {
          newChild.push(opts.condition)
        }
        const newCondition = {
          type: this.condition.type,
          content: null,
          child: newChild
        }
        this.showNew = false
        this.$emit('update', { index: this.itemIndex, condition: newCondition })
      } else {
        // create new
        const newCondition = {
          type: 'and',
          content: null,
          child: [opts.condition]
        }
        this.showNew = false
        this.$emit('update', { index: this.itemIndex, condition: newCondition })
      }
    },
    deleteCondition(itemIndex) {
      if (this.level === 3) {
        this.$emit('delete', this.itemIndex)
      } else if (this.condition.child.length >= 1) {
        const newCondition = {
          ...this.condition,
          child: this.condition.child.filter(
            (item, index) => index !== itemIndex
          )
        }
        this.$emit('update', { index: this.itemIndex, condition: newCondition })
      } else {
        this.$emit('delete', this.itemIndex)
      }
    },
    changeConditionType() {
      if (this.level === 3) return
      const newCondition = {
        ...this.condition,
        type: this.condition.type === 'and' ? 'or' : 'and'
      }
      this.$emit('update', { index: this.itemIndex, condition: newCondition })
    }
  }
}
</script>

<style lang="postcss" scoped>
.is-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
  pointer-events: none;
}
.button__add__trigger {
  border: 1px dashed #8c8c8c;
}
.is-items {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;

  /* Grey / grey-8 */

  color: #595959;
}
.condition {
  background: #eef0f7;
}

.condition-group {
  border: 1px solid #cccfd6;
}

.condition-type {
  cursor: pointer;
}
</style>
