<template>
  <div :style="{ width: width, maxWidth: maxWidth, minWidth: minWidth }">
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      :return-value.sync="date"
      transition="scale-transition"
      offset-y
    >
      <template v-slot:activator="{ on }">
        <label class="label_message" for="date_message">{{ label }}</label>
        <v-text-field
          id="date_message"
          v-model="displayDate"
          :readonly="!manualEdit"
          :placeholder="placeholder"
          :rules="rules"
          hide-details
          outlined
          height="32"
          dense
          :clearable="clearable"
          class="input___date__picker"
          v-on="on"
          @blur="handleBlur()"
          @click:clear="clear"
        ></v-text-field>
      </template>
      <v-date-picker
        ref="customDatepicker"
        v-model="date"
        no-title
        scrollable
        :locale="locale"
        :allowed-dates="allowedDates"
        @change="selectDate(true)"
      >
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="menu = false">Hủy</v-btn>
        <v-btn text color="primary" @click="selectDate(true)">OK</v-btn>
      </v-date-picker>
    </v-menu>
  </div>
</template>
<script>
export default {
  props: {
    value: { type: String, default: null },
    displayFormat: { type: String, default: 'YYYY-MM-DD' },
    width: { type: String, default: '' },
    maxWidth: { type: String, default: '' },
    minWidth: { type: String, default: '' },
    placeholder: { type: String, default: 'Chọn ngày' },
    label: { type: String, default: '' },
    arrowIcon: { type: String, default: 'mdi-chevron-down' },
    manualEdit: { type: Boolean, default: false },
    minDate: { type: Date, default: null },
    maxDate: { type: Date, default: null },
    locale: { type: String, default: 'vi' },
    activePicker: { type: String, default: null },
    clearable: { type: Boolean, default: false },
    rules: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      menu: false,
      date: this.value,
      displayDate: this.value
    }
  },
  watch: {
    value(value) {
      this.date = value
      if (value) {
        const date = this.$moment(value)
        if (date._isValid) {
          this.displayDate = date.format(this.displayFormat)
        }
      } else {
        this.displayDate = ''
      }
    },
    displayDate(value) {
      if (value && value.replace(/\D/g, '').length === 8) {
        try {
          const date = this.$moment(value, this.displayFormat)
          if (date._isValid) {
            this.date = date.format('YYYY-MM-DD')
            this.selectDate()
          }
        } catch (error) {
          console.log(error)
        }
      }
    },
    menu(val) {
      setTimeout(() => {
        if (
          val &&
          ['YEAR', 'MONTH'].includes(this.activePicker) &&
          this.$refs.customDatepicker
        ) {
          this.$refs.customDatepicker.activePicker = this.activePicker
        }
      }, 200)
    }
  },
  beforeMount() {
    if (this.value) {
      const date = this.$moment(this.value, 'YYYY-MM-DD')
      if (date._isValid) {
        this.displayDate = date.format(this.displayFormat)
      }
    }
  },
  methods: {
    allowedDates(val) {
      let minResult = true
      let maxResult = true
      if (this.minDate) {
        const min = this.$moment(this.minDate)
        if (min._isValid) {
          minResult =
            this.$moment(val).valueOf() > min.subtract(1, 'days').valueOf()
        }
      }
      if (this.maxDate) {
        const max = this.$moment(this.maxDate)
        if (max._isValid) {
          maxResult = this.$moment(val).valueOf() < max.valueOf()
        }
      }
      return minResult && maxResult
    },
    selectDate(interactive = false) {
      this.$refs.menu.save(this.date)
      this.$emit('change', this.date)
      this.$emit('input', this.date)
    },
    handleBlur() {
      if (this.displayDate) {
        const date = this.$moment(this.displayDate, this.displayFormat)
        if (date._isValid) {
          this.date = date.format('YYYY-MM-DD')
        }
      }
    },
    clear() {
      this.$refs.menu.save(null)
      this.$emit('change', null)
      this.$emit('input', null)
    }
  }
}
</script>

<style lang="scss">
.label_message {
  font-size: 12px;
  color: #757575;
}
.input___date__picker {
  .v-input__append-inner {
    margin-top: 4px !important;
    button {
      font-size: 16px !important;
    }
  }
  label {
    top: 6px !important;
  }
}
</style>
