<template>
  <div>
    <label class="label_message" for="date_message">Chọn giờ</label>
    <div id="date_message" class="date_picker">
      <flatPickr
        v-model="date"
        :config="config"
        name="date"
        @on-close="closeChosenDate"
        @on-open="onOpenTimePicker"
      >
      </flatPickr>
    </div>
  </div>
</template>
<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
export default {
  components: {
    flatPickr
  },
  props: {
    value: { type: String, default: null }
  },
  data() {
    return {
      date: null,
      config: {
        wrap: true,
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i K',
        defaultDate: null,
        minuteIncrement: '1',
        time_24hr: true
      }
    }
  },
  created() {
    if (this.value) {
      this.date = this.value
    }
  },
  methods: {
    closeChosenDate() {
      this.$emit('update', this.date)
    },
    onOpenTimePicker() {
      this.$emit('toggleTimePicker', true)
    }
  }
}
</script>
<style lang="scss" scoped>
.date_picker {
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  height: 40px;
  width: 100px;
  input {
    padding-top: 4px;
    padding-left: 10px;
    width: 90px;
  }
}
</style>
