<template>
  <p ref="rootRef" class="mb-0 text-annotator" @mouseup="handleMouseUp">
    <Tag
      v-for="item in tags"
      :key="`${item.start_offset}-${item.end_offset}`"
      :token="item.token"
      :tagid="item.id"
      :entityid="item.entity_id"
      :entitycolor="item.entitycolor"
      :children="item.children"
      :content="item.content"
      :start="item.start_offset"
      :end="item.end_offset"
      @click="handleTagClick"
    />
  </p>
</template>
<script>
import Tag from './Tag.vue'
import {
  splitWithOffsets,
  selectionIsEmpty,
  selectionIsBackwards
} from '~/utils/tokenize'
export default {
  name: 'TextAnnotator',
  components: {
    Tag
  },
  props: {
    sample: { type: Object, default: undefined },
    content: { type: String, default: '' },
    values: { type: Array, default: () => [] }
  },
  data() {
    return {
      selectedValue: undefined,
      skipClick: false
    }
  },
  computed: {
    tags() {
      return splitWithOffsets(this.content, this.values)
    }
  },
  watch: {
    values() {
      window.getSelection().empty()
    }
  },
  created() {
    console.log(this.values)
  },
  methods: {
    handleMouseUp(e) {
      e.preventDefault()
      let canTrigger = true
      const selection = window.getSelection()
      if (selection.anchorNode.data !== selection.focusNode.data) {
        canTrigger = false
      }
      if (selectionIsEmpty(selection)) {
        this.cancel()
        return
      }

      const level = parseInt(
        selection.anchorNode.parentElement.getAttribute('level'),
        10
      )
      if (level > 0) {
        canTrigger = false
      }

      const anchorType = selection.anchorNode.parentElement.getAttribute(
        'data-type'
      )

      const anchorOffset =
        anchorType === 'token'
          ? selection.anchorOffset
          : selection.anchorOffset - 3
      const focusOffset =
        anchorType === 'token'
          ? selection.focusOffset
          : selection.focusOffset - 3
      let start =
        parseInt(selection.anchorNode.parentElement.getAttribute('start'), 10) +
        anchorOffset
      let end =
        parseInt(selection.focusNode.parentElement.getAttribute('start'), 10) +
        focusOffset

      if (selectionIsBackwards(selection)) {
        ;[start, end] = [end, start]
      }
      const selectedContent = this.content.slice(start, end)

      // find exact start offset & end offset by trimLeft & trimRight
      const trimLeft =
        selectedContent.length - selectedContent.trimLeft().length
      const trimRight =
        selectedContent.length - selectedContent.trimRight().length
      start = start + trimLeft
      end = end - trimRight

      // find exact start offset & end offset
      if (start > 0 && this.content[start - 1] !== ' ') {
        for (let i = start - 1; i >= 0; i--) {
          if (
            this.content[i] !== ' ' &&
            this.content[i] !== ',' &&
            this.content[i] !== ';' &&
            this.content[i] !== '-'
          ) {
            start = i
          } else {
            break
          }
        }
      }

      if (end < this.content.length && this.content[end] !== ' ') {
        for (let j = end; j < this.content.length; j++) {
          if (
            this.content[j] !== ' ' &&
            this.content[j] !== ',' &&
            this.content[j] !== ';' &&
            this.content[j] !== '-' &&
            this.content[j] !== '.'
          ) {
            end = j + 1
          } else {
            break
          }
        }
      }
      if (start < 0) start = 0
      if (end > this.content.length) end = this.content.length

      const sContent = this.content.slice(start, end)
      if (sContent.trim() === '') {
        this.cancel()
        return
      }

      if (canTrigger) {
        // skip click
        this.skipClick = true
        this.selectedValue = {
          id: -1,
          entity: -1,
          start_offset: start,
          end_offset: end,
          content: sContent
        }
        setTimeout(() => this.submit(), 200)
      } else {
        this.selectedValue = undefined
      }
    },
    submit() {
      if (this.selectedValue !== undefined) {
        this.$emit('select', {
          sample: this.sample,
          tag: this.selectedValue
        })
        this.selectedValue = undefined
      }
    },
    handleTagClick(data) {
      if (this.skipClick) {
        if (this.selectedValue !== undefined) {
          this.$emit('select', {
            sample: this.sample,
            tag: this.selectedValue
          })
          this.selectedValue = undefined
        } else {
          this.cancel()
        }
        this.skipClick = false
      } else {
        this.$emit('select', {
          sample: this.sample,
          tag: data
        })
      }
    },
    cancel() {
      this.skipClick = false
      this.selectedValue = undefined
      this.$emit('cancel')
    }
  }
}
</script>

<style lang="postcss" scoped>
.text-annotator {
  width: 100%;
}
</style>
