<template>
  <Token
    v-if="token"
    :tagid="tagid"
    :entityid="entityid"
    :entitycolor="entitycolor"
    :children="children"
    :level="0"
    :content="content"
    :start="start"
    :end="end"
    @click="handleTokenClick"
  />
  <span v-else :start="start" :end="end">
    {{ content }}
  </span>
</template>

<script>
import Token from './Token.vue'
export default {
  name: 'Tag',
  components: {
    Token
  },
  props: {
    token: { type: Boolean, default: false },
    tagid: { type: String, default: '' },
    entityid: { type: String, default: '' },
    entitycolor: { type: String, default: 'transparent' },
    children: { type: Array, default: () => [] },
    content: { type: String, default: '' },
    start: { type: Number, default: 0 },
    end: { type: Number, default: 0 }
  },
  methods: {
    handleTokenClick(data) {
      this.$emit('click', data)
    }
  }
}
</script>
