<template>
  <span
    v-if="children && children.length"
    level="0"
    class="token mx-1"
    :style="cssProps"
    data-type="token"
  >
    <Token
      v-for="(item, index) in children"
      :key="`${start}-${end}_${index}`"
      :level="1"
      :tagid="item.id"
      :entityid="item.entity_id"
      :entitycolor="item.entitycolor"
      :content="item.content"
      :start="item.start_offset"
      :end="item.end_offset"
      @click="handleChildClick"
    />
    <v-icon class="edit-btn" @click="handleClick2">mdi-pencil</v-icon>
  </span>
  <span
    v-else
    data-type="token"
    :class="['mx-1', level === 0 ? 'token' : 'token-child']"
    :level="entityid ? level : 0"
    :start="start"
    :end="end"
    :entityid="entityid"
    :style="cssProps"
    @click="handleClick"
    >{{ content }}</span
  >
</template>

<script>
export default {
  name: 'Token',
  props: {
    tagid: { type: String, default: '' },
    entityid: { type: String, default: '' },
    entitycolor: { type: String, default: 'transparent' },
    level: { type: Number, default: 0 },
    children: { type: Array, default: () => [] },
    content: { type: String, default: '' },
    start: { type: Number, default: 0 },
    end: { type: Number, default: 0 }
  },
  computed: {
    cssProps() {
      if (this.entityid) {
        return {
          '--bg-color': this.entitycolor,
          '--text-color': 'white'
        }
      }
      return {
        '--bg-color': 'inherit',
        '--text-color': 'inherit'
      }
    }
  },
  methods: {
    handleClick(e) {
      if (this.children.length === 0 && this.entityid) {
        e.stopPropagation()
        this.$emit('click', {
          id: this.tagid,
          entity: this.entityid,
          start_offset: this.start,
          end_offset: this.end,
          content: this.content
        })
      }
    },
    handleClick2(e) {
      e.stopPropagation()
      this.$emit('click', {
        id: this.tagid,
        entity: this.entityid,
        start_offset: this.start,
        end_offset: this.end,
        content: this.content
      })
    },
    handleChildClick(data) {
      this.$emit('click', data)
    }
  }
}
</script>

<style lang="postcss" scoped>
.token {
  cursor: pointer;
  padding: 1px 5px;
  background-color: var(--bg-color);
  color: var(--text-color);

  & > i {
    font-size: 16px;
    color: var(--text-color);
  }
}

.token-child {
  cursor: pointer;
  padding: 0px 1px;
  background-color: var(--bg-color);
}
</style>
