// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
@import '~/assets/tooltip';
//
// The variables you want to modify
// $font-size-root: 20px;

@import '~vuetify/src/styles/settings/_colors.scss';

$body-font-family: 'Noto Sans', sans-serif !default;

$data-table-expanded-content-box-shadow: none;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #334152;
}

h1, .h1 {
  font-size: 2.5rem;
}
  
h2, .h2 {
  font-size: 2rem;
}
  
h3, .h3 {
  font-size: 1.75rem;
}
  
h4, .h4 {
  font-size: 1.5rem;
}
  
h5, .h5 {
  font-size: 1.25rem;
}
  
h6, .h6 {
  font-size: 1rem;
}

.dialog-right-transition {
  &-enter, &-leave-to {
    transform: translateX(100%);
  }
}

.v-dialog--fullscreen {
  border-radius: 0;
  margin: 0;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 30%;
  width: 70%;
}
.v-data-footer{
  justify-content: flex-start;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.125);
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.125);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.125);
}

.border-all {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
}
.v-tooltip__content {
  background: rgb(221, 219, 219) !important;
}
.v-menu__content {
  background: #ffffff !important;
}
$grey-2: #fafafa;
$grey-3: #f5f5f5;
$grey-4: #e8e8e8;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf;
$grey-7: #8c8c8c;
$grey-8: #595959;
$grey-10: #000;

$gold-5: #ffcf49;
$gold-6: #ffbe07;
$gold-7: #d48806;

$vocalo-6: #fa541c;

$blue-5: #40a9ff;
$blue-6: #1890ff;
$blue-7: #096dd9;

$green-6: #48b911;

// json viewer
// .vjs-key {
//   color: white;
// }

// .vjs-tree__brackets {
//   color: white;
// }

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:vertical {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #868484; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868484; 
}
.v-btn__content {
  text-transform: none !important;
}
.v-input--switch {
  background: none;
}