<template>
  <v-app class="chatt-app">
    <v-content class="auth-wrapper">
      <v-container class="auth-container" :style="cssProps">
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {}
</script>

<style lang="postcss" scoped>
.auth-wrapper {
  margin: 50px;
}

.auth-container {
  margin: 0 auto;
  padding: 0px 100px !important;
  max-width: 1600px;
  box-shadow: none;
  border-radius: 0px;
  background-image: var(--bg-url);
  background-size: contain;
  background-repeat: repeat;
  background-position: 0 0;
}
</style>
