<template>
  <v-app class="chatt-app">
    <v-content class="main-wrapper">
      <v-navigation-drawer
        v-model="drawer"
        :value="true"
        color="#2E3438"
        class="navigation__drawer"
        :class="{
          'expand-class': expand
        }"
        mini-variant-width="88"
        mini-variant
        absolute
        dark
        left
        :permanent="$vuetify.breakpoint.mdAndUp"
      >
        <!-- Logo -->
        <div
          class="nav__nagivation"
          @mouseover="mouseOver"
          @mouseleave="mouseClose"
        >
          <v-col cols="12" sm="12" md="12" class="logo" @click="gotoHome">
          </v-col>
          <!-- avatar -->
          <v-list expand nav class="py-0 nav-dashboard">
            <div v-for="(menu, i) in menus" :key="i">
              <v-list-group
                v-if="!menu.isHaveSubmenu && !botId"
                v-model="menu.active"
                active-class="border"
                class="list__nav"
                @click="active(i, menu)"
              >
                <template v-slot:activator>
                  <v-list-item-content class="pl-2">
                    <v-list-item-title>
                      <v-tooltip right :nudge-right="12">
                        <template v-slot:activator="{ on, attrs }">
                          <div v-bind="attrs" v-on="on">
                            <component
                              :is="menu.component"
                              :active="menu.activeSvg"
                              class="icon-margin-text"
                            />
                          </div>
                        </template>
                        <span class="text__message">{{ menu.text }}</span>
                      </v-tooltip>
                      <span class="nav-text">{{ menu.text }}</span>
                      <svg
                        v-if="menu.subComponent && menu.subComponent.length"
                        class="mr-2 dropdown"
                        width="6"
                        height="10"
                        viewBox="0 0 6 10"
                        fill="#C4C4C4"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M6 5L0 9.33013L0 0.669873L6 5Z" />
                      </svg>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <div
                  v-if="menu.subComponent && menu.subComponent.length"
                  class="subComponent"
                >
                  <v-list-item
                    v-for="(subItem, t) in menu.subComponent"
                    :key="t"
                    v-model="subItem.activeSub"
                    active-class="sub__component"
                    color="#2e3438"
                    @click="activeSub(i, t, subItem.to)"
                  >
                    <v-list-item-content>
                      <v-list-item-title>{{ subItem.text }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </div>
              </v-list-group>
              <v-list-group
                v-if="botId"
                v-model="menu.active"
                active-class="border"
                class="list__nav"
                @click="active(i, menu)"
              >
                <template v-slot:activator>
                  <v-list-item-content class="pl-2">
                    <v-list-item-title>
                      <v-tooltip right :nudge-right="12">
                        <template v-slot:activator="{ on, attrs }">
                          <div v-bind="attrs" v-on="on">
                            <component
                              :is="menu.component"
                              :active="menu.activeSvg"
                              class="icon-margin-text"
                            />
                          </div>
                        </template>
                        <span class="text__message">{{ menu.text }}</span>
                      </v-tooltip>
                      <span class="nav-text">{{ menu.text }}</span>
                      <svg
                        v-if="menu.subComponent && menu.subComponent.length"
                        class="mr-2 dropdown"
                        width="6"
                        height="10"
                        viewBox="0 0 6 10"
                        fill="#C4C4C4"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M6 5L0 9.33013L0 0.669873L6 5Z" />
                      </svg>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>

                <div
                  v-if="menu.subComponent && menu.subComponent.length"
                  class="subComponent"
                >
                  <v-list-item
                    v-for="(subItem, t) in menu.subComponent"
                    :key="t"
                    v-model="subItem.activeSub"
                    active-class="sub__component"
                    color="#2e3438"
                    @click="activeSub(i, t, subItem.to)"
                  >
                    <v-list-item-content>
                      <v-list-item-title>{{ subItem.text }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </div>
              </v-list-group>
            </div>
          </v-list>
          <div v-if="show" class="expand">
            <v-btn
              v-if="expand"
              class="button__toggle"
              fab
              x-small
              color="#fff"
              @click="expandNav"
            >
              <v-icon color="#262626">mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              v-else
              class="button__toggle"
              color="#fff"
              fab
              x-small
              @click="collageNav"
            >
              <v-icon color="#262626">mdi-chevron-right</v-icon>
            </v-btn>
          </div>
        </div>
      </v-navigation-drawer>
      <v-toolbar class="header__dashboard">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-btn
          v-if="backButton.text"
          :class="{
            marginNavbar: $vuetify.breakpoint.mdAndUp,
            open: expand,
            marginHoverNavbar: hover
          }"
          depressed
          rounded
          large
          height="38"
          @click="$router.push(localePath(backButton.path))"
        >
          <v-icon class="text-grey-7">
            mdi-chevron-left
          </v-icon>
          {{ backButton.text }}
        </v-btn>
        <LoadingSecond
          v-if="backButton.showSavingStatus"
          class="ml-1"
          :saving="saving"
        />
        <Header />
        <div class="d-flex align-center button__new__bot">
          <v-btn v-if="!botId" color="#FFBE07" @click="createBotDialog = true">
            New Bot
          </v-btn>
          <v-btn
            v-if="botId"
            class="text-capitalize mr-4"
            depressed=""
            color="#FFCF49"
            @click="training"
          >
            <img :src="Training" alt="" srcset="" class="mr-2" />
            Training </v-btn
          ><v-btn
            v-if="botId"
            color="#0040BF"
            depressed=""
            class="text-capitalize"
            dark=""
            @click="toggleTestChat"
          >
            <img :src="Play" alt="" srcset="" class="mr-2" />
            Test Chat
          </v-btn>
        </div>
      </v-toolbar>

      <v-container
        :class="{ 'main-content': true, 'main-content__expand': hover }"
      >
        <div
          :class="{
            'main-container': true,
            'main-container-fluid': containerFluid
          }"
          :style="{ height: height + 3 + 'px' }"
        >
          <nuxt />
        </div>
      </v-container>
    </v-content>
    <CreateBot
      :show="createBotDialog"
      @cancel="cancelCreateBot"
      @accept="doCreateBot"
    />
    <TestChat ref="testChat" :show="visibleChat" />
    <TestCaseChat
      ref="testChat"
      :data-test="dataTestFail"
      :show="visibleChatCase"
    />

    <v-dialog v-model="showChosenTrain" max-width="400" @click:outside="cancel">
      <v-card class="pa-6">
        <v-select
          v-model="type"
          outlined
          dense
          filled
          :items="typeTrain"
        ></v-select>
        <v-btn block color="primary" @click="submit">Submit</v-btn>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import logo from '~/assets/svg/LogoDashboard.svg'
import Training from '~/assets/svg/Training.svg'
import Play from '~/assets/svg/Play.svg'
import improveAccount from '~/assets/svg/improveAcc.svg'
import chatNav from '~/assets/svg/ChatNav.svg'
import Chat from '~/components/icon/Chat'
import House from '~/components/icon/House'
import Header from '~/components/Header'
import LoadingSecond from '~/components/LoadingSecond'
import Logout from '~/components/icon/Logout'
import CreateBot from '~/components/CreateBot.vue'
import Chatbot from '~/components/icon/Chatbot'
import FAQ from '~/components/icon/FAQ.vue'
import Channels from '~/components/icon/Channels.vue'
import Customer from '~/components/icon/Customer.vue'
import TestCase from '~/components/icon/TestCase.vue'
import Broadcast from '~/components/icon/Broadcast.vue'
import Store from '~/components/icon/Store.vue'
import TestChat from '~/components/TestChat/index.vue'
import TestCaseChat from '~/components/TestCaseChat/index.vue'

export default {
  components: {
    Chat,
    LoadingSecond,
    TestChat,
    TestCaseChat,
    TestCase,
    House,
    Header,
    Logout,
    CreateBot,
    Chatbot,
    FAQ,
    Channels,
    Customer,
    Store,
    Broadcast
  },
  data() {
    return {
      type: 'All',
      typeTrain: ['All', 'Intent', 'Entity'],
      showChosenTrain: false,
      Play,
      logo,
      chatNav,
      Training,
      improveAccount,
      botId: -1,
      expand: false,
      show: false,
      containerFluid: false,
      height: 500,
      hover: false,
      item: 0,
      drawer: null,
      chatBot: [
        {
          text: 'Intents',
          activeSub: false,
          to: 'bot-bot-intents'
        },
        {
          text: 'Entities',
          activeSub: false,
          to: 'bot-bot-entities'
        },
        {
          text: 'Skills',
          activeSub: false,
          to: 'bot-bot-skills'
        },
        {
          text: 'History',
          activeSub: false,
          to: 'bot-bot-history'
        }
      ],
      menus: [
        {
          text: 'Dashboard',
          component: House,
          activeSvg: true,
          to: '/'
        },
        {
          text: 'Dialog Manager',
          component: Chatbot,
          activeSvg: false,
          subComponent: [],
          isHaveSubmenu: true
        },
        {
          text: 'Online Chat',
          component: Chat,
          activeSvg: false,
          to: 'bot-bot-livechat',
          isHaveSubmenu: true
        },
        {
          text: 'FAQ',
          component: FAQ,
          activeSvg: false,
          to: 'bot-bot-faqs',
          isHaveSubmenu: true
        },
        {
          text: 'Channels',
          component: Channels,
          activeSvg: false,
          to: 'bot-bot-channels',
          isHaveSubmenu: true
        },
        {
          text: 'Test Cases',
          component: TestCase,
          activeSvg: false,
          to: 'bot-bot-testcase',
          isHaveSubmenu: true
        },
        {
          text: 'Boardcast',
          activeSvg: false,
          component: Broadcast,
          to: 'bot-bot-automation-message',
          isHaveSubmenu: true
        },
        {
          text: 'Stores',
          component: Store,
          activeSvg: false,
          to: 'bot-bot-store',
          isHaveSubmenu: true
        },
        {
          text: 'CRM',
          component: Customer,
          activeSvg: false,
          to: 'bot-bot-crm',
          isHaveSubmenu: true
        },
        {
          text: 'Logout',
          component: Logout,
          activeSvg: false,
          to: 'logout'
        }
      ],
      createBotDialog: false
    }
  },
  computed: {
    ...mapGetters([
      'currentBot',
      'showTestChat',
      'showTestCaseChat',
      'dataTestFail',
      'isExplainMenu'
    ]),
    ...mapGetters('navbar', ['backButton', 'saving']),
    visibleChat() {
      return this.currentBot !== undefined && this.showTestChat
    },
    visibleChatCase() {
      return this.currentBot !== undefined && this.showTestCaseChat
    }
  },
  watch: {
    currentBot(val) {
      this.botId = val && val.id ? val.id : val
    }
  },
  created() {
    const { bot } = this.$route.params
    if (!this.currentBot) {
      this.botId = bot
    } else {
      this.botId = this.currentBot.id
    }

    this.menus[0].activeSvg = true
    this.$store.commit('SET_EXPLAIN', false)
  },
  mounted() {
    this.height = window.innerHeight - 75
    if (this.$route.path.includes('crm/customer')) {
      this.menus = this.menus.map((r) => {
        return {
          ...r,
          activeSvg: false,
          active: false
        }
      })
      this.menus[4].activeSvg = true
    } else if (this.$route.path.includes('livechat')) {
      this.menus = this.menus.map((r) => {
        return {
          ...r,
          activeSvg: false,
          active: false
        }
      })
      this.menus[3].activeSvg = true
    } else if (this.$route.path.includes('crm/analytic')) {
      this.menus = this.menus.map((r) => {
        return {
          ...r,
          activeSvg: false,
          active: false
        }
      })
      this.menus[5].activeSvg = true
    } else if (this.$route.path.includes('campaign')) {
      this.menus = this.menus.map((r) => {
        return {
          ...r,
          activeSvg: false,
          active: false
        }
      })
      this.menus[1].activeSvg = true
      if (this.$route.path.includes('scenarios')) {
        this.chatBot = this.chatBot.map((r) => {
          return {
            ...r,
            activeSub: false
          }
        })
        this.chatBot[0].activeSub = true
      } else if (this.$route.path.includes('autocomment')) {
        this.chatBot = this.chatBot.map((r) => {
          return {
            ...r,
            activeSub: false
          }
        })
        this.chatBot[2].activeSub = true
      }
    } else if (this.$route.path.includes('automation-message')) {
      this.chatBot = this.chatBot.map((r) => {
        return {
          ...r,
          activeSub: false
        }
      })
      this.chatBot[1].activeSub = true
    }
  },
  methods: {
    toggleTestChat() {
      // this.$parent.$emit('toggleTest')
      // this.$emit('toggleTest')
      this.$store.dispatch('toggleTest')
    },
    submit() {
      if (this.currentBot) {
        this.overlay = true
        this.$store
          .dispatch('bots/train', {
            botID: this.currentBot.id,
            type: this.type
          })
          .then(() => {
            this.overlay = false
            this.close()
            this.$toast.global.my_success({
              message: 'Retrain success'
            })
          })
          .catch(() => {
            this.close()
            this.overlay = false
            this.$toast.global.my_error()
          })
      }
    },
    training() {
      this.showChosenTrain = true
    },
    close() {
      setTimeout(() => {
        this.showChosenTrain = false
      }, 300)
    },
    cancel() {
      this.showChosenTrain = false
    },

    cancelCreateBot() {
      this.createBotDialog = false
    },
    doCreateBot(newBot) {
      this.createBotDialog = false
      this.$store.dispatch('bots/createBot', newBot)
    },
    gotoHome() {
      this.$router.push({
        path: '/'
      })
    },
    active(index, menu) {
      if (this.menus[index].active === true) {
        this.menus[index].active = true
        this.menus[index].activeSvg = false
      } else {
        // reset menus
        this.menus = this.menus.map((r) => {
          return {
            ...r,
            activeSvg: false,
            active: false
          }
        })
        this.menus[index].activeSvg = true
      }

      if (menu.to && menu.to !== 'logout' && menu.to !== '/') {
        this.$router.push({
          path: this.localePath({
            name: menu.to,
            params: { bot: this.botId.id ? this.botId.id : this.botId }
          })
        })
      }
      if (menu.to === '/') {
        this.$router.push({
          path: '/'
        })
      }
      if (menu.to === 'logout') {
        this.$store.dispatch('resetSession')
        this.$store.dispatch('bots/resetState')
        this.$router.push(this.localePath('login'))
      }
      if (menu.subComponent && menu.subComponent.length === 0) {
        this.collageNav()
      }
    },
    mouseOver() {
      this.show = true
      // this.hover = true
    },
    expandNav() {
      this.expand = false
      const mainContent = document.getElementsByClassName('main-content')
      mainContent[0].classList.remove('expand-main-content')
      const marginNavbar = document.getElementsByClassName('marginNavbar')
      if (marginNavbar.length) {
        marginNavbar[0].classList.remove('open')
      }
      this.menus = this.menus.map((r) => {
        return {
          ...r,
          subComponent: []
        }
      })
      this.height = this.height - 170
      this.$store.commit('SET_EXPLAIN', false)
    },
    collageNav() {
      const mainContent = document.getElementsByClassName('main-content')
      mainContent[0].classList.add('expand-main-content')
      const marginNavbar = document.getElementsByClassName('marginNavbar')
      if (marginNavbar.length) {
        marginNavbar[0].classList.add('open')
      }
      this.expand = true
      this.menus[1].subComponent = this.chatBot
      this.height = this.height + 170
      this.$store.commit('SET_EXPLAIN', true)
    },
    mouseClose() {
      // this.hover = false
      this.show = false
    },
    activeSub(parentIx, childIx, url) {
      if (this.menus[parentIx].subComponent) {
        this.menus = this.menus.map((t) => {
          if (t.subComponent && t.subComponent.length) {
            return {
              ...t,
              subComponent: this.menus[parentIx].subComponent.map((r) => {
                return {
                  ...r,
                  activeSub: false
                }
              })
            }
          } else {
            return {
              ...t
            }
          }
        })
        this.menus[parentIx].subComponent[childIx].activeSub = !this.menus[
          parentIx
        ].subComponent[childIx].activeSub
        this.$router.push({
          path: this.localePath({
            name: url,
            params: { bot: this.botId }
          })
        })
      }
    },
    checkFluidContainerRoute() {
      if (
        this.$route.name.includes('chatbot-bot-livechat') ||
        this.$route.name.includes('chatbot-bot-store')
      ) {
        this.containerFluid = true
      } else {
        this.containerFluid = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.button__new__bot {
  position: absolute;
  right: 20px;
}
// .chatt-app {
//   ::-webkit-scrollbar-track {
//     display: none;
//   }
//   ::-webkit-scrollbar {
//     display: none;
//   }
//   ::-webkit-scrollbar-thumb {
//     display: none;
//   }
// }
.open {
  margin-left: 206px !important;
}
.expand-main-content {
  padding: 0 0 0 250px !important;
}
.expand-class {
  width: 250px !important;
  .nav-text {
    display: block !important;
  }
  .logo {
    background-image: url('../assets/svg/LogoDashboard.svg') !important;
  }
  .imporve__account {
    width: 196px !important;
    margin-left: 23px !important;
    button {
      padding-left: 0px !important;
    }
  }
}
.navigation__drawer {
  height: 200px;
  z-index: 200;
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  .expand {
    position: absolute;
    right: -10px;
    top: 0px;
    padding-top: 55px;
  }
  width: 88px;
  overflow: visible;
  .imporve__account {
    display: flex;
    justify-content: center;
    width: 56px;
    margin-left: 18px;
    color: #000000;
    font-weight: 500;
    .sub {
      display: flex;
      align-items: center;
    }
  }
  .logo {
    flex: 1 1 auto;
    cursor: pointer;
    padding: 16px 20px 92px 20px;
    background-image: url('../assets/svg/ChatNav.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  // &:hover {

  // }
  .nav-text {
    display: none;
  }
}
.open_tool {
  padding-left: 0px;
}
.chatt-app {
  position: relative;
  background: #fafafa;
}
.header__dashboard {
  box-shadow: none;
  position: relative;
  height: 72px !important;
  background-color: #ffffff !important;
  border-bottom: 1px solid $grey-4;
  .group__header {
    margin-top: -10px !important;
    margin-left: 30px;
  }
}
.nav-dashboard {
  font-weight: 500;
  font-size: 14px;
  .v-list-item__title {
    &:hover {
      color: #ffbe07;
      svg {
        fill: #ffbe07;
      }
    }
  }
  .list__nav {
    margin-bottom: 12px;
  }
  .dropdown {
    position: absolute;
    right: 0px;
  }
  .subComponent {
    padding-left: 32px;
    .sub__component {
      opacity: 1 !important;
      &::before {
        opacity: 0 !important;
      }
      .v-list-item__title {
        color: #ffbe07;
      }
    }
  }
}
.text__message {
  color: #2b2525;
}
.v-list-item__title {
  display: flex;
  align-items: center;
}
.main-content,
.main-content__expand {
  padding: 0 0 0 88px;
  vertical-align: top;
  max-width: 1920px;
  border-radius: 4px;
}
.main-content__expand {
  padding: 0 0 0 250px;
}
.nav-dashboard {
  padding-left: 13px;
}
.icon-margin-text {
  margin-right: 8px;
}
.main-container {
  padding: 10px 10px 10px 24px;
  background: #ffffff;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: $grey-4;
  }
  ::-webkit-scrollbar-thumb {
    background: $grey-6;
    border-radius: 8px;
  }
}
.main-container-fluid {
  padding: 0px;
}
.marginNavbar {
  margin-left: 40px;
}
.overlay__dashboard {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.marginHoverNavbar {
  margin-left: 204px;
}
@media screen and (max-width: 960px) {
  .main-content {
    padding: 0px;
    .main-container {
      padding: 5px;
    }
  }
  .nav-dashboard {
    padding-left: 0px;
  }
}
</style>
<style lang="scss">
.nav__nagivation {
  .button__toggle {
    width: 24px !important;
    height: 24px !important;
    color: #ffffff;
    z-index: 200;
  }
}
.border {
  background-color: #4f5457 !important;
  &::before {
    opacity: 0 !important;
  }
  opacity: 1 !important;
  .v-list-item__title {
    color: #ffbe07;
  }
  .dropdown {
    fill: #ffbe07;
    transform: rotate(90deg);
    transition-duration: 0.2s;
    opacity: 1 !important;
  }
}
</style>
