<template>
  <div>
    <date-range-picker
      v-model="dateRange.date"
      :date-range="dateRange.ranges"
      :locale-data="dateRange.localeData"
      opens="right"
      class="date-timerange"
      @update="changeDate"
    >
      <template #ranges="ranges">
        <div class="ranges">
          <v-list dense>
            <v-list-item-group v-model="item" color="primary">
              <v-list-item
                v-for="(range, name) in dateRange.ranges"
                :key="name"
                active-class="activeTime"
                @click="ranges.clickRange(range)"
              >
                <v-list-item-content>
                  <v-list-item-title v-text="name"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </div>
      </template>
      <div slot="footer" slot-scope="data" class="slot">
        <div v-if="!data.in_selection" style="margin-left: auto">
          <v-btn text small class="mr-2" @click="data.clickCancel"
            >Cancel</v-btn
          >
          <v-btn text small @click="data.clickApply">OK</v-btn>
        </div>
      </div>
    </date-range-picker>
    <v-text-field
      v-model="searchKeyword"
      placeholder="Keyword"
      @change="keywordChanged"
    />
    <v-row class="document-wrappers">
      <v-col class="document-list">
        <div style="text-align: center">
          Document list
        </div>
        <div
          v-for="item in documents"
          :key="item.id"
          class="document-title"
          @click="documentClick(item)"
        >
          {{ item.title }}
        </div>
      </v-col>
      <v-col class="document-detail">
        <div style="text-align: center">Document content</div>
        <div v-if="selectedDocument !== null">
          {{ selectedDocument.title }} - {{ selectedDocument.content }}
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
/* eslint-disable no-console */
export default {
  data() {
    const startDate = new Date()
    const endDate = new Date()
    const yesterday = new Date()
    const startMonth = new Date()
    const endMonth = new Date()
    startMonth.setMonth(endMonth.getMonth() - 1)
    yesterday.setDate(endDate.getDate() - 1)
    yesterday.setHours(0, 0, 0, 0)

    return {
      dateRange: {
        date: {
          startDate,
          endDate
        },
        ranges: {
          Today: [endDate, endDate],
          Yesterday: [yesterday, yesterday],
          'Last week': [startDate, endDate],
          'Last month': [startMonth, endMonth]
        },
        localeData: {
          separator: ' - ',
          applyLabel: 'Ok',
          cancelLabel: 'Cancel',
          weekLabel: 'T',
          customRangeLabel: 'Chọn khoảng',
          daysOfWeek: ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
          monthNames: [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
          ],
          firstDay: 0
        }
      },
      searchKeyword: '',
      documents: [],
      selectedDocument: null
    }
  },
  mounted() {
    this.refetchDocuments()
  },
  methods: {
    changeDate(date) {
      console.log(date)
      this.refetchDocuments()
    },
    keywordChanged(event) {
      console.log('keyword changed')
      console.log(event)
      this.refetchDocuments()
    },
    documentClick(document) {
      this.selectedDocument = document
    },
    refetchDocuments() {
      this.documents = [
        {
          id: 1,
          title: 'doc 1',
          content: 'this is doc 1'
        },
        {
          id: 2,
          title: 'doc 2',
          content: 'this is doc 2'
        },
        {
          id: 3,
          title: 'doc 3',
          content: 'this is doc 3'
        },
        {
          id: 4,
          title: 'doc 4',
          content: 'this is doc 4'
        },
        {
          id: 5,
          title: 'doc 5',
          content: 'this is doc 5'
        }
      ]

      if (this.searchKeyword !== '') {
        this.documents = this.documents.filter((i) => {
          return i.content.includes(this.searchKeyword)
        })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.document-list {
  border: 1px solid;
}
.document-detail {
  border: 1px solid;
}
.document-title {
  cursor: pointer;
}
.document-title:hover {
  text-decoration: underline;
}
</style>
<style lang="scss">
.inline {
  .daterangepicker {
    margin-top: 15px !important;
  }
}
.date-timerange {
  height: 32px;
  .slot {
    background: #ffffff;
    border-top: 1px solid #dddddd;
    display: flex;
    align-items: center;
    height: 40px;
  }
  .dropdown-menu {
    margin-top: -44px;
  }
  .reportrange-text {
    background: none;
    position: relative;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 18px;
    font-size: 12px;
    width: 180px;
    color: #595959;
    &::after {
      color: #8c8c8c;
      position: absolute;
      padding-left: 5px;
      content: url('https://api.iconify.design/mdi:chevron-down.svg?height=16');
      display: inline-block;
    }
  }
  .calendars {
    ul > li {
      color: #8c8c8c;
      font-size: 12px;
    }
    .active {
      background: none;
      font-weight: 500;
      color: #000000;
    }
    .calendar-table {
      .in-range {
        background: #fff4d3;
      }
      .active {
        background: #ffbe07;
        color: #262626;
      }
    }
  }
}
.activeTime {
  .v-list-item__title {
    color: #000;
  }
}
</style>
