<template>
  <v-content style="height: 100%;">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col
          cols="12"
          sm="12"
          md="12"
          class="logo pb-0 mb-6 d-flex justify-center align-center"
        >
          <nuxt-link to="/">
            <img alt="" :src="logo" width="180px" height="32px" />
          </nuxt-link>
        </v-col>
        <v-col class="py-0 mt-6" cols="12" sm="8" md="6">
          <v-card max-width="544px" class="mx-auto login-card pa-8 pb-5">
            <p class="login text-center mb-2 mt-0">Đăng nhập</p>
            <div class="pb-0 mb-5 d-flex justify-center">
              <p class="notHaveAccount">
                Bạn chưa có tài khoản?
                <nuxt-link :to="localePath('register')" class="linkRegister"
                  >Đăng kí ngay</nuxt-link
                >
              </p>
            </div>
            <v-form ref="loginForm" v-model="valid" @submit.prevent="submit">
              <v-text-field
                v-model="username"
                :rules="usernameRules"
                :disabled="submitting"
                placeholder="Email đăng nhập"
                autocomplete="off"
                active-class="pass"
                required
                outlined
                hide-details
                class="username-input input-48 mb-3"
              />

              <v-text-field
                v-model="password"
                :rules="passwordRules"
                :disabled="submitting"
                placeholder="Mật khẩu"
                autocomplete="off"
                required
                outlined
                hide-details
                name="password"
                :append-icon="value ? 'mdi-eye-off' : 'mdi-eye'"
                :type="value ? 'password' : 'text'"
                class="password-input input-48 mb-3"
                @click:append="() => (value = !value)"
              ></v-text-field>
              <p class="forgotPass" style="text-align: end">
                <nuxt-link :to="localePath('forgot-password')"
                  >Quên mật khẩu?</nuxt-link
                >
              </p>
              <v-btn
                depressed
                block
                large
                color="#FFBE07"
                class="register"
                type="submit"
                :loading="submitting"
                >Đăng nhập</v-btn
              >
              <v-divider />
              <p class="login-with-text">
                Hoặc đăng nhập với
              </p>
              <v-row>
                <v-col cols="12" md="6">
                  <v-btn
                    :disabled="submitting"
                    class="button-socical"
                    block
                    outlined
                    depressed
                    large
                  >
                    <img alt="" :src="facebook" class="mr-2" /> Facebook
                  </v-btn>
                </v-col>
                <v-col cols="12" md="6">
                  <v-btn
                    :disabled="submitting"
                    class="button-socical"
                    block
                    outlined
                    depressed
                    large
                  >
                    <img alt="" :src="google" class="mr-2" /> Google
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card>
          <v-col cols="12" class="term">
            <p class="mb-0">Chính sách bảo mật</p>
            <p class="mb-0">Điều khoản sử dụng</p>
          </v-col>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
/* eslint-disable no-console */

import logo from '~/assets/svg/Logo.svg'
import facebook from '~/assets/svg/Facebook.svg'
import google from '~/assets/svg/Google.svg'

export default {
  layout: 'authentication',
  middleware: 'anonymous',
  nuxtI18n: {
    paths: {
      en: '/login',
      vi: '/dang-nhap'
    }
  },
  data() {
    return {
      submitting: false,
      logo,
      facebook,
      google,
      valid: true,
      username: '',
      usernameRules: [(v) => !!v || this.$t('usernameRequired')],
      password: '',
      passwordRules: [(v) => !!v || this.$t('passwordRequired')],
      value: String
    }
  },
  methods: {
    resetForm() {
      this.username = ''
      this.password = ''
    },
    submit() {
      if (this.$refs.loginForm.validate()) {
        this.submitting = true
        this.$store
          .dispatch('login', {
            email: this.username.trim(),
            password: this.password.trim()
          })
          .then(() => {
            this.submitting = false
            this.$toast.global.my_success({
              message: 'Đăng nhập thành công'
            })
            if (this.$route.query.redirect) {
              this.$router.push({ path: this.$route.query.redirect })
            } else {
              this.$router.push({ path: `/` })
            }
          })
          .catch(() => {
            this.submitting = false
            this.$toast.global.my_error({
              message: 'Đăng nhập thất bại'
            })
          })
      }
    }
  }
}
</script>

<style lang="css" scoped>
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  width: 180px;
  height: 32px;
}
.login {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 16px;
}
.linkRegister {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}
.linkRegister:hover {
  text-decoration: underline;
}
.notHaveAccount {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 22px;
  color: #595959;
}
.forgotPass {
  font-size: 12px;
}
.forgotPass a {
  text-decoration: none;
}
.forgotPass a:hover {
  text-decoration: underline;
}
.register {
  margin-bottom: 24px;
  font-size: 16px;
  text-transform: none;
  box-shadow: none;
  color: #262626;
}
.button-socical {
  border: 1px solid #d9d9d9;
  text-transform: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey / grey-8 */

  color: #595959;
}
.login-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.term {
  display: flex;
  justify-content: space-evenly;
  color: #8c8c8c;
  line-height: 22px;
  font-size: 14px;
}
.login-with-text {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 0px;
  color: #8c8c8c;
}
</style>
