<template>
  <v-content style="height: 100%;">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col
          cols="12"
          sm="12"
          md="12"
          class="logo pb-0 mb-6 d-flex justify-center align-center"
        >
          <nuxt-link to="/">
            <img alt="" :src="logo" width="180px" height="32px" />
          </nuxt-link>
        </v-col>
        <v-col class="py-0 mt-6" cols="12" sm="8" md="6">
          <v-card max-width="544px" class="mx-auto login-card pa-8">
            <div class="d-flex justify-center">
              <p class="login mb-2 mt-0">Đăng ký tài khoản</p>
            </div>
            <div class="pb-0 mb-5 d-flex justify-center">
              <p class="notHaveAccount">
                Bạn đã có tài khoản?
                <nuxt-link :to="localePath('login')" class="linkRegister">
                  Đăng nhập ngay
                </nuxt-link>
              </p>
            </div>
            <v-form ref="registerForm" v-model="valid" @submit.prevent="submit">
              <v-text-field
                v-model="userForm.email"
                :rules="usernameRules"
                placeholder="Email đăng nhập"
                autocomplete="off"
                active-class="pass"
                required
                outlined
                hide-details
                class="username-input input-48 mb-3"
              />

              <v-text-field
                v-model="userForm.password"
                :rules="passwordRules"
                placeholder="Mật khẩu"
                autocomplete="off"
                required
                outlined
                name="password"
                :append-icon="!showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                :type="!showPassword ? 'password' : 'text'"
                class="password-input input-48 mb-3"
                hide-details
                @click:append="showPassword = !showPassword"
              />

              <v-text-field
                v-if="!showPassword"
                v-model="userForm.confirm_password"
                :rules="repeatpasswordRules"
                placeholder="Nhập lại mật khẩu"
                autocomplete="off"
                required
                outlined
                name="repeatpassword"
                type="password"
                class="password-input input-48 mb-3"
              />

              <v-btn
                depressed
                block
                large
                color="#FFBE07"
                class="register"
                type="submit"
                :disabled="submitting || !valid"
              >
                Đăng ký
              </v-btn>
              <v-divider />
              <p class="login-with-text">
                Hoặc đăng ký với
              </p>
              <v-row class="d-flex">
                <v-col cols="12" md="6">
                  <v-btn
                    class="button-socical"
                    block
                    outlined
                    depressed
                    large
                    :disabled="submitting"
                  >
                    <img alt="" :src="facebook" class="mr-2" /> Facebook
                  </v-btn>
                </v-col>
                <v-col cols="12" md="6">
                  <v-btn
                    class="button-socical"
                    block
                    outlined
                    depressed
                    large
                    :disabled="submitting"
                  >
                    <img alt="" :src="google" class="mr-2" /> Google
                  </v-btn>
                </v-col>
              </v-row>
              <p class="text-center mt-8 mb-0 body-2">
                Khi đăng ký tài khoản là bạn đã đồng ý với Chính sách bảo mật
              </p>
              <p class="text-center mb-0 body-2">
                và Điều khoản sử dụng của Chatt.AI
              </p>
            </v-form>
          </v-card>
          <v-col cols="12" class="term">
            <p class="mb-0">Chính sách bảo mật</p>
            <p class="mb-0">Điều khoản sử dụng</p>
          </v-col>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
/* eslint-disable no-console */

import logo from '~/assets/svg/Logo.svg'
import facebook from '~/assets/svg/Facebook.svg'
import google from '~/assets/svg/Google.svg'

export default {
  layout: 'authentication',
  middleware: 'anonymous',
  nuxtI18n: {
    paths: {
      en: '/register',
      vi: '/dang-ky'
    }
  },
  data() {
    return {
      logo,
      facebook,
      google,
      valid: true,
      userForm: {
        email: '',
        password: '',
        confirm_password: ''
      },
      usernameRules: [(v) => !!v || this.$t('usernameRequired')],
      passwordRules: [(v) => !!v || this.$t('passwordRequired')],
      repeatpasswordRules: [
        (v) => v === this.userForm.password || 'Nhập lại mật khẩu không khớp'
      ],
      showPassword: false,
      submitting: false
    }
  },
  computed: {},
  methods: {
    login() {
      this.$router.push({
        path: '/login'
      })
    },
    resetForm() {
      this.userForm = {
        email: '',
        password: '',
        confirm_password: ''
      }
    },
    submit() {
      if (this.$refs.registerForm.validate()) {
        this.submitting = true
        this.$store
          .dispatch('register', this.userForm)
          .then(() => {
            this.submitting = false
            this.$toast.global.my_success({
              message: 'Đăng ký thành công'
            })
            this.$router.push(this.localePath('login'))
          })
          .catch(() => {
            this.submitting = false
            this.$toast.global.my_error({
              message: 'Đăng ký thất bại'
            })
          })
      }
    }
  }
}
</script>

<style lang="css" scoped>
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  width: 180px;
  height: 32px;
}
.login {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 16px;
}
.linkRegister {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}
.linkRegister:hover {
  text-decoration: underline;
}
.notHaveAccount {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 22px;
  color: #595959;
}
.forgotPass {
  font-size: 12px;
}
.forgotPass a {
  text-decoration: none;
}
.forgotPass a:hover {
  text-decoration: underline;
}
.register {
  font-size: 16px;
  text-transform: none;
  box-shadow: none;
  color: #262626;
  margin-bottom: 24px;
}
.button-socical {
  border: 1px solid #d9d9d9;
  text-transform: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey / grey-8 */

  color: #595959;
}
.login-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.term {
  display: flex;
  justify-content: space-evenly;
  color: #8c8c8c;
  line-height: 22px;
  font-size: 14px;
}
.login-with-text {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 14px;
  color: #8c8c8c;
}
</style>
