<template>
  <div class="d-flex justify-center align-center">
    <h4 style="color: #aaa">Connecting with Zalo...</h4>
  </div>
</template>
<script>
export default {
  layout: 'blank',
  mounted() {
    this.checkCallback()
  },
  methods: {
    checkCallback() {
      window.localStorage.setItem(
        'zalo_access_token',
        this.$route.query.access_token
      )
      window.localStorage.setItem('zalo_oaid', this.$route.query.oaId)
      window.close()
    }
  }
}
</script>
