<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.3799 2V11.5676L19.0972 4.7972C17.2854 3.04873 14.8878 2.05034 12.3799 2V2Z"
    />
    <path
      d="M18.1318 20.1693L11.4145 13.3989V3.8313C8.90831 3.886 6.51392 4.8873 4.70548 6.6369C2.96767 8.46175 1.97407 10.8784 1.92188 13.4073C1.97407 15.9362 2.96767 18.3528 4.70548 20.1777C6.51135 21.9334 8.90604 22.9408 11.4145 23.0001C13.9269 22.9407 16.3251 21.93 18.1318 20.1693Z"
    />
    <path
      d="M21.9218 12.9958C21.8759 10.4582 20.8818 8.0314 19.1382 6.2002L12.4209 12.9706L19.1382 19.741C20.8703 17.9225 21.8634 15.5159 21.9218 12.9958Z"
    />
  </svg>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
