<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.7216 0.666748H5.5549C5.21696 0.666748 4.94379 0.939915 4.94379 1.27786V4.94453H1.27713C0.939182 4.94453 0.666016 5.21769 0.666016 5.55564V14.7223C0.666016 15.0602 0.939182 15.3334 1.27713 15.3334H10.4438C10.7817 15.3334 11.0549 15.0602 11.0549 14.7223V11.0556H14.7216C15.0595 11.0556 15.3327 10.7825 15.3327 10.4445V1.27786C15.3327 0.939915 15.0595 0.666748 14.7216 0.666748ZM9.83268 9.83342H6.16602V6.16675H9.83268V9.83342Z"
      :fill="color"
    />
  </svg>
</template>
<script>
export default {
  props: {
    color: { type: String, default: '#8C8C8C' }
  }
}
</script>
