<template>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="22pt"
      height="22pt"
      viewBox="0 0 22 22"
      version="1.1"
      :fill="fill"
    >
      <g id="surface1">
        <path
          style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
          d="M 17.445312 10.3125 C 17.800781 10.3125 18.089844 10.023438 18.089844 9.667969 C 18.089844 5.757812 14.910156 2.578125 11 2.578125 C 7.089844 2.578125 3.910156 5.757812 3.910156 9.667969 C 3.910156 10.023438 4.199219 10.3125 4.554688 10.3125 C 4.910156 10.3125 5.199219 10.023438 5.199219 9.667969 C 5.199219 6.46875 7.800781 3.867188 11 3.867188 C 14.199219 3.867188 16.800781 6.46875 16.800781 9.667969 C 16.800781 10.023438 17.089844 10.3125 17.445312 10.3125 Z M 17.445312 10.3125 "
        />
        <path
          style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
          d="M 11 5.15625 C 8.511719 5.15625 6.488281 7.179688 6.488281 9.667969 C 6.488281 10.023438 6.777344 10.3125 7.132812 10.3125 C 7.488281 10.3125 7.777344 10.023438 7.777344 9.667969 C 7.777344 7.890625 9.222656 6.445312 11 6.445312 C 12.777344 6.445312 14.222656 7.890625 14.222656 9.667969 C 14.222656 10.023438 14.511719 10.3125 14.867188 10.3125 C 15.222656 10.3125 15.511719 10.023438 15.511719 9.667969 C 15.511719 7.179688 13.488281 5.15625 11 5.15625 Z M 11 5.15625 "
        />
        <path
          style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
          d="M 20.023438 10.3125 C 20.378906 10.3125 20.667969 10.023438 20.667969 9.667969 C 20.667969 4.335938 16.332031 0 11 0 C 5.667969 0 1.332031 4.335938 1.332031 9.667969 C 1.332031 10.023438 1.621094 10.3125 1.976562 10.3125 C 2.332031 10.3125 2.621094 10.023438 2.621094 9.667969 C 2.621094 5.046875 6.378906 1.289062 11 1.289062 C 15.621094 1.289062 19.378906 5.046875 19.378906 9.667969 C 19.378906 10.023438 19.667969 10.3125 20.023438 10.3125 Z M 20.023438 10.3125 "
        />
        <path
          style=" stroke:none;fill-rule:nonzero;fill-opacity:1;"
          d="M 6.527344 21.128906 C 6.40625 21.464844 6.574219 21.835938 6.910156 21.960938 C 7.242188 22.082031 7.613281 21.914062 7.738281 21.578125 L 8.074219 20.667969 L 13.925781 20.667969 L 14.261719 21.578125 C 14.386719 21.914062 14.757812 22.082031 15.09375 21.960938 C 15.425781 21.835938 15.59375 21.464844 15.472656 21.128906 C 15.464844 21.109375 14.773438 19.257812 11.851562 11.402344 C 12.492188 11.085938 12.933594 10.429688 12.933594 9.667969 C 12.933594 8.601562 12.066406 7.734375 11 7.734375 C 9.933594 7.734375 9.066406 8.601562 9.066406 9.667969 C 9.066406 10.429688 9.507812 11.085938 10.148438 11.402344 C 9.414062 13.371094 7.109375 19.570312 6.527344 21.128906 Z M 8.554688 19.378906 L 9.035156 18.089844 L 12.964844 18.089844 L 13.445312 19.378906 Z M 9.992188 15.511719 L 12.007812 15.511719 L 12.484375 16.800781 L 9.515625 16.800781 Z M 10.472656 14.222656 L 11 12.804688 L 11.527344 14.222656 Z M 11 9.023438 C 11.355469 9.023438 11.644531 9.3125 11.644531 9.667969 C 11.644531 10.023438 11.355469 10.3125 11 10.3125 C 10.644531 10.3125 10.355469 10.023438 10.355469 9.667969 C 10.355469 9.3125 10.644531 9.023438 11 9.023438 Z M 11 9.023438 "
        />
      </g>
    </svg>
  </div>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
