<template>
  <div>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      :fill="fill"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.8196 16.2469C19.8235 15.6703 18.6095 15.825 17.7915 16.5469L16.5493 15.8273V12.2719C16.5493 11.9039 16.3524 11.5617 16.0337 11.3789L12.8462 9.54375V7.97109C13.8821 7.61953 14.6274 6.63984 14.6274 5.48438C14.6274 4.03359 13.4532 2.85938 12.0024 2.85938C10.5516 2.85938 9.37743 4.03359 9.37743 5.48438C9.37743 6.63984 10.1227 7.61953 11.1587 7.97109V9.54375L7.97118 11.3789C7.65243 11.5617 7.45555 11.9039 7.45555 12.2719V15.825L6.21337 16.5445C5.3954 15.8227 4.17899 15.668 3.18524 16.2445C1.93134 16.9711 1.50477 18.5742 2.2243 19.8281C2.94618 21.082 4.54227 21.5133 5.79149 20.7891C6.78759 20.2125 7.26102 19.0781 7.04774 18.0047L8.18915 17.3414L11.4845 19.2398C11.6438 19.3313 11.822 19.3781 12.0001 19.3781C12.1782 19.3781 12.3563 19.3313 12.5157 19.2398L15.8087 17.3438L16.9501 18.007C16.7368 19.0781 17.2126 20.2148 18.2063 20.7914C19.4556 21.5156 21.054 21.0867 21.7735 19.8305C22.4954 18.5742 22.0688 16.9711 20.8196 16.2469ZM5.04618 19.4906C4.91888 19.5644 4.77825 19.6122 4.63239 19.6313C4.48653 19.6505 4.33832 19.6406 4.19629 19.6023C4.05427 19.564 3.92122 19.4979 3.80482 19.408C3.68842 19.318 3.59096 19.2059 3.51805 19.0781C3.20868 18.5414 3.39149 17.8523 3.92821 17.543C4.05551 17.4692 4.19614 17.4214 4.342 17.4022C4.48786 17.3831 4.63607 17.3929 4.7781 17.4313C4.92012 17.4696 5.05317 17.5357 5.16957 17.6256C5.28597 17.7156 5.38343 17.8277 5.45634 17.9555C5.76571 18.4922 5.5829 19.1812 5.04618 19.4906ZM10.8751 5.48438C10.8811 5.18998 11.0023 4.90968 11.2126 4.7036C11.4229 4.49753 11.7056 4.38211 12.0001 4.38211C12.2945 4.38211 12.5773 4.49753 12.7876 4.7036C12.9979 4.90968 13.1191 5.18998 13.1251 5.48438C13.1191 5.77877 12.9979 6.05907 12.7876 6.26515C12.5773 6.47122 12.2945 6.58664 12.0001 6.58664C11.7056 6.58664 11.4229 6.47122 11.2126 6.26515C11.0023 6.05907 10.8811 5.77877 10.8751 5.48438ZM14.8595 15.9422L12.0001 17.5898L9.14071 15.9422V12.6516L12.0001 11.0039L14.8595 12.6516V15.9422ZM20.4821 19.0805C20.1727 19.6172 19.4884 19.8023 18.954 19.493C18.4196 19.1836 18.2345 18.4945 18.5438 17.9578C18.8532 17.4211 19.5376 17.2359 20.072 17.5453C20.6087 17.8547 20.7915 18.5414 20.4821 19.0805Z"
      />
    </svg>
  </div>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
