<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11.2023 12.6026C11.2023 12.3124 11.1178 12.0288 10.9596 11.7876C10.8014 11.5464 10.5765 11.3583 10.3133 11.2473C10.0502 11.1363 9.76067 11.1072 9.48134 11.1638C9.202 11.2204 8.94542 11.3601 8.74403 11.5653C8.54265 11.7705 8.4055 12.0318 8.34994 12.3164C8.29437 12.6009 8.32289 12.8959 8.43188 13.1639C8.54087 13.432 8.72544 13.6611 8.96225 13.8223C9.19905 13.9834 9.47746 14.0695 9.76227 14.0695C10.1442 14.0695 10.5104 13.9149 10.7805 13.6398C11.0506 13.3647 11.2023 12.9916 11.2023 12.6026Z"
    />
    <path
      d="M13.8516 12.4906C13.8516 12.7828 13.9366 13.0684 14.0959 13.3113C14.2553 13.5542 14.4817 13.7435 14.7467 13.8553C15.0116 13.9671 15.3032 13.9964 15.5844 13.9394C15.8657 13.8824 16.1241 13.7417 16.3269 13.5351C16.5297 13.3285 16.6678 13.0653 16.7237 12.7788C16.7796 12.4923 16.7509 12.1953 16.6412 11.9254C16.5314 11.6555 16.3456 11.4248 16.1071 11.2625C15.8687 11.1002 15.5883 11.0135 15.3016 11.0135C14.9178 11.0162 14.5505 11.1727 14.2792 11.4491C14.0078 11.7256 13.8542 12.0997 13.8516 12.4906Z"
    />
    <path
      d="M17.1615 16.5347C16.7729 17.0265 16.3106 17.4528 15.7915 17.7979C15.2734 18.139 14.7067 18.3967 14.1115 18.5619C13.5123 18.7313 12.8933 18.817 12.2715 18.8165C11.4068 18.8278 10.549 18.6579 9.7515 18.3174C9.49298 18.1947 9.24246 18.0552 9.0015 17.8997L5.8515 18.9184L6.6615 15.4345C6.52744 15.1939 6.40724 14.9456 6.3015 14.6909C5.95669 13.8346 5.78329 12.9168 5.7915 11.9913C5.78595 11.0727 5.9593 10.1621 6.3015 9.31217C6.61891 8.49306 7.09118 7.74545 7.6915 7.11181C8.27986 6.50358 8.97978 6.01902 9.7515 5.68564C10.5476 5.33812 11.4054 5.16127 12.2715 5.16611C12.894 5.1665 13.5133 5.25565 14.1115 5.43097C14.7056 5.60412 15.2716 5.86495 15.7915 6.20517C16.3194 6.56286 16.7856 7.00687 17.1715 7.51928C17.5771 8.03767 17.8917 8.62355 18.1015 9.25105H23.0015C22.6628 7.51966 21.8637 5.91632 20.6915 4.61602C20.141 4.01808 19.5234 3.48812 18.8515 3.03705C18.1924 2.58333 17.4886 2.20095 16.7515 1.89612C16.0243 1.59935 15.2708 1.37421 14.5015 1.22378C12.7649 0.87787 10.9742 0.93357 9.2615 1.38677C7.38499 1.87531 5.66324 2.84699 4.2615 4.20854C2.90625 5.5406 1.91976 7.21314 1.4015 9.0575C0.866166 10.9754 0.866166 13.0073 1.4015 14.9252C1.66449 15.8524 2.04788 16.7397 2.5415 17.5636C3.52104 19.2052 4.89846 20.5628 6.5415 21.5059C7.3902 21.9842 8.29373 22.3537 9.2315 22.6061C10.9462 23.069 12.7423 23.1247 14.4815 22.7691C15.2489 22.6146 15.9993 22.3826 16.7215 22.0764C17.4538 21.764 18.1539 21.3784 18.8115 20.9252C19.4904 20.4715 20.1147 19.9382 20.6715 19.3361C21.8297 18.0588 22.6338 16.4908 23.0015 14.7927H18.0715C17.8762 15.4256 17.5677 16.0162 17.1615 16.5347Z"
    />
  </svg>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
