<template>
  <svg
    width="21"
    height="21"
    viewBox="0 0 21 21"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 9.51C0 14.76 4.63 19 10.34 19C11.3544 18.9969 12.3637 18.8556 13.34 18.58L17.34 20.58L16.65 17C17.8719 16.1578 18.8732 15.034 19.5694 13.7234C20.2656 12.4128 20.6362 10.9539 20.65 9.47C20.67 4.26 16 0 10.34 0C4.68 0 0 4.26 0 9.51ZM14 10C14 9.74288 14.0762 9.49154 14.2191 9.27776C14.3619 9.06397 14.565 8.89735 14.8025 8.79896C15.0401 8.70056 15.3014 8.67482 15.5536 8.72498C15.8058 8.77514 16.0374 8.89895 16.2192 9.08076C16.401 9.26257 16.5249 9.49421 16.575 9.74638C16.6252 9.99856 16.5994 10.2599 16.501 10.4975C16.4026 10.735 16.236 10.9381 16.0222 11.0809C15.8085 11.2238 15.5571 11.3 15.3 11.3C14.9552 11.3 14.6246 11.163 14.3808 10.9192C14.137 10.6754 14 10.3448 14 10ZM9 10C9 9.74288 9.07624 9.49154 9.21909 9.27776C9.36194 9.06397 9.56497 8.89735 9.80251 8.79896C10.0401 8.70056 10.3014 8.67482 10.5536 8.72498C10.8058 8.77514 11.0374 8.89895 11.2192 9.08076C11.401 9.26257 11.5249 9.49421 11.575 9.74638C11.6252 9.99856 11.5994 10.2599 11.501 10.4975C11.4026 10.735 11.236 10.9381 11.0222 11.0809C10.8085 11.2238 10.5571 11.3 10.3 11.3C9.95522 11.3 9.62456 11.163 9.38076 10.9192C9.13696 10.6754 9 10.3448 9 10ZM4.1 10C4.1 9.74288 4.17624 9.49154 4.31909 9.27776C4.46194 9.06397 4.66497 8.89735 4.90251 8.79896C5.14006 8.70056 5.40144 8.67482 5.65362 8.72498C5.90579 8.77514 6.13743 8.89895 6.31924 9.08076C6.50105 9.26257 6.62486 9.49421 6.67502 9.74638C6.72518 9.99856 6.69944 10.2599 6.60104 10.4975C6.50265 10.735 6.33603 10.9381 6.12224 11.0809C5.90846 11.2238 5.65712 11.3 5.4 11.3C5.05522 11.3 4.72456 11.163 4.48076 10.9192C4.23696 10.6754 4.1 10.3448 4.1 10Z"
    />
  </svg>
</template>

<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
