<template>
  <svg
    width="25"
    height="24"
    viewBox="0 0 25 24"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.9998 17.91C23.9998 17.5 23.9998 17.09 23.9998 16.68V16.83C23.9321 16.2916 23.6687 15.7968 23.2598 15.44C22.7528 14.9763 22.1623 14.6132 21.5198 14.37L19.2798 13.44C19.1811 13.4092 19.0917 13.3542 19.0198 13.28C18.7271 12.966 18.382 12.7054 17.9998 12.51C17.9998 12.19 17.9998 11.87 17.9998 11.51C18.2903 11.0757 18.4404 10.5625 18.4298 10.04C18.5498 10.09 18.6598 10.22 18.7998 10.15C19.005 9.75989 19.1403 9.33685 19.1998 8.90004C19.1998 8.59004 19.4098 8.31004 19.4298 8.00004C19.4498 7.69004 19.1898 7.74004 19.0298 7.69004C19.28 7.20001 19.3609 6.6409 19.2598 6.10004C19.2598 5.91004 19.1798 5.73004 19.1698 5.54004V5.67004C19.0274 4.86934 18.5836 4.15362 17.9298 3.67004C17.3018 3.25604 16.5715 3.02413 15.8198 3.00004C15.4876 2.9606 15.1519 2.9606 14.8198 3.00004C14.8198 3.00004 13.3898 3.23004 13.3198 3.65004C12.9798 3.65004 12.3198 4.85004 12.3198 4.85004L12.1998 5.05004C12.0503 5.49724 12.0058 5.97287 12.0698 6.44004C12.1441 6.97664 12.2887 7.50114 12.4998 8.00004C12.3998 7.91004 12.2598 7.76004 12.1198 7.86004C12.0068 8.07844 11.9682 8.32771 12.0098 8.57004C12.2798 9.12004 12.4098 9.73004 12.7298 10.26H12.9998C13.008 10.7316 13.1617 11.1891 13.4398 11.57C13.4398 11.96 13.4398 12.34 13.4398 12.73C13.0969 12.8657 12.7916 13.0817 12.5498 13.36C12.4798 13.43 12.4298 13.53 12.3298 13.56C11.7598 13.75 11.2098 13.99 10.6598 14.23C10.5205 14.2673 10.3863 14.321 10.2598 14.39C12.7798 14.97 13.3998 16.28 13.6698 16.87C13.802 17.2625 13.8597 17.6763 13.8398 18.09C13.8398 18.81 13.8398 19.54 13.8398 20.26H23.9998C23.9998 19.82 23.9998 19.38 23.9998 18.95C24.0241 18.6038 24.0241 18.2563 23.9998 17.91Z"
    />
    <path
      d="M13.11 18.0699C13.1299 17.6562 13.0723 17.2424 12.94 16.8499C12.6377 16.2807 12.1659 15.8194 11.59 15.5299L11.41 15.4299L9.51 14.5899L9.26 14.4799C9.13 14.4799 9.06 14.3099 8.97 14.2099C8.79572 14.0321 8.60485 13.8714 8.4 13.7299C8.4 13.6699 8.4 13.6099 8.4 13.5499C8.5864 13.5641 8.7736 13.5641 8.96 13.5499C9.54944 13.5171 10.135 13.4335 10.71 13.2999C11.0641 13.2366 11.4032 13.1077 11.71 12.9199L11.81 12.8299C11.5036 12.5031 11.2776 12.1094 11.15 11.6799C10.9727 11.214 10.842 10.7317 10.76 10.2399C10.6213 9.49895 10.5212 8.75128 10.46 7.99992C10.3971 7.35211 10.1835 6.72801 9.83624 6.17755C9.48895 5.6271 9.01763 5.16558 8.46 4.82992C7.95378 4.59823 7.41351 4.44966 6.86 4.38992C6.5277 4.35277 6.1923 4.35277 5.86 4.38992C5.40677 4.456 4.98826 4.67054 4.67 4.99992C4.50761 4.97508 4.34239 4.97508 4.18 4.99992C3.82386 5.18031 3.53606 5.47163 3.36 5.82992C3.04289 6.40343 2.81048 7.01982 2.67 7.65992C2.6 8.30992 2.57 8.95992 2.48 9.59992C2.37212 10.324 2.21169 11.0392 2 11.7399C1.93933 11.9567 1.84484 12.1626 1.72 12.3499C1.62 12.4999 1.48 12.6299 1.36 12.7699C1.49401 12.8842 1.64608 12.9755 1.81 13.0399C2.44943 13.2907 3.12436 13.4392 3.81 13.4799H4.75C4.75 13.5999 4.81 13.7599 4.75 13.8599C4.60167 13.9349 4.46383 14.0291 4.34 14.1399C4.21 14.2499 4.12 14.3999 3.99 14.5099C3.14407 14.8313 2.32201 15.2122 1.53 15.6499C1.21553 15.8219 0.934422 16.0488 0.7 16.3199C0.496389 16.4664 0.327936 16.6564 0.20686 16.876C0.0857839 17.0957 0.0151219 17.3396 0 17.5899C0 18.4799 0 19.3699 0 20.2699H13C13.13 19.5199 13.1 18.7899 13.11 18.0699Z"
    />
  </svg>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
