<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.7309 22.1201H13.9209C13.9209 22.0201 13.9209 21.9201 13.9209 21.8201C13.9209 20.1135 13.9209 18.4035 13.9209 16.6901V16.4201H10.0909V16.7201C10.0909 18.2135 10.0909 19.7035 10.0909 21.1901C10.0909 21.5001 10.0909 21.8101 10.0909 22.1301H4.27086C4.1326 22.1115 3.99977 22.0642 3.88091 21.9912C3.76204 21.9181 3.65976 21.8211 3.58065 21.7062C3.50154 21.5913 3.44734 21.4611 3.42154 21.324C3.39575 21.1869 3.39892 21.0459 3.43086 20.9101C3.43086 18.6701 3.43086 16.4301 3.43086 14.1901C3.42518 14.1137 3.43868 14.0371 3.47011 13.9673C3.50154 13.8974 3.54992 13.8365 3.61086 13.7901L10.1709 8.38012L12.0009 6.87012L12.2109 7.04012L20.4209 13.8001C20.4772 13.845 20.5214 13.9033 20.5494 13.9697C20.5773 14.0361 20.5882 14.1084 20.5809 14.1801C20.5809 16.4201 20.5809 18.6601 20.5809 20.9001C20.6128 21.0367 20.6156 21.1784 20.5892 21.3161C20.5628 21.4538 20.5078 21.5844 20.4276 21.6995C20.3475 21.8145 20.244 21.9114 20.124 21.9839C20.0039 22.0564 19.87 22.1028 19.7309 22.1201Z"
    />
    <path
      d="M24 12.56V12.84L23.1 13.94C22.78 14.33 22.55 14.35 22.15 14.02L12.22 5.74L12 5.56L11.73 5.78L1.81 14.05C1.75755 14.1196 1.68873 14.1752 1.60965 14.2119C1.53057 14.2486 1.44366 14.2652 1.35664 14.2602C1.26961 14.2553 1.18514 14.2289 1.11072 14.1835C1.03631 14.1382 0.974231 14.0751 0.93 14L0 12.84V12.56C0.0893562 12.4346 0.189757 12.3175 0.3 12.21L10.42 3.77C10.8082 3.36979 11.3116 3.10062 11.86 3H12.14C12.6421 3.08644 13.106 3.32361 13.47 3.68C14.47 4.56 15.54 5.42 16.57 6.28L16.76 6.41C16.76 6.29 16.76 6.22 16.76 6.14C16.76 5.32 16.76 4.5 16.76 3.68C16.76 3.2 16.91 3.05 17.39 3.05H19.9C20.43 3.05 20.57 3.19 20.57 3.71C20.57 5.6 20.57 7.49 20.57 9.38C20.5667 9.4518 20.5814 9.52329 20.6129 9.58793C20.6443 9.65256 20.6915 9.70829 20.75 9.75L23.67 12.17C23.7902 12.291 23.9006 12.4214 24 12.56Z"
    />
  </svg>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
