<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path
        d="M15 12.9999C14.447 12.9999 14.0001 13.448 14.0001 13.9999V18C14.0001 18.551 13.552 18.9999 12.9999 18.9999H9.99994V3.99994C9.99994 3.14594 9.45593 2.38293 8.638 2.09894L8.34192 1.99988H12.9999C13.552 1.99988 14.0001 2.44885 14.0001 3V6C14.0001 6.55188 14.447 6.99994 15 6.99994C15.553 6.99994 15.9999 6.55188 15.9999 6V3C15.9999 1.34601 14.6539 0 12.9999 0H2.25C2.21191 0 2.18005 0.0170288 2.14307 0.0219726C2.09491 0.0179443 2.04895 0 2.00006 0C0.897034 0 0 0.896851 0 1.99988V19.9999C0 20.8539 0.544006 21.6169 1.36194 21.9009L7.38007 23.907C7.58405 23.97 7.78693 24 8.00006 24C9.10309 24 9.99994 23.103 9.99994 21.9999V21H12.9999C14.6539 21 15.9999 19.654 15.9999 18V13.9999C15.9999 13.448 15.553 12.9999 15 12.9999Z"
      />
      <path
        d="M23.707 9.29321L19.7069 5.29327C19.4211 5.00726 18.991 4.9212 18.6171 5.07611C18.2441 5.2312 18 5.59613 18 6.00024V9.00024H14.0001C13.448 9.00024 12.9999 9.44812 12.9999 10.0002C12.9999 10.5522 13.448 11.0001 14.0001 11.0001H18V14.0001C18 14.4042 18.2441 14.7692 18.6171 14.9243C18.991 15.0792 19.4211 14.9931 19.7069 14.7073L23.707 10.7072C24.098 10.3162 24.098 9.68414 23.707 9.29321Z"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="24" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
