<template>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.8375 2.59687L11.1734 0.934375C11.0561 0.816474 10.9165 0.722928 10.7629 0.65911C10.6092 0.595292 10.4445 0.56246 10.2781 0.5625C9.93906 0.5625 9.62031 0.695313 9.38125 0.934375L7.59063 2.725C7.47272 2.84238 7.37918 2.98191 7.31536 3.13555C7.25154 3.2892 7.21871 3.45394 7.21875 3.62031C7.21875 3.95938 7.35156 4.27813 7.59063 4.51719L8.9 5.82656C8.59351 6.50213 8.16738 7.1167 7.64219 7.64062C7.11831 8.16709 6.50379 8.59477 5.82813 8.90312L4.51875 7.59375C4.40137 7.47585 4.26184 7.3823 4.1082 7.31849C3.95455 7.25467 3.78981 7.22184 3.62344 7.22188C3.28438 7.22188 2.96563 7.35469 2.72656 7.59375L0.934376 9.38281C0.81633 9.50041 0.722704 9.6402 0.658883 9.79412C0.595062 9.94804 0.562306 10.1131 0.562501 10.2797C0.562501 10.6188 0.695313 10.9375 0.934376 11.1766L2.59531 12.8375C2.97656 13.2203 3.50313 13.4375 4.04375 13.4375C4.15781 13.4375 4.26719 13.4281 4.375 13.4094C6.48125 13.0625 8.57031 11.9422 10.2563 10.2578C11.9406 8.575 13.0594 6.4875 13.4109 4.375C13.5172 3.72969 13.3031 3.06562 12.8375 2.59687Z"
      fill="#8C8C8C"
    />
  </svg>
</template>
