<template>
  <svg
    width="20"
    height="22"
    viewBox="0 0 20 22"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.0111 8.15486C9.31034 8.15486 8.65409 8.42673 8.15721 8.92361C7.66268 9.42048 7.38846 10.0767 7.38846 10.7775C7.38846 11.4783 7.66268 12.1345 8.15721 12.6314C8.65409 13.126 9.31034 13.4002 10.0111 13.4002C10.7119 13.4002 11.3681 13.126 11.865 12.6314C12.3596 12.1345 12.6338 11.4783 12.6338 10.7775C12.6338 10.0767 12.3596 9.42048 11.865 8.92361C11.6223 8.67906 11.3335 8.48516 11.0152 8.35319C10.697 8.22122 10.3557 8.15381 10.0111 8.15486ZM19.6744 13.6744L18.1416 12.3642C18.2142 11.9189 18.2517 11.4642 18.2517 11.0119C18.2517 10.5595 18.2142 10.1025 18.1416 9.65955L19.6744 8.34939C19.7902 8.25027 19.8731 8.11824 19.912 7.97087C19.9509 7.8235 19.9441 7.66777 19.8924 7.52439L19.8713 7.46345C19.4494 6.28382 18.8173 5.19038 18.0056 4.23611L17.9635 4.18689C17.8649 4.071 17.7335 3.98769 17.5867 3.94794C17.4398 3.90819 17.2844 3.91387 17.1408 3.96423L15.2377 4.64158C14.5346 4.06501 13.7517 3.61033 12.9033 3.29392L12.5353 1.30408C12.5076 1.15418 12.4349 1.01627 12.3269 0.908681C12.2188 0.801092 12.0807 0.728913 11.9307 0.701733L11.8674 0.690015C10.6486 0.469702 9.36424 0.469702 8.14549 0.690015L8.08221 0.701733C7.93221 0.728913 7.79402 0.801092 7.68601 0.908681C7.578 1.01627 7.50529 1.15418 7.47753 1.30408L7.10721 3.3033C6.26681 3.62222 5.48392 4.07581 4.78924 4.64626L2.87206 3.96423C2.72854 3.91347 2.57297 3.90759 2.42603 3.94736C2.27909 3.98713 2.14773 4.07067 2.0494 4.18689L2.00721 4.23611C1.19696 5.1914 0.565037 6.28456 0.141589 7.46345L0.120495 7.52439C0.015026 7.81736 0.101745 8.14548 0.338464 8.34939L1.89003 9.67361C1.81737 10.1142 1.78221 10.5642 1.78221 11.0095C1.78221 11.4595 1.81737 11.9095 1.89003 12.3455L0.343151 13.6697C0.22736 13.7688 0.144486 13.9009 0.105551 14.0482C0.0666154 14.1956 0.0734626 14.3513 0.125182 14.4947L0.146276 14.5556C0.570495 15.7345 1.19628 16.8244 2.0119 17.783L2.05409 17.8322C2.15265 17.9481 2.28402 18.0314 2.43087 18.0712C2.57773 18.1109 2.73318 18.1052 2.87674 18.0549L4.79393 17.3728C5.49237 17.947 6.27049 18.4017 7.1119 18.7158L7.48221 20.715C7.50998 20.8649 7.58269 21.0028 7.6907 21.1104C7.79871 21.218 7.93689 21.2902 8.0869 21.3174L8.15018 21.3291C9.38092 21.5506 10.6413 21.5506 11.8721 21.3291L11.9353 21.3174C12.0853 21.2902 12.2235 21.218 12.3315 21.1104C12.4395 21.0028 12.5123 20.8649 12.54 20.715L12.908 18.7252C13.7564 18.4064 14.5392 17.9541 15.2424 17.3775L17.1455 18.0549C17.289 18.1056 17.4446 18.1115 17.5915 18.0717C17.7385 18.032 17.8698 17.9484 17.9681 17.8322L18.0103 17.783C18.826 16.8197 19.4517 15.7345 19.876 14.5556L19.8971 14.4947C19.9978 14.2041 19.9111 13.8783 19.6744 13.6744ZM10.0111 14.8978C7.73534 14.8978 5.89081 13.0533 5.89081 10.7775C5.89081 8.50173 7.73534 6.6572 10.0111 6.6572C12.2869 6.6572 14.1314 8.50173 14.1314 10.7775C14.1314 13.0533 12.2869 14.8978 10.0111 14.8978Z"
    />
  </svg>
</template>
<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
