<template>
  <div>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="#8C8C8C"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.2572 1C17.1214 1 16.0111 1.33262 15.0668 1.95579C14.1224 2.57897 13.3864 3.46471 12.9518 4.50102C12.5171 5.53732 12.4034 6.67764 12.625 7.77778C12.8466 8.87791 13.3935 9.88845 14.1966 10.6816C14.9997 11.4748 16.0229 12.0149 17.1368 12.2337C18.2508 12.4526 19.4054 12.3402 20.4547 11.911C21.504 11.4817 22.4009 10.7548 23.0319 9.82218C23.6629 8.88953 23.9997 7.79304 23.9997 6.67135C23.9997 5.16721 23.3946 3.72468 22.3177 2.6611C21.2408 1.59752 19.7802 1 18.2572 1V1ZM19.9799 9.11712C19.8544 9.2405 19.6845 9.30976 19.5073 9.30976C19.3302 9.30976 19.1603 9.2405 19.0348 9.11712L17.3719 7.48661V3.94201C17.3719 3.76653 17.4424 3.59824 17.5681 3.47415C17.6937 3.35007 17.8641 3.28036 18.0418 3.28036C18.2195 3.28036 18.3899 3.35007 18.5155 3.47415C18.6412 3.59824 18.7118 3.76653 18.7118 3.94201V6.90766L19.9799 8.16008C20.0446 8.22266 20.0959 8.29755 20.1305 8.38023C20.1651 8.46291 20.1823 8.55167 20.1812 8.64113C20.1801 8.73059 20.1606 8.81889 20.124 8.90071C20.0873 8.98252 20.0342 9.05614 19.9679 9.11712H19.9799Z"
        fill=""
      />
      <path
        d="M18.2564 12.9332C16.583 12.9207 14.9825 12.2555 13.8037 11.0825C12.625 9.90944 11.9635 8.32377 11.9635 6.67111C11.9604 5.94623 12.0859 5.22642 12.3344 4.54435C11.4363 4.28399 10.5067 4.14488 9.57084 4.13081C4.29491 4.13081 0 8.08894 0 12.8151C0.0152101 14.1797 0.363541 15.5205 1.01543 16.7238C1.66732 17.9271 2.60352 18.9573 3.74459 19.727L3.03874 22.9999L6.79529 21.1567C7.69726 21.4179 8.63097 21.5571 9.57084 21.5702C14.8707 21.5702 19.1417 17.6593 19.1417 12.8505C18.8489 12.8987 18.5531 12.9264 18.2564 12.9332ZM5.02469 14.4456C4.78807 14.4456 4.55677 14.3763 4.36003 14.2465C4.16329 14.1166 4.00995 13.9321 3.9194 13.7162C3.82885 13.5003 3.80516 13.2627 3.85132 13.0335C3.89748 12.8044 4.01143 12.5938 4.17874 12.4286C4.34605 12.2633 4.55922 12.1508 4.79129 12.1052C5.02336 12.0596 5.26391 12.083 5.48252 12.1725C5.70112 12.2619 5.88797 12.4133 6.01942 12.6076C6.15088 12.8019 6.22104 13.0304 6.22104 13.2641C6.22104 13.5774 6.095 13.8779 5.87064 14.0995C5.64628 14.3211 5.34198 14.4456 5.02469 14.4456ZM9.60673 14.4456C9.37011 14.4456 9.13881 14.3763 8.94207 14.2465C8.74533 14.1166 8.59199 13.9321 8.50144 13.7162C8.41089 13.5003 8.3872 13.2627 8.43336 13.0335C8.47952 12.8044 8.59346 12.5938 8.76078 12.4286C8.92809 12.2633 9.14126 12.1508 9.37333 12.1052C9.6054 12.0596 9.84595 12.083 10.0646 12.1725C10.2832 12.2619 10.47 12.4133 10.6015 12.6076C10.7329 12.8019 10.8031 13.0304 10.8031 13.2641C10.8032 13.4222 10.7711 13.5788 10.7087 13.7245C10.6464 13.8703 10.555 14.0021 10.4401 14.1123C10.3252 14.2225 10.189 14.3088 10.0397 14.366C9.89038 14.4233 9.73094 14.4503 9.57084 14.4456H9.60673ZM14.1888 14.4456C13.9522 14.4456 13.7208 14.3763 13.5241 14.2465C13.3274 14.1166 13.174 13.9321 13.0835 13.7162C12.9929 13.5003 12.9692 13.2627 13.0154 13.0335C13.0616 12.8044 13.1755 12.5938 13.3428 12.4286C13.5101 12.2633 13.7233 12.1508 13.9554 12.1052C14.1874 12.0596 14.428 12.083 14.6466 12.1725C14.8652 12.2619 15.052 12.4133 15.1835 12.6076C15.315 12.8019 15.3851 13.0304 15.3851 13.2641C15.3851 13.5774 15.2591 13.8779 15.0347 14.0995C14.8104 14.3211 14.5061 14.4456 14.1888 14.4456Z"
        fill=""
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    active: { type: Boolean, default: true }
  },
  data() {
    return {
      fill: '#8C8C8C'
    }
  },
  watch: {
    active(val) {
      if (val) {
        this.fill = '#ffbe07'
      } else {
        this.fill = '#8C8C8C'
      }
    }
  },
  created() {
    if (this.active) {
      this.fill = '#ffbe07'
    } else {
      this.fill = '#8C8C8C'
    }
  }
}
</script>
