<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.49402 6.50529C9.16735 6.17862 8.79268 5.91995 8.38802 5.72595C8.13802 5.97729 7.99935 6.31195 7.99935 6.66662C7.99935 6.80862 8.02602 6.94329 8.06735 7.07195C8.24002 7.17929 8.40402 7.30062 8.55135 7.44795C9.05468 7.95195 9.33268 8.62129 9.33268 9.33329C9.33268 10.0453 9.05535 10.7153 8.55202 11.2193L6.55202 13.2186C5.54402 14.2266 3.78802 14.2266 2.78068 13.2186C2.27668 12.7146 1.99935 12.0453 1.99935 11.3333C1.99935 10.6213 2.27668 9.95195 2.78002 9.44795L4.18268 8.04529C4.06468 7.60062 3.99935 7.13929 3.99935 6.66662C3.99935 6.55862 4.00802 6.45129 4.01468 6.34462C3.95535 6.39729 3.89468 6.44862 3.83735 6.50529L1.83735 8.50529C1.08202 9.26062 0.666016 10.2646 0.666016 11.3333C0.666016 12.402 1.08202 13.406 1.83735 14.1613C2.59335 14.9173 3.59735 15.3333 4.66602 15.3333C5.73468 15.3333 6.73868 14.9173 7.49468 14.1613L9.49468 12.162C10.2493 11.406 10.666 10.402 10.666 9.33329C10.666 8.26462 10.2493 7.26062 9.49402 6.50529Z"
      :fill="color"
    />
    <path
      d="M14.1627 1.83863C13.4067 1.08263 12.4027 0.666626 11.334 0.666626C10.2653 0.666626 9.26132 1.08263 8.50532 1.83863L6.50532 3.83796C5.75065 4.59396 5.33398 5.59796 5.33398 6.66663C5.33398 7.73529 5.74998 8.73929 6.50532 9.49463C6.83198 9.82129 7.20665 10.08 7.61132 10.274C7.86198 10.0226 8.00065 9.68796 8.00065 9.33329C8.00065 9.18796 7.97332 9.04996 7.92998 8.91863C7.75798 8.81529 7.59465 8.69729 7.44932 8.55196C6.94532 8.04796 6.66732 7.37863 6.66732 6.66663C6.66732 5.95463 6.94465 5.28463 7.44798 4.78063L9.44798 2.78129C9.95198 2.27729 10.622 1.99996 11.334 1.99996C12.046 1.99996 12.716 2.27729 13.22 2.78129C13.7233 3.28529 14.0007 3.95463 14.0007 4.66663C14.0007 5.37863 13.7233 6.04796 13.22 6.55196L11.8153 7.95663C11.934 8.40063 12.0007 8.86129 12.0007 9.33329C12.0007 9.44129 11.9927 9.54796 11.9867 9.65463C12.046 9.60196 12.1067 9.55129 12.1633 9.49463L14.1633 7.49463C14.918 6.73929 15.334 5.73529 15.334 4.66663C15.334 3.59796 14.918 2.59396 14.1627 1.83863Z"
      :fill="color"
    />
  </svg>
</template>
<script>
export default {
  props: {
    color: { type: String, default: '#8C8C8C' }
  }
}
</script>
