<template>
  <svg
    height="300"
    viewBox="-20 -10 100 100"
    width="300"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g id="Page-1" fill="none" fill-rule="evenodd">
      <g id="024---Gaming-Headset" fill-rule="nonzero">
        <g id="Icons" transform="translate(1 1)">
          <rect
            id="Rectangle-path"
            fill="#9d27b0"
            height="22"
            rx="3"
            width="8"
            x="4"
            y="24"
          />
          <path
            id="Shape"
            d="m9 24h-2c-.16775876.0028765-.33499359.0196-.5.05 1.44044286.2434739 2.49608402 1.4891305 2.5 2.95v16c-.00391598 1.4608695-1.05955714 2.7065261-2.5 2.95.16500641.0304.33224124.0471235.5.05h2c1.6568542 0 3-1.3431458 3-3v-16c0-1.6568542-1.3431458-3-3-3z"
            fill="#6a1b9a"
          />
          <path
            id="Shape"
            d="m4 27v16c-2.209139 0-4-1.790861-4-4v-8c0-2.209139 1.790861-4 4-4z"
            fill="#e91e63"
          />
          <rect
            id="Rectangle-path"
            fill="#9d27b0"
            height="22"
            rx="3"
            transform="matrix(-1 0 0 -1 100 70)"
            width="8"
            x="46"
            y="24"
          />
          <path
            id="Shape"
            d="m51 24h-2c-.1677588.0028765-.3349936.0196-.5.05 1.4404429.2434739 2.496084 1.4891305 2.5 2.95v16c-.003916 1.4608695-1.0595571 2.7065261-2.5 2.95.1650064.0304.3322412.0471235.5.05h2c1.6568542 0 3-1.3431458 3-3v-16c0-1.6568542-1.3431458-3-3-3z"
            fill="#6a1b9a"
          />
          <path
            id="Shape"
            d="m58 27v16c-2.209139 0-4-1.790861-4-4v-8c0-2.209139 1.790861-4 4-4z"
            fill="#e91e63"
            transform="matrix(-1 0 0 -1 112 70)"
          />
          <path
            id="Shape"
            d="m34 4h-10c-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2h10c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2z"
            fill="#e91e63"
          />
          <path
            id="Shape"
            d="m34 0h-3c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2h3c1.1045695 0 2-.8954305 2-2s-.8954305-2-2-2z"
            fill="#ad1457"
          />
          <path
            id="Shape"
            d="m30 58h-6c-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2h6c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2z"
            fill="#3f51b5"
          />
          <path
            id="Shape"
            d="m30 54h-3c1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2h3c1.1045695 0 2-.8954305 2-2s-.8954305-2-2-2z"
            fill="#283593"
          />
          <path
            id="Shape"
            d="m12 28h-2c-1.1045695 0-2 .8954305-2 2v10c0 1.1045695.8954305 2 2 2h2z"
            fill="#6a1b9a"
          />
          <path
            id="Shape"
            d="m46 28h2c1.1045695 0 2 .8954305 2 2v10c0 1.1045695-.8954305 2-2 2h-2z"
            fill="#6a1b9a"
          />
          <path
            id="Shape"
            d="m42 38c.0004027 2.8186813-1.6898327 5.3626314-4.2884506 6.4544876-2.5986178 1.0918562-5.5986083.5185894-7.6115494-1.4544876h-2.2c-2.2566174 2.2110244-5.7145759 2.6364751-8.4398469 1.0383985-2.7252709-1.5980765-4.0423467-4.8235683-3.2145897-7.8724646.827757-3.0488964 3.5951724-5.1654733 6.7544366-5.1659339h12c3.8659932 0 7 3.1340068 7 7z"
            fill="#7f8e94"
          />
          <path
            id="Shape"
            d="m35 31-3-.0000085c3.5698055.0055404 6.5635829 2.6964658 6.9483691 6.2454772.3847862 3.5490113-1.9627005 6.8190401-5.4483691 7.5895313 2.6211486.579393 5.3427728-.3912156 7.0057888-2.4984637 1.663016-2.107248 1.9744743-4.9799318.8017312-7.3946348-1.172743-2.4147029-3.6231022-3.9460614-6.30752-3.9419015z"
            fill="#545c60"
          />
          <path
            id="Shape"
            d="m28 27h2c1.1045695 0 2 .8954305 2 2v2h-6v-2c0-1.1045695.8954305-2 2-2z"
            fill="#607d8b"
          />
        </g>
        <g id="Icons_copy" fill="#000">
          <path
            id="Shape"
            d="m55.89 27.09c-.4250118-1.8063125-2.0343676-3.0846954-3.89-3.09h-1v-6c-.0211204-7.7018957-5.5183501-14.29941125-13.09-15.71-.326974-1.34233842-1.5284141-2.2878016-2.91-2.29h-10c-1.3815859.0021984-2.583026.94766158-2.91 2.29-7.5716499 1.41058875-13.06887963 8.0081043-13.09 15.71v6h-1c-1.85563238.0053046-3.46498825 1.2836875-3.89 3.09-2.37574795.4297408-4.10509689 2.4957027-4.11 4.91v8c.00490311 2.4142973 1.73425205 4.4802592 4.11 4.91.42501175 1.8063125 2.03436762 3.0846954 3.89 3.09h1v4c0 3.3137085 2.6862915 6 6 6h7.18c.4252305 1.1938517 1.5526957 1.9934724 2.82 2h6c1.6568542 0 3-1.3431458 3-3s-1.3431458-3-3-3h-6c-1.2673043.0065276-2.3947695.8061483-2.82 2h-7.18c-2.209139 0-4-1.790861-4-4v-4.14c1.7614029-.4547821 2.9940928-2.040843 3-3.86v-16c-.0059072-1.819157-1.2385971-3.4052179-3-3.86v-6.14c.016806-6.6814678 4.7456083-12.42298699 11.3-13.72.4933313 1.04574766 1.5437397 1.71489674 2.7 1.72h10c1.1562603-.00510326 2.2066687-.67425234 2.7-1.72 6.5543917 1.29701301 11.283194 7.0385322 11.3 13.72v6.14c-1.7614029.4547821-2.9940928 2.040843-3 3.86v16c0 2.209139 1.790861 4 4 4h2c1.8556324-.0053046 3.4649882-1.2836875 3.89-3.09 2.3757479-.4297408 4.1050969-2.4957027 4.11-4.91v-8c-.0049031-2.4142973-1.7342521-4.4802592-4.11-4.91zm-51.89 15.74c-1.19653955-.4274642-1.99649532-1.5594016-2-2.83v-8c.00350468-1.2705984.80346045-2.4025358 2-2.83zm21 13.17h6c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1h-6c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1zm-15-10h-2c-1.10320187-.0032948-1.9967052-.8967981-2-2v-7h2v4c.0049422 1.6548028 1.3451972 2.9950578 3 3h1c-.0032948 1.1032019-.8967981 1.9967052-2 2zm2-4h-1c-.5522847 0-1-.4477153-1-1v-10c0-.5522847.4477153-1 1-1h1zm0-14h-1c-1.6548028.0049422-2.9950578 1.3451972-3 3v4h-2v-7c.0032948-1.1032019.89679813-1.9967052 2-2h2c1.1032019.0032948 1.9967052.8967981 2 2zm17-24h-4c-.5522847 0-1-.44771525-1-1s.4477153-1 1-1h4zm6 0h-4v-2h4c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1zm13 26h1c.5522847 0 1 .4477153 1 1v10c0 .5522847-.4477153 1-1 1h-1zm6 14c-.0032948 1.1032019-.8967981 1.9967052-2 2h-2c-1.1032019-.0032948-1.9967052-.8967981-2-2h1c1.6548028-.0049422 2.9950578-1.3451972 3-3v-4h2zm0-9h-2v-4c-.0049422-1.6548028-1.3451972-2.9950578-3-3h-1c.0032948-1.1032019.8967981-1.9967052 2-2h2c1.1032019.0032948 1.9967052.8967981 2 2zm4 5c-.0035047 1.2705984-.8034605 2.4025358-2 2.83v-13.66c1.1965395.4274642 1.9964953 1.5594016 2 2.83z"
          />
          <path
            id="Shape"
            d="m25 38h-1v-1c0-.5522847-.4477153-1-1-1s-1 .4477153-1 1v1h-1c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h1v1c0 .5522847.4477153 1 1 1s1-.4477153 1-1v-1h1c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
          />
          <path
            id="Shape"
            d="m36 38h1c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1h-1c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1z"
          />
          <path
            id="Shape"
            d="m31 35h-2c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h2c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
          />
          <path
            id="Shape"
            d="m36 42h1c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1h-1c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1z"
          />
          <path
            id="Shape"
            d="m36 31h-2v-1c-.0049422-1.6548028-1.3451972-2.9950578-3-3v-11c0-.5522847-.4477153-1-1-1s-1 .4477153-1 1v11c-1.6548028.0049422-2.9950578 1.3451972-3 3v1h-2c-4.418278 0-8 3.581722-8 8s3.581722 8 8 8c1.9492421.0063272 3.8324966-.7056782 5.29-2h1.42c1.4575034 1.2943218 3.3407579 2.0063272 5.29 2 4.418278 0 8-3.581722 8-8s-3.581722-8-8-8zm-8-1c0-.5522847.4477153-1 1-1h2c.5522847 0 1 .4477153 1 1v1h-4zm8 15c-1.570733.0062224-3.0803123-.608392-4.2-1.71-.1852701-.1862278-.4373113-.2906448-.7-.29h-2.2c-.2626887-.0006448-.5147299.1037722-.7.29-1.935248 1.8922766-4.8978148 2.2545823-7.232039.8844389-2.3342242-1.3701435-3.4621101-4.133464-2.753327-6.7456512.7087831-2.6121873 3.0787279-4.4264168 5.785366-4.4287877h12c3.3137085 0 6 2.6862915 6 6s-2.6862915 6-6 6z"
          />
        </g>
      </g>
    </g>
  </svg>
</template>

<style></style>
